openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Custom CA Certificates API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: Custom CA Certificates
paths:
  /api/v1/customers/{cUUID}/customCAStore:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: addCA
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCACertParams'
            examples:
              AddCARequestExample:
                summary: Default addCA request
                x-microcks-default: true
                value:
                  contents: contents
                  name: name
        description: CA certificate contents in 'X509' format
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                format: uuid
                type: string
              examples:
                AddCA200Example:
                  summary: Default addCA 200 response
                  x-microcks-default: true
                  value: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Add a Named Custom CA Certificate
      tags:
      - Custom CA Certificates
      x-codegen-request-body-name: X509CACertificate
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/customCAStore/{certUUID}:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: updateCA
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: certUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCACertParams'
            examples:
              UpdateCARequestExample:
                summary: Default updateCA request
                x-microcks-default: true
                value:
                  contents: contents
                  name: name
        description: CA certificate contents in 'X509' format
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                format: uuid
                type: string
              examples:
                UpdateCA200Example:
                  summary: Default updateCA 200 response
                  x-microcks-default: true
                  value: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Update a Named Custom CA Certificate
      tags:
      - Custom CA Certificates
      x-codegen-request-body-name: X509CACertificate
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/customCAStoreCertificates:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: listAllCustomCaCertificates
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomCaCertificateInfo'
                type: array
              examples:
                ListAllCustomCaCertificates200Example:
                  summary: Default listAllCustomCaCertificates 200 response
                  x-microcks-default: true
                  value:
                  - expiryDate: 2024-07-12 13:07:18+00:00
                    contents: /opt/yugaware/certs/trust-store/<ID>/ca.root.cert
                    customerId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    name: name
                    active: true
                    createdTime: 2023-11-10 15:09:18+00:00
                    id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    startDate: 2023-10-12 13:07:18+00:00
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List All Custom CA Certificates of a Customer
      tags:
      - Custom CA Certificates
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/customCAStoreCertificates/{certUUID}:
    delete:
      description: 'WARNING: This is a preview API that could change.'
      operationId: Delete custom CA certificate
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: certUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                Delete custom CA certificate200Example:
                  summary: Default Delete custom CA certificate 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete a Named Custom CA Certificate
      tags:
      - Custom CA Certificates
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: getAllCustomCaCertificates
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: certUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCaCertificateInfo'
              examples:
                GetAllCustomCaCertificates200Example:
                  summary: Default getAllCustomCaCertificates 200 response
                  x-microcks-default: true
                  value:
                    expiryDate: 2024-07-12 13:07:18+00:00
                    contents: /opt/yugaware/certs/trust-store/<ID>/ca.root.cert
                    customerId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    name: name
                    active: true
                    createdTime: 2023-11-10 15:09:18+00:00
                    id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    startDate: 2023-10-12 13:07:18+00:00
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Download a Custom CA Certificates of a Customer
      tags:
      - Custom CA Certificates
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CustomCACertParams:
      example:
        contents: contents
        name: name
      properties:
        contents:
          type: string
          example: example-contents
        name:
          type: string
          example: example-name
      required:
      - contents
      - name
      type: object
    CustomCaCertificateInfo:
      description: Custom CA certificate
      example:
        expiryDate: 2024-07-12 13:07:18+00:00
        contents: /opt/yugaware/certs/trust-store/<ID>/ca.root.cert
        customerId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
        active: true
        createdTime: 2023-11-10 15:09:18+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        startDate: 2023-10-12 13:07:18+00:00
      properties:
        active:
          type: boolean
          example: true
        contents:
          description: Path to CA Certificate
          example: /opt/yugaware/certs/trust-store/<ID>/ca.root.cert
          type: string
        createdTime:
          description: Date when certificate was added.
          example: 2023-11-10 15:09:18+00:00
          format: date-time
          type: string
        customerId:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        expiryDate:
          description: End date of certificate validity.
          example: 2024-07-12 13:07:18+00:00
          format: date-time
          type: string
        id:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name:
          type: string
          example: example-name
        startDate:
          description: Start date of certificate validity.
          example: 2023-10-12 13:07:18+00:00
          format: date-time
          type: string
      required:
      - active
      - customerId
      - id
      - name
      type: object
    YBPSuccess:
      example:
        success: true
        message: message
      properties:
        message:
          description: API response message.
          readOnly: true
          type: string
          example: Example message
        success:
          description: API operation status. A value of true indicates the operation was successful.
          readOnly: true
          type: boolean
          example: true
      type: object
    CustomCACertParams_2:
      example:
        contents: contents
        name: name
      properties:
        contents:
          type: string
        name:
          type: string
      required:
      - contents
      - name
      type: object
    CustomCaCertificateInfo_2:
      description: Custom CA certificate
      example:
        expiryDate: 2024-07-12 13:07:18+00:00
        contents: /opt/yugaware/certs/trust-store/<ID>/ca.root.cert
        customerId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
        active: true
        createdTime: 2023-11-10 15:09:18+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        startDate: 2023-10-12 13:07:18+00:00
      properties:
        active:
          type: boolean
        contents:
          description: Path to CA Certificate
          example: /opt/yugaware/certs/trust-store/<ID>/ca.root.cert
          type: string
        createdTime:
          description: Date when certificate was added.
          example: 2023-11-10 15:09:18+00:00
          format: date-time
          type: string
        customerId:
          format: uuid
          type: string
        expiryDate:
          description: End date of certificate validity.
          example: 2024-07-12 13:07:18+00:00
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        name:
          type: string
        startDate:
          description: Start date of certificate validity.
          example: 2023-10-12 13:07:18+00:00
          format: date-time
          type: string
      required:
      - active
      - customerId
      - id
      - name
      type: object
    YBPSuccess_2:
      example:
        success: true
        message: message
      properties:
        message:
          description: API response message.
          readOnly: true
          type: string
        success:
          description: API operation status. A value of true indicates the operation was successful.
          readOnly: true
          type: boolean
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the YugabyteDB Aeon UI under User Profile > API Keys. Pass the key as a Bearer token in the Authorization header.
externalDocs:
  description: YugabyteDB Aeon REST API Documentation
  url: https://docs.yugabyte.com/stable/yugabyte-cloud/managed-automation/managed-api/
