openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Isolated Backup API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- description: Isolated backup/restore of YBA to local filesystem
  name: Isolated Backup
paths:
  /customers/{cUUID}/yba-backups:
    post:
      description: Trigger a one time backup of YBA to the desired storage location
      operationId: CreateYbaBackup
      parameters:
      - description: Customer UUID
        explode: false
        in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      requestBody:
        $ref: '#/components/requestBodies/IsolatedBackupCreateReq'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBATask'
              examples:
                CreateYbaBackup202Example:
                  summary: Default CreateYbaBackup 202 response
                  x-microcks-default: true
                  value:
                    resource_uuid: f33e3c9b-75ab-4c30-80ad-cba85646ea39
                    task_uuid: 89a46d52-4edd-4736-922a-35177a0b990c
          description: task accepted
        '400':
          description: Invalid input
        '500':
          description: Server error
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create YBA Backup
      tags:
      - Isolated Backup
      x-yba-api-audit:
        auditTargetType: IsolatedBackup
        auditTargetId: 'null'
        auditActionType: Create
      x-yba-api-authz:
      - requiredPermission:
          resourceType: other
          action: SUPER_ADMIN_ACTIONS
        resourceLocation:
          path: customers
          sourceType: endpoint
      x-yba-api-since: 2024.2.0.0
      x-yba-api-visibility: preview
      x-content-type: application/json
      x-accepts:
      - application/json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /customers/{cUUID}/yba-backups/restore:
    post:
      description: Trigger a one time restore of YBA from the desired storage location
      operationId: RestoreYbaBackup
      parameters:
      - description: Customer UUID
        explode: false
        in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      requestBody:
        $ref: '#/components/requestBodies/IsolatedBackupRestoreReq'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBATask'
              examples:
                RestoreYbaBackup202Example:
                  summary: Default RestoreYbaBackup 202 response
                  x-microcks-default: true
                  value:
                    resource_uuid: f33e3c9b-75ab-4c30-80ad-cba85646ea39
                    task_uuid: 89a46d52-4edd-4736-922a-35177a0b990c
          description: task accepted
        '400':
          description: Invalid input
        '500':
          description: Server error
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Restore YBA Backup
      tags:
      - Isolated Backup
      x-yba-api-audit:
        auditTargetType: IsolatedBackup
        auditTargetId: 'null'
        auditActionType: Restore
      x-yba-api-authz:
      - requiredPermission:
          resourceType: other
          action: SUPER_ADMIN_ACTIONS
        resourceLocation:
          path: customers
          sourceType: endpoint
      x-yba-api-since: 2024.2.0.0
      x-yba-api-visibility: preview
      x-content-type: application/json
      x-accepts:
      - application/json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    YBATask:
      description: 'YBATask


        YugabyteDB Anywhere Task object is used to represent a task that is being executed on a resource. This Task object can be polled for progress and status of the task. This object is returned as a response to most of the YugabyteDB Anywhere API calls.

        '
      example:
        resource_uuid: f33e3c9b-75ab-4c30-80ad-cba85646ea39
        task_uuid: 89a46d52-4edd-4736-922a-35177a0b990c
      properties:
        resource_uuid:
          description: UUID of the resource being modified by the task
          example: f33e3c9b-75ab-4c30-80ad-cba85646ea39
          format: uuid
          readOnly: true
          type: string
        task_uuid:
          description: Task UUID
          example: 89a46d52-4edd-4736-922a-35177a0b990c
          format: uuid
          readOnly: true
          type: string
      title: YBATask
      type: object
    IsolatedBackupCreateSpec:
      description: 'IsolatedBackupCreateSpec


        User provided details to trigger a one time backup of YBA to a particular local directory.

        '
      example:
        components:
        - YBA
        - YBA
        local_dir: /opt/yba_backups
      properties:
        local_dir:
          description: local directory to store backup
          example: /opt/yba_backups
          type: string
        components:
          description: the components to include in YBA backup
          items:
            $ref: '#/components/schemas/YbaComponent'
          type: array
          example:
          - YBA
      required:
      - components
      - local_dir
      title: IsolatedBackupCreateSpec
      type: object
    YbaComponent:
      description: 'Individual YBA components to be backed up

        '
      enum:
      - YBA
      - PROMETHEUS
      - RELEASES
      title: YbaComponent
      type: string
    IsolatedBackupRestoreSpec:
      description: 'IsolatedBackupRestoreSpec


        User provided details to trigger a restore of YBA from a local filepath.

        '
      example:
        local_path: /opt/yba_backups/yba_backup.tar.gz
      properties:
        local_path:
          description: full path to YBA backup file on host
          example: /opt/yba_backups/yba_backup.tar.gz
          type: string
      required:
      - local_path
      title: IsolatedBackupRestoreSpec
      type: object
    IsolatedBackupCreateSpec_2:
      description: 'IsolatedBackupCreateSpec


        User provided details to trigger a one time backup of YBA to a particular local directory.

        '
      example:
        components:
        - YBA
        - YBA
        local_dir: /opt/yba_backups
      properties:
        local_dir:
          description: local directory to store backup
          example: /opt/yba_backups
          type: string
        components:
          description: the components to include in YBA backup
          items:
            $ref: '#/components/schemas/YbaComponent'
          type: array
      required:
      - components
      - local_dir
      title: IsolatedBackupCreateSpec
      type: object
  requestBodies:
    IsolatedBackupCreateReq:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IsolatedBackupCreateSpec'
          examples:
            IsolatedBackupCreateReqExample:
              summary: Default IsolatedBackupCreateReq request
              x-microcks-default: true
              value:
                components:
                - YBA
                - YBA
                local_dir: /opt/yba_backups
      required: true
    IsolatedBackupRestoreReq:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IsolatedBackupRestoreSpec'
          examples:
            IsolatedBackupRestoreReqExample:
              summary: Default IsolatedBackupRestoreReq request
              x-microcks-default: true
              value:
                local_path: /opt/yba_backups/yba_backup.tar.gz
      required: true
    IsolatedBackupCreateReq_2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IsolatedBackupCreateSpec_2'
      required: true
    IsolatedBackupRestoreReq_2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IsolatedBackupRestoreSpec'
      required: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the YugabyteDB Aeon UI under User Profile > API Keys. Pass the key as a Bearer token in the Authorization header.
externalDocs:
  description: YugabyteDB Aeon REST API Documentation
  url: https://docs.yugabyte.com/stable/yugabyte-cloud/managed-automation/managed-api/
