openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Universe performance suggestions API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: Universe performance suggestions
paths:
  /api/v1/customers/{cUUID}/universes/{uniUUID}/query_distribution_suggestions:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: getQueryDistributionSuggestions
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDistributionSuggestionResponse'
              examples:
                GetQueryDistributionSuggestions200Example:
                  summary: Default getQueryDistributionSuggestions 200 response
                  x-microcks-default: true
                  value:
                    suggestion: suggestion
                    description: description
                    details:
                    - node: node
                      numInsert: 6
                      numDelete: 0
                      numUpdate: 5
                      numSelect: 1
                    - node: node
                      numInsert: 6
                      numDelete: 0
                      numUpdate: 5
                      numSelect: 1
                    startTime: startTime
                    endTime: endTime
                    adviceType: adviceType
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Query Distribution Improvement Suggestion for a Universe
      tags:
      - Universe performance suggestions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/range_hash:
    get:
      description: 'WARNING: This is a preview API that could change. Returns list of hash indexes on timestamp columns.'
      operationId: getRangeHash
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashedTimestampColumnFinderResponse'
              examples:
                GetRangeHash200Example:
                  summary: Default getRangeHash 200 response
                  x-microcks-default: true
                  value:
                    index_command: index_command
                    description: description
                    current_database: current_database
                    index_name: index_name
                    table_name: table_name
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Return List of Hash Indexes
      tags:
      - Universe performance suggestions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/unused_indexes:
    get:
      description: 'WARNING: This is a preview API that could change. Returns list of unused indexes, along with their database and table.'
      operationId: getUnusedIndexes
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusedIndexFinderResponse'
              examples:
                GetUnusedIndexes200Example:
                  summary: Default getUnusedIndexes 200 response
                  x-microcks-default: true
                  value:
                    index_command: index_command
                    description: description
                    current_database: current_database
                    index_name: index_name
                    table_name: table_name
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Return List of Each Unused Index Across the Universe
      tags:
      - Universe performance suggestions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UnusedIndexFinderResponse:
      example:
        index_command: index_command
        description: description
        current_database: current_database
        index_name: index_name
        table_name: table_name
      properties:
        current_database:
          type: string
          example: example-current_database
        description:
          type: string
          example: Example description
        index_command:
          type: string
          example: example-index_command
        index_name:
          type: string
          example: example-index_name
        table_name:
          type: string
          example: example-table_name
      type: object
    NodeQueryDistributionDetails:
      example:
        node: node
        numInsert: 6
        numDelete: 0
        numUpdate: 5
        numSelect: 1
      properties:
        node:
          type: string
          example: node-1
        numDelete:
          format: int32
          type: integer
          example: 10
        numInsert:
          format: int32
          type: integer
          example: 10
        numSelect:
          format: int32
          type: integer
          example: 10
        numUpdate:
          format: int32
          type: integer
          example: 10
      required:
      - node
      - numDelete
      - numInsert
      - numSelect
      - numUpdate
      type: object
    HashedTimestampColumnFinderResponse:
      example:
        index_command: index_command
        description: description
        current_database: current_database
        index_name: index_name
        table_name: table_name
      properties:
        current_database:
          type: string
          example: example-current_database
        description:
          type: string
          example: Example description
        index_command:
          type: string
          example: example-index_command
        index_name:
          type: string
          example: example-index_name
        table_name:
          type: string
          example: example-table_name
      type: object
    QueryDistributionSuggestionResponse:
      example:
        suggestion: suggestion
        description: description
        details:
        - node: node
          numInsert: 6
          numDelete: 0
          numUpdate: 5
          numSelect: 1
        - node: node
          numInsert: 6
          numDelete: 0
          numUpdate: 5
          numSelect: 1
        startTime: startTime
        endTime: endTime
        adviceType: adviceType
      properties:
        adviceType:
          type: string
          example: DEFAULT
        description:
          type: string
          example: Example description
        details:
          items:
            $ref: '#/components/schemas/NodeQueryDistributionDetails'
          type: array
          example:
          - node: node
            numInsert: 6
            numDelete: 0
            numUpdate: 5
            numSelect: 1
        endTime:
          type: string
          example: '2026-05-03T12:00:00Z'
        startTime:
          type: string
          example: '2026-05-03T12:00:00Z'
        suggestion:
          type: string
          example: example-suggestion
      required:
      - adviceType
      - description
      - details
      - endTime
      - startTime
      - suggestion
      type: object
    UnusedIndexFinderResponse_2:
      example:
        index_command: index_command
        description: description
        current_database: current_database
        index_name: index_name
        table_name: table_name
      properties:
        current_database:
          type: string
        description:
          type: string
        index_command:
          type: string
        index_name:
          type: string
        table_name:
          type: string
      type: object
    NodeQueryDistributionDetails_2:
      example:
        node: node
        numInsert: 6
        numDelete: 0
        numUpdate: 5
        numSelect: 1
      properties:
        node:
          type: string
        numDelete:
          format: int32
          type: integer
        numInsert:
          format: int32
          type: integer
        numSelect:
          format: int32
          type: integer
        numUpdate:
          format: int32
          type: integer
      required:
      - node
      - numDelete
      - numInsert
      - numSelect
      - numUpdate
      type: object
    HashedTimestampColumnFinderResponse_2:
      example:
        index_command: index_command
        description: description
        current_database: current_database
        index_name: index_name
        table_name: table_name
      properties:
        current_database:
          type: string
        description:
          type: string
        index_command:
          type: string
        index_name:
          type: string
        table_name:
          type: string
      type: object
    QueryDistributionSuggestionResponse_2:
      example:
        suggestion: suggestion
        description: description
        details:
        - node: node
          numInsert: 6
          numDelete: 0
          numUpdate: 5
          numSelect: 1
        - node: node
          numInsert: 6
          numDelete: 0
          numUpdate: 5
          numSelect: 1
        startTime: startTime
        endTime: endTime
        adviceType: adviceType
      properties:
        adviceType:
          type: string
        description:
          type: string
        details:
          items:
            $ref: '#/components/schemas/NodeQueryDistributionDetails_2'
          type: array
        endTime:
          type: string
        startTime:
          type: string
        suggestion:
          type: string
      required:
      - adviceType
      - description
      - details
      - endTime
      - startTime
      - suggestion
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the YugabyteDB Aeon UI under User Profile > API Keys. Pass the key as a Bearer token in the Authorization header.
externalDocs:
  description: YugabyteDB Aeon REST API Documentation
  url: https://docs.yugabyte.com/stable/yugabyte-cloud/managed-automation/managed-api/
