openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Backup and Restore API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- description: Operations related to universe backup and restore
  name: Backup and Restore
paths:
  /ybc/gflags-metadata:
    get:
      description: Get list of all YBC gflags and related metadata.
      operationId: listYbcGflagsMetadata
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GflagMetadata'
                type: array
              examples:
                ListYbcGflagsMetadata200Example:
                  summary: Default listYbcGflagsMetadata 200 response
                  x-microcks-default: true
                  value:
                  - default: default
                    meaning: meaning
                    name: name
                    type: type
          description: OK
        '404':
          description: Not found
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List YBC Gflags Metadata
      tags:
      - Backup and Restore
      x-yba-api-audit:
        noAudit: true
      x-yba-api-authz:
      - requiredPermission:
          resourceType: other
          action: read
        resourceLocation:
          path: customers
          sourceType: endpoint
      x-yba-api-since: 2024.2.0.0
      x-yba-api-visibility: preview
      x-accepts:
      - application/json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    GflagMetadata:
      description: Metadata for Gflags of YB Controller.
      example:
        default: default
        meaning: meaning
        name: name
        type: type
      properties:
        name:
          description: The name of the flag.
          type: string
          example: example-name
        meaning:
          description: A brief description of what the flag does.
          type: string
          example: example-meaning
        default:
          description: The default value of the flag.
          type: string
          example: example-default
        type:
          description: The data type of the flag.
          type: string
          example: DEFAULT
      title: GflagMetadata
      type: object
    GflagMetadata_2:
      description: Metadata for Gflags of YB Controller.
      example:
        default: default
        meaning: meaning
        name: name
        type: type
      properties:
        name:
          description: The name of the flag.
          type: string
        meaning:
          description: A brief description of what the flag does.
          type: string
        default:
          description: The default value of the flag.
          type: string
        type:
          description: The data type of the flag.
          type: string
      title: GflagMetadata
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the YugabyteDB Aeon UI under User Profile > API Keys. Pass the key as a Bearer token in the Authorization header.
externalDocs:
  description: YugabyteDB Aeon REST API Documentation
  url: https://docs.yugabyte.com/stable/yugabyte-cloud/managed-automation/managed-api/
