openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Support Bundle management API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: Support Bundle management
paths:
  /api/v1/customers/{cUUID}/support_bundle/components:
    get:
      operationId: listSupportBundleComponents
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  enum:
                  - UniverseLogs
                  - OutputFiles
                  - ErrorFiles
                  - CoreFiles
                  - GFlags
                  - Instance
                  - ConsensusMeta
                  - TabletMeta
                  - YbcLogs
                  - NodeAgent
                  - SystemLogs
                  - TabletReport
                  - K8sInfo
                  - YbaMetadata
                  - PrometheusMetrics
                  - PerfAdvisor
                  - ApplicationLogs
                  type: string
                type: array
              examples:
                ListSupportBundleComponents200Example:
                  summary: Default listSupportBundleComponents 200 response
                  x-microcks-default: true
                  value:
                  - UniverseLogs
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List All Components Available in Support Bundle
      tags:
      - Support Bundle management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/support_bundle:
    get:
      operationId: listSupportBundle
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SupportBundle'
                type: array
              examples:
                ListSupportBundle200Example:
                  summary: Default listSupportBundle 200 response
                  x-microcks-default: true
                  value:
                  - path: path
                    sizeInBytes: 5
                    scopeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    bundleDetails:
                      maxNumRecentCores: 6
                      components:
                      - UniverseLogs
                      - UniverseLogs
                      paDumpStartDate: 2022-12-12 13:07:18+00:00
                      promDumpEndDate: 2022-12-12 13:07:18+00:00
                      promDumpStartDate: 2022-12-12 13:07:18+00:00
                      promMetricsFormat: PROMQL_JSON
                      paDumpEndDate: 2022-12-12 13:07:18+00:00
                      paMetricsFormat: PROMQL_JSON
                      promMetricsStepSec: 1
                      prometheusMetricsTypes:
                      - MASTER_EXPORT
                      - MASTER_EXPORT
                      maxCoreFileSize: 0
                    endDate: 2022-12-12 13:07:18+00:00
                    bundleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    creationDate: 2022-12-12 13:07:18+00:00
                    startDate: 2022-12-12 13:07:18+00:00
                    expirationDate: 2022-12-12 13:07:18+00:00
                    status: Running
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List All Support Bundles from a Universe
      tags:
      - Support Bundle management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSupportBundle
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportBundleFormData'
            examples:
              CreateSupportBundleRequestExample:
                summary: Default createSupportBundle request
                x-microcks-default: true
                value:
                  maxNumRecentCores: 1
                  components:
                  - UniverseLogs
                  - UniverseLogs
                  paDumpStartDate: '2022-12-12T13:07:18+00:00'
                  promDumpEndDate: '2022-12-12T13:07:18+00:00'
                  promDumpStartDate: '2022-12-12T13:07:18+00:00'
                  endDate: '2022-12-12T13:07:18+00:00'
                  filterPgAuditLogs: true
                  prometheusMetricsTypes:
                  - MASTER_EXPORT
                  - MASTER_EXPORT
                  promDumpDownSample: true
                  promQueries:
                    key: promQueries
                  stepPromDumpSecs: 5
                  batchDurationPromDumpMins: 0
                  promMetricsFormat: PROMQL_JSON
                  paDumpEndDate: '2022-12-12T13:07:18+00:00'
                  paMetricsFormat: PROMQL_JSON
                  startDate: '2022-12-12T13:07:18+00:00'
                  maxCoreFileSize: 6
                  promExportType: PROMQL
        description: post support bundle info
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                CreateSupportBundle200Example:
                  summary: Default createSupportBundle 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create Support Bundle for Specific Universe
      tags:
      - Support Bundle management
      x-codegen-request-body-name: supportBundle
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/support_bundle/estimate_size:
    post:
      description: YbaApi Internal.
      operationId: estimateSupportBundleSize
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportBundleFormData'
            examples:
              EstimateSupportBundleSizeRequestExample:
                summary: Default estimateSupportBundleSize request
                x-microcks-default: true
                value:
                  maxNumRecentCores: 1
                  components:
                  - UniverseLogs
                  - UniverseLogs
                  paDumpStartDate: '2022-12-12T13:07:18+00:00'
                  promDumpEndDate: '2022-12-12T13:07:18+00:00'
                  promDumpStartDate: '2022-12-12T13:07:18+00:00'
                  endDate: '2022-12-12T13:07:18+00:00'
                  filterPgAuditLogs: true
                  prometheusMetricsTypes:
                  - MASTER_EXPORT
                  - MASTER_EXPORT
                  promDumpDownSample: true
                  promQueries:
                    key: promQueries
                  stepPromDumpSecs: 5
                  batchDurationPromDumpMins: 0
                  promMetricsFormat: PROMQL_JSON
                  paDumpEndDate: '2022-12-12T13:07:18+00:00'
                  paMetricsFormat: PROMQL_JSON
                  startDate: '2022-12-12T13:07:18+00:00'
                  maxCoreFileSize: 6
                  promExportType: PROMQL
        description: support bundle info
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportBundleSizeEstimateResponse'
              examples:
                EstimateSupportBundleSize200Example:
                  summary: Default estimateSupportBundleSize 200 response
                  x-microcks-default: true
                  value:
                    data:
                      key:
                        key: 0
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Estimate Support Bundle Size for Specific Universe
      tags:
      - Support Bundle management
      x-codegen-request-body-name: supportBundle
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/support_bundle/{sbUUID}:
    delete:
      operationId: deleteSupportBundle
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: sbUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                DeleteSupportBundle200Example:
                  summary: Default deleteSupportBundle 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete a Support Bundle
      tags:
      - Support Bundle management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: getSupportBundle
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: sbUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportBundle'
              examples:
                GetSupportBundle200Example:
                  summary: Default getSupportBundle 200 response
                  x-microcks-default: true
                  value:
                    path: path
                    sizeInBytes: 5
                    scopeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    bundleDetails:
                      maxNumRecentCores: 6
                      components:
                      - UniverseLogs
                      - UniverseLogs
                      paDumpStartDate: 2022-12-12 13:07:18+00:00
                      promDumpEndDate: 2022-12-12 13:07:18+00:00
                      promDumpStartDate: 2022-12-12 13:07:18+00:00
                      promMetricsFormat: PROMQL_JSON
                      paDumpEndDate: 2022-12-12 13:07:18+00:00
                      paMetricsFormat: PROMQL_JSON
                      promMetricsStepSec: 1
                      prometheusMetricsTypes:
                      - MASTER_EXPORT
                      - MASTER_EXPORT
                      maxCoreFileSize: 0
                    endDate: 2022-12-12 13:07:18+00:00
                    bundleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    creationDate: 2022-12-12 13:07:18+00:00
                    startDate: 2022-12-12 13:07:18+00:00
                    expirationDate: 2022-12-12 13:07:18+00:00
                    status: Running
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get a Support Bundle from a Universe
      tags:
      - Support Bundle management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/support_bundle/{sbUUID}/download:
    get:
      operationId: downloadSupportBundle
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: sbUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/x-compressed:
              schema:
                type: string
              examples:
                DownloadSupportBundle200Example:
                  summary: Default downloadSupportBundle 200 response
                  x-microcks-default: true
                  value: string
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Download Support Bundle
      tags:
      - Support Bundle management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SupportBundleSizeEstimateResponse:
      example:
        data:
          key:
            key: 0
      properties:
        data:
          additionalProperties:
            additionalProperties:
              format: int64
              type: integer
            type: object
          description: A map of universe node names to component sizes for the given support bundle payload. Global component sizes are mapped to "YBA" node.
          type: object
          example: {}
      type: object
    BundleDetails:
      example:
        maxNumRecentCores: 6
        components:
        - UniverseLogs
        - UniverseLogs
        paDumpStartDate: 2022-12-12 13:07:18+00:00
        promDumpEndDate: 2022-12-12 13:07:18+00:00
        promDumpStartDate: 2022-12-12 13:07:18+00:00
        promMetricsFormat: PROMQL_JSON
        paDumpEndDate: 2022-12-12 13:07:18+00:00
        paMetricsFormat: PROMQL_JSON
        promMetricsStepSec: 1
        prometheusMetricsTypes:
        - MASTER_EXPORT
        - MASTER_EXPORT
        maxCoreFileSize: 0
      properties:
        components:
          items:
            enum:
            - UniverseLogs
            - OutputFiles
            - ErrorFiles
            - CoreFiles
            - GFlags
            - Instance
            - ConsensusMeta
            - TabletMeta
            - YbcLogs
            - NodeAgent
            - SystemLogs
            - TabletReport
            - K8sInfo
            - YbaMetadata
            - PrometheusMetrics
            - PerfAdvisor
            - ApplicationLogs
            type: string
          type: array
          example:
          - UniverseLogs
        maxCoreFileSize:
          description: Max size of the collected cores (if any)
          format: int64
          type: integer
          example: 10
        maxNumRecentCores:
          description: Max number of most recent cores to collect (if any)
          format: int32
          type: integer
          example: 10
        paDumpEndDate:
          description: End date to filter Perf Advisor data
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        paDumpStartDate:
          description: Start date to filter Perf Advisor data
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        paMetricsFormat:
          description: Specifies PA Dump metrics format.
          enum:
          - PROMQL_JSON
          - PROM_CHUNK
          type: string
          example: PROMQL_JSON
        promDumpEndDate:
          description: End date to filter prometheus metrics till
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        promDumpStartDate:
          description: Start date to filter prometheus metrics from
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        promMetricsFormat:
          description: Specifies Prom Dump metrics format.
          enum:
          - PROMQL_JSON
          - PROM_CHUNK
          type: string
          example: PROMQL_JSON
        promMetricsStepSec:
          description: Specifies Prom Dump metrics step in seconds.
          format: int32
          type: integer
          example: 100
        prometheusMetricsTypes:
          description: List of exports to be included in the prometheus dump
          items:
            enum:
            - MASTER_EXPORT
            - NODE_EXPORT
            - PLATFORM
            - PROMETHEUS
            - TSERVER_EXPORT
            - CQL_EXPORT
            - YSQL_EXPORT
            type: string
          type: array
          example:
          - MASTER_EXPORT
      required:
      - components
      type: object
    YBPSuccess:
      example:
        success: true
        message: message
      properties:
        message:
          description: API response message.
          readOnly: true
          type: string
          example: Example message
        success:
          description: API operation status. A value of true indicates the operation was successful.
          readOnly: true
          type: boolean
          example: true
      type: object
    SupportBundle:
      example:
        path: path
        sizeInBytes: 5
        scopeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        bundleDetails:
          maxNumRecentCores: 6
          components:
          - UniverseLogs
          - UniverseLogs
          paDumpStartDate: 2022-12-12 13:07:18+00:00
          promDumpEndDate: 2022-12-12 13:07:18+00:00
          promDumpStartDate: 2022-12-12 13:07:18+00:00
          promMetricsFormat: PROMQL_JSON
          paDumpEndDate: 2022-12-12 13:07:18+00:00
          paMetricsFormat: PROMQL_JSON
          promMetricsStepSec: 1
          prometheusMetricsTypes:
          - MASTER_EXPORT
          - MASTER_EXPORT
          maxCoreFileSize: 0
        endDate: 2022-12-12 13:07:18+00:00
        bundleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        creationDate: 2022-12-12 13:07:18+00:00
        startDate: 2022-12-12 13:07:18+00:00
        expirationDate: 2022-12-12 13:07:18+00:00
        status: Running
      properties:
        bundleDetails:
          $ref: '#/components/schemas/BundleDetails'
        bundleUUID:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        creationDate:
          description: Support bundle creation date.
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        endDate:
          description: Support bundle end date.
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        expirationDate:
          description: Support bundle expiration date.
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        path:
          type: string
          example: /var/lib/yugabyte/example
        scopeUUID:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        sizeInBytes:
          description: Size in bytes of the support bundle
          format: int64
          type: integer
          example: 10
        startDate:
          description: Support bundle start date.
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        status:
          enum:
          - Running
          - Success
          - Failed
          - Aborted
          type: string
          example: Running
      required:
      - bundleDetails
      - bundleUUID
      - path
      - scopeUUID
      - status
      type: object
    SupportBundleFormData:
      description: Support bundle form metadata
      example:
        maxNumRecentCores: 1
        components:
        - UniverseLogs
        - UniverseLogs
        paDumpStartDate: 2022-12-12 13:07:18+00:00
        promDumpEndDate: 2022-12-12 13:07:18+00:00
        promDumpStartDate: 2022-12-12 13:07:18+00:00
        endDate: 2022-12-12 13:07:18+00:00
        filterPgAuditLogs: true
        prometheusMetricsTypes:
        - MASTER_EXPORT
        - MASTER_EXPORT
        promDumpDownSample: true
        promQueries:
          key: promQueries
        stepPromDumpSecs: 5
        batchDurationPromDumpMins: 0
        promMetricsFormat: PROMQL_JSON
        paDumpEndDate: 2022-12-12 13:07:18+00:00
        paMetricsFormat: PROMQL_JSON
        startDate: 2022-12-12 13:07:18+00:00
        maxCoreFileSize: 6
        promExportType: PROMQL
      properties:
        batchDurationPromDumpMins:
          description: Batch duration for the prometheus dump (in minutes). Overrides global default. Use with stepPromDumpSecs to get longer historical trends while keeping the same number of data points
          format: int32
          type: integer
          example: 60
        components:
          description: List of components to be included in the support bundle
          items:
            enum:
            - UniverseLogs
            - OutputFiles
            - ErrorFiles
            - CoreFiles
            - GFlags
            - Instance
            - ConsensusMeta
            - TabletMeta
            - YbcLogs
            - NodeAgent
            - SystemLogs
            - TabletReport
            - K8sInfo
            - YbaMetadata
            - PrometheusMetrics
            - PerfAdvisor
            - ApplicationLogs
            type: string
          type: array
          example:
          - UniverseLogs
        endDate:
          description: End date to filter logs till
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        filterPgAuditLogs:
          description: Specifies if Postgres audit logs should be filtered out when collecting universe logs.
          type: boolean
          example: true
        maxCoreFileSize:
          description: Max size in bytes of the recent collected cores (if any)
          format: int64
          type: integer
          example: 10
        maxNumRecentCores:
          description: Max number of the most recent cores to collect (if any)
          format: int32
          type: integer
          example: 10
        paDumpEndDate:
          description: End date to filter Perf Advisor data
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        paDumpStartDate:
          description: Start date to filter Perf Advisor data
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        paMetricsFormat:
          description: Specifies metrics format.
          enum:
          - PROMQL_JSON
          - PROM_CHUNK
          type: string
          example: PROMQL_JSON
        promDumpDownSample:
          description: When promExportType is REMOTE_READ, whether to downsample raw data points by yb.support_bundle.step_prom_dump_secs or stepPromDumpSecs. Ignored for PROMQL (always downsampled). Default true.
          type: boolean
          example: true
        promDumpEndDate:
          description: End date to filter prometheus metrics till
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        promDumpStartDate:
          description: Start date to filter prometheus metrics from
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        promExportType:
          description: 'How to export Prometheus metrics: PROMQL (query_range) or REMOTE_READ. Default PROMQL for backward compatibility.'
          enum:
          - PROMQL
          - REMOTE_READ
          type: string
          example: PROMQL
        promMetricsFormat:
          description: 'When promExportType is REMOTE_READ, format for remote read export: PROMQL_JSON or PROM_CHUNK. Default PROMQL_JSON for backward compatibility.'
          enum:
          - PROMQL_JSON
          - PROM_CHUNK
          type: string
          example: PROMQL_JSON
        promQueries:
          additionalProperties:
            type: string
          description: Map of query names to custom PromQL queries to collect in promdump
          type: object
          example: {}
        prometheusMetricsTypes:
          description: List of exports to be included in the prometheus dump
          items:
            enum:
            - MASTER_EXPORT
            - NODE_EXPORT
            - PLATFORM
            - PROMETHEUS
            - TSERVER_EXPORT
            - CQL_EXPORT
            - YSQL_EXPORT
            type: string
          type: array
          example:
          - MASTER_EXPORT
        startDate:
          description: Start date to filter logs from
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        stepPromDumpSecs:
          description: Metrics downsample step (in seconds). Overrides global default. Use with batchDurationPromDumpMins to get longer historical trends while keeping the same number of data points
          format: int32
          type: integer
          example: 100
      required:
      - components
      - endDate
      - startDate
      type: object
    YBPTask:
      example:
        taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        resourceUUID:
          description: UUID of the resource being modified by the task
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        taskUUID:
          description: Task UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    SupportBundleSizeEstimateResponse_2:
      example:
        data:
          key:
            key: 0
      properties:
        data:
          additionalProperties:
            additionalProperties:
              format: int64
              type: integer
            type: object
          description: A map of universe node names to component sizes for the given support bundle payload. Global component sizes are mapped to "YBA" node.
          type: object
      type: object
    BundleDetails_2:
      example:
        maxNumRecentCores: 6
        components:
        - UniverseLogs
        - UniverseLogs
        paDumpStartDate: 2022-12-12 13:07:18+00:00
        promDumpEndDate: 2022-12-12 13:07:18+00:00
        promDumpStartDate: 2022-12-12 13:07:18+00:00
        promMetricsFormat: PROMQL_JSON
        paDumpEndDate: 2022-12-12 13:07:18+00:00
        paMetricsFormat: PROMQL_JSON
        promMetricsStepSec: 1
        prometheusMetricsTypes:
        - MASTER_EXPORT
        - MASTER_EXPORT
        maxCoreFileSize: 0
      properties:
        components:
          items:
            enum:
            - UniverseLogs
            - OutputFiles
            - ErrorFiles
            - CoreFiles
            - GFlags
            - Instance
            - ConsensusMeta
            - TabletMeta
            - YbcLogs
            - NodeAgent
            - SystemLogs
            - TabletReport
            - K8sInfo
            - YbaMetadata
            - PrometheusMetrics
            - PerfAdvisor
            - ApplicationLogs
            type: string
          type: array
        maxCoreFileSize:
          description: Max size of the collected cores (if any)
          format: int64
          type: integer
        maxNumRecentCores:
          description: Max number of most recent cores to collect (if any)
          format: int32
          type: integer
        paDumpEndDate:
          description: End date to filter Perf Advisor data
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        paDumpStartDate:
          description: Start date to filter Perf Advisor data
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        paMetricsFormat:
          description: Specifies PA Dump metrics format.
          enum:
          - PROMQL_JSON
          - PROM_CHUNK
          type: string
        promDumpEndDate:
          description: End date to filter prometheus metrics till
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        promDumpStartDate:
          description: Start date to filter prometheus metrics from
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        promMetricsFormat:
          description: Specifies Prom Dump metrics format.
          enum:
          - PROMQL_JSON
          - PROM_CHUNK
          type: string
        promMetricsStepSec:
          description: Specifies Prom Dump metrics step in seconds.
          format: int32
          type: integer
        prometheusMetricsTypes:
          description: List of exports to be included in the prometheus dump
          items:
            enum:
            - MASTER_EXPORT
            - NODE_EXPORT
            - PLATFORM
            - PROMETHEUS
            - TSERVER_EXPORT
            - CQL_EXPORT
            - YSQL_EXPORT
            type: string
          type: array
      required:
      - components
      type: object
    YBPSuccess_2:
      example:
        success: true
        message: message
      properties:
        message:
          description: API response message.
          readOnly: true
          type: string
        success:
          description: API operation status. A value of true indicates the operation was successful.
          readOnly: true
          type: boolean
      type: object
    SupportBundle_2:
      example:
        path: path
        sizeInBytes: 5
        scopeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        bundleDetails:
          maxNumRecentCores: 6
          components:
          - UniverseLogs
          - UniverseLogs
          paDumpStartDate: 2022-12-12 13:07:18+00:00
          promDumpEndDate: 2022-12-12 13:07:18+00:00
          promDumpStartDate: 2022-12-12 13:07:18+00:00
          promMetricsFormat: PROMQL_JSON
          paDumpEndDate: 2022-12-12 13:07:18+00:00
          paMetricsFormat: PROMQL_JSON
          promMetricsStepSec: 1
          prometheusMetricsTypes:
          - MASTER_EXPORT
          - MASTER_EXPORT
          maxCoreFileSize: 0
        endDate: 2022-12-12 13:07:18+00:00
        bundleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        creationDate: 2022-12-12 13:07:18+00:00
        startDate: 2022-12-12 13:07:18+00:00
        expirationDate: 2022-12-12 13:07:18+00:00
        status: Running
      properties:
        bundleDetails:
          $ref: '#/components/schemas/BundleDetails_2'
        bundleUUID:
          format: uuid
          type: string
        creationDate:
          description: Support bundle creation date.
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        endDate:
          description: Support bundle end date.
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        expirationDate:
          description: Support bundle expiration date.
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        path:
          type: string
        scopeUUID:
          format: uuid
          type: string
        sizeInBytes:
          description: Size in bytes of the support bundle
          format: int64
          type: integer
        startDate:
          description: Support bundle start date.
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        status:
          enum:
          - Running
          - Success
          - Failed
          - Aborted
          type: string
      required:
      - bundleDetails
      - bundleUUID
      - path
      - scopeUUID
      - status
      type: object
    SupportBundleFormData_2:
      description: Support bundle form metadata
      example:
        maxNumRecentCores: 1
        components:
        - UniverseLogs
        - UniverseLogs
        paDumpStartDate: 2022-12-12 13:07:18+00:00
        promDumpEndDate: 2022-12-12 13:07:18+00:00
        promDumpStartDate: 2022-12-12 13:07:18+00:00
        endDate: 2022-12-12 13:07:18+00:00
        filterPgAuditLogs: true
        prometheusMetricsTypes:
        - MASTER_EXPORT
        - MASTER_EXPORT
        promDumpDownSample: true
        promQueries:
          key: promQueries
        stepPromDumpSecs: 5
        batchDurationPromDumpMins: 0
        promMetricsFormat: PROMQL_JSON
        paDumpEndDate: 2022-12-12 13:07:18+00:00
        paMetricsFormat: PROMQL_JSON
        startDate: 2022-12-12 13:07:18+00:00
        maxCoreFileSize: 6
        promExportType: PROMQL
      properties:
        batchDurationPromDumpMins:
          description: Batch duration for the prometheus dump (in minutes). Overrides global default. Use with stepPromDumpSecs to get longer historical trends while keeping the same number of data points
          format: int32
          type: integer
        components:
          description: List of components to be included in the support bundle
          items:
            enum:
            - UniverseLogs
            - OutputFiles
            - ErrorFiles
            - CoreFiles
            - GFlags
            - Instance
            - ConsensusMeta
            - TabletMeta
            - YbcLogs
            - NodeAgent
            - SystemLogs
            - TabletReport
            - K8sInfo
            - YbaMetadata
            - PrometheusMetrics
            - PerfAdvisor
            - ApplicationLogs
            type: string
          type: array
        endDate:
          description: End date to filter logs till
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        filterPgAuditLogs:
          description: Specifies if Postgres audit logs should be filtered out when collecting universe logs.
          type: boolean
        maxCoreFileSize:
          description: Max size in bytes of the recent collected cores (if any)
          format: int64
          type: integer
        maxNumRecentCores:
          description: Max number of the most recent cores to collect (if any)
          format: int32
          type: integer
        paDumpEndDate:
          description: End date to filter Perf Advisor data
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        paDumpStartDate:
          description: Start date to filter Perf Advisor data
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        paMetricsFormat:
          description: Specifies metrics format.
          enum:
          - PROMQL_JSON
          - PROM_CHUNK
          type: string
        promDumpDownSample:
          description: When promExportType is REMOTE_READ, whether to downsample raw data points by yb.support_bundle.step_prom_dump_secs or stepPromDumpSecs. Ignored for PROMQL (always downsampled). Default true.
          type: boolean
        promDumpEndDate:
          description: End date to filter prometheus metrics till
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        promDumpStartDate:
          description: Start date to filter prometheus metrics from
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        promExportType:
          description: 'How to export Prometheus metrics: PROMQL (query_range) or REMOTE_READ. Default PROMQL for backward compatibility.'
          enum:
          - PROMQL
          - REMOTE_READ
          type: string
        promMetricsFormat:
          description: 'When promExportType is REMOTE_READ, format for remote read export: PROMQL_JSON or PROM_CHUNK. Default PROMQL_JSON for backward compatibility.'
          enum:
          - PROMQL_JSON
          - PROM_CHUNK
          type: string
        promQueries:
          additionalProperties:
            type: string
          description: Map of query names to custom PromQL queries to collect in promdump
          type: object
        prometheusMetricsTypes:
          description: List of exports to be included in the prometheus dump
          items:
            enum:
            - MASTER_EXPORT
            - NODE_EXPORT
            - PLATFORM
            - PROMETHEUS
            - TSERVER_EXPORT
            - CQL_EXPORT
            - YSQL_EXPORT
            type: string
          type: array
        startDate:
          description: Start date to filter logs from
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        stepPromDumpSecs:
          description: Metrics downsample step (in seconds). Overrides global default. Use with batchDurationPromDumpMins to get longer historical trends while keeping the same number of data points
          format: int32
          type: integer
      required:
      - components
      - endDate
      - startDate
      type: object
    YBPTask_2:
      example:
        taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        resourceUUID:
          description: UUID of the resource being modified by the task
          format: uuid
          readOnly: true
          type: string
        taskUUID:
          description: Task UUID
          format: uuid
          readOnly: true
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the YugabyteDB Aeon UI under User Profile > API Keys. Pass the key as a Bearer token in the Authorization header.
definitions:
  YBPSuccess:
    properties:
      message:
        description: API response message.
        readOnly: true
        type: string
      success:
        description: API operation status. A value of true indicates the operation was successful.
        readOnly: true
        type: boolean
    type: object
  YBPTask:
    properties:
      resourceUUID:
        description: UUID of the resource being modified by the task
        format: uuid
        readOnly: true
        type: string
      taskUUID:
        description: Task UUID
        format: uuid
        readOnly: true
        type: string
    type: object
  BundleDetails:
    properties:
      components:
        items:
          enum:
          - UniverseLogs
          - ApplicationLogs
          - OutputFiles
          - ErrorFiles
          - GFlags
          - Instance
          - ConsensusMeta
          - TabletMeta
          type: string
        type: array
    required:
    - components
    type: object
  SupportBundle:
    properties:
      bundleDetails:
        $ref: '#/definitions/BundleDetails'
      bundleUUID:
        format: uuid
        type: string
      creationDate:
        format: date-time
        type: string
      endDate:
        format: date-time
        type: string
      expirationDate:
        format: date-time
        type: string
      path:
        type: string
      scopeUUID:
        format: uuid
        type: string
      startDate:
        format: date-time
        type: string
      status:
        enum:
        - Running
        - Success
        - Failed
        type: string
    required:
    - bundleDetails
    - bundleUUID
    - creationDate
    - endDate
    - expirationDate
    - path
    - scopeUUID
    - startDate
    - status
    type: object
  SupportBundleFormData:
    description: Support bundle form metadata
    properties:
      components:
        description: List of components to be included in the support bundle
        items:
          enum:
          - UniverseLogs
          - ApplicationLogs
          - OutputFiles
          - ErrorFiles
          - GFlags
          - Instance
          - ConsensusMeta
          - TabletMeta
          type: string
        type: array
      endDate:
        description: End date to filter logs till
        example: '2022-01-26'
        format: date-time
        type: string
      startDate:
        description: Start date to filter logs from
        example: '2022-01-25'
        format: date-time
        type: string
    required:
    - components
    - endDate
    - startDate
    type: object
externalDocs:
  description: YugabyteDB Aeon REST API Documentation
  url: https://docs.yugabyte.com/stable/yugabyte-cloud/managed-automation/managed-api/
