openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Table management API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: Table management
paths:
  /api/v1/customers/{cUUID}/universes/{uniUUID}/namespaces:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: getAllNamespaces
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: includeSystemNamespaces
        schema:
          default: false
          type: boolean
        example: false
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NamespaceInfoResp'
                type: array
              examples:
                GetAllNamespaces200Example:
                  summary: Default getAllNamespaces 200 response
                  x-microcks-default: true
                  value:
                  - tableType: YQL_TABLE_TYPE
                    name: name
                    namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get a List of All Namespaces in the Specified Universe.
      tags:
      - Table management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/tables:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: getAllTables
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: includeParentTableInfo
        schema:
          default: false
          type: boolean
        example: false
      - in: query
        name: excludeColocatedTables
        schema:
          default: false
          type: boolean
        example: false
      - in: query
        name: includeColocatedParentTables
        schema:
          default: true
          type: boolean
        example: true
      - in: query
        name: xClusterSupportedOnly
        schema:
          default: false
          type: boolean
        example: false
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TableInfoResp'
                type: array
              examples:
                GetAllTables200Example:
                  summary: Default getAllTables 200 response
                  x-microcks-default: true
                  value:
                  - relationType: SYSTEM_TABLE_RELATION
                    colocated: true
                    walSizeBytes: 3.616076749251911
                    indexTableIDs:
                    - indexTableIDs
                    - indexTableIDs
                    pgSchemaName: public
                    sizeBytes: 9.301444243932576
                    tableName: tableName
                    tableSpace: tableSpace
                    tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    tableType: YQL_TABLE_TYPE
                    keySpace: keySpace
                    tableID: tableID
                    nameSpace: nameSpace
                    colocationParentId: colocationParentId
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get a List of All Tables in the Specified Universe
      tags:
      - Table management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: YbaApi Internal.
      operationId: createTable
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableDefinitionTaskParams'
            examples:
              CreateTableRequestExample:
                summary: Default createTable request
                x-microcks-default: true
                value:
                  expectedUniverseVersion: 0
                  sourceXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  nodeExporterUser: nodeExporterUser
                  encryptionAtRestConfig:
                    encryptionAtRestEnabled: true
                    opType: ENABLE
                    kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    type: CMK
                  tableType: YQL_TABLE_TYPE
                  ybcSoftwareVersion: ybcSoftwareVersion
                  creatingUser:
                    ldapSpecifiedRole: true
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    role: Admin
                    authTokenIssueDate: '2021-06-17T15:00:05+00:00'
                    timezone: timezone
                    oidcJwtAuthToken: oidcJwtAuthToken
                    groupMemberships:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    userType: local
                    creationDate: '2022-12-12T13:07:18+00:00'
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    email: username1@example.com
                    primary: true
                  extraDependencies:
                    installNodeExporter: true
                  platformVersion: platformVersion
                  sleepAfterTServerRestartMillis: 1
                  tableDetails:
                    keyspace: keyspace
                    columns:
                    - columnOrder: 5
                      isClusteringKey: true
                      sortOrder: NONE
                      valueType: TINYINT
                      name: name
                      keyType: TINYINT
                      type: TINYINT
                      isPartitionKey: true
                    - columnOrder: 5
                      isClusteringKey: true
                      sortOrder: NONE
                      valueType: TINYINT
                      name: name
                      keyType: TINYINT
                      type: TINYINT
                      isPartitionKey: true
                    ttlInSeconds: 5
                    splitValues:
                    - splitValues
                    - splitValues
                    tableName: tableName
                  runOnlyPrechecks: true
                  platformUrl: platformUrl
                  targetXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  ybPrevSoftwareVersion: ybPrevSoftwareVersion
                  deviceInfo:
                    cloudVolumeEncryption:
                      enableVolumeEncryption: true
                      kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    diskIops: 6
                    storageClass: storageClass
                    numVolumes: 7
                    mountPoints: mountPoints
                    storageType: IO1
                    throughput: 1
                    volumeSize: 4
                  enableYbc: true
                  tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  errorString: errorString
                  installYbc: true
                  nodeDetailsSet:
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  ybcInstalled: true
                  communicationPorts:
                    nodeExporterPort: 5
                    tserverHttpPort: 9
                    internalYsqlServerRpcPort: 0
                    ybControllerHttpPort: 2
                    redisServerHttpPort: 2
                    ybControllerrRpcPort: 4
                    tserverRpcPort: 3
                    ysqlServerHttpPort: 1
                    yqlServerRpcPort: 1
                    masterHttpPort: 6
                    otelCollectorMetricsPort: 5
                    ysqlServerRpcPort: 1
                    yqlServerHttpPort: 7
                    masterRpcPort: 1
                    redisServerRpcPort: 7
                  cmkArn: cmkArn
                  sleepAfterMasterRestartMillis: 6
                  previousTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        description: Table definition to be created
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                CreateTable200Example:
                  summary: Default createTable 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create a YugabyteDB Table
      tags:
      - Table management
      x-codegen-request-body-name: Table
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/tables/{tableUUID}:
    delete:
      description: YbaApi Internal.
      operationId: dropTable
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: tableUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                DropTable200Example:
                  summary: Default dropTable 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Drop a YugabyteDB Table
      tags:
      - Table management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: describeTable
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: tableUUID
        required: true
        schema:
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableDefinitionTaskParams'
              examples:
                DescribeTable200Example:
                  summary: Default describeTable 200 response
                  x-microcks-default: true
                  value:
                    expectedUniverseVersion: 0
                    sourceXClusterConfigs:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    nodeExporterUser: nodeExporterUser
                    encryptionAtRestConfig:
                      encryptionAtRestEnabled: true
                      opType: ENABLE
                      kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      type: CMK
                    tableType: YQL_TABLE_TYPE
                    ybcSoftwareVersion: ybcSoftwareVersion
                    creatingUser:
                      ldapSpecifiedRole: true
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      role: Admin
                      authTokenIssueDate: 2021-06-17 15:00:05+00:00
                      timezone: timezone
                      oidcJwtAuthToken: oidcJwtAuthToken
                      groupMemberships:
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      userType: local
                      creationDate: 2022-12-12 13:07:18+00:00
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      email: username1@example.com
                      primary: true
                    extraDependencies:
                      installNodeExporter: true
                    platformVersion: platformVersion
                    sleepAfterTServerRestartMillis: 1
                    tableDetails:
                      keyspace: keyspace
                      columns:
                      - columnOrder: 5
                        isClusteringKey: true
                        sortOrder: NONE
                        valueType: TINYINT
                        name: name
                        keyType: TINYINT
                        type: TINYINT
                        isPartitionKey: true
                      - columnOrder: 5
                        isClusteringKey: true
                        sortOrder: NONE
                        valueType: TINYINT
                        name: name
                        keyType: TINYINT
                        type: TINYINT
                        isPartitionKey: true
                      ttlInSeconds: 5
                      splitValues:
                      - splitValues
                      - splitValues
                      tableName: tableName
                    runOnlyPrechecks: true
                    platformUrl: platformUrl
                    targetXClusterConfigs:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybPrevSoftwareVersion: ybPrevSoftwareVersion
                    deviceInfo:
                      cloudVolumeEncryption:
                        enableVolumeEncryption: true
                        kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      diskIops: 6
                      storageClass: storageClass
                      numVolumes: 7
                      mountPoints: mountPoints
                      storageType: IO1
                      throughput: 1
                      volumeSize: 4
                    enableYbc: true
                    tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    errorString: errorString
                    installYbc: true
                    nodeDetailsSet:
                    - nodeName: nodeName
                      nodeExporterPort: 3
                      placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      ybControllerHttpPort: 3
                      dedicatedTo: MASTER
                      machineImage: machineImage
                      redisServerHttpPort: 2
                      masterState: ToStart
                      tserverRpcPort: 6
                      ysqlServerHttpPort: 7
                      yqlServerRpcPort: 0
                      otelCollectorMetricsPort: 1
                      isMaster: true
                      sshUserOverride: sshUserOverride
                      cloudInfo:
                        mount_roots: mount_roots
                        kubernetesNamespace: kubernetesNamespace
                        public_ip: public_ip
                        secondary_subnet_id: secondary_subnet_id
                        private_dns: private_dns
                        useTimeSync: true
                        kubernetesPodName: kubernetesPodName
                        root_volume: root_volume
                        secondary_private_ip: secondary_private_ip
                        private_ip: private_ip
                        cloud: cloud
                        lun_indexes:
                        - 6
                        - 6
                        assignPublicIP: true
                        az: az
                        subnet_id: subnet_id
                        public_dns: public_dns
                        region: region
                        instance_type: instance_type
                      sshPortOverride: 6
                      cronsActive: true
                      state: Provisioned
                      nodeIdx: 6
                      masterRpcPort: 6
                      redisServerRpcPort: 6
                      lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
                      tserverHttpPort: 5
                      disksAreMountedByUUID: true
                      isRedisServer: true
                      ybPrebuiltAmi: true
                      internalYsqlServerRpcPort: 8
                      isTserver: true
                      nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      isYsqlServer: true
                      ybControllerRpcPort: 3
                      isYqlServer: true
                      azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      masterHttpPort: 9
                      ysqlServerRpcPort: 6
                      autoSyncMasterAddrs: true
                      yqlServerHttpPort: 7
                    - nodeName: nodeName
                      nodeExporterPort: 3
                      placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      ybControllerHttpPort: 3
                      dedicatedTo: MASTER
                      machineImage: machineImage
                      redisServerHttpPort: 2
                      masterState: ToStart
                      tserverRpcPort: 6
                      ysqlServerHttpPort: 7
                      yqlServerRpcPort: 0
                      otelCollectorMetricsPort: 1
                      isMaster: true
                      sshUserOverride: sshUserOverride
                      cloudInfo:
                        mount_roots: mount_roots
                        kubernetesNamespace: kubernetesNamespace
                        public_ip: public_ip
                        secondary_subnet_id: secondary_subnet_id
                        private_dns: private_dns
                        useTimeSync: true
                        kubernetesPodName: kubernetesPodName
                        root_volume: root_volume
                        secondary_private_ip: secondary_private_ip
                        private_ip: private_ip
                        cloud: cloud
                        lun_indexes:
                        - 6
                        - 6
                        assignPublicIP: true
                        az: az
                        subnet_id: subnet_id
                        public_dns: public_dns
                        region: region
                        instance_type: instance_type
                      sshPortOverride: 6
                      cronsActive: true
                      state: Provisioned
                      nodeIdx: 6
                      masterRpcPort: 6
                      redisServerRpcPort: 6
                      lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
                      tserverHttpPort: 5
                      disksAreMountedByUUID: true
                      isRedisServer: true
                      ybPrebuiltAmi: true
                      internalYsqlServerRpcPort: 8
                      isTserver: true
                      nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      isYsqlServer: true
                      ybControllerRpcPort: 3
                      isYqlServer: true
                      azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      masterHttpPort: 9
                      ysqlServerRpcPort: 6
                      autoSyncMasterAddrs: true
                      yqlServerHttpPort: 7
                    ybcInstalled: true
                    communicationPorts:
                      nodeExporterPort: 5
                      tserverHttpPort: 9
                      internalYsqlServerRpcPort: 0
                      ybControllerHttpPort: 2
                      redisServerHttpPort: 2
                      ybControllerrRpcPort: 4
                      tserverRpcPort: 3
                      ysqlServerHttpPort: 1
                      yqlServerRpcPort: 1
                      masterHttpPort: 6
                      otelCollectorMetricsPort: 5
                      ysqlServerRpcPort: 1
                      yqlServerHttpPort: 7
                      masterRpcPort: 1
                      redisServerRpcPort: 7
                    cmkArn: cmkArn
                    sleepAfterMasterRestartMillis: 6
                    previousTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Describe a Table
      tags:
      - Table management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: YbaApi Internal.
      operationId: alterTable
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: tableUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties:
                  properties: {}
                  type: object
                type: object
              examples:
                AlterTable200Example:
                  summary: Default alterTable 200 response
                  x-microcks-default: true
                  value: {}
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Alter a YugabyteDB Table
      tags:
      - Table management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/tables/{tableUUID}/bulk_import:
    put:
      description: YbaApi Internal. Bulk import data into the specified table. This is currently AWS-only.
      operationId: bulkImportData
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: tableUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkImportParams'
            examples:
              BulkImportDataRequestExample:
                summary: Default bulkImportData request
                x-microcks-default: true
                value:
                  expectedUniverseVersion: 0
                  sourceXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  sse: true
                  nodeExporterUser: nodeExporterUser
                  encryptionAtRestConfig:
                    encryptionAtRestEnabled: true
                    opType: ENABLE
                    kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    type: CMK
                  tableName: tableName
                  ybcSoftwareVersion: ybcSoftwareVersion
                  creatingUser:
                    ldapSpecifiedRole: true
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    role: Admin
                    authTokenIssueDate: '2021-06-17T15:00:05+00:00'
                    timezone: timezone
                    oidcJwtAuthToken: oidcJwtAuthToken
                    groupMemberships:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    userType: local
                    creationDate: '2022-12-12T13:07:18+00:00'
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    email: username1@example.com
                    primary: true
                  extraDependencies:
                    installNodeExporter: true
                  platformVersion: platformVersion
                  sleepAfterTServerRestartMillis: 5
                  runOnlyPrechecks: true
                  platformUrl: platformUrl
                  targetXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  ybPrevSoftwareVersion: ybPrevSoftwareVersion
                  deviceInfo:
                    cloudVolumeEncryption:
                      enableVolumeEncryption: true
                      kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    diskIops: 6
                    storageClass: storageClass
                    numVolumes: 7
                    mountPoints: mountPoints
                    storageType: IO1
                    throughput: 1
                    volumeSize: 4
                  enableYbc: true
                  s3Bucket: s3Bucket
                  tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  keyspace: keyspace
                  universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  errorString: errorString
                  installYbc: true
                  nodeDetailsSet:
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  instanceCount: 6
                  ybcInstalled: true
                  communicationPorts:
                    nodeExporterPort: 5
                    tserverHttpPort: 9
                    internalYsqlServerRpcPort: 0
                    ybControllerHttpPort: 2
                    redisServerHttpPort: 2
                    ybControllerrRpcPort: 4
                    tserverRpcPort: 3
                    ysqlServerHttpPort: 1
                    yqlServerRpcPort: 1
                    masterHttpPort: 6
                    otelCollectorMetricsPort: 5
                    ysqlServerRpcPort: 1
                    yqlServerHttpPort: 7
                    masterRpcPort: 1
                    redisServerRpcPort: 7
                  cmkArn: cmkArn
                  sleepAfterMasterRestartMillis: 1
                  previousTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        description: Bulk data to be imported
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                BulkImportData200Example:
                  summary: Default bulkImportData 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Bulk Import Data
      tags:
      - Table management
      x-codegen-request-body-name: Bulk import
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/tablespaces:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: getAllTableSpaces
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TableSpaceInfo'
                type: array
              examples:
                GetAllTableSpaces200Example:
                  summary: Default getAllTableSpaces 200 response
                  x-microcks-default: true
                  value:
                  - numReplicas: 1
                    name: name
                    placementBlocks:
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get a List of All Tablespaces of a Given Universe.
      tags:
      - Table management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: YbaApi Internal.
      operationId: createTableSpaces
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTablespaceParams'
            examples:
              CreateTableSpacesRequestExample:
                summary: Default createTableSpaces request
                x-microcks-default: true
                value:
                  tablespaceInfos:
                  - numReplicas: 1
                    name: name
                    placementBlocks:
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                  - numReplicas: 1
                    name: name
                    placementBlocks:
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                  - numReplicas: 1
                    name: name
                    placementBlocks:
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                  - numReplicas: 1
                    name: name
                    placementBlocks:
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                  - numReplicas: 1
                    name: name
                    placementBlocks:
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
                    - cloud: cloud
                      leader_preference: 1
                      zone: zone
                      min_num_replicas: 1
                      region: region
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                CreateTableSpaces200Example:
                  summary: Default createTableSpaces 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create TableSpaces
      tags:
      - Table management
      x-codegen-request-body-name: CreateTableSpacesRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/metadata/yql_data_types:
    get:
      description: YbaApi Internal. Get a list of all defined column types.
      operationId: getYQLDataTypes
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  enum:
                  - TINYINT
                  - SMALLINT
                  - INT
                  - BIGINT
                  - VARCHAR
                  - BOOLEAN
                  - FLOAT
                  - DOUBLE_PRECISION
                  - BLOB
                  - TIMESTAMP
                  - DECIMAL
                  - VARINT
                  - INET
                  - LIST
                  - MAP
                  - SET
                  - UUID
                  - TIMEUUID
                  - FROZEN
                  - DATE
                  - TIME
                  - JSONB
                  - USER_DEFINED_TYPE
                  type: string
                type: array
              examples:
                GetYQLDataTypes200Example:
                  summary: Default getYQLDataTypes 200 response
                  x-microcks-default: true
                  value:
                  - TINYINT
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List Column Types
      tags:
      - Table management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/multi_table_backup:
    put:
      description: ''
      operationId: createMultiTableBackup
      parameters:
      - format: uuid
        in: path
        name: cUUID
        required: true
        type: string
      - format: uuid
        in: path
        name: uniUUID
        required: true
        type: string
      - description: Table backup data to be created
        in: body
        name: Table backup
        required: true
        schema:
          $ref: '#/definitions/MultiTableBackupRequestParams'
      responses:
        '200':
          description: 'If requested schedule backup. Changes from upstream: This API call actually returns a task, not a Schedule'
          schema:
            $ref: '#/definitions/YBPTask'
        '400':
          description: 'When request fails validations. Changes from upstream: Return code 400 is not in swagger spec'
          schema:
            $ref: '#/definitions/YBPError'
      security:
      - apiKeyAuth: []
      summary: Create a multi-table backup
      tags:
      - Table management
  /api/v1/customers/{cUUID}/universes/{uniUUID}/tables/{tableUUID}/create_backup:
    put:
      description: ''
      operationId: createSingleTableBackup
      parameters:
      - format: uuid
        in: path
        name: cUUID
        required: true
        type: string
      - format: uuid
        in: path
        name: uniUUID
        required: true
        type: string
      - format: uuid
        in: path
        name: tableUUID
        required: true
        type: string
      - description: Backup data to be created
        in: body
        name: Backup
        required: true
        schema:
          $ref: '#/definitions/BackupTableParams'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/YBPTask'
      security:
      - apiKeyAuth: []
      summary: Create a single-table backup
      tags:
      - Table management
components:
  schemas:
    EncryptionAtRestConfig:
      description: Encryption at rest configuration
      example:
        encryptionAtRestEnabled: true
        opType: ENABLE
        kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: CMK
      properties:
        encryptionAtRestEnabled:
          description: Whether a universe is currently encrypted at rest
          type: boolean
          example: true
        kmsConfigUUID:
          description: KMS configuration UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        opType:
          description: 'Operation type: enable, disable, or rotate the universe key/encryption at rest'
          enum:
          - ENABLE
          - DISABLE
          - UNDEFINED
          type: string
          example: ENABLE
        type:
          description: Whether to generate a data key or just retrieve the CMK ARN
          enum:
          - CMK
          - DATA_KEY
          type: string
          example: CMK
      type: object
    DeviceInfo:
      description: Device information
      example:
        cloudVolumeEncryption:
          enableVolumeEncryption: true
          kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        diskIops: 6
        storageClass: storageClass
        numVolumes: 7
        mountPoints: mountPoints
        storageType: IO1
        throughput: 1
        volumeSize: 4
      properties:
        cloudVolumeEncryption:
          $ref: '#/components/schemas/CloudVolumeEncryption'
        diskIops:
          description: Desired IOPS for the volumes mounted on this instance
          format: int32
          type: integer
          example: 100
        mountPoints:
          description: Comma-separated list of mount points for the devices in each instance
          type: string
          example: example-mountPoints
        numVolumes:
          description: Number of volumes to be mounted on this instance at the default path
          format: int32
          type: integer
          example: 10
        storageClass:
          description: Name of the storage class
          type: string
          example: example-storageClass
        storageType:
          description: Storage type used for this instance
          enum:
          - IO1
          - IO2
          - GP2
          - GP3
          - Scratch
          - Persistent
          - Hyperdisk_Balanced
          - Hyperdisk_Extreme
          - StandardSSD_LRS
          - Premium_LRS
          - PremiumV2_LRS
          - UltraSSD_LRS
          - Local
          type: string
          example: IO1
        throughput:
          description: Desired throughput for the volumes mounted on this instance
          format: int32
          type: integer
          example: 100
        volumeSize:
          description: The size of each volume in each instance. Could be modified in payload for /resize_node API call
          format: int32
          type: integer
          example: 10
      type: object
    NamespaceInfoResp:
      description: Namespace information response
      example:
        tableType: YQL_TABLE_TYPE
        name: name
        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        name:
          description: Namespace name
          type: string
          example: example-name
        namespaceUUID:
          description: Namespace UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableType:
          description: Table type
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
          example: YQL_TABLE_TYPE
      type: object
    TableSpaceInfo:
      description: Tablespace information
      example:
        numReplicas: 1
        name: name
        placementBlocks:
        - cloud: cloud
          leader_preference: 1
          zone: zone
          min_num_replicas: 1
          region: region
        - cloud: cloud
          leader_preference: 1
          zone: zone
          min_num_replicas: 1
          region: region
        - cloud: cloud
          leader_preference: 1
          zone: zone
          min_num_replicas: 1
          region: region
        - cloud: cloud
          leader_preference: 1
          zone: zone
          min_num_replicas: 1
          region: region
        - cloud: cloud
          leader_preference: 1
          zone: zone
          min_num_replicas: 1
          region: region
      properties:
        name:
          description: Tablespace Name
          maxLength: 2147483647
          minLength: 1
          type: string
          example: example-name
        numReplicas:
          description: numReplicas
          format: int32
          minimum: 1
          type: integer
          example: 10
        placementBlocks:
          description: placements
          items:
            $ref: '#/components/schemas/PlacementBlock'
          maxItems: 2147483647
          minItems: 1
          type: array
          example:
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
      required:
      - name
      - placementBlocks
      type: object
    NodeDetails:
      description: Details of a cloud node
      example:
        nodeName: nodeName
        nodeExporterPort: 3
        placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ybControllerHttpPort: 3
        dedicatedTo: MASTER
        machineImage: machineImage
        redisServerHttpPort: 2
        masterState: ToStart
        tserverRpcPort: 6
        ysqlServerHttpPort: 7
        yqlServerRpcPort: 0
        otelCollectorMetricsPort: 1
        isMaster: true
        sshUserOverride: sshUserOverride
        cloudInfo:
          mount_roots: mount_roots
          kubernetesNamespace: kubernetesNamespace
          public_ip: public_ip
          secondary_subnet_id: secondary_subnet_id
          private_dns: private_dns
          useTimeSync: true
          kubernetesPodName: kubernetesPodName
          root_volume: root_volume
          secondary_private_ip: secondary_private_ip
          private_ip: private_ip
          cloud: cloud
          lun_indexes:
          - 6
          - 6
          assignPublicIP: true
          az: az
          subnet_id: subnet_id
          public_dns: public_dns
          region: region
          instance_type: instance_type
        sshPortOverride: 6
        cronsActive: true
        state: Provisioned
        nodeIdx: 6
        masterRpcPort: 6
        redisServerRpcPort: 6
        lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
        tserverHttpPort: 5
        disksAreMountedByUUID: true
        isRedisServer: true
        ybPrebuiltAmi: true
        internalYsqlServerRpcPort: 8
        isTserver: true
        nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        isYsqlServer: true
        ybControllerRpcPort: 3
        isYqlServer: true
        azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        masterHttpPort: 9
        ysqlServerRpcPort: 6
        autoSyncMasterAddrs: true
        yqlServerHttpPort: 7
      properties:
        autoSyncMasterAddrs:
          description: 'WARNING: This is a preview API that could change. Used by auto master failover'
          readOnly: true
          type: boolean
          example: true
        azUuid:
          description: The availability zone's UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        cloudInfo:
          $ref: '#/components/schemas/CloudSpecificInfo'
        cronsActive:
          description: True if cron jobs were properly configured for this node
          type: boolean
          example: true
        dedicatedTo:
          description: Used for configurations where each node can have only one process
          enum:
          - MASTER
          - TSERVER
          - CONTROLLER
          - YQLSERVER
          - YSQLSERVER
          - REDISSERVER
          - EITHER
          type: string
          example: MASTER
        disksAreMountedByUUID:
          description: Disks are mounted by uuid
          type: boolean
          example: true
        internalYsqlServerRpcPort:
          description: Internal YSQL RPC port
          format: int32
          type: integer
          example: 5433
        isMaster:
          description: True if this node is a master
          type: boolean
          example: true
        isRedisServer:
          description: True if this node is a REDIS server
          type: boolean
          example: true
        isTserver:
          description: True if this node is a Tablet server
          type: boolean
          example: true
        isYqlServer:
          description: True if this node is a YCQL server
          type: boolean
          example: true
        isYsqlServer:
          description: True if this node is a YSQL server
          type: boolean
          example: true
        lastVolumeUpdateTime:
          description: Store last volume update time
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          readOnly: true
          type: string
        machineImage:
          description: Machine image name
          type: string
          example: example-machineImage
        masterHttpPort:
          description: Master HTTP port
          format: int32
          type: integer
          example: 5433
        masterRpcPort:
          description: Master RPC port
          format: int32
          type: integer
          example: 5433
        masterState:
          description: Master state
          enum:
          - None
          - ToStart
          - Configured
          - ToStop
          example: ToStart
          type: string
        nodeExporterPort:
          description: Node exporter port
          format: int32
          type: integer
          example: 5433
        nodeIdx:
          description: Node ID
          format: int32
          type: integer
          example: 100
        nodeName:
          description: Node name
          type: string
          example: example-nodeName
        nodeUuid:
          description: Node UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        otelCollectorMetricsPort:
          description: Otel collector metrics port
          format: int32
          type: integer
          example: 5433
        placementUuid:
          description: UUID of the cluster to which this node belongs
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        redisServerHttpPort:
          description: REDIS HTTP port
          format: int32
          type: integer
          example: 5433
        redisServerRpcPort:
          description: REDIS RPC port
          format: int32
          type: integer
          example: 5433
        sshPortOverride:
          description: SSH port override for the AMI
          format: int32
          type: integer
          example: 5433
        sshUserOverride:
          description: SSH user override for the AMI
          type: string
          example: example-sshUserOverride
        state:
          description: Node state
          enum:
          - ToBeAdded
          - InstanceCreated
          - ServerSetup
          - ToJoinCluster
          - Reprovisioning
          - Provisioned
          - SoftwareInstalled
          - UpgradeMasterSoftware
          - UpgradeSoftware
          - RollbackUpgrade
          - FinalizeUpgrade
          - UpdateGFlags
          - Live
          - Stopping
          - Starting
          - Stopped
          - Unreachable
          - MetricsUnavailable
          - ToBeRemoved
          - Removing
          - Removed
          - Adding
          - BeingDecommissioned
          - Decommissioned
          - UpdateCert
          - ToggleTls
          - ConfigureDBApis
          - Resizing
          - SystemdUpgrade
          - Terminating
          - Terminated
          - Rebooting
          - HardRebooting
          - VMImageUpgrade
          - InstanceStopping
          - InstanceStopped
          example: Provisioned
          type: string
        tserverHttpPort:
          description: Tablet server HTTP port
          format: int32
          type: integer
          example: 5433
        tserverRpcPort:
          description: Tablet server RPC port
          format: int32
          type: integer
          example: 5433
        ybControllerHttpPort:
          description: Yb controller HTTP port
          format: int32
          type: integer
          example: 5433
        ybControllerRpcPort:
          description: Yb controller RPC port
          format: int32
          type: integer
          example: 5433
        ybPrebuiltAmi:
          description: True if this a custom YB AMI
          type: boolean
          example: true
        yqlServerHttpPort:
          description: YCQL HTTP port
          format: int32
          type: integer
          example: 5433
        yqlServerRpcPort:
          description: YCQL RPC port
          format: int32
          type: integer
          example: 5433
        ysqlServerHttpPort:
          description: YSQL HTTP port
          format: int32
          type: integer
          example: 5433
        ysqlServerRpcPort:
          description: YSQL RPC port
          format: int32
          type: integer
          example: 5433
      type: object
    CloudVolumeEncryption:
      description: Volume encryption settings for AWS EBS volumes
      example:
        enableVolumeEncryption: true
        kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        enableVolumeEncryption:
          description: To enable volume encryption or not
          type: boolean
          example: true
        kmsConfigUUID:
          description: KMS config UUID to be used for volume encryption
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    ExtraDependencies:
      description: Extra dependencies
      example:
        installNodeExporter: true
      properties:
        installNodeExporter:
          description: Install node exporter on nodes
          type: boolean
          example: true
      type: object
    PlacementBlock:
      example:
        cloud: cloud
        leader_preference: 1
        zone: zone
        min_num_replicas: 1
        region: region
      properties:
        cloud:
          description: Cloud
          maxLength: 2147483647
          minLength: 1
          type: string
          example: example-cloud
        leader_preference:
          description: Leader preference
          format: int32
          minimum: 1
          type: integer
          example: 100
        min_num_replicas:
          description: Minimum replicas
          format: int32
          minimum: 1
          type: integer
          example: 10
        region:
          description: Region
          maxLength: 2147483647
          minLength: 1
          type: string
          example: us-east-1
        zone:
          description: Zone
          maxLength: 2147483647
          minLength: 1
          type: string
          example: us-east-1a
      required:
      - cloud
      - region
      - zone
      type: object
    TableDefinitionTaskParams:
      example:
        expectedUniverseVersion: 0
        sourceXClusterConfigs:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        nodeExporterUser: nodeExporterUser
        encryptionAtRestConfig:
          encryptionAtRestEnabled: true
          opType: ENABLE
          kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: CMK
        tableType: YQL_TABLE_TYPE
        ybcSoftwareVersion: ybcSoftwareVersion
        creatingUser:
          ldapSpecifiedRole: true
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          role: Admin
          authTokenIssueDate: 2021-06-17 15:00:05+00:00
          timezone: timezone
          oidcJwtAuthToken: oidcJwtAuthToken
          groupMemberships:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          userType: local
          creationDate: 2022-12-12 13:07:18+00:00
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          email: username1@example.com
          primary: true
        extraDependencies:
          installNodeExporter: true
        platformVersion: platformVersion
        sleepAfterTServerRestartMillis: 1
        tableDetails:
          keyspace: keyspace
          columns:
          - columnOrder: 5
            isClusteringKey: true
            sortOrder: NONE
            valueType: TINYINT
            name: name
            keyType: TINYINT
            type: TINYINT
            isPartitionKey: true
          - columnOrder: 5
            isClusteringKey: true
            sortOrder: NONE
            valueType: TINYINT
            name: name
            keyType: TINYINT
            type: TINYINT
            isPartitionKey: true
          ttlInSeconds: 5
          splitValues:
          - splitValues
          - splitValues
          tableName: tableName
        runOnlyPrechecks: true
        platformUrl: platformUrl
        targetXClusterConfigs:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ybPrevSoftwareVersion: ybPrevSoftwareVersion
        deviceInfo:
          cloudVolumeEncryption:
            enableVolumeEncryption: true
            kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          diskIops: 6
          storageClass: storageClass
          numVolumes: 7
          mountPoints: mountPoints
          storageType: IO1
          throughput: 1
          volumeSize: 4
        enableYbc: true
        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        errorString: errorString
        installYbc: true
        nodeDetailsSet:
        - nodeName: nodeName
          nodeExporterPort: 3
          placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ybControllerHttpPort: 3
          dedicatedTo: MASTER
          machineImage: machineImage
          redisServerHttpPort: 2
          masterState: ToStart
          tserverRpcPort: 6
          ysqlServerHttpPort: 7
          yqlServerRpcPort: 0
          otelCollectorMetricsPort: 1
          isMaster: true
          sshUserOverride: sshUserOverride
          cloudInfo:
            mount_roots: mount_roots
            kubernetesNamespace: kubernetesNamespace
            public_ip: public_ip
            secondary_subnet_id: secondary_subnet_id
            private_dns: private_dns
            useTimeSync: true
            kubernetesPodName: kubernetesPodName
            root_volume: root_volume
            secondary_private_ip: secondary_private_ip
            private_ip: private_ip
            cloud: cloud
            lun_indexes:
            - 6
            - 6
            assignPublicIP: true
            az: az
            subnet_id: subnet_id
            public_dns: public_dns
            region: region
            instance_type: instance_type
          sshPortOverride: 6
          cronsActive: true
          state: Provisioned
          nodeIdx: 6
          masterRpcPort: 6
          redisServerRpcPort: 6
          lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
          tserverHttpPort: 5
          disksAreMountedByUUID: true
          isRedisServer: true
          ybPrebuiltAmi: true
          internalYsqlServerRpcPort: 8
          isTserver: true
          nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          isYsqlServer: true
          ybControllerRpcPort: 3
          isYqlServer: true
          azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          masterHttpPort: 9
          ysqlServerRpcPort: 6
          autoSyncMasterAddrs: true
          yqlServerHttpPort: 7
        - nodeName: nodeName
          nodeExporterPort: 3
          placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ybControllerHttpPort: 3
          dedicatedTo: MASTER
          machineImage: machineImage
          redisServerHttpPort: 2
          masterState: ToStart
          tserverRpcPort: 6
          ysqlServerHttpPort: 7
          yqlServerRpcPort: 0
          otelCollectorMetricsPort: 1
          isMaster: true
          sshUserOverride: sshUserOverride
          cloudInfo:
            mount_roots: mount_roots
            kubernetesNamespace: kubernetesNamespace
            public_ip: public_ip
            secondary_subnet_id: secondary_subnet_id
            private_dns: private_dns
            useTimeSync: true
            kubernetesPodName: kubernetesPodName
            root_volume: root_volume
            secondary_private_ip: secondary_private_ip
            private_ip: private_ip
            cloud: cloud
            lun_indexes:
            - 6
            - 6
            assignPublicIP: true
            az: az
            subnet_id: subnet_id
            public_dns: public_dns
            region: region
            instance_type: instance_type
          sshPortOverride: 6
          cronsActive: true
          state: Provisioned
          nodeIdx: 6
          masterRpcPort: 6
          redisServerRpcPort: 6
          lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
          tserverHttpPort: 5
          disksAreMountedByUUID: true
          isRedisServer: true
          ybPrebuiltAmi: true
          internalYsqlServerRpcPort: 8
          isTserver: true
          nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          isYsqlServer: true
          ybControllerRpcPort: 3
          isYqlServer: true
          azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          masterHttpPort: 9
          ysqlServerRpcPort: 6
          autoSyncMasterAddrs: true
          yqlServerHttpPort: 7
        ybcInstalled: true
        communicationPorts:
          nodeExporterPort: 5
          tserverHttpPort: 9
          internalYsqlServerRpcPort: 0
          ybControllerHttpPort: 2
          redisServerHttpPort: 2
          ybControllerrRpcPort: 4
          tserverRpcPort: 3
          ysqlServerHttpPort: 1
          yqlServerRpcPort: 1
          masterHttpPort: 6
          otelCollectorMetricsPort: 5
          ysqlServerRpcPort: 1
          yqlServerHttpPort: 7
          masterRpcPort: 1
          redisServerRpcPort: 7
        cmkArn: cmkArn
        sleepAfterMasterRestartMillis: 6
        previousTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        cmkArn:
          description: Amazon Resource Name (ARN) of the CMK
          type: string
          example: example-cmkArn
        communicationPorts:
          $ref: '#/components/schemas/CommunicationPorts'
        creatingUser:
          $ref: '#/components/schemas/Users'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
        enableYbc:
          type: boolean
          example: true
        encryptionAtRestConfig:
          $ref: '#/components/schemas/EncryptionAtRestConfig'
        errorString:
          description: Error message
          type: string
          example: example-errorString
        expectedUniverseVersion:
          description: Expected universe version
          format: int32
          type: integer
          example: 100
        extraDependencies:
          $ref: '#/components/schemas/ExtraDependencies'
        installYbc:
          type: boolean
          example: true
        nodeDetailsSet:
          description: Node details
          items:
            $ref: '#/components/schemas/NodeDetails'
          type: array
          uniqueItems: true
          example:
          - nodeName: nodeName
            nodeExporterPort: 3
            placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            ybControllerHttpPort: 3
            dedicatedTo: MASTER
            machineImage: machineImage
            redisServerHttpPort: 2
            masterState: ToStart
            tserverRpcPort: 6
            ysqlServerHttpPort: 7
            yqlServerRpcPort: 0
            otelCollectorMetricsPort: 1
            isMaster: true
            sshUserOverride: sshUserOverride
            cloudInfo:
              mount_roots: mount_roots
              kubernetesNamespace: kubernetesNamespace
              public_ip: public_ip
              secondary_subnet_id: secondary_subnet_id
              private_dns: private_dns
              useTimeSync: true
              kubernetesPodName: kubernetesPodName
              root_volume: root_volume
              secondary_private_ip: secondary_private_ip
              private_ip: private_ip
              cloud: cloud
              lun_indexes:
              - 6
              - 6
              assignPublicIP: true
              az: az
              subnet_id: subnet_id
              public_dns: public_dns
              region: region
              instance_type: instance_type
            sshPortOverride: 6
            cronsActive: true
            state: Provisioned
            nodeIdx: 6
            masterRpcPort: 6
            redisServerRpcPort: 6
            lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
            tserverHttpPort: 5
            disksAreMountedByUUID: true
            isRedisServer: true
            ybPrebuiltAmi: true
            internalYsqlServerRpcPort: 8
            isTserver: true
            nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            isYsqlServer: true
            ybControllerRpcPort: 3
            isYqlServer: true
            azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            masterHttpPort: 9
            ysqlServerRpcPort: 6
            autoSyncMasterAddrs: true
            yqlServerHttpPort: 7
        nodeExporterUser:
          description: Node exporter user
          type: string
          example: '5433'
        platformUrl:
          type: string
          example: https://example.com
        platformVersion:
          readOnly: true
          type: string
          example: 2.20.0.0
        previousTaskUUID:
          description: Previous task UUID of a retry
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        runOnlyPrechecks:
          description: YbaApi Internal. Run only prechecks during task run
          type: boolean
          example: true
        sleepAfterMasterRestartMillis:
          format: int32
          type: integer
          example: 100
        sleepAfterTServerRestartMillis:
          format: int32
          type: integer
          example: 100
        sourceXClusterConfigs:
          description: The source universe's xcluster replication relationships
          items:
            format: uuid
            type: string
          readOnly: true
          type: array
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableDetails:
          $ref: '#/components/schemas/TableDetails'
        tableType:
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
          example: YQL_TABLE_TYPE
        tableUUID:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        targetXClusterConfigs:
          description: The target universe's xcluster replication relationships
          items:
            format: uuid
            type: string
          readOnly: true
          type: array
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        universeUUID:
          description: Associated universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ybPrevSoftwareVersion:
          description: Previous software version
          type: string
          example: 2.20.0.0
        ybcInstalled:
          type: boolean
          example: true
        ybcSoftwareVersion:
          type: string
          example: 2.20.0.0
      required:
      - creatingUser
      - platformUrl
      - sleepAfterMasterRestartMillis
      - sleepAfterTServerRestartMillis
      - tableDetails
      - tableType
      - tableUUID
      type: object
    TableDetails:
      description: Table details
      example:
        keyspace: keyspace
        columns:
        - columnOrder: 5
          isClusteringKey: true
          sortOrder: NONE
          valueType: TINYINT
          name: name
          keyType: TINYINT
          type: TINYINT
          isPartitionKey: true
        - columnOrder: 5
          isClusteringKey: true
          sortOrder: NONE
          valueType: TINYINT
          name: name
          keyType: TINYINT
          type: TINYINT
          isPartitionKey: true
        ttlInSeconds: 5
        splitValues:
        - splitValues
        - splitValues
        tableName: tableName
      properties:
        columns:
          description: Details of all columns in the table
          items:
            $ref: '#/components/schemas/ColumnDetails'
          type: array
          example:
          - columnOrder: 5
            isClusteringKey: true
            sortOrder: NONE
            valueType: TINYINT
            name: name
            keyType: TINYINT
            type: TINYINT
            isPartitionKey: true
        keyspace:
          description: Keyspace to which this table belongs
          type: string
          example: example-key
        splitValues:
          description: Primary key values used to split table into tablets
          items:
            type: string
          type: array
          example:
          - example-value
        tableName:
          description: Table name
          type: string
          example: example-tableName
        ttlInSeconds:
          description: The default table-level time to live, in seconds. A value of `-1` represents an infinite TTL.
          format: int64
          type: integer
          example: 1000
      type: object
    CreateTablespaceParams:
      example:
        tablespaceInfos:
        - numReplicas: 1
          name: name
          placementBlocks:
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
        - numReplicas: 1
          name: name
          placementBlocks:
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
        - numReplicas: 1
          name: name
          placementBlocks:
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
        - numReplicas: 1
          name: name
          placementBlocks:
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
        - numReplicas: 1
          name: name
          placementBlocks:
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
          - cloud: cloud
            leader_preference: 1
            zone: zone
            min_num_replicas: 1
            region: region
      properties:
        tablespaceInfos:
          description: Tablespaces to be created
          items:
            $ref: '#/components/schemas/TableSpaceInfo'
          maxItems: 2147483647
          minItems: 1
          type: array
          example:
          - numReplicas: 1
            name: name
            placementBlocks:
            - cloud: cloud
              leader_preference: 1
              zone: zone
              min_num_replicas: 1
              region: region
            - cloud: cloud
              leader_preference: 1
              zone: zone
              min_num_replicas: 1
              region: region
            - cloud: cloud
              leader_preference: 1
              zone: zone
              min_num_replicas: 1
              region: region
            - cloud: cloud
              leader_preference: 1
              zone: zone
              min_num_replicas: 1
              region: region
            - cloud: cloud
              leader_preference: 1
              zone: zone
              min_num_replicas: 1
              region: region
      required:
      - tablespaceInfos
      type: object
    BulkImportParams:
      description: Bulk import parameters
      example:
        expectedUniverseVersion: 0
        sourceXClusterConfigs:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        sse: true
        nodeExporterUser: nodeExporterUser
        encryptionAtRestConfig:
          encryptionAtRestEnabled: true
          opType: ENABLE
          kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: CMK
        tableName: tableName
        ybcSoftwareVersion: ybcSoftwareVersion
        creatingUser:
          ldapSpecifiedRole: true
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          role: Admin
          authTokenIssueDate: 2021-06-17 15:00:05+00:00
          timezone: timezone
          oidcJwtAuthToken: oidcJwtAuthToken
          groupMemberships:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          userType: local
          creationDate: 2022-12-12 13:07:18+00:00
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          email: username1@example.com
          primary: true
        extraDependencies:
          installNodeExporter: true
        platformVersion: platformVersion
        sleepAfterTServerRestartMillis: 5
        runOnlyPrechecks: true
        platformUrl: platformUrl
        targetXClusterConfigs:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ybPrevSoftwareVersion: ybPrevSoftwareVersion
        deviceInfo:
          cloudVolumeEncryption:
            enableVolumeEncryption: true
            kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          diskIops: 6
          storageClass: storageClass
          numVolumes: 7
          mountPoints: mountPoints
          storageType: IO1
          throughput: 1
          volumeSize: 4
        enableYbc: true
        s3Bucket: s3Bucket
        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        keyspace: keyspace
        universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        errorString: errorString
        installYbc: true
        nodeDetailsSet:
        - nodeName: nodeName
          nodeExporterPort: 3
          placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ybControllerHttpPort: 3
          dedicatedTo: MASTER
          machineImage: machineImage
          redisServerHttpPort: 2
          masterState: ToStart
          tserverRpcPort: 6
          ysqlServerHttpPort: 7
          yqlServerRpcPort: 0
          otelCollectorMetricsPort: 1
          isMaster: true
          sshUserOverride: sshUserOverride
          cloudInfo:
            mount_roots: mount_roots
            kubernetesNamespace: kubernetesNamespace
            public_ip: public_ip
            secondary_subnet_id: secondary_subnet_id
            private_dns: private_dns
            useTimeSync: true
            kubernetesPodName: kubernetesPodName
            root_volume: root_volume
            secondary_private_ip: secondary_private_ip
            private_ip: private_ip
            cloud: cloud
            lun_indexes:
            - 6
            - 6
            assignPublicIP: true
            az: az
            subnet_id: subnet_id
            public_dns: public_dns
            region: region
            instance_type: instance_type
          sshPortOverride: 6
          cronsActive: true
          state: Provisioned
          nodeIdx: 6
          masterRpcPort: 6
          redisServerRpcPort: 6
          lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
          tserverHttpPort: 5
          disksAreMountedByUUID: true
          isRedisServer: true
          ybPrebuiltAmi: true
          internalYsqlServerRpcPort: 8
          isTserver: true
          nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          isYsqlServer: true
          ybControllerRpcPort: 3
          isYqlServer: true
          azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          masterHttpPort: 9
          ysqlServerRpcPort: 6
          autoSyncMasterAddrs: true
          yqlServerHttpPort: 7
        - nodeName: nodeName
          nodeExporterPort: 3
          placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ybControllerHttpPort: 3
          dedicatedTo: MASTER
          machineImage: machineImage
          redisServerHttpPort: 2
          masterState: ToStart
          tserverRpcPort: 6
          ysqlServerHttpPort: 7
          yqlServerRpcPort: 0
          otelCollectorMetricsPort: 1
          isMaster: true
          sshUserOverride: sshUserOverride
          cloudInfo:
            mount_roots: mount_roots
            kubernetesNamespace: kubernetesNamespace
            public_ip: public_ip
            secondary_subnet_id: secondary_subnet_id
            private_dns: private_dns
            useTimeSync: true
            kubernetesPodName: kubernetesPodName
            root_volume: root_volume
            secondary_private_ip: secondary_private_ip
            private_ip: private_ip
            cloud: cloud
            lun_indexes:
            - 6
            - 6
            assignPublicIP: true
            az: az
            subnet_id: subnet_id
            public_dns: public_dns
            region: region
            instance_type: instance_type
          sshPortOverride: 6
          cronsActive: true
          state: Provisioned
          nodeIdx: 6
          masterRpcPort: 6
          redisServerRpcPort: 6
          lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
          tserverHttpPort: 5
          disksAreMountedByUUID: true
          isRedisServer: true
          ybPrebuiltAmi: true
          internalYsqlServerRpcPort: 8
          isTserver: true
          nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          isYsqlServer: true
          ybControllerRpcPort: 3
          isYqlServer: true
          azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          masterHttpPort: 9
          ysqlServerRpcPort: 6
          autoSyncMasterAddrs: true
          yqlServerHttpPort: 7
        instanceCount: 6
        ybcInstalled: true
        communicationPorts:
          nodeExporterPort: 5
          tserverHttpPort: 9
          internalYsqlServerRpcPort: 0
          ybControllerHttpPort: 2
          redisServerHttpPort: 2
          ybControllerrRpcPort: 4
          tserverRpcPort: 3
          ysqlServerHttpPort: 1
          yqlServerRpcPort: 1
          masterHttpPort: 6
          otelCollectorMetricsPort: 5
          ysqlServerRpcPort: 1
          yqlServerHttpPort: 7
          masterRpcPort: 1
          redisServerRpcPort: 7
        cmkArn: cmkArn
        sleepAfterMasterRestartMillis: 1
        previousTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        cmkArn:
          description: Amazon Resource Name (ARN) of the CMK
          type: string
          example: example-cmkArn
        communicationPorts:
          $ref: '#/components/schemas/CommunicationPorts'
        creatingUser:
          $ref: '#/components/schemas/Users'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
        enableYbc:
          type: boolean
          example: true
        encryptionAtRestConfig:
          $ref: '#/components/schemas/EncryptionAtRestConfig'
        errorString:
          description: Error message
          type: string
          example: example-errorString
        expectedUniverseVersion:
          description: Expected universe version
          format: int32
          type: integer
          example: 100
        extraDependencies:
          $ref: '#/components/schemas/ExtraDependencies'
        installYbc:
          type: boolean
          example: true
        instanceCount:
          description: Instance count
          format: int32
          type: integer
          example: 10
        keyspace:
          description: Key space
          type: string
          example: example-key
        nodeDetailsSet:
          description: Node details
          items:
            $ref: '#/components/schemas/NodeDetails'
          type: array
          uniqueItems: true
          example:
          - nodeName: nodeName
            nodeExporterPort: 3
            placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            ybControllerHttpPort: 3
            dedicatedTo: MASTER
            machineImage: machineImage
            redisServerHttpPort: 2
            masterState: ToStart
            tserverRpcPort: 6
            ysqlServerHttpPort: 7
            yqlServerRpcPort: 0
            otelCollectorMetricsPort: 1
            isMaster: true
            sshUserOverride: sshUserOverride
            cloudInfo:
              mount_roots: mount_roots
              kubernetesNamespace: kubernetesNamespace
              public_ip: public_ip
              secondary_subnet_id: secondary_subnet_id
              private_dns: private_dns
              useTimeSync: true
              kubernetesPodName: kubernetesPodName
              root_volume: root_volume
              secondary_private_ip: secondary_private_ip
              private_ip: private_ip
              cloud: cloud
              lun_indexes:
              - 6
              - 6
              assignPublicIP: true
              az: az
              subnet_id: subnet_id
              public_dns: public_dns
              region: region
              instance_type: instance_type
            sshPortOverride: 6
            cronsActive: true
            state: Provisioned
            nodeIdx: 6
            masterRpcPort: 6
            redisServerRpcPort: 6
            lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
            tserverHttpPort: 5
            disksAreMountedByUUID: true
            isRedisServer: true
            ybPrebuiltAmi: true
            internalYsqlServerRpcPort: 8
            isTserver: true
            nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            isYsqlServer: true
            ybControllerRpcPort: 3
            isYqlServer: true
            azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            masterHttpPort: 9
            ysqlServerRpcPort: 6
            autoSyncMasterAddrs: true
            yqlServerHttpPort: 7
        nodeExporterUser:
          description: Node exporter user
          type: string
          example: '5433'
        platformUrl:
          type: string
          example: https://example.com
        platformVersion:
          readOnly: true
          type: string
          example: 2.20.0.0
        previousTaskUUID:
          description: Previous task UUID of a retry
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        runOnlyPrechecks:
          description: YbaApi Internal. Run only prechecks during task run
          type: boolean
          example: true
        s3Bucket:
          description: S3 bucket URL
          type: string
[...]
