openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Certificate Info API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: Certificate Info
paths:
  /api/v1/customers/{cUUID}/certificates:
    get:
      operationId: getListOfCertificate
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateInfoExt'
                type: array
              examples:
                GetListOfCertificate200Example:
                  summary: Default getListOfCertificate 200 response
                  x-microcks-default: true
                  value:
                  - customServerCertInfo:
                      serverCert: serverCert
                      serverKey: serverKey
                    certType: SelfSigned
                    customHCPKICertInfo:
                      vaultAddr: vaultAddr
                      vaultRoleID: vaultRoleID
                      mountPath: mountPath
                      role: role
                      engine: engine
                      ttlExpiry: 6
                      vaultAuthNamespace: vaultAuthNamespace
                      vaultSecretID: vaultSecretID
                      ttl: 0
                      vaultToken: vaultToken
                    certificate: /opt/yugaware/certs/.../ca.root.cert
                    label: yb-admin-example
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    expiryDateIso: 2022-12-12 13:07:18+00:00
                    expiryDate: 2000-01-23 04:56:07+00:00
                    privateKey: /opt/yugaware/.../example.key.pem
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    universeDetails:
                    - universePaused: true
                      updateSucceeded: true
                      name: name
                      updateInProgress: true
                      creationDate: 1
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - universePaused: true
                      updateSucceeded: true
                      name: name
                      updateInProgress: true
                      creationDate: 1
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    startDateIso: 2022-12-12 13:07:18+00:00
                    universeDetailSubsets:
                    - universePaused: true
                      updateSucceeded: true
                      name: name
                      updateInProgress: true
                      creationDate: 1
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - universePaused: true
                      updateSucceeded: true
                      name: name
                      updateInProgress: true
                      creationDate: 1
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    checksum: checksum
                    inUse: true
                    customCertPathParams:
                      nodeCertPath: nodeCertPath
                      nodeKeyPath: nodeKeyPath
                      clientKeyPath: clientKeyPath
                      clientCertPath: clientCertPath
                      rootCertPath: rootCertPath
                    startDate: 2000-01-23 04:56:07+00:00
          description: successful operation
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPError'
              examples:
                GetListOfCertificate500Example:
                  summary: Default getListOfCertificate 500 response
                  x-microcks-default: true
                  value:
                    success: false
                    requestUri: /customers/8918921-af3782-633de/universe/8173ab-fd2453/create
                    error: There was a problem creating the universe
                    httpMethod: POST
                    errorJson: '{ "foo" : "bar", "baz" : [1, 2, 3] }'
                    requestJson: '{ "foo" : "bar", "baz" : [1, 2, 3] }'
          description: If there was a server or database issue when listing the regions
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List a Customer's Certificates
      tags:
      - Certificate Info
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: upload
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateParams'
            examples:
              UploadRequestExample:
                summary: Default upload request
                x-microcks-default: true
                value:
                  certStart: 6
                  customCertInfo:
                    nodeCertPath: nodeCertPath
                    nodeKeyPath: nodeKeyPath
                    clientKeyPath: clientKeyPath
                    clientCertPath: clientCertPath
                    rootCertPath: rootCertPath
                  customServerCertData:
                    serverCertContent: serverCertContent
                    serverKeyContent: serverKeyContent
                  certType: SelfSigned
                  certContent: certContent
                  certExpiry: 0
                  keyContent: keyContent
                  label: label
                  hcVaultCertParams:
                    vaultAddr: vaultAddr
                    vaultRoleID: vaultRoleID
                    mountPath: mountPath
                    role: role
                    engine: engine
                    ttlExpiry: 6
                    vaultAuthNamespace: vaultAuthNamespace
                    vaultSecretID: vaultSecretID
                    ttl: 0
                    vaultToken: vaultToken
        description: certificate params of the backup to be restored
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                format: uuid
                type: string
              examples:
                Upload200Example:
                  summary: Default upload 200 response
                  x-microcks-default: true
                  value: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Restore a Certificate from Backup
      tags:
      - Certificate Info
      x-codegen-request-body-name: certificate
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/certificates/create_self_signed_cert:
    post:
      description: YbaApi Internal.
      operationId: createSelfSignedCert
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              CreateSelfSignedCertRequestExample:
                summary: Default createSelfSignedCert request
                x-microcks-default: true
                value: string
        description: certificate label
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                format: uuid
                type: string
              examples:
                CreateSelfSignedCert200Example:
                  summary: Default createSelfSignedCert 200 response
                  x-microcks-default: true
                  value: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create a Self Signed Certificate
      tags:
      - Certificate Info
      x-codegen-request-body-name: label
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/certificates/{name}:
    get:
      description: YbaApi Internal.
      operationId: getCertificate
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: name
        required: true
        schema:
          type: string
        example: example-name
      responses:
        '200':
          content:
            application/json:
              schema:
                format: uuid
                type: string
              examples:
                GetCertificate200Example:
                  summary: Default getCertificate 200 response
                  x-microcks-default: true
                  value: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get a Certificate's UUID
      tags:
      - Certificate Info
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/certificates/{rUUID}:
    delete:
      operationId: deleteCertificate
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: rUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                DeleteCertificate200Example:
                  summary: Default deleteCertificate 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete a Certificate
      tags:
      - Certificate Info
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: getClientCert
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: rUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCertParams'
            examples:
              GetClientCertRequestExample:
                summary: Default getClientCert request
                x-microcks-default: true
                value:
                  certStart: 6
                  certExpiry: 0
                  username: username
        description: post certificate info
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateDetails'
              examples:
                GetClientCert200Example:
                  summary: Default getClientCert 200 response
                  x-microcks-default: true
                  value:
                    yugabytedb.key: yugabytedb.key
                    yugabytedb.crt: yugabytedb.crt
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Add a Client Certificate
      tags:
      - Certificate Info
      x-codegen-request-body-name: certificate
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/certificates/{rUUID}/download:
    get:
      operationId: getRootCert
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: rUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
              examples:
                GetRootCert200Example:
                  summary: Default getRootCert 200 response
                  x-microcks-default: true
                  value: {}
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get a Customer's Root Certificate
      tags:
      - Certificate Info
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/certificates/{rUUID}/edit:
    post:
      operationId: editCertificate
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: rUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateParams'
            examples:
              EditCertificateRequestExample:
                summary: Default editCertificate request
                x-microcks-default: true
                value:
                  certStart: 6
                  customCertInfo:
                    nodeCertPath: nodeCertPath
                    nodeKeyPath: nodeKeyPath
                    clientKeyPath: clientKeyPath
                    clientCertPath: clientCertPath
                    rootCertPath: rootCertPath
                  customServerCertData:
                    serverCertContent: serverCertContent
                    serverKeyContent: serverKeyContent
                  certType: SelfSigned
                  certContent: certContent
                  certExpiry: 0
                  keyContent: keyContent
                  label: label
                  hcVaultCertParams:
                    vaultAddr: vaultAddr
                    vaultRoleID: vaultRoleID
                    mountPath: mountPath
                    role: role
                    engine: engine
                    ttlExpiry: 6
                    vaultAuthNamespace: vaultAuthNamespace
                    vaultSecretID: vaultSecretID
                    ttl: 0
                    vaultToken: vaultToken
        description: certificate params to edit
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                EditCertificate200Example:
                  summary: Default editCertificate 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Edit TLS Certificate Config Details
      tags:
      - Certificate Info
      x-codegen-request-body-name: certificate
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/certificates/{rUUID}/update_empty_cert:
    post:
      description: YbaApi Internal.
      operationId: updateEmptyCustomCert
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: rUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateInfoExt'
              examples:
                UpdateEmptyCustomCert200Example:
                  summary: Default updateEmptyCustomCert 200 response
                  x-microcks-default: true
                  value:
                    customServerCertInfo:
                      serverCert: serverCert
                      serverKey: serverKey
                    certType: SelfSigned
                    customHCPKICertInfo:
                      vaultAddr: vaultAddr
                      vaultRoleID: vaultRoleID
                      mountPath: mountPath
                      role: role
                      engine: engine
                      ttlExpiry: 6
                      vaultAuthNamespace: vaultAuthNamespace
                      vaultSecretID: vaultSecretID
                      ttl: 0
                      vaultToken: vaultToken
                    certificate: /opt/yugaware/certs/.../ca.root.cert
                    label: yb-admin-example
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    expiryDateIso: 2022-12-12 13:07:18+00:00
                    expiryDate: 2000-01-23 04:56:07+00:00
                    privateKey: /opt/yugaware/.../example.key.pem
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    universeDetails:
                    - universePaused: true
                      updateSucceeded: true
                      name: name
                      updateInProgress: true
                      creationDate: 1
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - universePaused: true
                      updateSucceeded: true
                      name: name
                      updateInProgress: true
                      creationDate: 1
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    startDateIso: 2022-12-12 13:07:18+00:00
                    universeDetailSubsets:
                    - universePaused: true
                      updateSucceeded: true
                      name: name
                      updateInProgress: true
                      creationDate: 1
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - universePaused: true
                      updateSucceeded: true
                      name: name
                      updateInProgress: true
                      creationDate: 1
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    checksum: checksum
                    inUse: true
                    customCertPathParams:
                      nodeCertPath: nodeCertPath
                      nodeKeyPath: nodeKeyPath
                      clientKeyPath: clientKeyPath
                      clientCertPath: clientCertPath
                      rootCertPath: rootCertPath
                    startDate: 2000-01-23 04:56:07+00:00
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Update an Empty Certificate
      tags:
      - Certificate Info
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CustomServerCertData:
      example:
        serverCertContent: serverCertContent
        serverKeyContent: serverKeyContent
      properties:
        serverCertContent:
          type: string
          example: example-serverCertContent
        serverKeyContent:
          type: string
          example: example-key
      required:
      - serverCertContent
      - serverKeyContent
      type: object
    HashicorpVaultConfigParams:
      example:
        vaultAddr: vaultAddr
        vaultRoleID: vaultRoleID
        mountPath: mountPath
        role: role
        engine: engine
        ttlExpiry: 6
        vaultAuthNamespace: vaultAuthNamespace
        vaultSecretID: vaultSecretID
        ttl: 0
        vaultToken: vaultToken
      properties:
        engine:
          type: string
          example: example-engine
        mountPath:
          type: string
          example: /var/lib/yugabyte/example
        role:
          type: string
          example: example-role
        ttl:
          format: int64
          type: integer
          example: 1000
        ttlExpiry:
          format: int64
          type: integer
          example: 1000
        vaultAddr:
          type: string
          example: example-vaultAddr
        vaultAuthNamespace:
          type: string
          example: example-vaultAuthNamespace
        vaultRoleID:
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        vaultSecretID:
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        vaultToken:
          type: string
          example: REDACTED
      required:
      - engine
      - mountPath
      - role
      - vaultAddr
      type: object
    ClientCertParams:
      example:
        certStart: 6
        certExpiry: 0
        username: username
      properties:
        certExpiry:
          format: int64
          type: integer
          example: 1000
        certStart:
          format: int64
          type: integer
          example: 1000
        username:
          type: string
          example: example-username
      required:
      - certExpiry
      - certStart
      - username
      type: object
    CustomCertInfo:
      example:
        nodeCertPath: nodeCertPath
        nodeKeyPath: nodeKeyPath
        clientKeyPath: clientKeyPath
        clientCertPath: clientCertPath
        rootCertPath: rootCertPath
      properties:
        clientCertPath:
          type: string
          example: /var/lib/yugabyte/example
        clientKeyPath:
          type: string
          example: /var/lib/yugabyte/example
        nodeCertPath:
          type: string
          example: /var/lib/yugabyte/example
        nodeKeyPath:
          type: string
          example: /var/lib/yugabyte/example
        rootCertPath:
          type: string
          example: /var/lib/yugabyte/example
      required:
      - clientCertPath
      - clientKeyPath
      - nodeCertPath
      - nodeKeyPath
      - rootCertPath
      type: object
    CertificateInfoExt:
      description: SSL certificate used by the universe
      example:
        customServerCertInfo:
          serverCert: serverCert
          serverKey: serverKey
        certType: SelfSigned
        customHCPKICertInfo:
          vaultAddr: vaultAddr
          vaultRoleID: vaultRoleID
          mountPath: mountPath
          role: role
          engine: engine
          ttlExpiry: 6
          vaultAuthNamespace: vaultAuthNamespace
          vaultSecretID: vaultSecretID
          ttl: 0
          vaultToken: vaultToken
        certificate: /opt/yugaware/certs/.../ca.root.cert
        label: yb-admin-example
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        expiryDateIso: 2022-12-12 13:07:18+00:00
        expiryDate: 2000-01-23 04:56:07+00:00
        privateKey: /opt/yugaware/.../example.key.pem
        customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        universeDetails:
        - universePaused: true
          updateSucceeded: true
          name: name
          updateInProgress: true
          creationDate: 1
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - universePaused: true
          updateSucceeded: true
          name: name
          updateInProgress: true
          creationDate: 1
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        startDateIso: 2022-12-12 13:07:18+00:00
        universeDetailSubsets:
        - universePaused: true
          updateSucceeded: true
          name: name
          updateInProgress: true
          creationDate: 1
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - universePaused: true
          updateSucceeded: true
          name: name
          updateInProgress: true
          creationDate: 1
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        checksum: checksum
        inUse: true
        customCertPathParams:
          nodeCertPath: nodeCertPath
          nodeKeyPath: nodeKeyPath
          clientKeyPath: clientKeyPath
          clientCertPath: clientCertPath
          rootCertPath: rootCertPath
        startDate: 2000-01-23 04:56:07+00:00
      properties:
        certType:
          description: Type of the certificate
          enum:
          - SelfSigned
          - CustomCertHostPath
          - CustomServerCert
          - HashicorpVault
          - K8SCertManager
          example: SelfSigned
          type: string
        certificate:
          description: Certificate path
          example: /opt/yugaware/certs/.../ca.root.cert
          type: string
        checksum:
          description: The certificate file's checksum
          readOnly: true
          type: string
          example: example-checksum
        customCertPathParams:
          $ref: '#/components/schemas/CustomCertInfo'
        customHCPKICertInfo:
          $ref: '#/components/schemas/HashicorpVaultConfigParams'
        customServerCertInfo:
          $ref: '#/components/schemas/CustomServerCertInfo'
        customerUUID:
          description: Customer UUID of the backup which it belongs to
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        expiryDate:
          description: The certificate's expiry date. <b style="color:#ff0000">Deprecated since YBA version 2.17.2.0.</b> Use expirtyDateIso instead
          format: date-time
          type: string
          example: '2026-05-03T12:00:00Z'
        expiryDateIso:
          description: The certificate's expiry date
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        inUse:
          description: Indicates whether the certificate is in use. This value is `true` if the universe contains a reference to the certificate.
          readOnly: true
          type: boolean
          example: true
        label:
          description: Certificate label
          example: yb-admin-example
          type: string
        privateKey:
          description: Private key path
          example: /opt/yugaware/.../example.key.pem
          type: string
        startDate:
          description: The certificate's creation date. <b style="color:#ff0000">Deprecated since YBA version 2.17.2.0.</b> Use stateDateIso instead
          format: date-time
          type: string
          example: '2026-05-03T12:00:00Z'
        startDateIso:
          description: The certificate's creation date
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        universeDetailSubsets:
          items:
            $ref: '#/components/schemas/UniverseDetailSubset'
          type: array
          example:
          - universePaused: true
            updateSucceeded: true
            name: name
            updateInProgress: true
            creationDate: 1
            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        universeDetails:
          description: Associated universe details for the certificate
          items:
            $ref: '#/components/schemas/UniverseDetailSubset'
          readOnly: true
          type: array
          example:
          - universePaused: true
            updateSucceeded: true
            name: name
            updateInProgress: true
            creationDate: 1
            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        uuid:
          description: Certificate UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - customCertPathParams
      - customHCPKICertInfo
      - customServerCertInfo
      - universeDetailSubsets
      type: object
    CustomServerCertInfo:
      example:
        serverCert: serverCert
        serverKey: serverKey
      properties:
        serverCert:
          type: string
          example: example-serverCert
        serverKey:
          type: string
          example: example-key
      required:
      - serverCert
      - serverKey
      type: object
    YBPError:
      description: Generic error response from the YugabyteDB Anywhere API
      example:
        success: false
        requestUri: /customers/8918921-af3782-633de/universe/8173ab-fd2453/create
        error: There was a problem creating the universe
        httpMethod: POST
        errorJson: '{ "foo" : "bar", "baz" : [1, 2, 3] }'
        requestJson: '{ "foo" : "bar", "baz" : [1, 2, 3] }'
      properties:
        error:
          description: User-visible unstructured error message
          example: There was a problem creating the universe
          type: string
        errorJson:
          description: User visible structured error message as json object
          example: '{ "foo" : "bar", "baz" : [1, 2, 3] }'
          properties: {}
          type: object
        httpMethod:
          description: Method for HTTP call that resulted in this error
          example: POST
          type: string
        requestJson:
          description: User request JSON object
          example: '{ "foo" : "bar", "baz" : [1, 2, 3] }'
          properties: {}
          type: object
        requestUri:
          description: URI for HTTP request that resulted in this error
          example: /customers/8918921-af3782-633de/universe/8173ab-fd2453/create
          type: string
        success:
          description: Always set to false to indicate failure
          example: false
          type: boolean
      type: object
    UniverseDetailSubset:
      description: A small subset of universe information
      example:
        universePaused: true
        updateSucceeded: true
        name: name
        updateInProgress: true
        creationDate: 1
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        creationDate:
          format: int64
          type: integer
          example: 1000
        name:
          type: string
          example: example-name
        universePaused:
          type: boolean
          example: true
        updateInProgress:
          type: boolean
          example: true
        updateSucceeded:
          type: boolean
          example: true
        uuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - creationDate
      - name
      - universePaused
      - updateInProgress
      - updateSucceeded
      - uuid
      type: object
    YBPSuccess:
      example:
        success: true
        message: message
      properties:
        message:
          description: API response message.
          readOnly: true
          type: string
          example: Example message
        success:
          description: API operation status. A value of true indicates the operation was successful.
          readOnly: true
          type: boolean
          example: true
      type: object
    CertificateParams:
      description: Certificate Params is used to validate constraints for the custom certificate Data
      example:
        certStart: 6
        customCertInfo:
          nodeCertPath: nodeCertPath
          nodeKeyPath: nodeKeyPath
          clientKeyPath: clientKeyPath
          clientCertPath: clientCertPath
          rootCertPath: rootCertPath
        customServerCertData:
          serverCertContent: serverCertContent
          serverKeyContent: serverKeyContent
        certType: SelfSigned
        certContent: certContent
        certExpiry: 0
        keyContent: keyContent
        label: label
        hcVaultCertParams:
          vaultAddr: vaultAddr
          vaultRoleID: vaultRoleID
          mountPath: mountPath
          role: role
          engine: engine
          ttlExpiry: 6
          vaultAuthNamespace: vaultAuthNamespace
          vaultSecretID: vaultSecretID
          ttl: 0
          vaultToken: vaultToken
      properties:
        certContent:
          type: string
          example: example-certContent
        certExpiry:
          format: int64
          type: integer
          example: 1000
        certStart:
          format: int64
          type: integer
          example: 1000
        certType:
          enum:
          - SelfSigned
          - CustomCertHostPath
          - CustomServerCert
          - HashicorpVault
          - K8SCertManager
          type: string
          example: SelfSigned
        customCertInfo:
          $ref: '#/components/schemas/CustomCertInfo'
        customServerCertData:
          $ref: '#/components/schemas/CustomServerCertData'
        hcVaultCertParams:
          $ref: '#/components/schemas/HashicorpVaultConfigParams'
        keyContent:
          type: string
          example: example-key
        label:
          type: string
          example: example-label
      required:
      - certContent
      - certExpiry
      - certStart
      - certType
      - label
      type: object
    CertificateDetails:
      example:
        yugabytedb.key: yugabytedb.key
        yugabytedb.crt: yugabytedb.crt
      properties:
        yugabytedb.crt:
          type: string
          example: example-yugabytedb.crt
        yugabytedb.key:
          type: string
          example: example-key
      type: object
    CustomServerCertData_2:
      example:
        serverCertContent: serverCertContent
        serverKeyContent: serverKeyContent
      properties:
        serverCertContent:
          type: string
        serverKeyContent:
          type: string
      required:
      - serverCertContent
      - serverKeyContent
      type: object
    HashicorpVaultConfigParams_2:
      example:
        vaultAddr: vaultAddr
        vaultRoleID: vaultRoleID
        mountPath: mountPath
        role: role
        engine: engine
        ttlExpiry: 6
        vaultAuthNamespace: vaultAuthNamespace
        vaultSecretID: vaultSecretID
        ttl: 0
        vaultToken: vaultToken
      properties:
        engine:
          type: string
        mountPath:
          type: string
        role:
          type: string
        ttl:
          format: int64
          type: integer
        ttlExpiry:
          format: int64
          type: integer
        vaultAddr:
          type: string
        vaultAuthNamespace:
          type: string
        vaultRoleID:
          type: string
        vaultSecretID:
          type: string
        vaultToken:
          type: string
      required:
      - engine
      - mountPath
      - role
      - vaultAddr
      type: object
    ClientCertParams_2:
      example:
        certStart: 6
        certExpiry: 0
        username: username
      properties:
        certExpiry:
          format: int64
          type: integer
        certStart:
          format: int64
          type: integer
        username:
          type: string
      required:
      - certExpiry
      - certStart
      - username
      type: object
    CustomCertInfo_2:
      example:
        nodeCertPath: nodeCertPath
        nodeKeyPath: nodeKeyPath
        clientKeyPath: clientKeyPath
        clientCertPath: clientCertPath
        rootCertPath: rootCertPath
      properties:
        clientCertPath:
          type: string
        clientKeyPath:
          type: string
        nodeCertPath:
          type: string
        nodeKeyPath:
          type: string
        rootCertPath:
          type: string
      required:
      - clientCertPath
      - clientKeyPath
      - nodeCertPath
      - nodeKeyPath
      - rootCertPath
      type: object
    CertificateInfoExt_2:
      description: SSL certificate used by the universe
      example:
        customServerCertInfo:
          serverCert: serverCert
          serverKey: serverKey
        certType: SelfSigned
        customHCPKICertInfo:
          vaultAddr: vaultAddr
          vaultRoleID: vaultRoleID
          mountPath: mountPath
          role: role
          engine: engine
          ttlExpiry: 6
          vaultAuthNamespace: vaultAuthNamespace
          vaultSecretID: vaultSecretID
          ttl: 0
          vaultToken: vaultToken
        certificate: /opt/yugaware/certs/.../ca.root.cert
        label: yb-admin-example
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        expiryDateIso: 2022-12-12 13:07:18+00:00
        expiryDate: 2000-01-23 04:56:07+00:00
        privateKey: /opt/yugaware/.../example.key.pem
        customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        universeDetails:
        - universePaused: true
          updateSucceeded: true
          name: name
          updateInProgress: true
          creationDate: 1
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - universePaused: true
          updateSucceeded: true
          name: name
          updateInProgress: true
          creationDate: 1
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        startDateIso: 2022-12-12 13:07:18+00:00
        universeDetailSubsets:
        - universePaused: true
          updateSucceeded: true
          name: name
          updateInProgress: true
          creationDate: 1
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - universePaused: true
          updateSucceeded: true
          name: name
          updateInProgress: true
          creationDate: 1
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        checksum: checksum
        inUse: true
        customCertPathParams:
          nodeCertPath: nodeCertPath
          nodeKeyPath: nodeKeyPath
          clientKeyPath: clientKeyPath
          clientCertPath: clientCertPath
          rootCertPath: rootCertPath
        startDate: 2000-01-23 04:56:07+00:00
      properties:
        certType:
          description: Type of the certificate
          enum:
          - SelfSigned
          - CustomCertHostPath
          - CustomServerCert
          - HashicorpVault
          - K8SCertManager
          example: SelfSigned
          type: string
        certificate:
          description: Certificate path
          example: /opt/yugaware/certs/.../ca.root.cert
          type: string
        checksum:
          description: The certificate file's checksum
          readOnly: true
          type: string
        customCertPathParams:
          $ref: '#/components/schemas/CustomCertInfo_2'
        customHCPKICertInfo:
          $ref: '#/components/schemas/HashicorpVaultConfigParams_2'
        customServerCertInfo:
          $ref: '#/components/schemas/CustomServerCertInfo_2'
        customerUUID:
          description: Customer UUID of the backup which it belongs to
          format: uuid
          type: string
        expiryDate:
          description: The certificate's expiry date. <b style="color:#ff0000">Deprecated since YBA version 2.17.2.0.</b> Use expirtyDateIso instead
          format: date-time
          type: string
        expiryDateIso:
          description: The certificate's expiry date
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        inUse:
          description: Indicates whether the certificate is in use. This value is `true` if the universe contains a reference to the certificate.
          readOnly: true
          type: boolean
        label:
          description: Certificate label
          example: yb-admin-example
          type: string
        privateKey:
          description: Private key path
          example: /opt/yugaware/.../example.key.pem
          type: string
        startDate:
          description: The certificate's creation date. <b style="color:#ff0000">Deprecated since YBA version 2.17.2.0.</b> Use stateDateIso instead
          format: date-time
          type: string
        startDateIso:
          description: The certificate's creation date
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        universeDetailSubsets:
          items:
            $ref: '#/components/schemas/UniverseDetailSubset_2'
          type: array
        universeDetails:
          description: Associated universe details for the certificate
          items:
            $ref: '#/components/schemas/UniverseDetailSubset_2'
          readOnly: true
          type: array
        uuid:
          description: Certificate UUID
          format: uuid
          readOnly: true
          type: string
      required:
      - customCertPathParams
      - customHCPKICertInfo
      - customServerCertInfo
      - universeDetailSubsets
      type: object
    CustomServerCertInfo_2:
      example:
        serverCert: serverCert
        serverKey: serverKey
      properties:
        serverCert:
          type: string
        serverKey:
          type: string
      required:
      - serverCert
      - serverKey
      type: object
    UniverseDetailSubset_2:
      description: A small subset of universe information
      example:
        universePaused: true
        updateSucceeded: true
        name: name
        updateInProgress: true
        creationDate: 1
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        creationDate:
          format: int64
          type: integer
        name:
          type: string
        universePaused:
          type: boolean
        updateInProgress:
          type: boolean
        updateSucceeded:
          type: boolean
        uuid:
          format: uuid
          type: string
      required:
      - creationDate
      - name
      - universePaused
      - updateInProgress
      - updateSucceeded
      - uuid
      type: object
    YBPSuccess_2:
      example:
        success: true
        message: message
      properties:
        message:
          description: API response message.
          readOnly: true
          type: string
        success:
          description: API operation status. A value of true indicates the operation was successful.
          readOnly: true
          type: boolean
      type: object
    CertificateParams_2:
      description: Certificate Params is used to validate constraints for the custom certificate Data
      example:
        certStart: 6
        customCertInfo:
          nodeCertPath: nodeCertPath
          nodeKeyPath: nodeKeyPath
          clientKeyPath: clientKeyPath
          clientCertPath: clientCertPath
          rootCertPath: rootCertPath
        customServerCertData:
          serverCertContent: serverCertContent
          serverKeyContent: serverKeyContent
        certType: SelfSigned
        certContent: certContent
        certExpiry: 0
        keyContent: keyContent
        label: label
        hcVaultCertParams:
          vaultAddr: vaultAddr
          vaultRoleID: vaultRoleID
          mountPath: mountPath
          role: role
          engine: engine
          ttlExpiry: 6
          vaultAuthNamespace: vaultAuthNamespace
          vaultSecretID: vaultSecretID
          ttl: 0
          vaultToken: vaultToken
      properties:
        certContent:
          type: string
        certExpiry:
          format: int64
          type: integer
        certStart:
          format: int64
          type: integer
        certType:
          enum:
          - SelfSigned
          - CustomCertHostPath
          - CustomServerCert
          - HashicorpVault
          - K8SCertManager
          type: string
        customCertInfo:
          $ref: '#/components/schemas/CustomCertInfo_2'
        customServerCertData:
          $ref: '#/components/schemas/CustomServerCertData_2'
        hcVaultCertParams:
          $ref: '#/components/schemas/HashicorpVaultConfigParams_2'
        keyContent:
          type: string
        label:
          type: string
      required:
      - certContent
      - certExpiry
      - certStart
      - certType
      - label
      type: object
    CertificateDetails_2:
      example:
        yugabytedb.key: yugabytedb.key
        yugabytedb.crt: yugabytedb.crt
      properties:
        yugabytedb.crt:
          type: string
        yugabytedb.key:
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the YugabyteDB Aeon UI under User Profile > API Keys. Pass the key as a Bearer token in the Authorization header.
definitions:
  YBPSuccess:
    properties:
      message:
        description: API response message.
        readOnly: true
        type: string
      success:
        description: API operation status. A value of true indicates the operation was successful.
        readOnly: true
        type: boolean
    type: object
  HashicorpVaultConfigParams:
    properties:
      engine:
        type: string
      mountPath:
        type: string
      role:
        type: string
      ttl:
        format: int64
        type: integer
      ttlExpiry:
        format: int64
        type: integer
      vaultAddr:
        type: string
      vaultToken:
        type: string
    required:
    - engine
    - mountPath
    - role
    - vaultAddr
    - vaultToken
    type: object
  ClientCertParams:
    properties:
      certExpiry:
        format: int64
        type: integer
      certStart:
        format: int64
        type: integer
      username:
        type: string
    required:
    - certExpiry
    - certStart
    - username
    type: object
  CustomCertInfo:
    properties:
      clientCertPath:
        type: string
      clientKeyPath:
        type: string
      nodeCertPath:
        type: string
      nodeKeyPath:
        type: string
      rootCertPath:
        type: string
    required:
    - clientCertPath
    - clientKeyPath
    - nodeCertPath
    - nodeKeyPath
    - rootCertPath
    type: object
  YBPError:
    description: Generic error response from the YugabyteDB Anywhere API
    properties:
      error:
        description: User-visible unstructured error message
        example: There was a problem creating the universe
        type: string
      errorJson:
        description: User visible error message as json object
        example: '{ "foo" : "bar", "baz" : [1, 2, 3] }'
        type: object
      success:
        description: Always set to false to indicate failure
        example: false
        type: boolean
    type: object
  CertificateRoot:
    description: 'UNOFFICIAL ADDITION: Root certificate for a universe'
    properties:
      root.crt:
        type: string
    type: object
  UniverseDetailSubset:
    description: A small subset of universe information
    properties:
      creationDate:
        format: int64
        type: integer
      name:
        type: string
      universePaused:
        type: boolean
      updateInProgress:
        type: boolean
      updateSucceeded:
        type: boolean
      uuid:
        format: uuid
        type: string
    required:
    - creationDate
    - name
    - universePaused
    - updateInProgress
    - updateSucceeded
    - uuid
    type: object
  CertificateDetails:
    properties:
      yugabytedb.crt:
        type: string
      yugabytedb.key:
        type: string
    type: object
  CustomServerCertData:
    properties:
      serverCertContent:
        type: string
      serverKeyContent:
        type: string
    required:
    - serverCertContent
    - serverKeyContent
    type: object
  CustomServerCertInfo:
    properties:
      serverCert:
        type: string
      serverKey:
        type: string
    required:
    - serverCert
    - serverKey
    type: object
  CertificateInfo:
    description: SSL certificate used by the universe
    properties:
      certType:
        description: Type of the certificate
        enum:
        - SelfSigned
        - CustomCertHostPath
        - CustomServerCert
        - HashicorpVault
        example: SelfSigned
        type: string
      certificate:
        description: Certificate path
        example: /opt/yugaware/certs/.../ca.root.cert
        type: string
      checksum:
        description: The certificate file's checksum
        readOnly: true
        type: string
      customCertPathParams:
        $ref: '#/definitions/CustomCertInfo'
      customHCPKICertInfo:
        $ref: '#/definitions/HashicorpVaultConfigParams'
      customServerCertInfo:
        $ref: '#/definitions/CustomServerCertInfo'
      customerUUID:
        description: Customer UUID of the backup which it belongs to
        format: uuid
        type: string
      expiryDate:
        description: The certificate's expiry date
        format: date-time
        type: string
      inUse:
        description: Indicates whether the certificate is in use. This value is `true` if the universe contains a reference to the certificate.
        readOnly: true
        type: boolean
      label:
        description: Certificate label
        example: yb-admin-example
        type: string
      privateKey:
        description: Private key path
        example: /opt/yugaware/.../example.key.pem
        type: string
      startDate:
        description: The certificate's creation date
        format: date-time
        type: string
      universeDetails:
        description: Associated universe details for the certificate
        items:
          $ref: '#/definitions/UniverseDetailSubset'
        readOnly: true
        type: array
      uuid:
        description: Certificate UUID
        format: uuid
        readOnly: true
        type: string
    required:
    - customCertPathParams
    - customHCPKICertInfo
    - customServerCertInfo
    type: object
  CertificateParams:
    properties:
      certContent:
        type: string
      certExpiry:
        format: int64
        type: integer
      certStart:
        format: int64
        type: integer
      certType:
        enum:
        - SelfSigned
        - CustomCertHostPath
        - CustomServerCert
        - HashicorpVault
        type: string
      customCertInfo:
        $ref: '#/definitions/CustomCertInfo'
      customServerCertData:
        $ref: '#/definitions/CustomServerCertData'
      hcVaultCertParams:
        $ref: '#/definitions/HashicorpVaultConfigParams'
      keyContent:
        type: string
      label:
        type: string
    required:
    - certContent
    - certExpiry
    - certStart
    - certType
    - customCertInfo
    - customServerCertData
    - hcVaultCertParams
    - keyContent
    - label
    type: object
externalDocs:
  description: YugabyteDB Aeon REST API Documentation
  url: https://docs.yugabyte.com/stable/yugabyte-cloud/managed-automation/managed-api/
