openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Asynchronous Replication API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: Asynchronous Replication
paths:
  /api/v1/customers/{cUUID}/universes/{uniUUID}/need_bootstrap:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: needBootstrapTable
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: configType
        schema:
          default: 'null'
          type: string
        example: 'null'
      - in: query
        name: includeDetails
        schema:
          default: false
          type: boolean
        example: false
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XClusterConfigNeedBootstrapFormData'
            examples:
              NeedBootstrapTableRequestExample:
                summary: Default needBootstrapTable request
                x-microcks-default: true
                value:
                  targetUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  isDrConfig: true
                  tables: '["000033df00003000800000000000400b"]'
        description: XCluster Need Bootstrap Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties:
                  properties: {}
                  type: object
                type: object
              examples:
                NeedBootstrapTable200Example:
                  summary: Default needBootstrapTable 200 response
                  x-microcks-default: true
                  value: {}
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Whether Tables Need Bootstrap Before Setting Up Cross Cluster Replication
      tags:
      - Asynchronous Replication
      x-codegen-request-body-name: xcluster_need_bootstrap_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/xcluster_configs:
    post:
      description: Available since YBA version 2.16.0.0.
      operationId: createXClusterConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XClusterConfigCreateFormData'
            examples:
              CreateXClusterConfigRequestExample:
                summary: Default createXClusterConfig request
                x-microcks-default: true
                value:
                  targetUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  tables: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
                  dryRun: true
                  bootstrapParams:
                    tables: '["000033df000030008000000000004006"]'
                    allowBootstrap: true
                    backupRequestParams:
                      storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      parallelism: 0
                  name: Repl-config1
                  sourceUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  configType: Basic
        description: XCluster Replication Create Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                CreateXClusterConfig200Example:
                  summary: Default createXClusterConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create Xcluster Config
      tags:
      - Asynchronous Replication
      x-codegen-request-body-name: xcluster_replication_create_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/xcluster_configs/sync:
    post:
      deprecated: true
      description: <b style="color:#ff0000">Deprecated since YBA version 2.23.0.0.</b></p> Sync xcluster config (V2) instead.
      operationId: syncXClusterConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: targetUniverseUUID
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                SyncXClusterConfig200Example:
                  summary: Default syncXClusterConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Sync Xcluster Config - Deprecated
      tags:
      - Asynchronous Replication
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/xcluster_configs/{xccUUID}:
    delete:
      description: Available since YBA version 2.16.0.0.
      operationId: deleteXClusterConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: xccUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: isForceDelete
        schema:
          default: false
          type: boolean
        example: false
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                DeleteXClusterConfig200Example:
                  summary: Default deleteXClusterConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete Xcluster Config
      tags:
      - Asynchronous Replication
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Available since YBA version 2.16.0.0.
      operationId: getXClusterConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: xccUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: syncWithDB
        schema:
          default: true
          type: boolean
        example: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XClusterConfigGetResp'
              examples:
                GetXClusterConfig200Example:
                  summary: Default getXClusterConfig 200 response
                  x-microcks-default: true
                  value:
                    paused: true
                    replicationGroupName: replicationGroupName
                    targetUniverseState: Unconfigured for DR
                    type: Basic
                    usedForDr: true
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    tableType: UNKNOWN
                    tables:
                    - tables
                    - tables
                    lag: '{}'
                    modifyTime: 2022-12-12 13:07:18+00:00
                    targetActive: true
                    imported: true
                    namespaceDetails:
                    - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      sourceNamespaceId: sourceNamespaceId
                      backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      replicationSetupTime: 2022-12-12 13:07:18+00:00
                      sourceNamespaceInfo:
                        tableType: YQL_TABLE_TYPE
                        name: name
                        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      targetNamespaceInfo:
                        tableType: YQL_TABLE_TYPE
                        name: name
                        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      status: Validated
                    - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      sourceNamespaceId: sourceNamespaceId
                      backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      replicationSetupTime: 2022-12-12 13:07:18+00:00
                      sourceNamespaceInfo:
                        tableType: YQL_TABLE_TYPE
                        name: name
                        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      targetNamespaceInfo:
                        tableType: YQL_TABLE_TYPE
                        name: name
                        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      status: Validated
                    tableDetails:
                    - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      streamId: a9d2470786694dc4b34e0e58e592da9e
                      backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      replicationStatusErrors:
                      - Unknown error
                      - Unknown error
                      sourceTableInfo:
                        relationType: SYSTEM_TABLE_RELATION
                        colocated: true
                        walSizeBytes: 3.616076749251911
                        indexTableIDs:
                        - indexTableIDs
                        - indexTableIDs
                        pgSchemaName: public
                        sizeBytes: 9.301444243932576
                        tableName: tableName
                        tableSpace: tableSpace
                        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        tableType: YQL_TABLE_TYPE
                        keySpace: keySpace
                        tableID: tableID
                        nameSpace: nameSpace
                        colocationParentId: colocationParentId
                      replicationSetupDone: true
                      restoreTime: 2022-12-12 13:07:18+00:00
                      bootstrapCreateTime: 2022-12-12 13:07:18+00:00
                      indexTable: true
                      tableId: 000033df000030008000000000004005
                      targetTableInfo:
                        relationType: SYSTEM_TABLE_RELATION
                        colocated: true
                        walSizeBytes: 3.616076749251911
                        indexTableIDs:
                        - indexTableIDs
                        - indexTableIDs
                        pgSchemaName: public
                        sizeBytes: 9.301444243932576
                        tableName: tableName
                        tableSpace: tableSpace
                        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        tableType: YQL_TABLE_TYPE
                        keySpace: keySpace
                        tableID: tableID
                        nameSpace: nameSpace
                        colocationParentId: colocationParentId
                      needBootstrap: true
                      status: Validated
                    - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      streamId: a9d2470786694dc4b34e0e58e592da9e
                      backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      replicationStatusErrors:
                      - Unknown error
                      - Unknown error
                      sourceTableInfo:
                        relationType: SYSTEM_TABLE_RELATION
                        colocated: true
                        walSizeBytes: 3.616076749251911
                        indexTableIDs:
                        - indexTableIDs
                        - indexTableIDs
                        pgSchemaName: public
                        sizeBytes: 9.301444243932576
                        tableName: tableName
                        tableSpace: tableSpace
                        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        tableType: YQL_TABLE_TYPE
                        keySpace: keySpace
                        tableID: tableID
                        nameSpace: nameSpace
                        colocationParentId: colocationParentId
                      replicationSetupDone: true
                      restoreTime: 2022-12-12 13:07:18+00:00
                      bootstrapCreateTime: 2022-12-12 13:07:18+00:00
                      indexTable: true
                      tableId: 000033df000030008000000000004005
                      targetTableInfo:
                        relationType: SYSTEM_TABLE_RELATION
                        colocated: true
                        walSizeBytes: 3.616076749251911
                        indexTableIDs:
                        - indexTableIDs
                        - indexTableIDs
                        pgSchemaName: public
                        sizeBytes: 9.301444243932576
                        tableName: tableName
                        tableSpace: tableSpace
                        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        tableType: YQL_TABLE_TYPE
                        keySpace: keySpace
                        tableID: tableID
                        nameSpace: nameSpace
                        colocationParentId: colocationParentId
                      needBootstrap: true
                      status: Validated
                    targetUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    pitrConfigs:
                    - dbName: dbName
                      updateTime: 2022-12-12 13:07:18+00:00
                      createdForDr: true
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      minRecoverTimeInMillis: 1
                      scheduleInterval: 5
                      tableType: YQL_TABLE_TYPE
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      createTime: 2022-12-12 13:07:18+00:00
                      intermittentMinRecoverTimeInMillis: 0
                      maxRecoverTimeInMillis: 6
                      name: name
                      disabled: true
                      usedForXCluster: true
                      state: UNKNOWN
                      retentionPeriod: 5
                    - dbName: dbName
                      updateTime: 2022-12-12 13:07:18+00:00
                      createdForDr: true
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      minRecoverTimeInMillis: 1
                      scheduleInterval: 5
                      tableType: YQL_TABLE_TYPE
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      createTime: 2022-12-12 13:07:18+00:00
                      intermittentMinRecoverTimeInMillis: 0
                      maxRecoverTimeInMillis: 6
                      name: name
                      disabled: true
                      usedForXCluster: true
                      state: UNKNOWN
                      retentionPeriod: 5
                    secondary: true
                    automaticDdlMode: true
                    dbs:
                    - dbs
                    - dbs
                    createTime: 2022-12-12 13:07:18+00:00
                    name: name
                    sourceUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    keyspacePending: keyspacePending
                    sourceActive: true
                    namespaces:
                    - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      sourceNamespaceId: sourceNamespaceId
                      backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      replicationSetupTime: 2022-12-12 13:07:18+00:00
                      sourceNamespaceInfo:
                        tableType: YQL_TABLE_TYPE
                        name: name
                        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      targetNamespaceInfo:
                        tableType: YQL_TABLE_TYPE
                        name: name
                        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      status: Validated
                    - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      sourceNamespaceId: sourceNamespaceId
                      backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      replicationSetupTime: 2022-12-12 13:07:18+00:00
                      sourceNamespaceInfo:
                        tableType: YQL_TABLE_TYPE
                        name: name
                        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      targetNamespaceInfo:
                        tableType: YQL_TABLE_TYPE
                        name: name
                        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      status: Validated
                    sourceUniverseState: Unconfigured for DR
                    status: Initialized
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Xcluster Config
      tags:
      - Asynchronous Replication
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Available since YBA version 2.16.0.0.
      operationId: restartXClusterConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: xccUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: isForceDelete
        schema:
          default: false
          type: boolean
        example: false
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XClusterConfigRestartFormData'
            examples:
              RestartXClusterConfigRequestExample:
                summary: Default restartXClusterConfig request
                x-microcks-default: true
                value:
                  tables: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
                  dryRun: true
                  bootstrapParams:
                    backupRequestParams:
                      storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      parallelism: 0
        description: XCluster Replication Restart Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                RestartXClusterConfig200Example:
                  summary: Default restartXClusterConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Restart Xcluster Config
      tags:
      - Asynchronous Replication
      x-codegen-request-body-name: xcluster_replication_restart_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Available since YBA version 2.16.0.0.
      operationId: editXClusterConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: xccUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XClusterConfigEditFormData'
            examples:
              EditXClusterConfigRequestExample:
                summary: Default editXClusterConfig request
                x-microcks-default: true
                value:
                  tables: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
                  dryRun: true
                  bootstrapParams:
                    tables: '["000033df000030008000000000004006"]'
                    allowBootstrap: true
                    backupRequestParams:
                      storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      parallelism: 0
                  dbs: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
                  autoIncludeIndexTables: true
                  targetRole: ACTIVE
                  name: Repl-config1
                  sourceRole: ACTIVE
                  status: Running
        description: XCluster Replication Edit Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                EditXClusterConfig200Example:
                  summary: Default editXClusterConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Edit Xcluster Config
      tags:
      - Asynchronous Replication
      x-codegen-request-body-name: xcluster_replication_edit_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/xcluster_configs/{xccUUID}/need_bootstrap:
    post:
      description: YbaApi Internal.
      operationId: NeedBootstrapXClusterConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: xccUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XClusterConfigNeedBootstrapFormData'
            examples:
              NeedBootstrapXClusterConfigRequestExample:
                summary: Default NeedBootstrapXClusterConfig request
                x-microcks-default: true
                value:
                  targetUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  isDrConfig: true
                  tables: '["000033df00003000800000000000400b"]'
        description: XCluster Need Bootstrap Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties:
                  properties: {}
                  type: object
                type: object
              examples:
                NeedBootstrapXClusterConfig200Example:
                  summary: Default NeedBootstrapXClusterConfig 200 response
                  x-microcks-default: true
                  value: {}
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Whether Tables in an XCluster Replication Config Have Fallen Far Behind and Need Bootstrap
      tags:
      - Asynchronous Replication
      x-codegen-request-body-name: xcluster_need_bootstrap_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/xcluster_configs/{xccUUID}/sync:
    post:
      description: Available since YBA version 2.23.0.0
      operationId: syncXClusterConfigV2
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: xccUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                SyncXClusterConfigV2200Example:
                  summary: Default syncXClusterConfigV2 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Sync Xcluster Config (V2)
      tags:
      - Asynchronous Replication
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    XClusterConfigEditFormData:
      description: xcluster edit form
      example:
        tables: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
        dryRun: true
        bootstrapParams:
          tables: '["000033df000030008000000000004006"]'
          allowBootstrap: true
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
        dbs: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
        autoIncludeIndexTables: true
        targetRole: ACTIVE
        name: Repl-config1
        sourceRole: ACTIVE
        status: Running
      properties:
        autoIncludeIndexTables:
          description: Whether or not YBA should also include all index tables from any provided main tables.
          type: boolean
          example: true
        bootstrapParams:
          $ref: '#/components/schemas/BootstrapParams'
        dbs:
          description: 'WARNING: This is a preview API that could change. Source universe database IDs'
          example: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
          items:
            type: string
          type: array
          uniqueItems: true
        dryRun:
          description: Run the pre-checks without actually running the subtasks
          type: boolean
          example: true
        name:
          description: Name
          example: Repl-config1
          type: string
        sourceRole:
          description: The role that the source universe should have in the xCluster config
          enum:
          - ACTIVE
          - STANDBY
          - UNRECOGNIZED
          type: string
          example: ACTIVE
        status:
          description: Status
          enum:
          - Running
          - Paused
          type: string
          example: Running
        tables:
          description: Source universe table IDs
          example: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
          items:
            type: string
          type: array
          uniqueItems: true
        targetRole:
          description: The role that the target universe should have in the xCluster config
          enum:
          - ACTIVE
          - STANDBY
          - UNRECOGNIZED
          type: string
          example: ACTIVE
      type: object
    TableInfoResp:
      description: Table information response
      example:
        relationType: SYSTEM_TABLE_RELATION
        colocated: true
        walSizeBytes: 3.616076749251911
        indexTableIDs:
        - indexTableIDs
        - indexTableIDs
        pgSchemaName: public
        sizeBytes: 9.301444243932576
        tableName: tableName
        tableSpace: tableSpace
        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableType: YQL_TABLE_TYPE
        keySpace: keySpace
        tableID: tableID
        nameSpace: nameSpace
        colocationParentId: colocationParentId
      properties:
        colocated:
          description: Flag, indicating colocated table
          type: boolean
          example: true
        colocationParentId:
          description: Colocation parent id
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        indexTableIDs:
          description: Index Table IDs of main table
          items:
            type: string
          type: array
          example:
          - example-indexTableIDs
        keySpace:
          description: Keyspace
          type: string
          example: example-key
        mainTableUUID:
          description: Main Table UUID of index tables
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        nameSpace:
          description: Namespace or Schema
          type: string
          example: example-nameSpace
        parentTableUUID:
          description: Parent Table UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        pgSchemaName:
          description: Postgres schema name of the table
          example: public
          type: string
        relationType:
          description: Relation type
          enum:
          - SYSTEM_TABLE_RELATION
          - USER_TABLE_RELATION
          - INDEX_TABLE_RELATION
          - MATVIEW_TABLE_RELATION
          - COLOCATED_PARENT_TABLE_RELATION
          type: string
          example: SYSTEM_TABLE_RELATION
        sizeBytes:
          description: SST size in bytes
          format: double
          readOnly: true
          type: number
          example: 1.5
        tableID:
          description: Table ID
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableName:
          description: Table name
          type: string
          example: example-tableName
        tableSpace:
          description: Table space
          type: string
          example: example-tableSpace
        tableType:
          description: Table type
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
          example: YQL_TABLE_TYPE
        tableUUID:
          description: Table UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        walSizeBytes:
          description: WAL size in bytes
          format: double
          readOnly: true
          type: number
          example: 1.5
      type: object
    NamespaceInfoResp:
      description: Namespace information response
      example:
        tableType: YQL_TABLE_TYPE
        name: name
        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        name:
          description: Namespace name
          type: string
          example: example-name
        namespaceUUID:
          description: Namespace UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableType:
          description: Table type
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
          example: YQL_TABLE_TYPE
      type: object
    XClusterTableConfig:
      example:
        restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        streamId: a9d2470786694dc4b34e0e58e592da9e
        backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        replicationStatusErrors:
        - Unknown error
        - Unknown error
        sourceTableInfo:
          relationType: SYSTEM_TABLE_RELATION
          colocated: true
          walSizeBytes: 3.616076749251911
          indexTableIDs:
          - indexTableIDs
          - indexTableIDs
          pgSchemaName: public
          sizeBytes: 9.301444243932576
          tableName: tableName
          tableSpace: tableSpace
          tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          tableType: YQL_TABLE_TYPE
          keySpace: keySpace
          tableID: tableID
          nameSpace: nameSpace
          colocationParentId: colocationParentId
        replicationSetupDone: true
        restoreTime: 2022-12-12 13:07:18+00:00
        bootstrapCreateTime: 2022-12-12 13:07:18+00:00
        indexTable: true
        tableId: 000033df000030008000000000004005
        targetTableInfo:
          relationType: SYSTEM_TABLE_RELATION
          colocated: true
          walSizeBytes: 3.616076749251911
          indexTableIDs:
          - indexTableIDs
          - indexTableIDs
          pgSchemaName: public
          sizeBytes: 9.301444243932576
          tableName: tableName
          tableSpace: tableSpace
          tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          tableType: YQL_TABLE_TYPE
          keySpace: keySpace
          tableID: tableID
          nameSpace: nameSpace
          colocationParentId: colocationParentId
        needBootstrap: true
        status: Validated
      properties:
        backupUuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        bootstrapCreateTime:
          description: Time of the bootstrap of the table
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        indexTable:
          description: YbaApi Internal. Whether this table is an index table and its main table is in replication
          type: boolean
          example: true
        needBootstrap:
          description: YbaApi Internal. Whether this table needs bootstrap process for replication setup
          type: boolean
          example: true
        replicationSetupDone:
          description: YbaApi Internal. Whether replication is set up for this table
          type: boolean
          example: true
        replicationStatusErrors:
          description: Short human readable replication status error messages
          items:
            enum:
            - Unknown error
            - Missing op ID
            - Schema mismatch
            - Missing table
            - Uninitialized
            - Auto flag config mismatch
            - Source unreachable
            - System error
            type: string
          type: array
          uniqueItems: true
          example:
          - Unknown error
        restoreTime:
          description: Time of the last try to restore data to the target universe
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        restoreUuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        sourceTableInfo:
          $ref: '#/components/schemas/TableInfoResp'
        status:
          description: Status
          enum:
          - Validated
          - Running
          - Updating
          - Warning
          - Error
          - Bootstrapping
          - Failed
          - UnableToFetch
          type: string
          example: Validated
        streamId:
          description: Stream ID if replication is setup; bootstrap ID if the table is bootstrapped
          example: a9d2470786694dc4b34e0e58e592da9e
          type: string
        tableId:
          description: Table ID
          example: 000033df000030008000000000004005
          type: string
        targetTableInfo:
          $ref: '#/components/schemas/TableInfoResp'
      required:
      - backupUuid
      - restoreUuid
      type: object
    XClusterConfigGetResp:
      description: xcluster get response
      example:
        paused: true
        replicationGroupName: replicationGroupName
        targetUniverseState: Unconfigured for DR
        type: Basic
        usedForDr: true
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableType: UNKNOWN
        tables:
        - tables
        - tables
        lag: '{}'
        modifyTime: 2022-12-12 13:07:18+00:00
        targetActive: true
        imported: true
        namespaceDetails:
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          sourceNamespaceId: sourceNamespaceId
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationSetupTime: 2022-12-12 13:07:18+00:00
          sourceNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          targetNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Validated
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          sourceNamespaceId: sourceNamespaceId
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationSetupTime: 2022-12-12 13:07:18+00:00
          sourceNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          targetNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Validated
        tableDetails:
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          streamId: a9d2470786694dc4b34e0e58e592da9e
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationStatusErrors:
          - Unknown error
          - Unknown error
          sourceTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          replicationSetupDone: true
          restoreTime: 2022-12-12 13:07:18+00:00
          bootstrapCreateTime: 2022-12-12 13:07:18+00:00
          indexTable: true
          tableId: 000033df000030008000000000004005
          targetTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          needBootstrap: true
          status: Validated
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          streamId: a9d2470786694dc4b34e0e58e592da9e
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationStatusErrors:
          - Unknown error
          - Unknown error
          sourceTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          replicationSetupDone: true
          restoreTime: 2022-12-12 13:07:18+00:00
          bootstrapCreateTime: 2022-12-12 13:07:18+00:00
          indexTable: true
          tableId: 000033df000030008000000000004005
          targetTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          needBootstrap: true
          status: Validated
        targetUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        pitrConfigs:
        - dbName: dbName
          updateTime: 2022-12-12 13:07:18+00:00
          createdForDr: true
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          minRecoverTimeInMillis: 1
          scheduleInterval: 5
          tableType: YQL_TABLE_TYPE
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          createTime: 2022-12-12 13:07:18+00:00
          intermittentMinRecoverTimeInMillis: 0
          maxRecoverTimeInMillis: 6
          name: name
          disabled: true
          usedForXCluster: true
          state: UNKNOWN
          retentionPeriod: 5
        - dbName: dbName
          updateTime: 2022-12-12 13:07:18+00:00
          createdForDr: true
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          minRecoverTimeInMillis: 1
          scheduleInterval: 5
          tableType: YQL_TABLE_TYPE
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          createTime: 2022-12-12 13:07:18+00:00
          intermittentMinRecoverTimeInMillis: 0
          maxRecoverTimeInMillis: 6
          name: name
          disabled: true
          usedForXCluster: true
          state: UNKNOWN
          retentionPeriod: 5
        secondary: true
        automaticDdlMode: true
        dbs:
        - dbs
        - dbs
        createTime: 2022-12-12 13:07:18+00:00
        name: name
        sourceUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        keyspacePending: keyspacePending
        sourceActive: true
        namespaces:
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          sourceNamespaceId: sourceNamespaceId
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationSetupTime: 2022-12-12 13:07:18+00:00
          sourceNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          targetNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Validated
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          sourceNamespaceId: sourceNamespaceId
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationSetupTime: 2022-12-12 13:07:18+00:00
          sourceNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          targetNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Validated
        sourceUniverseState: Unconfigured for DR
        status: Initialized
      properties:
        automaticDdlMode:
          readOnly: true
          type: boolean
          example: true
        createTime:
          description: Create time of the xCluster config
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        dbs:
          items:
            type: string
          readOnly: true
          type: array
          uniqueItems: true
          example:
          - example-dbs
        imported:
          description: YbaApi Internal. Whether this xCluster replication config was imported
          type: boolean
          example: true
        keyspacePending:
          description: 'WARNING: This is a preview API that could change. The keyspace name that the xCluster task is working on; used for disaster recovery'
          type: string
          example: example-key
        lag:
          description: Lag metric data
          properties: {}
          type: object
          example: {}
        modifyTime:
          description: Last modify time of the xCluster config
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        name:
          description: XCluster config name
          type: string
          example: example-name
        namespaceDetails:
          description: Namespaces participating in this xCluster config
          items:
            $ref: '#/components/schemas/XClusterNamespaceConfig'
          readOnly: true
          type: array
          uniqueItems: true
          example:
          - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            sourceNamespaceId: sourceNamespaceId
            backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            replicationSetupTime: '2022-12-12T13:07:18+00:00'
            sourceNamespaceInfo:
              tableType: YQL_TABLE_TYPE
              name: name
              namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            targetNamespaceInfo:
              tableType: YQL_TABLE_TYPE
              name: name
              namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            status: Validated
        namespaces:
          items:
            $ref: '#/components/schemas/XClusterNamespaceConfig'
          type: array
          uniqueItems: true
          example:
          - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            sourceNamespaceId: sourceNamespaceId
            backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            replicationSetupTime: '2022-12-12T13:07:18+00:00'
            sourceNamespaceInfo:
              tableType: YQL_TABLE_TYPE
              name: name
              namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            targetNamespaceInfo:
              tableType: YQL_TABLE_TYPE
              name: name
              namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            status: Validated
        paused:
          description: Whether this xCluster replication config is paused
          type: boolean
          example: true
        pitrConfigs:
          description: 'WARNING: This is a preview API that could change. The list of PITR configs used for the txn xCluster config'
          items:
            $ref: '#/components/schemas/PitrConfig'
          type: array
          example:
          - dbName: dbName
            updateTime: '2022-12-12T13:07:18+00:00'
            createdForDr: true
            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            minRecoverTimeInMillis: 1
            scheduleInterval: 5
            tableType: YQL_TABLE_TYPE
            customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            createTime: '2022-12-12T13:07:18+00:00'
            intermittentMinRecoverTimeInMillis: 0
            maxRecoverTimeInMillis: 6
            name: name
            disabled: true
            usedForXCluster: true
            state: UNKNOWN
            retentionPeriod: 5
        replicationGroupName:
          description: Replication group name in the target universe cluster config
          readOnly: true
          type: string
          example: example-replicationGroupName
        secondary:
          description: 'WARNING: This is a preview API that could change. Whether this xCluster config is used as a secondary config for a DR config'
          type: boolean
          example: true
        sourceActive:
          description: Whether the source is active in txn xCluster
          type: boolean
          example: true
        sourceUniverseState:
          description: 'WARNING: This is a preview API that could change. The replication status of the source universe; used for disaster recovery'
          enum:
          - Unconfigured for DR
          - Ready to replicate
          - Waiting for DR
          - Replicating data
          - Preparing for switchover
          - Switching to DR replica
          - Universe marked as DR failed
          type: string
          example: Unconfigured for DR
        sourceUniverseUUID:
          description: Source Universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status:
          description: Status
          enum:
          - Initialized
          - Running
          - Updating
          - DeletedUniverse
          - DeletionFailed
          - Failed
          type: string
          example: Initialized
        tableDetails:
          description: Tables participating in this xCluster config
          items:
            $ref: '#/components/schemas/XClusterTableConfig'
          type: array
          uniqueItems: true
          example:
          - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            streamId: a9d2470786694dc4b34e0e58e592da9e
            backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            replicationStatusErrors:
            - Unknown error
            - Unknown error
            sourceTableInfo:
              relationType: SYSTEM_TABLE_RELATION
              colocated: true
              walSizeBytes: 3.616076749251911
              indexTableIDs:
              - indexTableIDs
              - indexTableIDs
              pgSchemaName: public
              sizeBytes: 9.301444243932576
              tableName: tableName
              tableSpace: tableSpace
              tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              tableType: YQL_TABLE_TYPE
              keySpace: keySpace
              tableID: tableID
              nameSpace: nameSpace
              colocationParentId: colocationParentId
            replicationSetupDone: true
            restoreTime: '2022-12-12T13:07:18+00:00'
            bootstrapCreateTime: '2022-12-12T13:07:18+00:00'
            indexTable: true
            tableId: 000033df000030008000000000004005
            targetTableInfo:
              relationType: SYSTEM_TABLE_RELATION
              colocated: true
              walSizeBytes: 3.616076749251911
              indexTableIDs:
              - indexTableIDs
              - indexTableIDs
              pgSchemaName: public
              sizeBytes: 9.301444243932576
              tableName: tableName
              tableSpace: tableSpace
              tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              tableType: YQL_TABLE_TYPE
              keySpace: keySpace
              tableID: tableID
              nameSpace: nameSpace
              colocationParentId: colocationParentId
            needBootstrap: true
            status: Validated
        tableType:
          description: tableType
          enum:
          - UNKNOWN
          - YSQL
          - YCQL
          type: string
          example: UNKNOWN
        tables:
          items:
            type: string
          readOnly: true
          type: array
          uniqueItems: true
          example:
          - example-tables
        targetActive:
          description: Whether the target is active in txn xCluster
          type: boolean
          example: true
        targetUniverseState:
          description: 'WARNING: This is a preview API that could change. The replication status of the target universe; used for disaster recovery'
          enum:
          - Unconfigured for DR
          - Bootstrapping
          - Receiving data, Ready for reads
          - Switching to DR primary
          - Universe marked as DR failed
          type: string
          example: Unconfigured for DR
        targetUniverseUUID:
          description: Target Universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type:
          description: Whether the config is basic, txn, or db scoped xCluster
          enum:
          - Basic
          - Txn
          - Db
          type: string
          example: Basic
        usedForDr:
          description: 'WARNING: This is a preview API that could change. Whether the xCluster config is used as part of a DR config'
          readOnly: true
          type: boolean
          example: true
        uuid:
          description: XCluster config UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - lag
      - namespaces
      type: object
    XClusterConfigCreateFormData:
      description: xcluster create form
      example:
        targetUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tables: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
        dryRun: true
        bootstrapParams:
          tables: '["000033df000030008000000000004006"]'
          allowBootstrap: true
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
        name: Repl-config1
        sourceUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        configType: Basic
      properties:
        bootstrapParams:
          $ref: '#/components/schemas/BootstrapParams'
        configType:
          description: configType
          enum:
          - Basic
          - Txn
          type: string
          example: Basic
        dryRun:
          description: Run the pre-checks without actually running the subtasks
          type: boolean
          example: true
        name:
          description: Name
          example: Repl-config1
          type: string
        sourceUniverseUUID:
          description: Source Universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tables:
          description: Source Universe table IDs
          example: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
          items:
            type: string
          type: array
          uniqueItems: true
        targetUniverseUUID:
          description: Target Universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - name
      - sourceUniverseUUID
      - tables
      - targetUniverseUUID
      type: object
    BootstrapBackupParams:
      description: Backup parameters for bootstrapping
      example:
        storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        parallelism: 0
      properties:
        parallelism:
          description: Number of concurrent commands used by yb_backup (not ybc) to run on nodes over SSH
          format: int32
          type: integer
          example: 100
        storageConfigUUID:
          description: Storage configuration UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - storageConfigUUID
      type: object
    XClusterConfigRestartFormData:
      description: xcluster restart form
      example:
        tables: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
        dryRun: true
        bootstrapParams:
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
      properties:
        bootstrapParams:
          $ref: '#/components/schemas/RestartBootstrapParams'
        dryRun:
          description: Run the pre-checks without actually running the subtasks
          type: boolean
          example: true
        tables:
          description: Source Universe table IDs; if empty, the whole config will restart
          example: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
          items:
            type: string
          type: array
          uniqueItems: true
      required:
      - tables
      type: object
    PitrConfig:
      description: PITR config created on the universe
      example:
        dbName: dbName
        updateTime: 2022-12-12 13:07:18+00:00
        createdForDr: true
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        minRecoverTimeInMillis: 1
        scheduleInterval: 5
        tableType: YQL_TABLE_TYPE
        customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        createTime: 2022-12-12 13:07:18+00:00
        intermittentMinRecoverTimeInMillis: 0
        maxRecoverTimeInMillis: 6
        name: name
        disabled: true
        usedForXCluster: true
        state: UNKNOWN
        retentionPeriod: 5
      properties:
        createTime:
          description: Create time of the PITR config
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          readOnly: true
          type: string
        createdForDr:
          description: Created for DR
          readOnly: true
          type: boolean
          example: true
        customerUUID:
          description: Customer UUID of this config
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        dbName:
          description: DB Name
          type: string
          example: example-dbName
        disabled:
          description: Whether the PITR config is disabled
          readOnly: true
          type: boolean
          example: true
        intermittentMinRecoverTimeInMillis:
          description: Intermittent min recovery time in millis if retention period is increased
          format: int64
          type: integer
          example: 1000
        maxRecoverTimeInMillis:
          format: int64
          type: integer
          example: 10
        minRecoverTimeInMillis:
          format: int64
          type: integer
          example: 1000
        name:
          description: PITR config name
          type: string
          example: example-name
        retentionPeriod:
          description: Retention Period in seconds
          format: int64
          type: integer
          example: 1000
        scheduleInterval:
          description: Interval between snasphots in seconds
          format: int64
          type: integer
          example: 1000
        state:
          enum:
          - UNKNOWN
          - CREATING
          - COMPLETE
          - DELETING
          - DELETED
          - FAILED
          - CANCELLED
          - RESTORING
          - RESTORED
          type: string
          example: UNKNOWN
        tableType:
          description: Table Type
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
          example: YQL_TABLE_TYPE
        updateTime:
          description: Update time of the PITR con
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        usedForXCluster:
          readOnly: true
          type: boolean
          example: true
        uuid:
          description: PITR config UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - maxRecoverTimeInMillis
      - minRecoverTimeInMillis
      - state
      type: object
    BootstrapParams:
      description: Bootstrap parameters
      example:
        tables: '["000033df000030008000000000004006"]'
        allowBootstrap: true
        backupRequestParams:
          storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          parallelism: 0
      properties:
        allowBootstrap:
          description: 'WARNING: This is a preview API that could change. Allow backup on whole database when only set of tables require bootstrap'
          type: boolean
          example: true
        backupRequestParams:
          $ref: '#/components/schemas/BootstrapBackupParams'
        tables:
          description: Source Universe table IDs that need bootstrapping; must be a subset of tables in the main body
          example: '["000033df000030008000000000004006"]'
          items:
            type: string
          type: array
          uniqueItems: true
      required:
      - backupRequestParams
      type: object
    XClusterConfigNeedBootstrapFormData:
      example:
        targetUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        isDrConfig: true
        tables: '["000033df00003000800000000000400b"]'
      properties:
        isDrConfig:
          description: 'WARNING: This is a preview API that could change. Whether this check is being done as part of a DR configuration setup'
          type: boolean
          example: true
        tables:
          description: Source universe table IDs to check whether they need bootstrap
          example: '["000033df00003000800000000000400b"]'
          items:
            type: string
          type: array
          uniqueItems: true
        targetUniverseUUID:
          description: If specified and tables do not exist on the target universe, bootstrapping is required.
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - tables
      type: object
    XClusterNamespaceConfig:
      example:
        restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        sourceNamespaceId: sourceNamespaceId
        backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        replicationSetupTime: 2022-12-12 13:07:18+00:00
        sourceNamespaceInfo:
          tableType: YQL_TABLE_TYPE
          name: name
          namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        targetNamespaceInfo:
          tableType: YQL_TABLE_TYPE
          name: name
          namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: Validated
      properties:
        backupUuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        replicationSetupTime:
          description: Time of replication setup, ie, table added to the replication group on the target universe
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        restoreUuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        sourceNamespaceId:
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        sourceNamespaceInfo:
          $ref: '#/components/schemas/NamespaceInfoResp'
        status:
          description: Status
          enum:
          - Validated
          - Running
          - Updating
          - Warning
          - Error
          - Bootstrapping
          - Failed
          type: string
          example: Validated
        targetNamespaceInfo:
          $ref: '#/components/schemas/NamespaceInfoResp'
      required:
      - backupUuid
      - restoreUuid
      - sourceNamespaceId
      type: object
    RestartBootstrapParams:
      description: Bootstrap parameters for restarting
      example:
        backupRequestParams:
          storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          parallelism: 0
      properties:
        backupRequestParams:
          $ref: '#/components/schemas/BootstrapBackupParams'
      required:
      - backupRequestParams
      type: object
    YBPTask:
      example:
        taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        resourceUUID:
          description: UUID of the resource being modified by the task
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        taskUUID:
          description: Task UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    XClusterConfigEditFormData_2:
      description: xcluster edit form
      example:
        tables: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
        dryRun: true
        bootstrapParams:
          tables: '["000033df000030008000000000004006"]'
          allowBootstrap: true
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
        dbs: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
        autoIncludeIndexTables: true
        targetRole: ACTIVE
        name: Repl-config1
        sourceRole: ACTIVE
        status: Running
      properties:
        autoIncludeIndexTables:
          description: Whether or not YBA should also include all index tables from any provided main tables.
          type: boolean
        bootstrapParams:
          $ref: '#/components/schemas/BootstrapParams_2'
        dbs:
          description: 'WARNING: This is a preview API that could change. Source universe database IDs'
          example: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
          items:
            type: string
          type: array
          uniqueItems: true
        dryRun:
          description: Run the pre-checks without actually running the subtasks
          type: boolean
        name:
          description: Name
          example: Repl-config1
          type: string
        sourceRole:
          description: The role that the source universe should have in the xCluster config
          enum:
          - ACTIVE
          - STANDBY
          - UNRECOGNIZED
          type: string
        status:
          description: Status
          enum:
          - Running
          - Paused
          type: string
        tables:
          description: Source universe table IDs
          example: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
          items:
            type: string
          type: array
          uniqueItems: true
        targetRole:
          description: The role that the target universe should have in the xCluster config
          enum:
          - ACTIVE
          - STANDBY
          - UNRECOGNIZED
          type: string
      type: object
    TableInfoResp_2:
      description: Table information response
      example:
        relationType: SYSTEM_TABLE_RELATION
        colocated: true
        walSizeBytes: 3.616076749251911
        indexTableIDs:
        - indexTableIDs
        - indexTableIDs
        pgSchemaName: public
        sizeBytes: 9.301444243932576
        tableName: tableName
        tableSpace: tableSpace
        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableType: YQL_TABLE_TYPE
        keySpace: keySpace
        tableID: tableID
        nameSpace: nameSpace
        colocationParentId: colocationParentId
      properties:
        colocated:
          description: Flag, indicating colocated table
          type: boolean
        colocationParentId:
          description: Colocation parent id
          type: string
        indexTableIDs:
          description: Index Table IDs of main table
          items:
            type: string
          type: array
        keySpace:
          description: Keyspace
          type: string
        mainTableUUID:
          description: Main Table UUID of index tables
          format: uuid
          type: string
        nameSpace:
          description: Namespace or Schema
          type: string
        parentTableUUID:
          description: Parent Table UUID
          format: uuid
          type: string
        pgSchemaName:
          description: Postgres schema name of the table
          example: public
          type: string
        relationType:
          description: Relation type
          enum:
          - SYSTEM_TABLE_RELATION
          - USER_TABLE_RELATION
          - INDEX_TABLE_RELATION
          - MATVIEW_TABLE_RELATION
          - COLOCATED_PARENT_TABLE_RELATION
          type: string
        sizeBytes:
          description: SST size in bytes
          format: double
          readOnly: true
          type: number
        tableID:
          description: Table ID
          readOnly: true
          type: string
        tableName:
          description: Table name
          type: string
        tableSpace:
          description: Table space
          type: string
        tableType:
          description: Table type
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
        tableUUID:
          description: Table UUID
          format: uuid
          readOnly: true
          type: string
        walSizeBytes:
          description: WAL size in bytes
          format: double
          readOnly: true
          type: number
      type: object
    NamespaceInfoResp_2:
      description: Namespace information response
      example:
        tableType: YQL_TABLE_TYPE
        name: name
        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        name:
          description: Namespace name
          type: string
        namespaceUUID:
          description: Namespace UUID
          format: uuid
          readOnly: true
          type: string
        tableType:
          description: Table type
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
      type: object
    XClusterTableConfig_2:
      example:
        restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        streamId: a9d2470786694dc4b34e0e58e592da9e
        backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        replicationStatusErrors:
        - Unknown error
        - Unknown error
        sourceTableInfo:
          relationType: SYSTEM_TABLE_RELATION
          colocated: true
          walSizeBytes: 3.616076749251911
          indexTableIDs:
          - indexTableIDs
          - indexTableIDs
          pgSchemaName: public
          sizeBytes: 9.301444243932576
          tableName: tableName
          tableSpace: tableSpace
          tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          tableType: YQL_TABLE_TYPE
          keySpace: keySpace
          tableID: tableID
          nameSpace: nameSpace
          colocationParentId: colocationParentId
        replicationSetupDone: true
        restoreTime: 2022-12-12 13:07:18+00:00
        bootstrapCreateTime: 2022-12-12 13:07:18+00:00
        indexTable: true
        tableId: 000033df000030008000000000004005
        targetTableInfo:
          relationType: SYSTEM_TABLE_RELATION
          colocated: true
          walSizeBytes: 3.616076749251911
          indexTableIDs:
          - indexTableIDs
          - indexTableIDs
          pgSchemaName: public
          sizeBytes: 9.301444243932576
          tableName: tableName
          tableSpace: tableSpace
          tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          tableType: YQL_TABLE_TYPE
          keySpace: keySpace
          tableID: tableID
          nameSpace: nameSpace
          colocationParentId: colocationParentId
        needBootstrap: true
        status: Validated
      properties:
        backupUuid:
          format: uuid
          type: string
        bootstrapCreateTime:
          description: Time of the bootstrap of the table
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        indexTable:
          description: YbaApi Internal. Whether this table is an index table and its main table is in replication
          type: boolean
        needBootstrap:
          description: YbaApi Internal. Whether this table needs bootstrap process for replication setup
          type: boolean
        replicationSetupDone:
          description: YbaApi Internal. Whether replication is set up for this table
          type: boolean
        replicationStatusErrors:
          description: Short human readable replication status error messages
          items:
            enum:
            - Unknown error
            - Missing op ID
            - Schema mismatch
            - Missing table
            - Uninitialized
            - Auto flag config mismatch
            - Source unreachable
            - System error
            type: string
          type: array
          uniqueItems: true
        restoreTime:
          description: Time of the last try to restore data to the target universe
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        restoreUuid:
          format: uuid
          type: string
        sourceTableInfo:
          $ref: '#/components/schemas/TableInfoResp_2'
        status:
          description: Status
          enum:
          - Validated
          - Running
          - Updating
          - Warning
          - Error
          - Bootstrapping
          - Failed
          - UnableToFetch
          type: string
        streamId:
          description: Stream ID if replication is setup; bootstrap ID if the table is bootstrapped
          example: a9d2470786694dc4b34e0e58e592da9e
          type: string
        tableId:
          description: Table ID
          example: 000033df000030008000000000004005
          type: string
        targetTableInfo:
          $ref: '#/components/schemas/TableInfoResp_2'
      required:
      - backupUuid
      - restoreUuid
      type: object
    XClusterConfigGetResp_2:
      description: xcluster get response
      example:
        paused: true
        replicationGroupName: replicationGroupName
        targetUniverseState: Unconfigured for DR
        type: Basic
        usedForDr: true
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableType: UNKNOWN
        tables:
        - tables
        - tables
        lag: '{}'
        modifyTime: 2022-12-12 13:07:18+00:00
        targetActive: true
        imported: true
        namespaceDetails:
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          sourceNamespaceId: sourceNamespaceId
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationSetupTime: 2022-12-12 13:07:18+00:00
          sourceNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          targetNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Validated
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          sourceNamespaceId: sourceNamespaceId
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationSetupTime: 2022-12-12 13:07:18+00:00
          sourceNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          targetNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Validated
        tableDetails:
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          streamId: a9d2470786694dc4b34e0e58e592da9e
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationStatusErrors:
          - Unknown error
          - Unknown error
          sourceTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          replicationSetupDone: true
          restoreTime: 2022-12-12 13:07:18+00:00
          bootstrapCreateTime: 2022-12-12 13:07:18+00:00
          indexTable: true
          tableId: 000033df000030008000000000004005
          targetTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          needBootstrap: true
          status: Validated
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          streamId: a9d2470786694dc4b34e0e58e592da9e
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationStatusErrors:
          - Unknown error
          - Unknown error
          sourceTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          replicationSetupDone: true
          restoreTime: 2022-12-12 13:07:18+00:00
          bootstrapCreateTime: 2022-12-12 13:07:18+00:00
          indexTable: true
          tableId: 000033df000030008000000000004005
          targetTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          needBootstrap: true
          status: Validated
        targetUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        pitrConfigs:
        - dbName: dbName
          updateTime: 2022-12-12 13:07:18+00:00
          createdForDr: true
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          minRecoverTimeInMillis: 1
          scheduleInterval: 5
          tableType: YQL_TABLE_TYPE
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          createTime: 2022-12-12 13:07:18+00:00
          intermittentMinRecoverTimeInMillis: 0
          maxRecoverTimeInMillis: 6
          name: name
          disabled: true
          usedForXCluster: true
          state: UNKNOWN
          retentionPeriod: 5
        - dbName: dbName
          updateTime: 2022-12-12 13:07:18+00:00
          createdForDr: true
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          minRecoverTimeInMillis: 1
          scheduleInterval: 5
          tableType: YQL_TABLE_TYPE
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          createTime: 2022-12-12 13:07:18+00:00
          intermittentMinRecoverTimeInMillis: 0
          maxRecoverTimeInMillis: 6
          name: name
          disabled: true
          usedForXCluster: true
          state: UNKNOWN
          retentionPeriod: 5
        secondary: true
        automaticDdlMode: true
        dbs:
        - dbs
        - dbs
        createTime: 2022-12-12 13:07:18+00:00
        name: name
        sourceUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        keyspacePending: keyspacePending
        sourceActive: true
        namespaces:
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          sourceNamespaceId: sourceNamespaceId
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationSetupTime: 2022-12-12 13:07:18+00:00
          sourceNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          targetNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Validated
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          sourceNamespaceId: sourceNamespaceId
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationSetupTime: 2022-12-12 13:07:18+00:00
          sourceNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          targetNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Validated
        sourceUniverseState: Unconfigured for DR
        status: Initialized
      properties:
        automaticDdlMode:
          readOnly: true
          type: boolean
        createTime:
          description: Create time of the xCluster config
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        dbs:
          items:
            type: string
          readOnly: true
          type: array
          uniqueItems: true
        imported:
          description: YbaApi Internal. Whether this xCluster replication config was imported
          type: boolean
        keyspacePending:
          description: 'WARNING: This is a preview API that could change. The keyspace name that the xCluster task is working on; used for disaster recovery'
          type: string
        lag:
          description: Lag metric data
          properties: {}
          type: object
        modifyTime:
          description: Last modify time of the xCluster config
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        name:
          description: XCluster config name
          type: string
        namespaceDetails:
          description: Namespaces participating in this xCluster config
          items:
            $ref: '#/components/schemas/XClusterNamespaceConfig_2'
          readOnly: true
          type: array
          uniqueItems: true
        namespaces:
          items:
            $ref: '#/components/schemas/XClusterNamespaceConfig_2'
          type: array
          uniqueItems: true
        paused:
          description: Whether this xCluster replication config is paused
          type: boolean
        pitrConfigs:
          description: 'WARNING: This is a preview API that could change. The list of PITR configs used for the txn xCluster config'
          items:
            $ref: '#/components/schemas/PitrConfig_2'
          type: array
        replicationGroupName:
          description: Replication group name in the target universe cluster config
          readOnly: true
          type: string
        secondary:
          description: 'WARNING: This is a preview API that could change. Whether this xCluster config is used as a secondary config for a DR config'
          type: boolean
        sourceActive:
          description: Whether the source is active in txn xCluster
          type: boolean
        sourceUniverseState:
          description: 'WARNING: This is a preview API that could change. The replication status of the source universe; used for disaster recovery'
          enum:
          - Unconfigured for DR
          - Ready to replicate
          - Waiting for DR
          - Replicating data
          - Preparing for switchover
          - Switching to DR replica
          - Universe marked as DR failed
          type: string
        sourceUniverseUUID:
          description: Source Universe UUID
          format: uuid
          type: string
        status:
          description: Status
          enum:
          - Initialized
          - Running
          - Updating
          - DeletedUniverse
          - DeletionFailed
          - Failed
          type: string
        tableDetails:
          description: Tables participating in this xCluster config
          items:
            $ref: '#/components/schemas/XClusterTableConfig_2'
          type: array
          uniqueItems: true
        tableType:
          description: tableType
          enum:
          - UNKNOWN
          - YSQL
          - YCQL
          type: string
        tables:
          items:
            type: string
          readOnly: true
          type: array
          uniqueItems: true
        targetActive:
          description: Whether the target is active in txn xCluster
          type: boolean
        targetUniverseState:
          description: 'WARNING: This is a preview API that could change. The replication status of the target universe; used for disaster recovery'
          enum:
          - Unconfigured for DR
          - Bootstrapping
          - Receiving data, Ready for reads
          - Switching to DR primary
          - Universe marked as DR failed
          type: string
        targetUniverseUUID:
          description: Target Universe UUID
          format: uuid
          type: string
        type:
          description: Whether the config is basic, txn, or db scoped xCluster
          enum:
          - Basic
          - Txn
          - Db
          type: string
        usedForDr:
          description: 'WARNING: This is a preview API that could change. Whether the xCluster config is used as part of a DR config'
          readOnly: true
          type: boolean
        uuid:
          description: XCluster config UUID
          format: uuid
          type: string
      required:
      - lag
      - namespaces
      type: object
    XClusterConfigCreateFormData_2:
      description: xcluster create form
      example:
        targetUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tables: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
        dryRun: true
        bootstrapParams:
          tables: '["000033df000030008000000000004006"]'
          allowBootstrap: true
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
        name: Repl-config1
        sourceUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        configType: Basic
      properties:
        bootstrapParams:
          $ref: '#/components/schemas/BootstrapParams_2'
        configType:
          description: configType
          enum:
          - Basic
          - Txn
          type: string
        dryRun:
          description: Run the pre-checks without actually running the subtasks
          type: boolean
        name:
          description: Name
          example: Repl-config1
          type: string
        sourceUniverseUUID:
          description: Source Universe UUID
          format: uuid
          type: string
        tables:
          description: Source Universe table IDs
          example: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
          items:
            type: string
          type: array
          uniqueItems: true
        targetUniverseUUID:
          description: Target Universe UUID
          format: uuid
          type: string
      required:
      - name
      - sourceUniverseUUID
      - tables
      - targetUniverseUUID
      type: object
    BootstrapBackupParams_2:
      description: Backup parameters for bootstrapping
      example:
        storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        parallelism: 0
      properties:
        parallelism:
          description: Number of concurrent commands used by yb_backup (not ybc) to run on nodes over SSH
          format: int32
          type: integer
        storageConfigUUID:
          description: Storage configuration UUID
          format: uuid
          type: string
      required:
      - storageConfigUUID
      type: object
    XClusterConfigRestartFormData_2:
      description: xcluster restart form
      example:
        tables: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
        dryRun: true
        bootstrapParams:
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
      properties:
        bootstrapParams:
          $ref: '#/components/schemas/RestartBootstrapParams'
        dryRun:
          description: Run the pre-checks without actually running the subtasks
          type: boolean
        tables:
          description: Source Universe table IDs; if empty, the whole config will restart
          example: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
          items:
            type: string
          type: array
          uniqueItems: true
      required:
      - tables
      type: object
    PitrConfig_2:
      description: PITR config created on the universe
      example:
        dbName: dbName
        updateTime: 2022-12-12 13:07:18+00:00
        createdForDr: true
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        minRecoverTimeInMillis: 1
        scheduleInterval: 5
        tableType: YQL_TABLE_TYPE
        customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        createTime: 2022-12-12 13:07:18+00:00
        intermittentMinRecoverTimeInMillis: 0
        maxRecoverTimeInMillis: 6
        name: name
        disabled: true
        usedForXCluster: true
        state: UNKNOWN
        retentionPeriod: 5
      properties:
        createTime:
          description: Create time of the PITR config
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          readOnly: true
          type: string
        createdForDr:
          description: Created for DR
          readOnly: true
          type: boolean
        customerUUID:
          description: Customer UUID of this config
          format: uuid
          type: string
        dbName:
          description: DB Name
          type: string
        disabled:
          description: Whether the PITR config is disabled
          readOnly: true
          type: boolean
        intermittentMinRecoverTimeInMillis:
          description: Intermittent min recovery time in millis if retention period is increased
          format: int64
          type: integer
        maxRecoverTimeInMillis:
          format: int64
          type: integer
        minRecoverTimeInMillis:
          format: int64
          type: integer
        name:
          description: PITR config name
          type: string
        retentionPeriod:
          description: Retention Period in seconds
          format: int64
          type: integer
        scheduleInterval:
          description: Interval between snasphots in seconds
          format: int64
          type: integer
        state:
          enum:
          - UNKNOWN
          - CREATING
          - COMPLETE
          - DELETING
          - DELETED
          - FAILED
          - CANCELLED
          - RESTORING
          - RESTORED
          type: string
        tableType:
          description: Table Type
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
        updateTime:
          description: Update time of the PITR con
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        usedForXCluster:
          readOnly: true
          type: boolean
        uuid:
          description: PITR config UUID
          format: uuid
          type: string
      required:
      - maxRecoverTimeInMillis
      - minRecoverTimeInMillis
      - state
      type: object
    BootstrapParams_2:
      description: Bootstrap parameters
      example:
        tables: '["000033df000030008000000000004006"]'
        allowBootstrap: true
        backupRequestParams:
          storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          parallelism: 0
      properties:
        allowBootstrap:
          description: 'WARNING: This is a preview API that could change. Allow backup on whole database when only set of tables require bootstrap'
          type: boolean
        backupRequestParams:
          $ref: '#/components/schemas/BootstrapBackupParams_2'
        tables:
          description: Source Universe table IDs that need bootstrapping; must be a subset of tables in the main body
          example: '["000033df000030008000000000004006"]'
          items:
            type: string
          type: array
          uniqueItems: true
      required:
[...]
