openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Disaster Recovery API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: Disaster Recovery
paths:
  /api/v1/customers/{cUUID}/dr_configs:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: createDrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DrConfigCreateForm'
            examples:
              CreateDrConfigRequestExample:
                summary: Default createDrConfig request
                x-microcks-default: true
                value:
                  targetUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  dryRun: true
                  bootstrapParams:
                    backupRequestParams:
                      storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      parallelism: 0
                  dbs: '["0000412b000030008000000000000000", "0000412b000030008000000000000001"]'
                  name: Dr-config1
                  sourceUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  pitrParams:
                    snapshotIntervalSec: 1
                    retentionPeriodSec: 6
        description: Disaster Recovery Create Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                CreateDrConfig200Example:
                  summary: Default createDrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create Disaster Recovery Config
      tags:
      - Disaster Recovery
      x-codegen-request-body-name: disaster_recovery_create_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}:
    delete:
      description: 'WARNING: This is a preview API that could change.'
      operationId: deleteXClusterConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: isForceDelete
        schema:
          default: false
          type: boolean
        example: false
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                DeleteXClusterConfig200Example:
                  summary: Default deleteXClusterConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete Xcluster Config
      tags:
      - Disaster Recovery
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: getDrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: syncWithDB
        schema:
          default: true
          type: boolean
        example: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrConfigGetResp'
              examples:
                GetDrConfig200Example:
                  summary: Default getDrConfig 200 response
                  x-microcks-default: true
                  value:
                    paused: true
                    replicationGroupName: replicationGroupName
                    bootstrapParams:
                      backupRequestParams:
                        storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        parallelism: 0
                    xclusterConfigUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    drReplicaUniverseState: Unconfigured for DR
                    type: Basic
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    xclusterConfigsUuid:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    tableType: UNKNOWN
                    tables:
                    - tables
                    - tables
                    modifyTime: 2022-12-12 13:07:18+00:00
                    primaryUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    drReplicaUniverseActive: true
                    state: Initializing
                    primaryUniverseState: Unconfigured for DR
                    tableDetails:
                    - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      streamId: a9d2470786694dc4b34e0e58e592da9e
                      backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      replicationStatusErrors:
                      - Unknown error
                      - Unknown error
                      sourceTableInfo:
                        relationType: SYSTEM_TABLE_RELATION
                        colocated: true
                        walSizeBytes: 3.616076749251911
                        indexTableIDs:
                        - indexTableIDs
                        - indexTableIDs
                        pgSchemaName: public
                        sizeBytes: 9.301444243932576
                        tableName: tableName
                        tableSpace: tableSpace
                        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        tableType: YQL_TABLE_TYPE
                        keySpace: keySpace
                        tableID: tableID
                        nameSpace: nameSpace
                        colocationParentId: colocationParentId
                      replicationSetupDone: true
                      restoreTime: 2022-12-12 13:07:18+00:00
                      bootstrapCreateTime: 2022-12-12 13:07:18+00:00
                      indexTable: true
                      tableId: 000033df000030008000000000004005
                      targetTableInfo:
                        relationType: SYSTEM_TABLE_RELATION
                        colocated: true
                        walSizeBytes: 3.616076749251911
                        indexTableIDs:
                        - indexTableIDs
                        - indexTableIDs
                        pgSchemaName: public
                        sizeBytes: 9.301444243932576
                        tableName: tableName
                        tableSpace: tableSpace
                        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        tableType: YQL_TABLE_TYPE
                        keySpace: keySpace
                        tableID: tableID
                        nameSpace: nameSpace
                        colocationParentId: colocationParentId
                      needBootstrap: true
                      status: Validated
                    - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      streamId: a9d2470786694dc4b34e0e58e592da9e
                      backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      replicationStatusErrors:
                      - Unknown error
                      - Unknown error
                      sourceTableInfo:
                        relationType: SYSTEM_TABLE_RELATION
                        colocated: true
                        walSizeBytes: 3.616076749251911
                        indexTableIDs:
                        - indexTableIDs
                        - indexTableIDs
                        pgSchemaName: public
                        sizeBytes: 9.301444243932576
                        tableName: tableName
                        tableSpace: tableSpace
                        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        tableType: YQL_TABLE_TYPE
                        keySpace: keySpace
                        tableID: tableID
                        nameSpace: nameSpace
                        colocationParentId: colocationParentId
                      replicationSetupDone: true
                      restoreTime: 2022-12-12 13:07:18+00:00
                      bootstrapCreateTime: 2022-12-12 13:07:18+00:00
                      indexTable: true
                      tableId: 000033df000030008000000000004005
                      targetTableInfo:
                        relationType: SYSTEM_TABLE_RELATION
                        colocated: true
                        walSizeBytes: 3.616076749251911
                        indexTableIDs:
                        - indexTableIDs
                        - indexTableIDs
                        pgSchemaName: public
                        sizeBytes: 9.301444243932576
                        tableName: tableName
                        tableSpace: tableSpace
                        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        tableType: YQL_TABLE_TYPE
                        keySpace: keySpace
                        tableID: tableID
                        nameSpace: nameSpace
                        colocationParentId: colocationParentId
                      needBootstrap: true
                      status: Validated
                    dbDetails:
                    - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      sourceNamespaceId: sourceNamespaceId
                      backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      replicationSetupTime: 2022-12-12 13:07:18+00:00
                      sourceNamespaceInfo:
                        tableType: YQL_TABLE_TYPE
                        name: name
                        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      targetNamespaceInfo:
                        tableType: YQL_TABLE_TYPE
                        name: name
                        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      status: Validated
                    - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      sourceNamespaceId: sourceNamespaceId
                      backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      replicationSetupTime: 2022-12-12 13:07:18+00:00
                      sourceNamespaceInfo:
                        tableType: YQL_TABLE_TYPE
                        name: name
                        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      targetNamespaceInfo:
                        tableType: YQL_TABLE_TYPE
                        name: name
                        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      status: Validated
                    pitrConfigs:
                    - dbName: dbName
                      updateTime: 2022-12-12 13:07:18+00:00
                      createdForDr: true
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      minRecoverTimeInMillis: 1
                      scheduleInterval: 5
                      tableType: YQL_TABLE_TYPE
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      createTime: 2022-12-12 13:07:18+00:00
                      intermittentMinRecoverTimeInMillis: 0
                      maxRecoverTimeInMillis: 6
                      name: name
                      disabled: true
                      usedForXCluster: true
                      state: UNKNOWN
                      retentionPeriod: 5
                    - dbName: dbName
                      updateTime: 2022-12-12 13:07:18+00:00
                      createdForDr: true
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      minRecoverTimeInMillis: 1
                      scheduleInterval: 5
                      tableType: YQL_TABLE_TYPE
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      createTime: 2022-12-12 13:07:18+00:00
                      intermittentMinRecoverTimeInMillis: 0
                      maxRecoverTimeInMillis: 6
                      name: name
                      disabled: true
                      usedForXCluster: true
                      state: UNKNOWN
                      retentionPeriod: 5
                    primaryUniverseActive: true
                    automaticDdlMode: true
                    dbs:
                    - dbs
                    - dbs
                    createTime: 2022-12-12 13:07:18+00:00
                    webhooks:
                    - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      url: url
                    - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      url: url
                    name: name
                    drReplicaUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    keyspacePending: keyspacePending
                    pitrRetentionPeriodSec: 2
                    pitrSnapshotIntervalSec: 7
                    status: Initialized
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Disaster Recovery Config
      tags:
      - Disaster Recovery
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/edit:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: editDrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DrConfigEditForm'
            examples:
              EditDrConfigRequestExample:
                summary: Default editDrConfig request
                x-microcks-default: true
                value:
                  bootstrapParams:
                    backupRequestParams:
                      storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      parallelism: 0
                  webhookUrls:
                  - webhookUrls
                  - webhookUrls
                  pitrParams:
                    snapshotIntervalSec: 1
                    retentionPeriodSec: 6
        description: Disaster Recovery Edit Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                EditDrConfig200Example:
                  summary: Default editDrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Edit Disaster Recovery Config
      tags:
      - Disaster Recovery
      x-codegen-request-body-name: disaster_recovery_edit_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/failover:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: failoverDrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DrConfigFailoverForm'
            examples:
              FailoverDrConfigRequestExample:
                summary: Default failoverDrConfig request
                x-microcks-default: true
                value:
                  namespaceIdSafetimeEpochUsMap:
                    key: 0
                  drReplicaUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  primaryUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        description: Disaster Recovery Failover Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                FailoverDrConfig200Example:
                  summary: Default failoverDrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Failover a Disaster Recovery Config
      tags:
      - Disaster Recovery
      x-codegen-request-body-name: disaster_recovery_failover_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/pause:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: pauseDrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                PauseDrConfig200Example:
                  summary: Default pauseDrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Pause DR Config
      tags:
      - Disaster Recovery
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/pause_universes:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: pauseDrUniverses
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                PauseDrUniverses200Example:
                  summary: Default pauseDrUniverses 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Pause DR Config and Universes Associated with DR
      tags:
      - Disaster Recovery
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/replace_replica:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: replaceReplicaDrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DrConfigReplaceReplicaForm'
            examples:
              ReplaceReplicaDrConfigRequestExample:
                summary: Default replaceReplicaDrConfig request
                x-microcks-default: true
                value:
                  bootstrapParams:
                    backupRequestParams:
                      storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      parallelism: 0
                  drReplicaUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  primaryUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        description: Disaster Recovery Replace Replica Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                ReplaceReplicaDrConfig200Example:
                  summary: Default replaceReplicaDrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Replace Replica in a Disaster Recovery Config
      tags:
      - Disaster Recovery
      x-codegen-request-body-name: disaster_recovery_replace_replica_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/restart:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: restartDrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: isForceDelete
        schema:
          default: false
          type: boolean
        example: false
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DrConfigRestartForm'
            examples:
              RestartDrConfigRequestExample:
                summary: Default restartDrConfig request
                x-microcks-default: true
                value:
                  bootstrapParams:
                    backupRequestParams:
                      storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      parallelism: 0
                  dbs: '["0000412b000030008000000000000000", "0000412b000030008000000000000001"]'
        description: Disaster Recovery Restart Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                RestartDrConfig200Example:
                  summary: Default restartDrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Restart Disaster Recovery Config
      tags:
      - Disaster Recovery
      x-codegen-request-body-name: disaster_recovery_restart_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/resume:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: resumeDrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                ResumeDrConfig200Example:
                  summary: Default resumeDrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Resume DR Config
      tags:
      - Disaster Recovery
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/resume_universes:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: resumeDrUniverses
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                ResumeDrUniverses200Example:
                  summary: Default resumeDrUniverses 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Resume DR Config and Universes Associated with DR
      tags:
      - Disaster Recovery
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/safetime:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: getDrConfigSafetime
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrConfigSafetimeResp'
              examples:
                GetDrConfigSafetime200Example:
                  summary: Default getDrConfigSafetime 200 response
                  x-microcks-default: true
                  value:
                    safetimes:
                    - namespaceId: namespaceId
                      safetimeLagUs: 1
                      estimatedDataLossMs: 0.8008281904610115
                      safetimeEpochUs: 6
                      namespaceName: namespaceName
                      safetimeSkewUs: 5
                    - namespaceId: namespaceId
                      safetimeLagUs: 1
                      estimatedDataLossMs: 0.8008281904610115
                      safetimeEpochUs: 6
                      namespaceName: namespaceName
                      safetimeSkewUs: 5
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Disaster Recovery Config Safetime
      tags:
      - Disaster Recovery
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/set_dbs:
    put:
      description: 'WARNING: This is a preview API that could change.'
      operationId: setDatabasesDrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DrConfigSetDatabasesForm'
            examples:
              SetDatabasesDrConfigRequestExample:
                summary: Default setDatabasesDrConfig request
                x-microcks-default: true
                value:
                  dbs: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
        description: Disaster Recovery Set Databases Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                SetDatabasesDrConfig200Example:
                  summary: Default setDatabasesDrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Set Databases in Disaster Recovery Config
      tags:
      - Disaster Recovery
      x-codegen-request-body-name: disaster_recovery_set_databases_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/set_tables:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: setTablesDrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DrConfigSetTablesForm'
            examples:
              SetTablesDrConfigRequestExample:
                summary: Default setTablesDrConfig request
                x-microcks-default: true
                value:
                  tables: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
                  bootstrapParams:
                    backupRequestParams:
                      storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      parallelism: 0
                  autoIncludeIndexTables: true
        description: Disaster Recovery Set Tables Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                SetTablesDrConfig200Example:
                  summary: Default setTablesDrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Set Tables in Disaster Recovery Config
      tags:
      - Disaster Recovery
      x-codegen-request-body-name: disaster_recovery_set_tables_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/switchover:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: switchoverDrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DrConfigSwitchoverForm'
            examples:
              SwitchoverDrConfigRequestExample:
                summary: Default switchoverDrConfig request
                x-microcks-default: true
                value:
                  drReplicaUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  primaryUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        description: Disaster Recovery Switchover Form Data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                SwitchoverDrConfig200Example:
                  summary: Default switchoverDrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Switchover a Disaster Recovery Config
      tags:
      - Disaster Recovery
      x-codegen-request-body-name: disaster_recovery_switchover_form_data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/dr_configs/{drUUID}/sync:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: syncDrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: drUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                SyncDrConfig200Example:
                  summary: Default syncDrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Sync Disaster Recovery Config
      tags:
      - Disaster Recovery
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DrConfigFailoverForm:
      description: drConfig failover form
      example:
        namespaceIdSafetimeEpochUsMap:
          key: 0
        drReplicaUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        primaryUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        drReplicaUniverseUuid:
          description: New dr replica universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        namespaceIdSafetimeEpochUsMap:
          additionalProperties:
            format: int64
            type: integer
          description: A map from database ID to its safetime since epoch in micro-seconds to use during unplanned failover
          type: object
          example: {}
        primaryUniverseUuid:
          description: New primary universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    NamespaceSafetime:
      example:
        namespaceId: namespaceId
        safetimeLagUs: 1
        estimatedDataLossMs: 0.8008281904610115
        safetimeEpochUs: 6
        namespaceName: namespaceName
        safetimeSkewUs: 5
      properties:
        estimatedDataLossMs:
          format: double
          type: number
          example: 1.5
        namespaceId:
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        namespaceName:
          type: string
          example: example-namespaceName
        safetimeEpochUs:
          format: int64
          type: integer
          example: 1000
        safetimeLagUs:
          format: int64
          type: integer
          example: 1000
        safetimeSkewUs:
          format: int64
          type: integer
          example: 1000
      required:
      - estimatedDataLossMs
      - namespaceId
      - namespaceName
      - safetimeEpochUs
      - safetimeLagUs
      - safetimeSkewUs
      type: object
    DrConfigSetTablesForm:
      description: dr config set tables form
      example:
        tables: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
        bootstrapParams:
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
        autoIncludeIndexTables: true
      properties:
        autoIncludeIndexTables:
          description: Whether or not YBA should also include all index tables from any provided main tables.
          type: boolean
          example: true
        bootstrapParams:
          $ref: '#/components/schemas/RestartBootstrapParams'
        tables:
          description: Source universe table IDs
          example: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    DrConfigSafetimeResp:
      description: Get DR config safetime response
      example:
        safetimes:
        - namespaceId: namespaceId
          safetimeLagUs: 1
          estimatedDataLossMs: 0.8008281904610115
          safetimeEpochUs: 6
          namespaceName: namespaceName
          safetimeSkewUs: 5
        - namespaceId: namespaceId
          safetimeLagUs: 1
          estimatedDataLossMs: 0.8008281904610115
          safetimeEpochUs: 6
          namespaceName: namespaceName
          safetimeSkewUs: 5
      properties:
        safetimes:
          description: The list of current safetime for each database
          items:
            $ref: '#/components/schemas/NamespaceSafetime'
          type: array
          example:
          - namespaceId: namespaceId
            safetimeLagUs: 1
            estimatedDataLossMs: 0.8008281904610115
            safetimeEpochUs: 6
            namespaceName: namespaceName
            safetimeSkewUs: 5
      type: object
    XClusterNamespaceConfig:
      example:
        restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        sourceNamespaceId: sourceNamespaceId
        backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        replicationSetupTime: 2022-12-12 13:07:18+00:00
        sourceNamespaceInfo:
          tableType: YQL_TABLE_TYPE
          name: name
          namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        targetNamespaceInfo:
          tableType: YQL_TABLE_TYPE
          name: name
          namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: Validated
      properties:
        backupUuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        replicationSetupTime:
          description: Time of replication setup, ie, table added to the replication group on the target universe
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        restoreUuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        sourceNamespaceId:
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        sourceNamespaceInfo:
          $ref: '#/components/schemas/NamespaceInfoResp'
        status:
          description: Status
          enum:
          - Validated
          - Running
          - Updating
          - Warning
          - Error
          - Bootstrapping
          - Failed
          type: string
          example: Validated
        targetNamespaceInfo:
          $ref: '#/components/schemas/NamespaceInfoResp'
      required:
      - backupUuid
      - restoreUuid
      - sourceNamespaceId
      type: object
    RestartBootstrapParams:
      description: Bootstrap parameters for restarting
      example:
        backupRequestParams:
          storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          parallelism: 0
      properties:
        backupRequestParams:
          $ref: '#/components/schemas/BootstrapBackupParams'
      required:
      - backupRequestParams
      type: object
    YBPTask:
      example:
        taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        resourceUUID:
          description: UUID of the resource being modified by the task
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        taskUUID:
          description: Task UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    DrConfigGetResp:
      description: disaster recovery get response
      example:
        paused: true
        replicationGroupName: replicationGroupName
        bootstrapParams:
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
        xclusterConfigUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        drReplicaUniverseState: Unconfigured for DR
        type: Basic
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        xclusterConfigsUuid:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableType: UNKNOWN
        tables:
        - tables
        - tables
        modifyTime: 2022-12-12 13:07:18+00:00
        primaryUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        drReplicaUniverseActive: true
        state: Initializing
        primaryUniverseState: Unconfigured for DR
        tableDetails:
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          streamId: a9d2470786694dc4b34e0e58e592da9e
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationStatusErrors:
          - Unknown error
          - Unknown error
          sourceTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          replicationSetupDone: true
          restoreTime: 2022-12-12 13:07:18+00:00
          bootstrapCreateTime: 2022-12-12 13:07:18+00:00
          indexTable: true
          tableId: 000033df000030008000000000004005
          targetTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          needBootstrap: true
          status: Validated
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          streamId: a9d2470786694dc4b34e0e58e592da9e
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationStatusErrors:
          - Unknown error
          - Unknown error
          sourceTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          replicationSetupDone: true
          restoreTime: 2022-12-12 13:07:18+00:00
          bootstrapCreateTime: 2022-12-12 13:07:18+00:00
          indexTable: true
          tableId: 000033df000030008000000000004005
          targetTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          needBootstrap: true
          status: Validated
        dbDetails:
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          sourceNamespaceId: sourceNamespaceId
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationSetupTime: 2022-12-12 13:07:18+00:00
          sourceNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          targetNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Validated
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          sourceNamespaceId: sourceNamespaceId
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationSetupTime: 2022-12-12 13:07:18+00:00
          sourceNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          targetNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Validated
        pitrConfigs:
        - dbName: dbName
          updateTime: 2022-12-12 13:07:18+00:00
          createdForDr: true
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          minRecoverTimeInMillis: 1
          scheduleInterval: 5
          tableType: YQL_TABLE_TYPE
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          createTime: 2022-12-12 13:07:18+00:00
          intermittentMinRecoverTimeInMillis: 0
          maxRecoverTimeInMillis: 6
          name: name
          disabled: true
          usedForXCluster: true
          state: UNKNOWN
          retentionPeriod: 5
        - dbName: dbName
          updateTime: 2022-12-12 13:07:18+00:00
          createdForDr: true
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          minRecoverTimeInMillis: 1
          scheduleInterval: 5
          tableType: YQL_TABLE_TYPE
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          createTime: 2022-12-12 13:07:18+00:00
          intermittentMinRecoverTimeInMillis: 0
          maxRecoverTimeInMillis: 6
          name: name
          disabled: true
          usedForXCluster: true
          state: UNKNOWN
          retentionPeriod: 5
        primaryUniverseActive: true
        automaticDdlMode: true
        dbs:
        - dbs
        - dbs
        createTime: 2022-12-12 13:07:18+00:00
        webhooks:
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          url: url
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          url: url
        name: name
        drReplicaUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        keyspacePending: keyspacePending
        pitrRetentionPeriodSec: 2
        pitrSnapshotIntervalSec: 7
        status: Initialized
      properties:
        automaticDdlMode:
          description: Whether the config is using automatic DDL replication mode.
          type: boolean
          example: true
        bootstrapParams:
          $ref: '#/components/schemas/RestartBootstrapParams'
        createTime:
          description: Create time of the DR config
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        dbDetails:
          description: 'WARNING: This is a preview API that could change. List of db details in replication'
          items:
            $ref: '#/components/schemas/XClusterNamespaceConfig'
          type: array
          uniqueItems: true
          example:
          - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            sourceNamespaceId: sourceNamespaceId
            backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            replicationSetupTime: '2022-12-12T13:07:18+00:00'
            sourceNamespaceInfo:
              tableType: YQL_TABLE_TYPE
              name: name
              namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            targetNamespaceInfo:
              tableType: YQL_TABLE_TYPE
              name: name
              namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            status: Validated
        dbs:
          description: 'WARNING: This is a preview API that could change. List of db ids in replication'
          items:
            type: string
          type: array
          uniqueItems: true
          example:
          - example-dbs
        drReplicaUniverseActive:
          description: Whether the dr replica universe is active
          type: boolean
          example: true
        drReplicaUniverseState:
          description: 'WARNING: This is a preview API that could change. The replication status of the dr replica universe.'
          enum:
          - Unconfigured for DR
          - Bootstrapping
          - Receiving data, Ready for reads
          - Switching to DR primary
          - Universe marked as DR failed
          type: string
          example: Unconfigured for DR
        drReplicaUniverseUuid:
          description: DR Replica Universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        keyspacePending:
          description: 'WARNING: This is a preview API that could change. The keyspace name that the current task is working on.'
          type: string
          example: example-key
        modifyTime:
          description: Last modify time of the DR config
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        name:
          description: Disaster recovery config name
          type: string
          example: example-name
        paused:
          description: Whether the underlying xCluster config is paused
          type: boolean
          example: true
        pitrConfigs:
          description: 'WARNING: This is a preview API that could change. The list of PITR configs used for the underlying txn xCluster config'
          items:
            $ref: '#/components/schemas/PitrConfig'
          type: array
          example:
          - dbName: dbName
            updateTime: '2022-12-12T13:07:18+00:00'
            createdForDr: true
            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            minRecoverTimeInMillis: 1
            scheduleInterval: 5
            tableType: YQL_TABLE_TYPE
            customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            createTime: '2022-12-12T13:07:18+00:00'
            intermittentMinRecoverTimeInMillis: 0
            maxRecoverTimeInMillis: 6
            name: name
            disabled: true
            usedForXCluster: true
            state: UNKNOWN
            retentionPeriod: 5
        pitrRetentionPeriodSec:
          description: 'WARNING: This is a preview API that could change. PITR Retention Period in seconds'
          format: int64
          type: integer
          example: 1000
        pitrSnapshotIntervalSec:
          description: 'WARNING: This is a preview API that could change. PITR Retention Period in seconds'
          format: int64
          type: integer
          example: 1000
        primaryUniverseActive:
          description: Whether the primary universe is active
          type: boolean
          example: true
        primaryUniverseState:
          description: 'WARNING: This is a preview API that could change. The replication status of the primary universe.'
          enum:
          - Unconfigured for DR
          - Ready to replicate
          - Waiting for DR
          - Replicating data
          - Preparing for switchover
          - Switching to DR replica
          - Universe marked as DR failed
          type: string
          example: Unconfigured for DR
        primaryUniverseUuid:
          description: Primary Universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        replicationGroupName:
          description: Replication group name in the dr replica universe cluster config
          type: string
          example: example-replicationGroupName
        state:
          description: The state of the DR config
          enum:
          - Initializing
          - Replicating
          - Switchover in Progress
          - Failover in Progress
          - Halted
          - Updating
          - Failed
          type: string
          example: Initializing
        status:
          description: Status
          enum:
          - Initialized
          - Running
          - Updating
          - DeletedUniverse
          - DeletionFailed
          - Failed
          type: string
          example: Initialized
        tableDetails:
          description: Details for each table in replication
          items:
            $ref: '#/components/schemas/XClusterTableConfig'
          type: array
          uniqueItems: true
          example:
          - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            streamId: a9d2470786694dc4b34e0e58e592da9e
            backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            replicationStatusErrors:
            - Unknown error
            - Unknown error
            sourceTableInfo:
              relationType: SYSTEM_TABLE_RELATION
              colocated: true
              walSizeBytes: 3.616076749251911
              indexTableIDs:
              - indexTableIDs
              - indexTableIDs
              pgSchemaName: public
              sizeBytes: 9.301444243932576
              tableName: tableName
              tableSpace: tableSpace
              tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              tableType: YQL_TABLE_TYPE
              keySpace: keySpace
              tableID: tableID
              nameSpace: nameSpace
              colocationParentId: colocationParentId
            replicationSetupDone: true
            restoreTime: '2022-12-12T13:07:18+00:00'
            bootstrapCreateTime: '2022-12-12T13:07:18+00:00'
            indexTable: true
            tableId: 000033df000030008000000000004005
            targetTableInfo:
              relationType: SYSTEM_TABLE_RELATION
              colocated: true
              walSizeBytes: 3.616076749251911
              indexTableIDs:
              - indexTableIDs
              - indexTableIDs
              pgSchemaName: public
              sizeBytes: 9.301444243932576
              tableName: tableName
              tableSpace: tableSpace
              tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              tableType: YQL_TABLE_TYPE
              keySpace: keySpace
              tableID: tableID
              nameSpace: nameSpace
              colocationParentId: colocationParentId
            needBootstrap: true
            status: Validated
        tableType:
          description: The type of tables that are being replicated
          enum:
          - UNKNOWN
          - YSQL
          - YCQL
          type: string
          example: UNKNOWN
        tables:
          description: List of table ids in replication
          items:
            type: string
          type: array
          uniqueItems: true
          example:
          - example-tables
        type:
          description: Whether the config is basic, txn, or db scoped xCluster
          enum:
          - Basic
          - Txn
          - Db
          type: string
          example: Basic
        uuid:
          description: DR config UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        webhooks:
          items:
            $ref: '#/components/schemas/GetWebhookResponse'
          type: array
          example:
          - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            url: url
        xclusterConfigUuid:
          description: UUID of the underlying xCluster config that is managing the replication
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        xclusterConfigsUuid:
          description: YbaApi Internal. The list of xCluster configs' uuids that belong to this dr config
          items:
            format: uuid
            type: string
          type: array
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - webhooks
      type: object
    DrConfigSetDatabasesForm:
      description: dr config set databases form
      example:
        dbs: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
      properties:
        dbs:
          description: 'WARNING: This is a preview API that could change. Source universe database IDs'
          example: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    XClusterTableConfig:
      example:
        restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        streamId: a9d2470786694dc4b34e0e58e592da9e
        backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        replicationStatusErrors:
        - Unknown error
        - Unknown error
        sourceTableInfo:
          relationType: SYSTEM_TABLE_RELATION
          colocated: true
          walSizeBytes: 3.616076749251911
          indexTableIDs:
          - indexTableIDs
          - indexTableIDs
          pgSchemaName: public
          sizeBytes: 9.301444243932576
          tableName: tableName
          tableSpace: tableSpace
          tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          tableType: YQL_TABLE_TYPE
          keySpace: keySpace
          tableID: tableID
          nameSpace: nameSpace
          colocationParentId: colocationParentId
        replicationSetupDone: true
        restoreTime: 2022-12-12 13:07:18+00:00
        bootstrapCreateTime: 2022-12-12 13:07:18+00:00
        indexTable: true
        tableId: 000033df000030008000000000004005
        targetTableInfo:
          relationType: SYSTEM_TABLE_RELATION
          colocated: true
          walSizeBytes: 3.616076749251911
          indexTableIDs:
          - indexTableIDs
          - indexTableIDs
          pgSchemaName: public
          sizeBytes: 9.301444243932576
          tableName: tableName
          tableSpace: tableSpace
          tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          tableType: YQL_TABLE_TYPE
          keySpace: keySpace
          tableID: tableID
          nameSpace: nameSpace
          colocationParentId: colocationParentId
        needBootstrap: true
        status: Validated
      properties:
        backupUuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        bootstrapCreateTime:
          description: Time of the bootstrap of the table
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        indexTable:
          description: YbaApi Internal. Whether this table is an index table and its main table is in replication
          type: boolean
          example: true
        needBootstrap:
          description: YbaApi Internal. Whether this table needs bootstrap process for replication setup
          type: boolean
          example: true
        replicationSetupDone:
          description: YbaApi Internal. Whether replication is set up for this table
          type: boolean
          example: true
        replicationStatusErrors:
          description: Short human readable replication status error messages
          items:
            enum:
            - Unknown error
            - Missing op ID
            - Schema mismatch
            - Missing table
            - Uninitialized
            - Auto flag config mismatch
            - Source unreachable
            - System error
            type: string
          type: array
          uniqueItems: true
          example:
          - Unknown error
        restoreTime:
          description: Time of the last try to restore data to the target universe
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        restoreUuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        sourceTableInfo:
          $ref: '#/components/schemas/TableInfoResp'
        status:
          description: Status
          enum:
          - Validated
          - Running
          - Updating
          - Warning
          - Error
          - Bootstrapping
          - Failed
          - UnableToFetch
          type: string
          example: Validated
        streamId:
          description: Stream ID if replication is setup; bootstrap ID if the table is bootstrapped
          example: a9d2470786694dc4b34e0e58e592da9e
          type: string
        tableId:
          description: Table ID
          example: 000033df000030008000000000004005
          type: string
        targetTableInfo:
          $ref: '#/components/schemas/TableInfoResp'
      required:
      - backupUuid
      - restoreUuid
      type: object
    PitrConfig:
      description: PITR config created on the universe
      example:
        dbName: dbName
        updateTime: 2022-12-12 13:07:18+00:00
        createdForDr: true
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        minRecoverTimeInMillis: 1
        scheduleInterval: 5
        tableType: YQL_TABLE_TYPE
        customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        createTime: 2022-12-12 13:07:18+00:00
        intermittentMinRecoverTimeInMillis: 0
        maxRecoverTimeInMillis: 6
        name: name
        disabled: true
        usedForXCluster: true
        state: UNKNOWN
        retentionPeriod: 5
      properties:
        createTime:
          description: Create time of the PITR config
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          readOnly: true
          type: string
        createdForDr:
          description: Created for DR
          readOnly: true
          type: boolean
          example: true
        customerUUID:
          description: Customer UUID of this config
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        dbName:
          description: DB Name
          type: string
          example: example-dbName
        disabled:
          description: Whether the PITR config is disabled
          readOnly: true
          type: boolean
          example: true
        intermittentMinRecoverTimeInMillis:
          description: Intermittent min recovery time in millis if retention period is increased
          format: int64
          type: integer
          example: 1000
        maxRecoverTimeInMillis:
          format: int64
          type: integer
          example: 10
        minRecoverTimeInMillis:
          format: int64
          type: integer
          example: 1000
        name:
          description: PITR config name
          type: string
          example: example-name
        retentionPeriod:
          description: Retention Period in seconds
          format: int64
          type: integer
          example: 1000
        scheduleInterval:
          description: Interval between snasphots in seconds
          format: int64
          type: integer
          example: 1000
        state:
          enum:
          - UNKNOWN
          - CREATING
          - COMPLETE
          - DELETING
          - DELETED
          - FAILED
          - CANCELLED
          - RESTORING
          - RESTORED
          type: string
          example: UNKNOWN
        tableType:
          description: Table Type
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
          example: YQL_TABLE_TYPE
        updateTime:
          description: Update time of the PITR con
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        usedForXCluster:
          readOnly: true
          type: boolean
          example: true
        uuid:
          description: PITR config UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - maxRecoverTimeInMillis
      - minRecoverTimeInMillis
      - state
      type: object
    DrConfigCreateForm:
      description: drConfig create form
      example:
        targetUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        dryRun: true
        bootstrapParams:
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
        dbs: '["0000412b000030008000000000000000", "0000412b000030008000000000000001"]'
        name: Dr-config1
        sourceUniverseUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        pitrParams:
          snapshotIntervalSec: 1
          retentionPeriodSec: 6
      properties:
        bootstrapParams:
          $ref: '#/components/schemas/RestartBootstrapParams'
        dbs:
          description: Source Universe DB IDs
          example: '["0000412b000030008000000000000000", "0000412b000030008000000000000001"]'
          items:
            type: string
          type: array
          uniqueItems: true
        dryRun:
          description: Run the pre-checks without actually running the subtasks
          type: boolean
          example: true
        name:
          description: Name
          example: Dr-config1
          type: string
        pitrParams:
          $ref: '#/components/schemas/PitrParams'
        sourceUniverseUUID:
          description: Source Universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        targetUniverseUUID:
          description: Target Universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - dbs
      - name
      - sourceUniverseUUID
      - targetUniverseUUID
      type: object
    DrConfigEditForm:
      description: drConfig edit form
      example:
        bootstrapParams:
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
        webhookUrls:
        - webhookUrls
        - webhookUrls
        pitrParams:
          snapshotIntervalSec: 1
          retentionPeriodSec: 6
      properties:
        bootstrapParams:
          $ref: '#/components/schemas/RestartBootstrapParams'
        pitrParams:
          $ref: '#/components/schemas/PitrParams'
        webhookUrls:
          description: List of urls for webhook
          items:
            type: string
          type: array
          example:
          - https://example.com
      type: object
    TableInfoResp:
      description: Table information response
      example:
        relationType: SYSTEM_TABLE_RELATION
        colocated: true
        walSizeBytes: 3.616076749251911
        indexTableIDs:
        - indexTableIDs
        - indexTableIDs
        pgSchemaName: public
        sizeBytes: 9.301444243932576
        tableName: tableName
        tableSpace: tableSpace
        tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableType: YQL_TABLE_TYPE
        keySpace: keySpace
        tableID: tableID
        nameSpace: nameSpace
        colocationParentId: colocationParentId
      properties:
        colocated:
          description: Flag, indicating colocated table
          type: boolean
          example: true
        colocationParentId:
          description: Colocation parent id
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        indexTableIDs:
          description: Index Table IDs of main table
          items:
            type: string
          type: array
          example:
          - example-indexTableIDs
        keySpace:
          description: Keyspace
          type: string
          example: example-key
        mainTableUUID:
          description: Main Table UUID of index tables
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        nameSpace:
          description: Namespace or Schema
          type: string
          example: example-nameSpace
        parentTableUUID:
          description: Parent Table UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        pgSchemaName:
          description: Postgres schema name of the table
          example: public
          type: string
        relationType:
          description: Relation type
          enum:
          - SYSTEM_TABLE_RELATION
          - USER_TABLE_RELATION
          - INDEX_TABLE_RELATION
          - MATVIEW_TABLE_RELATION
          - COLOCATED_PARENT_TABLE_RELATION
          type: string
          example: SYSTEM_TABLE_RELATION
        sizeBytes:
          description: SST size in bytes
          format: double
          readOnly: true
          type: number
          example: 1.5
        tableID:
          description: Table ID
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableName:
          description: Table name
          type: string
          example: example-tableName
        tableSpace:
          description: Table space
          type: string
          example: example-tableSpace
        tableType:
          description: Table type
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
          example: YQL_TABLE_TYPE
        tableUUID:
          description: Table UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        walSizeBytes:
          description: WAL size in bytes
          format: double
          readOnly: true
          type: number
          example: 1.5
      type: object
    DrConfigRestartForm:
      description: dr config restart form
      example:
        bootstrapParams:
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
        dbs: '["0000412b000030008000000000000000", "0000412b000030008000000000000001"]'
      properties:
        bootstrapParams:
          $ref: '#/components/schemas/RestartBootstrapParams'
        dbs:
          description: Primary Universe DB IDs
          example: '["0000412b000030008000000000000000", "0000412b000030008000000000000001"]'
          items:
            type: string
          type: array
          uniqueItems: true
      required:
      - dbs
      type: object
    DrConfigSwitchoverForm:
      description: drConfig failover form
      example:
        drReplicaUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        primaryUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        drReplicaUniverseUuid:
          description: New dr replica universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        primaryUniverseUuid:
          description: New primary universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    BootstrapBackupParams:
      description: Backup parameters for bootstrapping
      example:
        storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        parallelism: 0
      properties:
        parallelism:
          description: Number of concurrent commands used by yb_backup (not ybc) to run on nodes over SSH
          format: int32
          type: integer
          example: 100
        storageConfigUUID:
          description: Storage configuration UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - storageConfigUUID
      type: object
    PitrParams:
      description: PITR parameters
      example:
        snapshotIntervalSec: 1
        retentionPeriodSec: 6
      properties:
        retentionPeriodSec:
          description: Retention period of a snapshot in seconds
          format: int64
          type: integer
          example: 1000
        snapshotIntervalSec:
          description: <b style="color:#ff0000">Deprecated since YBA version 2024.2.0.0.</b> Time interval between snapshots in seconds
          format: int64
          type: integer
          example: 1000
      type: object
    NamespaceInfoResp:
      description: Namespace information response
      example:
        tableType: YQL_TABLE_TYPE
        name: name
        namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        name:
          description: Namespace name
          type: string
          example: example-name
        namespaceUUID:
          description: Namespace UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableType:
          description: Table type
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
          example: YQL_TABLE_TYPE
      type: object
    GetWebhookResponse:
      description: Webhook get response
      example:
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        url: url
      properties:
        url:
          description: Webhook url
          type: string
          example: https://example.com
        uuid:
          description: Webhook UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    DrConfigReplaceReplicaForm:
      description: drConfig edit form
      example:
        bootstrapParams:
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
        drReplicaUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        primaryUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        bootstrapParams:
          $ref: '#/components/schemas/RestartBootstrapParams'
        drReplicaUniverseUuid:
          description: New dr replica universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        primaryUniverseUuid:
          description: The current primary universe UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    DrConfigFailoverForm_2:
      description: drConfig failover form
      example:
        namespaceIdSafetimeEpochUsMap:
          key: 0
        drReplicaUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        primaryUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        drReplicaUniverseUuid:
          description: New dr replica universe UUID
          format: uuid
          type: string
        namespaceIdSafetimeEpochUsMap:
          additionalProperties:
            format: int64
            type: integer
          description: A map from database ID to its safetime since epoch in micro-seconds to use during unplanned failover
          type: object
        primaryUniverseUuid:
          description: New primary universe UUID
          format: uuid
          type: string
      type: object
    NamespaceSafetime_2:
      example:
        namespaceId: namespaceId
        safetimeLagUs: 1
        estimatedDataLossMs: 0.8008281904610115
        safetimeEpochUs: 6
        namespaceName: namespaceName
        safetimeSkewUs: 5
      properties:
        estimatedDataLossMs:
          format: double
          type: number
        namespaceId:
          type: string
        namespaceName:
          type: string
        safetimeEpochUs:
          format: int64
          type: integer
        safetimeLagUs:
          format: int64
          type: integer
        safetimeSkewUs:
          format: int64
          type: integer
      required:
      - estimatedDataLossMs
      - namespaceId
      - namespaceName
      - safetimeEpochUs
      - safetimeLagUs
      - safetimeSkewUs
      type: object
    DrConfigSetTablesForm_2:
      description: dr config set tables form
      example:
        tables: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
        bootstrapParams:
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
        autoIncludeIndexTables: true
      properties:
        autoIncludeIndexTables:
          description: Whether or not YBA should also include all index tables from any provided main tables.
          type: boolean
        bootstrapParams:
          $ref: '#/components/schemas/RestartBootstrapParams'
        tables:
          description: Source universe table IDs
          example: '["000033df000030008000000000004006", "000033df00003000800000000000400b"]'
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    DrConfigSafetimeResp_2:
      description: Get DR config safetime response
      example:
        safetimes:
        - namespaceId: namespaceId
          safetimeLagUs: 1
          estimatedDataLossMs: 0.8008281904610115
          safetimeEpochUs: 6
          namespaceName: namespaceName
          safetimeSkewUs: 5
        - namespaceId: namespaceId
          safetimeLagUs: 1
          estimatedDataLossMs: 0.8008281904610115
          safetimeEpochUs: 6
          namespaceName: namespaceName
          safetimeSkewUs: 5
      properties:
        safetimes:
          description: The list of current safetime for each database
          items:
            $ref: '#/components/schemas/NamespaceSafetime_2'
          type: array
      type: object
    XClusterNamespaceConfig_2:
      example:
        restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        sourceNamespaceId: sourceNamespaceId
        backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        replicationSetupTime: 2022-12-12 13:07:18+00:00
        sourceNamespaceInfo:
          tableType: YQL_TABLE_TYPE
          name: name
          namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        targetNamespaceInfo:
          tableType: YQL_TABLE_TYPE
          name: name
          namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: Validated
      properties:
        backupUuid:
          format: uuid
          type: string
        replicationSetupTime:
          description: Time of replication setup, ie, table added to the replication group on the target universe
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        restoreUuid:
          format: uuid
          type: string
        sourceNamespaceId:
          type: string
        sourceNamespaceInfo:
          $ref: '#/components/schemas/NamespaceInfoResp_2'
        status:
          description: Status
          enum:
          - Validated
          - Running
          - Updating
          - Warning
          - Error
          - Bootstrapping
          - Failed
          type: string
        targetNamespaceInfo:
          $ref: '#/components/schemas/NamespaceInfoResp_2'
      required:
      - backupUuid
      - restoreUuid
      - sourceNamespaceId
      type: object
    YBPTask_2:
      example:
        taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        resourceUUID:
          description: UUID of the resource being modified by the task
          format: uuid
          readOnly: true
          type: string
        taskUUID:
          description: Task UUID
          format: uuid
          readOnly: true
          type: string
      type: object
    DrConfigGetResp_2:
      description: disaster recovery get response
      example:
        paused: true
        replicationGroupName: replicationGroupName
        bootstrapParams:
          backupRequestParams:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parallelism: 0
        xclusterConfigUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        drReplicaUniverseState: Unconfigured for DR
        type: Basic
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        xclusterConfigsUuid:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tableType: UNKNOWN
        tables:
        - tables
        - tables
        modifyTime: 2022-12-12 13:07:18+00:00
        primaryUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        drReplicaUniverseActive: true
        state: Initializing
        primaryUniverseState: Unconfigured for DR
        tableDetails:
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          streamId: a9d2470786694dc4b34e0e58e592da9e
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationStatusErrors:
          - Unknown error
          - Unknown error
          sourceTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          replicationSetupDone: true
          restoreTime: 2022-12-12 13:07:18+00:00
          bootstrapCreateTime: 2022-12-12 13:07:18+00:00
          indexTable: true
          tableId: 000033df000030008000000000004005
          targetTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          needBootstrap: true
          status: Validated
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          streamId: a9d2470786694dc4b34e0e58e592da9e
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationStatusErrors:
          - Unknown error
          - Unknown error
          sourceTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          replicationSetupDone: true
          restoreTime: 2022-12-12 13:07:18+00:00
          bootstrapCreateTime: 2022-12-12 13:07:18+00:00
          indexTable: true
          tableId: 000033df000030008000000000004005
          targetTableInfo:
            relationType: SYSTEM_TABLE_RELATION
            colocated: true
            walSizeBytes: 3.616076749251911
            indexTableIDs:
            - indexTableIDs
            - indexTableIDs
            pgSchemaName: public
            sizeBytes: 9.301444243932576
            tableName: tableName
            tableSpace: tableSpace
            tableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            mainTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            parentTableUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tableType: YQL_TABLE_TYPE
            keySpace: keySpace
            tableID: tableID
            nameSpace: nameSpace
            colocationParentId: colocationParentId
          needBootstrap: true
          status: Validated
        dbDetails:
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          sourceNamespaceId: sourceNamespaceId
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationSetupTime: 2022-12-12 13:07:18+00:00
          sourceNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          targetNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Validated
        - restoreUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          sourceNamespaceId: sourceNamespaceId
          backupUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          replicationSetupTime: 2022-12-12 13:07:18+00:00
          sourceNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          targetNamespaceInfo:
            tableType: YQL_TABLE_TYPE
            name: name
            namespaceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Validated
        pitrConfigs:
        - dbName: dbName
          updateTime: 2022-12-12 13:07:18+00:00
          createdForDr: true
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          minRecoverTimeInMillis: 1
          scheduleInterval: 5
          tableType: YQL_TABLE_TYPE
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          createTime: 2022-12-12 13:07:18+00:00
          intermittentMinRecoverTimeInMillis: 0
          maxRecoverTimeInMillis: 6
          name: name
          disabled: true
          usedForXCluster: true
          state: UNKNOWN
          retentionPeriod: 5
        - dbName: dbName
          updateTime: 2022-12-12 13:07:18+00:00
          createdForDr: true
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          minRecoverTimeInMillis: 1
          scheduleInterval: 5
          tableType: YQL_TABLE_TYPE
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          createTime: 2022-12-12 13:07:18+00:00
          intermittentMinRecoverTimeInMillis: 0
          maxRecoverTimeInMillis: 6
          name: name
          disabled: true
          usedForXCluster: true
          state: UNKNOWN
          retentionPeriod: 5
        primaryUniverseActive: true
        automaticDdlMode: true
        dbs:
        - dbs
        - dbs
        createTime: 2022-12-12 13:07:18+00:00
        webhooks:
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          url: url
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          url: url
        name: name
        drReplicaUniverseUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        keyspacePending: keyspacePending
        pitrRetentionPeriodSec: 2
        pitrSnapshotIntervalSec: 7
        status: Initialized
      properties:
        automaticDdlMode:
          description: Whether the config is using automatic DDL replication mode.
          type: boolean
        bootstrapParams:
          $ref: '#/components/schemas/RestartBootstrapParams'
        createTime:
          description: Create time of the DR config
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        dbDetails:
          description: 'WARNING: This is a preview API that could change. List of db details in replication'
          items:
            $ref: '#/components/schemas/XClusterNamespaceConfig_2'
          type: array
          uniqueItems: true
        dbs:
          description: 'WARNING: This is a preview API that could change. List of db ids in replication'
          items:
            type: string
          type: array
          uniqueItems: true
        drReplicaUniverseActive:
          description: Whether the dr replica universe is active
          type: boolean
        drReplicaUniverseState:
          description: 'WARNING: This is a preview API that could change. The replication status of the dr replica universe.'
          enum:
          - Unconfigured for DR
          - Bootstrapping
          - Receiving data, Ready for reads
          - Switching to DR primary
          - Universe marked as DR failed
          type: string
        drReplicaUniverseUuid:
          description: DR Replica Universe UUID
          format: uuid
          type: string
        keyspacePending:
          description: 'WARNING: This is a preview API that could change. The keyspace name that the current task is working on.'
          type: string
        modifyTime:
          description: Last modify time of the DR config
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        name:
          description: Disaster recovery config name
          type: string
        paused:
          description: Whether the underlying xCluster config is paused
          type: boolean
        pitrConfigs:
          description: 'WARNING: This is a preview API that could change. The list of PITR configs used for the underlying txn xCluster config'
          items:
            $ref: '#/components/schemas/PitrConfig_2'
          type: array
        pitrRetentionPeriodSec:
          description: 'WARNING: This is a preview API that could change. PITR Retention Period in seconds'
          format: int64
          type: integer
        pitrSnapshotIntervalSec:
          description: 'WARNING: This is a preview API that could change. PITR Retention Period in seconds'
          format: int64
          type: integer
        primaryUniverseActive:
          description: Whether the primary universe is active
          type: boolean
        primaryUniverseState:
          description: 'WARNING: This is a preview API that could change. The replication status of the primary universe.'
          enum:
          - Unconfigured for DR
          - Ready to replicate
          - Waiting for DR
          - Replicating data
          - Preparing for switchover
          - Switching to DR replica
          - Universe marked as DR failed
          type: string
        primaryUniverseUuid:
          description: Primary Universe UUID
          format: uuid
          type: string
        replicationGroupName:
[...]
