openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Alerts API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: Alerts
paths:
  /api/v1/customers/{cUUID}/alert_channel_templates:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: listAlertChannelTemplates
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Alert channel templates ext with default values'
                type: array
              examples:
                ListAlertChannelTemplates200Example:
                  summary: Default listAlertChannelTemplates 200 response
                  x-microcks-default: true
                  value: []
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List All Alert Channel Templates
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_channel_templates/{acType}:
    delete:
      description: 'WARNING: This is a preview API that could change.'
      operationId: deleteAlertChannelTemplates
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: acType
        required: true
        schema:
          type: string
        example: DEFAULT
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                DeleteAlertChannelTemplates200Example:
                  summary: Default deleteAlertChannelTemplates 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete Alert Channel Templates
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: getAlertChannelTemplates
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: acType
        required: true
        schema:
          type: string
        example: DEFAULT
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert channel templates ext with default values'
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Alert Channel Templates
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: setAlertChannelTemplates
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: acType
        required: true
        schema:
          type: string
        example: DEFAULT
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertChannelTemplates'
            examples:
              SetAlertChannelTemplatesRequestExample:
                summary: Default setAlertChannelTemplates request
                x-microcks-default: true
                value:
                  customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  textTemplate: textTemplate
                  type: Email
                  titleTemplate: titleTemplate
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertChannelTemplates'
              examples:
                SetAlertChannelTemplates200Example:
                  summary: Default setAlertChannelTemplates 200 response
                  x-microcks-default: true
                  value:
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    textTemplate: textTemplate
                    type: Email
                    titleTemplate: titleTemplate
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Set Alert Channel Templates
      tags:
      - Alerts
      x-codegen-request-body-name: SetAlertChannelTemplatesRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_channels:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: listAlertChannels
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertChannel'
                type: array
              examples:
                ListAlertChannels200Example:
                  summary: Default listAlertChannels 200 response
                  x-microcks-default: true
                  value:
                  - customer_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    name: name
                    params:
                      channelType: Email
                      textTemplate: textTemplate
                      titleTemplate: titleTemplate
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List All Alert Channels
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: createAlertChannel
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertChannelFormData'
            examples:
              CreateAlertChannelRequestExample:
                summary: Default createAlertChannel request
                x-microcks-default: true
                value:
                  name: name
                  params:
                    channelType: Email
                    textTemplate: textTemplate
                    titleTemplate: titleTemplate
                  alertChannelUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertChannel'
              examples:
                CreateAlertChannel200Example:
                  summary: Default createAlertChannel 200 response
                  x-microcks-default: true
                  value:
                    customer_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    name: name
                    params:
                      channelType: Email
                      textTemplate: textTemplate
                      titleTemplate: titleTemplate
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create an Alert Channel
      tags:
      - Alerts
      x-codegen-request-body-name: CreateAlertChannelRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_channels/{acUUID}:
    delete:
      description: 'WARNING: This is a preview API that could change.'
      operationId: deleteAlertChannel
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: acUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                DeleteAlertChannel200Example:
                  summary: Default deleteAlertChannel 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete an Alert Channel
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: getAlertChannel
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: acUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertChannel'
              examples:
                GetAlertChannel200Example:
                  summary: Default getAlertChannel 200 response
                  x-microcks-default: true
                  value:
                    customer_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    name: name
                    params:
                      channelType: Email
                      textTemplate: textTemplate
                      titleTemplate: titleTemplate
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get an Alert Channel
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: 'WARNING: This is a preview API that could change.'
      operationId: updateAlertChannel
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: acUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertChannelFormData'
            examples:
              UpdateAlertChannelRequestExample:
                summary: Default updateAlertChannel request
                x-microcks-default: true
                value:
                  name: name
                  params:
                    channelType: Email
                    textTemplate: textTemplate
                    titleTemplate: titleTemplate
                  alertChannelUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertChannel'
              examples:
                UpdateAlertChannel200Example:
                  summary: Default updateAlertChannel 200 response
                  x-microcks-default: true
                  value:
                    customer_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    name: name
                    params:
                      channelType: Email
                      textTemplate: textTemplate
                      titleTemplate: titleTemplate
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Update an Alert Channel
      tags:
      - Alerts
      x-codegen-request-body-name: UpdateAlertChannelRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_configurations:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: createAlertConfiguration
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertConfiguration'
            examples:
              CreateAlertConfigurationRequestExample:
                summary: Default createAlertConfiguration request
                x-microcks-default: true
                value:
                  template: REPLICATION_LAG
                  active: true
                  description: description
                  targetType: PLATFORM
                  maintenanceWindowUuids:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  labels:
                    key: labels
                  target:
                    all: true
                    uuids:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  thresholds:
                    key:
                      condition: GREATER_THAN
                      threshold: 1.4658129805029452
                  customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  thresholdUnit: STATUS
                  alertCount: 0.8008281904610115
                  createTime: '2022-12-12T13:07:18+00:00'
                  defaultDestination: true
                  destinationUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  name: name
                  durationSec: 0
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertConfiguration'
              examples:
                CreateAlertConfiguration200Example:
                  summary: Default createAlertConfiguration 200 response
                  x-microcks-default: true
                  value:
                    template: REPLICATION_LAG
                    active: true
                    description: description
                    targetType: PLATFORM
                    maintenanceWindowUuids:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                      key: labels
                    target:
                      all: true
                      uuids:
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    thresholds:
                      key:
                        condition: GREATER_THAN
                        threshold: 1.4658129805029452
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    thresholdUnit: STATUS
                    alertCount: 0.8008281904610115
                    createTime: 2022-12-12 13:07:18+00:00
                    defaultDestination: true
                    destinationUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    name: name
                    durationSec: 0
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create an Alert Configuration
      tags:
      - Alerts
      x-codegen-request-body-name: CreateAlertConfigurationRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_configurations/list:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: listAlertConfigurations
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertConfigurationApiFilter'
            examples:
              ListAlertConfigurationsRequestExample:
                summary: Default listAlertConfigurations request
                x-microcks-default: true
                value:
                  severity: SEVERE
                  template: REPLICATION_LAG
                  destinationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  name: name
                  active: true
                  destinationType: NO_DESTINATION
                  targetType: PLATFORM
                  target:
                    all: true
                    uuids:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  uuids:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertConfiguration'
                type: array
              examples:
                ListAlertConfigurations200Example:
                  summary: Default listAlertConfigurations 200 response
                  x-microcks-default: true
                  value:
                  - template: REPLICATION_LAG
                    active: true
                    description: description
                    targetType: PLATFORM
                    maintenanceWindowUuids:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                      key: labels
                    target:
                      all: true
                      uuids:
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    thresholds:
                      key:
                        condition: GREATER_THAN
                        threshold: 1.4658129805029452
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    thresholdUnit: STATUS
                    alertCount: 0.8008281904610115
                    createTime: 2022-12-12 13:07:18+00:00
                    defaultDestination: true
                    destinationUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    name: name
                    durationSec: 0
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Filtered List of Alert Configurations
      tags:
      - Alerts
      x-codegen-request-body-name: ListAlertConfigurationsRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_configurations/page:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: pageAlertConfigurations
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertConfigurationPagedApiQuery'
            examples:
              PageAlertConfigurationsRequestExample:
                summary: Default pageAlertConfigurations request
                x-microcks-default: true
                value:
                  filter:
                    severity: SEVERE
                    template: REPLICATION_LAG
                    destinationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    name: name
                    active: true
                    destinationType: NO_DESTINATION
                    targetType: PLATFORM
                    target:
                      all: true
                      uuids:
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    uuids:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  offset: 6
                  needTotalCount: true
                  limit: 0
                  sortBy: uuid
                  direction: ASC
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertConfigurationPagedResponse'
              examples:
                PageAlertConfigurations200Example:
                  summary: Default pageAlertConfigurations 200 response
                  x-microcks-default: true
                  value:
                    entities:
                    - template: REPLICATION_LAG
                      active: true
                      description: description
                      targetType: PLATFORM
                      maintenanceWindowUuids:
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      labels:
                        key: labels
                      target:
                        all: true
                        uuids:
                        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      thresholds:
                        key:
                          condition: GREATER_THAN
                          threshold: 1.4658129805029452
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      thresholdUnit: STATUS
                      alertCount: 0.8008281904610115
                      createTime: 2022-12-12 13:07:18+00:00
                      defaultDestination: true
                      destinationUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      name: name
                      durationSec: 0
                    - template: REPLICATION_LAG
                      active: true
                      description: description
                      targetType: PLATFORM
                      maintenanceWindowUuids:
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      labels:
                        key: labels
                      target:
                        all: true
                        uuids:
                        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      thresholds:
                        key:
                          condition: GREATER_THAN
                          threshold: 1.4658129805029452
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      thresholdUnit: STATUS
                      alertCount: 0.8008281904610115
                      createTime: 2022-12-12 13:07:18+00:00
                      defaultDestination: true
                      destinationUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      name: name
                      durationSec: 0
                    hasPrev: true
                    hasNext: true
                    totalCount: 0
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List All Alert Configurations (paginated)
      tags:
      - Alerts
      x-codegen-request-body-name: PageAlertConfigurationsRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_configurations/{configurationUUID}:
    delete:
      description: 'WARNING: This is a preview API that could change.'
      operationId: deleteAlertConfiguration
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: configurationUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                DeleteAlertConfiguration200Example:
                  summary: Default deleteAlertConfiguration 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete an Alert Configuration
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: getAlertConfiguration
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: configurationUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertConfiguration'
              examples:
                GetAlertConfiguration200Example:
                  summary: Default getAlertConfiguration 200 response
                  x-microcks-default: true
                  value:
                    template: REPLICATION_LAG
                    active: true
                    description: description
                    targetType: PLATFORM
                    maintenanceWindowUuids:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                      key: labels
                    target:
                      all: true
                      uuids:
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    thresholds:
                      key:
                        condition: GREATER_THAN
                        threshold: 1.4658129805029452
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    thresholdUnit: STATUS
                    alertCount: 0.8008281904610115
                    createTime: 2022-12-12 13:07:18+00:00
                    defaultDestination: true
                    destinationUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    name: name
                    durationSec: 0
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get an Alert Configuration
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: 'WARNING: This is a preview API that could change.'
      operationId: updateAlertConfiguration
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: configurationUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertConfiguration'
            examples:
              UpdateAlertConfigurationRequestExample:
                summary: Default updateAlertConfiguration request
                x-microcks-default: true
                value:
                  template: REPLICATION_LAG
                  active: true
                  description: description
                  targetType: PLATFORM
                  maintenanceWindowUuids:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  labels:
                    key: labels
                  target:
                    all: true
                    uuids:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  thresholds:
                    key:
                      condition: GREATER_THAN
                      threshold: 1.4658129805029452
                  customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  thresholdUnit: STATUS
                  alertCount: 0.8008281904610115
                  createTime: '2022-12-12T13:07:18+00:00'
                  defaultDestination: true
                  destinationUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  name: name
                  durationSec: 0
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertConfiguration'
              examples:
                UpdateAlertConfiguration200Example:
                  summary: Default updateAlertConfiguration 200 response
                  x-microcks-default: true
                  value:
                    template: REPLICATION_LAG
                    active: true
                    description: description
                    targetType: PLATFORM
                    maintenanceWindowUuids:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                      key: labels
                    target:
                      all: true
                      uuids:
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    thresholds:
                      key:
                        condition: GREATER_THAN
                        threshold: 1.4658129805029452
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    thresholdUnit: STATUS
                    alertCount: 0.8008281904610115
                    createTime: 2022-12-12 13:07:18+00:00
                    defaultDestination: true
                    destinationUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    name: name
                    durationSec: 0
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Update an Alert Configuration
      tags:
      - Alerts
      x-codegen-request-body-name: UpdateAlertConfigurationRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_configurations/{configurationUUID}/test_alert:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: sendTestAlert
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: configurationUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                SendTestAlert200Example:
                  summary: Default sendTestAlert 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Send Test Alert for Alert Configuration
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_destinations:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: listAlertDestinations
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertDestination'
                type: array
              examples:
                ListAlertDestinations200Example:
                  summary: Default listAlertDestinations 200 response
                  x-microcks-default: true
                  value:
                  - customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    channels:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultDestination: true
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List Alert Destinations
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: createAlertDestination
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertDestinationFormData'
            examples:
              CreateAlertDestinationRequestExample:
                summary: Default createAlertDestination request
                x-microcks-default: true
                value:
                  channels:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  defaultDestination: true
                  name: name
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertDestination'
              examples:
                CreateAlertDestination200Example:
                  summary: Default createAlertDestination 200 response
                  x-microcks-default: true
                  value:
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    channels:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultDestination: true
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create an Alert Destination
      tags:
      - Alerts
      x-codegen-request-body-name: CreateAlertDestinationRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_destinations/{adUUID}:
    delete:
      description: 'WARNING: This is a preview API that could change.'
      operationId: deleteAlertDestination
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: adUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                DeleteAlertDestination200Example:
                  summary: Default deleteAlertDestination 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete an Alert Destination
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: getAlertDestination
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: adUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertDestination'
              examples:
                GetAlertDestination200Example:
                  summary: Default getAlertDestination 200 response
                  x-microcks-default: true
                  value:
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    channels:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultDestination: true
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get an Alert Destination
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: 'WARNING: This is a preview API that could change.'
      operationId: updateAlertDestination
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: adUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertDestinationFormData'
            examples:
              UpdateAlertDestinationRequestExample:
                summary: Default updateAlertDestination request
                x-microcks-default: true
                value:
                  channels:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  defaultDestination: true
                  name: name
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertDestination'
              examples:
                UpdateAlertDestination200Example:
                  summary: Default updateAlertDestination 200 response
                  x-microcks-default: true
                  value:
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    channels:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultDestination: true
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Update an Alert Destination
      tags:
      - Alerts
      x-codegen-request-body-name: UpdateAlertDestinationRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_notification_preview:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: alertNotificationPreview
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertTemplateVariablesFormData'
            examples:
              AlertNotificationPreviewRequestExample:
                summary: Default alertNotificationPreview request
                x-microcks-default: true
                value:
                  variables:
                  - possibleValues:
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultValue: defaultValue
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - possibleValues:
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultValue: defaultValue
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - possibleValues:
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultValue: defaultValue
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - possibleValues:
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultValue: defaultValue
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - possibleValues:
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultValue: defaultValue
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertTemplateVariablesList'
              examples:
                AlertNotificationPreview200Example:
                  summary: Default alertNotificationPreview 200 response
                  x-microcks-default: true
                  value:
                    customVariables:
                    - possibleValues:
                      - possibleValues
                      - possibleValues
                      - possibleValues
                      - possibleValues
                      - possibleValues
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      defaultValue: defaultValue
                      name: name
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - possibleValues:
                      - possibleValues
                      - possibleValues
                      - possibleValues
                      - possibleValues
                      - possibleValues
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      defaultValue: defaultValue
                      name: name
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    systemVariables:
                    - YUGABYTE_ALERT_STATUS
                    - YUGABYTE_ALERT_STATUS
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Prepare Alert Notification Preview
      tags:
      - Alerts
      x-codegen-request-body-name: NotificationPreviewRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_template_settings:
    get:
      deprecated: true
      description: <b style="color:#ff0000">Deprecated since YBA version 2.20.0.0.</b></p>
      operationId: listAlertTemplateSettings
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertTemplateSettings'
                type: array
              examples:
                ListAlertTemplateSettings200Example:
                  summary: Default listAlertTemplateSettings 200 response
                  x-microcks-default: true
                  value:
                  - template: template
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: 2022-12-12 13:07:18+00:00
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                      key: labels
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Alert Template Settings - Deprecated
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      deprecated: true
      description: <b style="color:#ff0000">Deprecated since YBA version 2.20.0.0.</b></p>
      operationId: editAlertTemplateSettings
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertTemplateSettingsFormData'
            examples:
              EditAlertTemplateSettingsRequestExample:
                summary: Default editAlertTemplateSettings request
                x-microcks-default: true
                value:
                  settings:
                  - template: template
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: '2022-12-12T13:07:18+00:00'
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                      key: labels
                  - template: template
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: '2022-12-12T13:07:18+00:00'
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                      key: labels
                  - template: template
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: '2022-12-12T13:07:18+00:00'
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                      key: labels
                  - template: template
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: '2022-12-12T13:07:18+00:00'
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                      key: labels
                  - template: template
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: '2022-12-12T13:07:18+00:00'
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                      key: labels
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertTemplateSettings'
                type: array
              examples:
                EditAlertTemplateSettings200Example:
                  summary: Default editAlertTemplateSettings 200 response
                  x-microcks-default: true
                  value:
                  - template: template
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: 2022-12-12 13:07:18+00:00
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                      key: labels
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create or Update Alert Template Settings List - Deprecated
      tags:
      - Alerts
      x-codegen-request-body-name: EditAlertTemplateSettingsRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_template_settings/{settingsUUID}:
    delete:
      deprecated: true
      description: <b style="color:#ff0000">Deprecated since YBA version 2.20.0.0.</b></p>
      operationId: deleteAlertTemplateSettings
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: settingsUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                DeleteAlertTemplateSettings200Example:
                  summary: Default deleteAlertTemplateSettings 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete an Alert Template Settings - Deprecated
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_template_variables:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: listAlertTemplateVariables
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertTemplateVariablesList'
              examples:
                ListAlertTemplateVariables200Example:
                  summary: Default listAlertTemplateVariables 200 response
                  x-microcks-default: true
                  value:
                    customVariables:
                    - possibleValues:
                      - possibleValues
                      - possibleValues
                      - possibleValues
                      - possibleValues
                      - possibleValues
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      defaultValue: defaultValue
                      name: name
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - possibleValues:
                      - possibleValues
                      - possibleValues
                      - possibleValues
                      - possibleValues
                      - possibleValues
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      defaultValue: defaultValue
                      name: name
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    systemVariables:
                    - YUGABYTE_ALERT_STATUS
                    - YUGABYTE_ALERT_STATUS
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List Alert Template Variables
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: 'WARNING: This is a preview API that could change.'
      operationId: editAlertTemplateVariables
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertTemplateVariablesFormData'
            examples:
              EditAlertTemplateVariablesRequestExample:
                summary: Default editAlertTemplateVariables request
                x-microcks-default: true
                value:
                  variables:
                  - possibleValues:
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultValue: defaultValue
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - possibleValues:
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultValue: defaultValue
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - possibleValues:
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultValue: defaultValue
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - possibleValues:
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultValue: defaultValue
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - possibleValues:
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultValue: defaultValue
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertTemplateVariable'
                type: array
              examples:
                EditAlertTemplateVariables200Example:
                  summary: Default editAlertTemplateVariables 200 response
                  x-microcks-default: true
                  value:
                  - possibleValues:
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    - possibleValues
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    defaultValue: defaultValue
                    name: name
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create or Update Alert Template Variables
      tags:
      - Alerts
      x-codegen-request-body-name: EditAlertTemplateVariablesRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_template_variables/{variableUUID}:
    delete:
      description: 'WARNING: This is a preview API that could change.'
      operationId: deleteAlertTemplateVariables
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: variableUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                DeleteAlertTemplateVariables200Example:
                  summary: Default deleteAlertTemplateVariables 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete an Alert Template Variables
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alert_templates:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: listAlertTemplates
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertTemplateApiFilter'
            examples:
              ListAlertTemplatesRequestExample:
                summary: Default listAlertTemplates request
                x-microcks-default: true
                value:
                  name: name
                  targetType: PLATFORM
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertConfigurationTemplate'
                type: array
              examples:
                ListAlertTemplates200Example:
                  summary: Default listAlertTemplates 200 response
                  x-microcks-default: true
                  value:
                  - template: REPLICATION_LAG
                    thresholdUnitName: thresholdUnitName
                    thresholdMaxValue: 1.4658129805029452
                    active: true
                    description: description
                    targetType: PLATFORM
                    maintenanceWindowUuids:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                      key: labels
                    target:
                      all: true
                      uuids:
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    thresholdInteger: true
                    thresholds:
                      key:
                        condition: GREATER_THAN
                        threshold: 1.4658129805029452
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    thresholdUnit: STATUS
                    alertCount: 0.8008281904610115
                    createTime: 2022-12-12 13:07:18+00:00
                    thresholdConditionReadOnly: true
                    thresholdMinValue: 5.962133916683182
                    thresholdReadOnly: true
                    defaultDestination: true
                    destinationUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    name: name
                    durationSec: 0
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Filtered List of Alert Configuration Templates
      tags:
      - Alerts
      x-codegen-request-body-name: ListTemplatesRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alerts:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: listOfAlerts
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Alert'
                type: array
              examples:
                ListOfAlerts200Example:
                  summary: Default listOfAlerts 200 response
                  x-microcks-default: true
                  value:
                  - severity: SEVERE
                    nextNotificationTime: 2022-12-12 13:07:18+00:00
                    resolvedTime: 2022-12-12 13:07:18+00:00
                    severityIndex: 6
                    message: message
                    notifiedState: ACTIVE
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    definitionUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                    - name: name
                      value: value
                      key:
                        name: name
                    - name: name
                      value: value
                      key:
                        name: name
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: 2022-12-12 13:07:18+00:00
                    sourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    stateIndex: 1
                    name: name
                    notificationAttemptTime: 2022-12-12 13:07:18+00:00
                    sourceName: sourceName
                    state: ACTIVE
                    configurationType: PLATFORM
                    configurationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    notificationsFailed: 0
                    acknowledgedTime: 2022-12-12 13:07:18+00:00
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List All Alerts
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alerts/acknowledge:
    post:
      deprecated: true
      description: <b style="color:#ff0000">Deprecated since YBA version 2.8.0.0.</b></p>
      operationId: acknowledgeByFilter
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertApiFilter'
            examples:
              AcknowledgeByFilterRequestExample:
                summary: Default acknowledgeByFilter request
                x-microcks-default: true
                value:
                  sourceUUIDs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  configurationTypes:
                  - PLATFORM
                  - PLATFORM
                  sourceName: sourceName
                  configurationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  severities:
                  - SEVERE
                  - SEVERE
                  states:
                  - ACTIVE
                  - ACTIVE
                  uuids:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Alert'
                type: array
              examples:
                AcknowledgeByFilter200Example:
                  summary: Default acknowledgeByFilter 200 response
                  x-microcks-default: true
                  value:
                  - severity: SEVERE
                    nextNotificationTime: 2022-12-12 13:07:18+00:00
                    resolvedTime: 2022-12-12 13:07:18+00:00
                    severityIndex: 6
                    message: message
                    notifiedState: ACTIVE
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    definitionUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                    - name: name
                      value: value
                      key:
                        name: name
                    - name: name
                      value: value
                      key:
                        name: name
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: 2022-12-12 13:07:18+00:00
                    sourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    stateIndex: 1
                    name: name
                    notificationAttemptTime: 2022-12-12 13:07:18+00:00
                    sourceName: sourceName
                    state: ACTIVE
                    configurationType: PLATFORM
                    configurationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    notificationsFailed: 0
                    acknowledgedTime: 2022-12-12 13:07:18+00:00
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Acknowledge All Alerts - Deprecated
      tags:
      - Alerts
      x-codegen-request-body-name: AcknowledgeAlertsRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alerts/active:
    get:
      deprecated: true
      description: <b style="color:#ff0000">Deprecated since YBA version 2.8.0.0.</b></p>
      operationId: listActive
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Alert'
                type: array
              examples:
                ListActive200Example:
                  summary: Default listActive 200 response
                  x-microcks-default: true
                  value:
                  - severity: SEVERE
                    nextNotificationTime: 2022-12-12 13:07:18+00:00
                    resolvedTime: 2022-12-12 13:07:18+00:00
                    severityIndex: 6
                    message: message
                    notifiedState: ACTIVE
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    definitionUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                    - name: name
                      value: value
                      key:
                        name: name
                    - name: name
                      value: value
                      key:
                        name: name
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: 2022-12-12 13:07:18+00:00
                    sourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    stateIndex: 1
                    name: name
                    notificationAttemptTime: 2022-12-12 13:07:18+00:00
                    sourceName: sourceName
                    state: ACTIVE
                    configurationType: PLATFORM
                    configurationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    notificationsFailed: 0
                    acknowledgedTime: 2022-12-12 13:07:18+00:00
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List Active Alerts - Deprecated
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alerts/count:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: countAlerts
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertApiFilter'
            examples:
              CountAlertsRequestExample:
                summary: Default countAlerts request
                x-microcks-default: true
                value:
                  sourceUUIDs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  configurationTypes:
                  - PLATFORM
                  - PLATFORM
                  sourceName: sourceName
                  configurationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  severities:
                  - SEVERE
                  - SEVERE
                  states:
                  - ACTIVE
                  - ACTIVE
                  uuids:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                format: int32
                type: integer
              examples:
                CountAlerts200Example:
                  summary: Default countAlerts 200 response
                  x-microcks-default: true
                  value: 100
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Count Alerts
      tags:
      - Alerts
      x-codegen-request-body-name: CountAlertsRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alerts/page:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: pageAlerts
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertPagedApiQuery'
            examples:
              PageAlertsRequestExample:
                summary: Default pageAlerts request
                x-microcks-default: true
                value:
                  filter:
                    sourceUUIDs:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    configurationTypes:
                    - PLATFORM
                    - PLATFORM
                    sourceName: sourceName
                    configurationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    severities:
                    - SEVERE
                    - SEVERE
                    states:
                    - ACTIVE
                    - ACTIVE
                    uuids:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  offset: 6
                  needTotalCount: true
                  limit: 0
                  sortBy: uuid
                  direction: ASC
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertPagedResponse'
              examples:
                PageAlerts200Example:
                  summary: Default pageAlerts 200 response
                  x-microcks-default: true
                  value:
                    entities:
                    - severity: SEVERE
                      nextNotificationTime: 2022-12-12 13:07:18+00:00
                      resolvedTime: 2022-12-12 13:07:18+00:00
                      severityIndex: 6
                      message: message
                      notifiedState: ACTIVE
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      definitionUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      labels:
                      - name: name
                        value: value
                        key:
                          name: name
                      - name: name
                        value: value
                        key:
                          name: name
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      createTime: 2022-12-12 13:07:18+00:00
                      sourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      stateIndex: 1
                      name: name
                      notificationAttemptTime: 2022-12-12 13:07:18+00:00
                      sourceName: sourceName
                      state: ACTIVE
                      configurationType: PLATFORM
                      configurationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      notificationsFailed: 0
                      acknowledgedTime: 2022-12-12 13:07:18+00:00
                    - severity: SEVERE
                      nextNotificationTime: 2022-12-12 13:07:18+00:00
                      resolvedTime: 2022-12-12 13:07:18+00:00
                      severityIndex: 6
                      message: message
                      notifiedState: ACTIVE
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      definitionUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      labels:
                      - name: name
                        value: value
                        key:
                          name: name
                      - name: name
                        value: value
                        key:
                          name: name
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      createTime: 2022-12-12 13:07:18+00:00
                      sourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      stateIndex: 1
                      name: name
                      notificationAttemptTime: 2022-12-12 13:07:18+00:00
                      sourceName: sourceName
                      state: ACTIVE
                      configurationType: PLATFORM
                      configurationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      notificationsFailed: 0
                      acknowledgedTime: 2022-12-12 13:07:18+00:00
                    hasPrev: true
                    hasNext: true
                    totalCount: 0
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List Alerts (paginated)
      tags:
      - Alerts
      x-codegen-request-body-name: PageAlertsRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alerts/{alertUUID}:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: get
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: alertUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
              examples:
                Get200Example:
                  summary: Default get 200 response
                  x-microcks-default: true
                  value:
                    severity: SEVERE
                    nextNotificationTime: 2022-12-12 13:07:18+00:00
                    resolvedTime: 2022-12-12 13:07:18+00:00
                    severityIndex: 6
                    message: message
                    notifiedState: ACTIVE
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    definitionUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                    - name: name
                      value: value
                      key:
                        name: name
                    - name: name
                      value: value
                      key:
                        name: name
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: 2022-12-12 13:07:18+00:00
                    sourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    stateIndex: 1
                    name: name
                    notificationAttemptTime: 2022-12-12 13:07:18+00:00
                    sourceName: sourceName
                    state: ACTIVE
                    configurationType: PLATFORM
                    configurationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    notificationsFailed: 0
                    acknowledgedTime: 2022-12-12 13:07:18+00:00
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Details of an Alert
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/alerts/{alertUUID}/acknowledge:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: acknowledge
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: alertUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
              examples:
                Acknowledge200Example:
                  summary: Default acknowledge 200 response
                  x-microcks-default: true
                  value:
                    severity: SEVERE
                    nextNotificationTime: 2022-12-12 13:07:18+00:00
                    resolvedTime: 2022-12-12 13:07:18+00:00
                    severityIndex: 6
                    message: message
                    notifiedState: ACTIVE
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    definitionUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    labels:
                    - name: name
                      value: value
                      key:
                        name: name
                    - name: name
                      value: value
                      key:
                        name: name
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: 2022-12-12 13:07:18+00:00
                    sourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    stateIndex: 1
                    name: name
                    notificationAttemptTime: 2022-12-12 13:07:18+00:00
                    sourceName: sourceName
                    state: ACTIVE
                    configurationType: PLATFORM
                    configurationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    notificationsFailed: 0
                    acknowledgedTime: 2022-12-12 13:07:18+00:00
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Acknowledge an Alert
      tags:
      - Alerts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AlertLabelKey:
      example:
        name: name
      properties:
        name:
          type: string
          example: example-name
      required:
      - name
      type: object
    AlertApiFilter:
      example:
        sourceUUIDs:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        configurationTypes:
        - PLATFORM
        - PLATFORM
        sourceName: sourceName
        configurationUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        severities:
        - SEVERE
        - SEVERE
        states:
        - ACTIVE
        - ACTIVE
        uuids:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        configurationTypes:
          description: Alert Configuration Target Types
          items:
            enum:
            - PLATFORM
            - UNIVERSE
            type: string
          type: array
          uniqueItems: true
          example:
          - PLATFORM
        configurationUuid:
          description: The uuid of the alert configuration.
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        severities:
          description: The severity of the alerts.
          items:
            enum:
            - SEVERE
            - WARNING
            type: string
          type: array
          uniqueItems: true
          example:
          - SEVERE
        sourceName:
          description: The source name of the alerts.
          type: string
          example: example-sourceName
        sourceUUIDs:
          description: The source uuids of the alerts.
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        states:
          description: The state of the alerts.
          items:
            enum:
            - ACTIVE
            - ACKNOWLEDGED
            - SUSPENDED
            - RESOLVED
            type: string
          type: array
          uniqueItems: true
          example:
          - ACTIVE
        uuids:
          description: The uuids of the alerts.
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    AlertTemplateSettings:
      description: Alert template settings
      example:
        template: template
        customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        createTime: 2022-12-12 13:07:18+00:00
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        labels:
          key: labels
      properties:
        createTime:
          description: Creation time
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          readOnly: true
          type: string
        customerUUID:
          description: Customer UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        labels:
          additionalProperties:
            type: string
          description: Labels
          type: object
          example: {}
        template:
          description: Template
          maxLength: 50
          minLength: 1
          type: string
          example: example-template
        uuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - createTime
      - customerUUID
      - template
      - uuid
      type: object
    AlertTemplateVariable:
      description: Alert template variable
      example:
        possibleValues:
        - possibleValues
        - possibleValues
        - possibleValues
        - possibleValues
        - possibleValues
        customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        defaultValue: defaultValue
        name: name
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        customerUUID:
          description: Customer UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        defaultValue:
          description: Default value
          maxLength: 2147483647
          minLength: 1
          type: string
          example: example-value
        name:
          description: Name
          maxLength: 100
          minLength: 1
          type: string
          example: example-name
        possibleValues:
          description: Possible values
          items:
            type: string
          maxItems: 2147483647
          minItems: 1
          type: array
          uniqueItems: true
          example:
          - example-value
        uuid:
          description: Variable UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - customerUUID
      - defaultValue
      - name
      - possibleValues
      type: object
    AlertConfigurationTemplate:
      description: Alert configuration template
      example:
        template: REPLICATION_LAG
        thresholdUnitName: thresholdUnitName
        thresholdMaxValue: 1.4658129805029452
        active: true
        description: description
        targetType: PLATFORM
        maintenanceWindowUuids:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        labels:
          key: labels
        target:
          all: true
          uuids:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        thresholdInteger: true
        thresholds:
          key:
            condition: GREATER_THAN
            threshold: 1.4658129805029452
        customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        thresholdUnit: STATUS
        alertCount: 0.8008281904610115
        createTime: 2022-12-12 13:07:18+00:00
        thresholdConditionReadOnly: true
        thresholdMinValue: 5.962133916683182
        thresholdReadOnly: true
        defaultDestination: true
        destinationUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
        durationSec: 0
      properties:
        active:
          description: Is configured alerts raised or not
          type: boolean
          example: true
        alertCount:
          format: double
          type: number
          example: 1.5
        createTime:
          description: Creation time
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          readOnly: true
          type: string
        customerUUID:
          description: Customer UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        defaultDestination:
          description: Is default destination used for this config
          type: boolean
          example: true
        description:
          description: Description
          type: string
          example: Example description
        destinationUUID:
          description: Alert destination UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        durationSec:
          description: Duration in seconds, while condition is met to raise an alert
          format: int32
          minimum: 0
          type: integer
          example: 60
        labels:
          additionalProperties:
            type: string
          description: Labels
          type: object
          example: {}
        maintenanceWindowUuids:
          description: Maintenance window UUIDs, applied to this alert config
          items:
            format: uuid
            type: string
          readOnly: true
          type: array
          uniqueItems: true
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name:
          description: Name
          maxLength: 1000
          minLength: 1
          type: string
          example: example-name
        target:
          $ref: '#/components/schemas/AlertConfigurationTarget'
        targetType:
          description: Target type
          enum:
          - PLATFORM
          - UNIVERSE
          type: string
          example: PLATFORM
        template:
          description: Template name
          enum:
          - REPLICATION_LAG
          - CLOCK_SKEW
          - CLOCK_SYNC_CHECK_FAILED
          - MEMORY_CONSUMPTION
          - HEALTH_CHECK_ERROR
          - HEALTH_CHECK_NOTIFICATION_ERROR
          - UNIVERSE_METRIC_COLLECTION_FAILURE
          - BACKUP_FAILURE
          - BACKUP_DELETION_FAILURE
          - BACKUP_SCHEDULE_FAILURE
          - INACTIVE_CRON_NODES
          - ALERT_QUERY_FAILED
          - ALERT_CONFIG_WRITING_FAILED
          - ALERT_NOTIFICATION_ERROR
          - ALERT_NOTIFICATION_CHANNEL_ERROR
          - NODE_DOWN
          - NODE_RESTART
          - NODE_CPU_USAGE
          - NODE_DISK_USAGE
          - NODE_SYSTEM_DISK_USAGE
          - NODE_FILE_DESCRIPTORS_USAGE
          - NODE_OOM_KILLS
          - DB_VERSION_MISMATCH
          - DB_INSTANCE_DOWN
          - DB_INSTANCE_RESTART
          - DB_FATAL_LOGS
          - DB_ERROR_LOGS
          - DB_CORE_FILES
          - DB_YSQL_CONNECTION
          - DB_YCQL_CONNECTION
          - DB_REDIS_CONNECTION
          - DB_MEMORY_OVERLOAD
          - DB_COMPACTION_OVERLOAD
          - DB_DRIVE_FAILURE
          - DB_WRITE_READ_TEST_ERROR
          - DDL_ATOMICITY_CHECK
          - NODE_TO_NODE_CA_CERT_EXPIRY
          - NODE_TO_NODE_CERT_EXPIRY
          - CLIENT_TO_NODE_CA_CERT_EXPIRY
          - CLIENT_TO_NODE_CERT_EXPIRY
          - ENCRYPTION_AT_REST_CONFIG_EXPIRY
          - UNIVERSE_KMS_KEY_STATUS
          - UNIVERSE_TSERVER_CONNECTIVITY_ERROR
          - SSH_KEY_EXPIRY
          - SSH_KEY_ROTATION_FAILURE
          - PITR_CONFIG_FAILURE
          - YSQL_OP_AVG_LATENCY
          - YCQL_OP_AVG_LATENCY
          - YSQL_OP_P99_LATENCY
          - YCQL_OP_P99_LATENCY
          - HIGH_NUM_YSQL_CONNECTIONS
          - HIGH_NUM_YCQL_CONNECTIONS
          - HIGH_NUM_YEDIS_CONNECTIONS
          - YSQL_THROUGHPUT
          - YCQL_THROUGHPUT
          - YCQL_MICROSECOND_TIMESTAMPS_DETECTED
          - MASTER_LEADER_MISSING
          - MASTER_UNDER_REPLICATED
          - LEADERLESS_TABLETS
          - UNDER_REPLICATED_TABLETS
          - PRIVATE_ACCESS_KEY_STATUS
          - UNIVERSE_OS_UPDATE_REQUIRED
          - DB_YCQL_WEB_SERVER_DOWN
          - DB_YSQL_WEB_SERVER_DOWN
          - INCREASED_REMOTE_BOOTSTRAPS
          - TABLET_SERVER_AVG_READ_LATENCY
          - TABLET_SERVER_AVG_WRITE_LATENCY
          - REACTOR_DELAYS
          - RPC_QUEUE_SIZE
          - LOG_CACHE_SIZE
          - CACHE_MISS
          - HA_STANDBY_SYNC
          - NODE_AGENT_DOWN
          - NODE_AGENT_MISSING
          - UNIVERSE_RELEASE_FILES_STATUS
          - HA_VERSION_MISMATCH
          - TABLET_PEERS_GUARDRAIL
          - XCLUSTER_CONFIG_TABLE_BAD_STATE
          - NODE_CLOCK_DRIFT
          - UNIVERSE_UNEXPECTED_MASTERS_RUNNING
          - UNIVERSE_UNEXPECTED_TSERVERS_RUNNING
          - SAFETIME_LAG
          - CONTINUOUS_BACKUPS_STATUS
          - THP_RSS_ISSUE
          - THP_INCORRECT_SETTINGS
          - YNP_VERSION_SKEW
          - CDCSDK_FLUSH_LAG
          - CDCSDK_EXPIRY
          - OTEL_LOG_EXPORT_FAILURE
          - OTEL_METRIC_EXPORT_FAILURE
          type: string
          example: REPLICATION_LAG
        thresholdConditionReadOnly:
          description: Is alert threshold condition read-only or configurable
          readOnly: true
          type: boolean
          example: true
        thresholdInteger:
[...]
