openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Universe information API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: Universe information
paths:
  /api/v1/customers/{cUUID}/cost:
    get:
      description: YbaApi Internal. (Will be removed in next iteration)
      operationId: getUniverseCostForAll
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniverseResourceDetails'
                type: array
              examples:
                GetUniverseCostForAll200Example:
                  summary: Default getUniverseCostForAll 200 response
                  x-microcks-default: true
                  value:
                  - numCores: 5.637376656633329
                    volumeSizeGB: 3
                    gp3FreeThroughput: 1
                    numNodes: 2
                    memSizeGB: 5.962133916683182
                    azList:
                    - azList
                    - azList
                    pricePerHour: 7.061401241503109
                    volumeCount: 9
                    pricingKnown: true
                    gp3FreePiops: 6
                    ebsPricePerHour: 0.8008281904610115
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get a Cost Estimate for All Universes
      tags:
      - Universe information
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/cost:
    get:
      deprecated: true
      description: <b style="color:#ff0000">Deprecated since YBA version 2.20.0.0.</b></p>Use /universe_resources
      operationId: getUniverseCost
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseResourceDetails'
              examples:
                GetUniverseCost200Example:
                  summary: Default getUniverseCost 200 response
                  x-microcks-default: true
                  value:
                    numCores: 5.637376656633329
                    volumeSizeGB: 3
                    gp3FreeThroughput: 1
                    numNodes: 2
                    memSizeGB: 5.962133916683182
                    azList:
                    - azList
                    - azList
                    pricePerHour: 7.061401241503109
                    volumeCount: 9
                    pricingKnown: true
                    gp3FreePiops: 6
                    ebsPricePerHour: 0.8008281904610115
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get a Cost Estimate for a Universe - Deprecated
      tags:
      - Universe information
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/health_check:
    get:
      description: Available since YBA version 2.2.0.0. Checks the health of all tablet servers and masters in the universe, as well as certain conditions on the machines themselves, including disk utilization, presence of FATAL or core files, and more.
      operationId: healthCheckUniverse
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Details'
                type: array
              examples:
                HealthCheckUniverse200Example:
                  summary: Default healthCheckUniverse 200 response
                  x-microcks-default: true
                  value:
                  - timestamp_iso: 2022-12-12 13:07:18+00:00
                    data:
                    - node: node
                      process: process
                      timestamp_iso: 2022-12-12 13:07:18+00:00
                      metrics_only: true
                      has_warning: true
                      node_name: node_name
                      details:
                      - details
                      - details
                      metrics:
                      - help: help
                        unit: unit
                        values:
                        - value: 0.8008281904610115
                          labels:
                          - name: name
                            value: value
                          - name: name
                            value: value
                        - value: 0.8008281904610115
                          labels:
                          - name: name
                            value: value
                          - name: name
                            value: value
                        name: name
                      - help: help
                        unit: unit
                        values:
                        - value: 0.8008281904610115
                          labels:
                          - name: name
                            value: value
                          - name: name
                            value: value
                        - value: 0.8008281904610115
                          labels:
                          - name: name
                            value: value
                          - name: name
                            value: value
                        name: name
                      node_identifier: node_identifier
                      message: message
                      has_error: true
                    - node: node
                      process: process
                      timestamp_iso: 2022-12-12 13:07:18+00:00
                      metrics_only: true
                      has_warning: true
                      node_name: node_name
                      details:
                      - details
                      - details
                      metrics:
                      - help: help
                        unit: unit
                        values:
                        - value: 0.8008281904610115
                          labels:
                          - name: name
                            value: value
                          - name: name
                            value: value
                        - value: 0.8008281904610115
                          labels:
                          - name: name
                            value: value
                          - name: name
                            value: value
                        name: name
                      - help: help
                        unit: unit
                        values:
                        - value: 0.8008281904610115
                          labels:
                          - name: name
                            value: value
                          - name: name
                            value: value
                        - value: 0.8008281904610115
                          labels:
                          - name: name
                            value: value
                          - name: name
                            value: value
                        name: name
                      node_identifier: node_identifier
                      message: message
                      has_error: true
                    has_warning: true
                    has_error: true
                    yb_version: yb_version
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Return Results for the Last Health Check
      tags:
      - Universe information
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/leader:
    get:
      description: Available since YBA version 2.2.0.0.
      operationId: getMasterLeaderIP
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
              examples:
                GetMasterLeaderIP200Example:
                  summary: Default getMasterLeaderIP 200 response
                  x-microcks-default: true
                  value: {}
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get IP Address of a Universe's Master Leader
      tags:
      - Universe information
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/live_queries:
    get:
      description: Available since YBA version 2.4.0.0.
      operationId: getLiveQueries
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
              examples:
                GetLiveQueries200Example:
                  summary: Default getLiveQueries 200 response
                  x-microcks-default: true
                  value: {}
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Live Queries for a Universe
      tags:
      - Universe information
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/master_infos:
    get:
      description: YbaApi Internal.
      operationId: getMasterInfos
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MasterInfo'
                type: array
              examples:
                GetMasterInfos200Example:
                  summary: Default getMasterInfos 200 response
                  x-microcks-default: true
                  value:
                  - port: 0
                    peerRole: FOLLOWER
                    privateIp: privateIp
                    instanceUUID: instanceUUID
                    uptimeSeconds: 6
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Master Information List
      tags:
      - Universe information
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/slow_queries:
    delete:
      description: Available since YBA version 2.6.0.0.
      operationId: resetSlowQueries
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
              examples:
                ResetSlowQueries200Example:
                  summary: Default resetSlowQueries 200 response
                  x-microcks-default: true
                  value: {}
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Reset Slow Queries for a Universe
      tags:
      - Universe information
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Available since YBA version 2.6.0.0.
      operationId: getSlowQueries
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
              examples:
                GetSlowQueries200Example:
                  summary: Default getSlowQueries 200 response
                  x-microcks-default: true
                  value: {}
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Slow Queries for a Universe
      tags:
      - Universe information
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/status:
    get:
      description: Available since YBA version 2.2.0.0. This will return a Map of node name to its status in json format.
      operationId: universeStatus
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties:
                  properties: {}
                  type: object
                type: object
              examples:
                UniverseStatus200Example:
                  summary: Default universeStatus 200 response
                  x-microcks-default: true
                  value: {}
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get a Universe's Status
      tags:
      - Universe information
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/trigger_health_check:
    get:
      description: YbaApi Internal. Trigger a universe health check and return the trigger time.
      operationId: triggerHealthCheck
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerHealthCheckResult'
              examples:
                TriggerHealthCheck200Example:
                  summary: Default triggerHealthCheck 200 response
                  x-microcks-default: true
                  value:
                    timestamp: 2022-12-12 13:07:18+00:00
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Trigger a Universe Health Check
      tags:
      - Universe information
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/universe_resources:
    get:
      description: Available since YBA version 2.20.0.0. Expects UniverseDefinitionTaskParams in request body and calculates the resource estimate for NodeDetailsSet in that.
      operationId: getUniverseResources
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseResourceDetails'
              examples:
                GetUniverseResources200Example:
                  summary: Default getUniverseResources 200 response
                  x-microcks-default: true
                  value:
                    numCores: 5.637376656633329
                    volumeSizeGB: 3
                    gp3FreeThroughput: 1
                    numNodes: 2
                    memSizeGB: 5.962133916683182
                    azList:
                    - azList
                    - azList
                    pricePerHour: 7.061401241503109
                    volumeCount: 9
                    pricingKnown: true
                    gp3FreePiops: 6
                    ebsPricePerHour: 0.8008281904610115
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get a Resource Usage Estimate for a Universe
      tags:
      - Universe information
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/{nodeName}/download_logs:
    get:
      deprecated: true
      description: <b style="color:#ff0000">Deprecated since YBA version 2.20.0.0.</b></p>User Support bundle. Downloads the log files from a given node.
      operationId: downloadNodeLogs
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: nodeName
        required: true
        schema:
          type: string
        example: example-nodeName
      responses:
        '200':
          content:
            application/x-compressed:
              schema:
                type: string
              examples:
                DownloadNodeLogs200Example:
                  summary: Default downloadNodeLogs 200 response
                  x-microcks-default: true
                  value: string
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Download a Node's Logs - Deprecated
      tags:
      - Universe information
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Metric:
      example:
        help: help
        unit: unit
        values:
        - value: 0.8008281904610115
          labels:
          - name: name
            value: value
          - name: name
            value: value
        - value: 0.8008281904610115
          labels:
          - name: name
            value: value
          - name: name
            value: value
        name: name
      properties:
        help:
          type: string
          example: example-help
        name:
          type: string
          example: example-name
        unit:
          type: string
          example: example-unit
        values:
          items:
            $ref: '#/components/schemas/MetricValue'
          type: array
          example:
          - value: 0.8008281904610115
            labels:
            - name: name
              value: value
            - name: name
              value: value
      required:
      - help
      - name
      - unit
      - values
      type: object
    UniverseResourceDetails:
      example:
        numCores: 5.637376656633329
        volumeSizeGB: 3
        gp3FreeThroughput: 1
        numNodes: 2
        memSizeGB: 5.962133916683182
        azList:
        - azList
        - azList
        pricePerHour: 7.061401241503109
        volumeCount: 9
        pricingKnown: true
        gp3FreePiops: 6
        ebsPricePerHour: 0.8008281904610115
      properties:
        azList:
          description: Azs
          items:
            type: string
          type: array
          uniqueItems: true
          example:
          - example-azList
        ebsPricePerHour:
          description: EBS price per hour
          format: double
          type: number
          example: 1.5
        gp3FreePiops:
          description: gp3 free piops
          format: int32
          type: integer
          example: 100
        gp3FreeThroughput:
          description: gp3 free throughput
          format: int32
          type: integer
          example: 100
        memSizeGB:
          description: Memory GB
          format: double
          type: number
          example: 1.5
        numCores:
          description: Numbers of cores
          format: double
          type: number
          example: 1.5
        numNodes:
          description: Numbers of node
          format: int32
          type: integer
          example: 10
        pricePerHour:
          description: Price per hour
          format: double
          type: number
          example: 1.5
        pricingKnown:
          description: Known pricing info
          type: boolean
          example: true
        volumeCount:
          description: Volume count
          format: int32
          type: integer
          example: 10
        volumeSizeGB:
          description: Volume in GB
          format: int32
          type: integer
          example: 10
      type: object
    Details:
      example:
        timestamp_iso: 2022-12-12 13:07:18+00:00
        data:
        - node: node
          process: process
          timestamp_iso: 2022-12-12 13:07:18+00:00
          metrics_only: true
          has_warning: true
          node_name: node_name
          details:
          - details
          - details
          metrics:
          - help: help
            unit: unit
            values:
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            name: name
          - help: help
            unit: unit
            values:
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            name: name
          node_identifier: node_identifier
          message: message
          has_error: true
        - node: node
          process: process
          timestamp_iso: 2022-12-12 13:07:18+00:00
          metrics_only: true
          has_warning: true
          node_name: node_name
          details:
          - details
          - details
          metrics:
          - help: help
            unit: unit
            values:
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            name: name
          - help: help
            unit: unit
            values:
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            name: name
          node_identifier: node_identifier
          message: message
          has_error: true
        has_warning: true
        has_error: true
        yb_version: yb_version
      properties:
        data:
          items:
            $ref: '#/components/schemas/NodeData'
          type: array
          example:
          - node: node
            process: process
            timestamp_iso: '2022-12-12T13:07:18+00:00'
            metrics_only: true
            has_warning: true
            node_name: node_name
            details:
            - details
            - details
            metrics:
            - help: help
              unit: unit
              values:
              - value: 0.8008281904610115
                labels:
                - name: name
                  value: value
                - name: name
                  value: value
              - value: 0.8008281904610115
                labels:
                - name: name
                  value: value
                - name: name
                  value: value
              name: name
            - help: help
              unit: unit
              values:
              - value: 0.8008281904610115
                labels:
                - name: name
                  value: value
                - name: name
                  value: value
              - value: 0.8008281904610115
                labels:
                - name: name
                  value: value
                - name: name
                  value: value
              name: name
            node_identifier: node_identifier
            message: message
            has_error: true
        has_error:
          type: boolean
          example: true
        has_warning:
          type: boolean
          example: true
        timestamp_iso:
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        yb_version:
          type: string
          example: 2.20.0.0
      required:
      - data
      - has_error
      - has_warning
      - yb_version
      type: object
    MetricValue:
      example:
        value: 0.8008281904610115
        labels:
        - name: name
          value: value
        - name: name
          value: value
      properties:
        labels:
          items:
            $ref: '#/components/schemas/MetricLabel'
          type: array
          example:
          - name: name
            value: value
        value:
          format: double
          type: number
          example: 1.5
      required:
      - labels
      - value
      type: object
    TriggerHealthCheckResult:
      description: The response type for triggering a health check. Contains the timestamp of when the health check was triggered.
      example:
        timestamp: 2022-12-12 13:07:18+00:00
      properties:
        timestamp:
          description: The ISO-8601 timestamp when the health check was triggered.
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
      type: object
    MasterInfo:
      description: Information about master
      example:
        port: 0
        peerRole: FOLLOWER
        privateIp: privateIp
        instanceUUID: instanceUUID
        uptimeSeconds: 6
      properties:
        instanceUUID:
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        peerRole:
          enum:
          - FOLLOWER
          - LEADER
          - LEARNER
          - NON_PARTICIPANT
          - READ_REPLICA
          - UNKNOWN_ROLE
          type: string
          example: FOLLOWER
        port:
          format: int32
          type: integer
          example: 5433
        privateIp:
          type: string
          example: example-privateIp
        uptimeSeconds:
          format: int64
          type: integer
          example: 1000
      required:
      - instanceUUID
      - peerRole
      - port
      - privateIp
      - uptimeSeconds
      type: object
    MetricLabel:
      example:
        name: name
        value: value
      properties:
        name:
          type: string
          example: example-name
        value:
          type: string
          example: example-value
      required:
      - name
      - value
      type: object
    NodeData:
      example:
        node: node
        process: process
        timestamp_iso: 2022-12-12 13:07:18+00:00
        metrics_only: true
        has_warning: true
        node_name: node_name
        details:
        - details
        - details
        metrics:
        - help: help
          unit: unit
          values:
          - value: 0.8008281904610115
            labels:
            - name: name
              value: value
            - name: name
              value: value
          - value: 0.8008281904610115
            labels:
            - name: name
              value: value
            - name: name
              value: value
          name: name
        - help: help
          unit: unit
          values:
          - value: 0.8008281904610115
            labels:
            - name: name
              value: value
            - name: name
              value: value
          - value: 0.8008281904610115
            labels:
            - name: name
              value: value
            - name: name
              value: value
          name: name
        node_identifier: node_identifier
        message: message
        has_error: true
      properties:
        details:
          items:
            type: string
          type: array
          example:
          - example-details
        has_error:
          type: boolean
          example: true
        has_warning:
          type: boolean
          example: true
        message:
          type: string
          example: Example message
        metrics:
          items:
            $ref: '#/components/schemas/Metric'
          type: array
          example:
          - help: help
            unit: unit
            values:
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            name: name
        metrics_only:
          type: boolean
          example: true
        node:
          type: string
          example: node-1
        node_identifier:
          type: string
          example: node-1
        node_name:
          type: string
          example: example-node_name
        process:
          type: string
          example: example-process
        timestamp_iso:
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
      required:
      - details
      - has_error
      - has_warning
      - message
      - metrics
      - metrics_only
      - node
      - node_identifier
      - node_name
      - process
      type: object
    Metric_2:
      example:
        help: help
        unit: unit
        values:
        - value: 0.8008281904610115
          labels:
          - name: name
            value: value
          - name: name
            value: value
        - value: 0.8008281904610115
          labels:
          - name: name
            value: value
          - name: name
            value: value
        name: name
      properties:
        help:
          type: string
        name:
          type: string
        unit:
          type: string
        values:
          items:
            $ref: '#/components/schemas/MetricValue_2'
          type: array
      required:
      - help
      - name
      - unit
      - values
      type: object
    UniverseResourceDetails_2:
      example:
        numCores: 5.637376656633329
        volumeSizeGB: 3
        gp3FreeThroughput: 1
        numNodes: 2
        memSizeGB: 5.962133916683182
        azList:
        - azList
        - azList
        pricePerHour: 7.061401241503109
        volumeCount: 9
        pricingKnown: true
        gp3FreePiops: 6
        ebsPricePerHour: 0.8008281904610115
      properties:
        azList:
          description: Azs
          items:
            type: string
          type: array
          uniqueItems: true
        ebsPricePerHour:
          description: EBS price per hour
          format: double
          type: number
        gp3FreePiops:
          description: gp3 free piops
          format: int32
          type: integer
        gp3FreeThroughput:
          description: gp3 free throughput
          format: int32
          type: integer
        memSizeGB:
          description: Memory GB
          format: double
          type: number
        numCores:
          description: Numbers of cores
          format: double
          type: number
        numNodes:
          description: Numbers of node
          format: int32
          type: integer
        pricePerHour:
          description: Price per hour
          format: double
          type: number
        pricingKnown:
          description: Known pricing info
          type: boolean
        volumeCount:
          description: Volume count
          format: int32
          type: integer
        volumeSizeGB:
          description: Volume in GB
          format: int32
          type: integer
      type: object
    Details_2:
      example:
        timestamp_iso: 2022-12-12 13:07:18+00:00
        data:
        - node: node
          process: process
          timestamp_iso: 2022-12-12 13:07:18+00:00
          metrics_only: true
          has_warning: true
          node_name: node_name
          details:
          - details
          - details
          metrics:
          - help: help
            unit: unit
            values:
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            name: name
          - help: help
            unit: unit
            values:
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            name: name
          node_identifier: node_identifier
          message: message
          has_error: true
        - node: node
          process: process
          timestamp_iso: 2022-12-12 13:07:18+00:00
          metrics_only: true
          has_warning: true
          node_name: node_name
          details:
          - details
          - details
          metrics:
          - help: help
            unit: unit
            values:
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            name: name
          - help: help
            unit: unit
            values:
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            - value: 0.8008281904610115
              labels:
              - name: name
                value: value
              - name: name
                value: value
            name: name
          node_identifier: node_identifier
          message: message
          has_error: true
        has_warning: true
        has_error: true
        yb_version: yb_version
      properties:
        data:
          items:
            $ref: '#/components/schemas/NodeData_2'
          type: array
        has_error:
          type: boolean
        has_warning:
          type: boolean
        timestamp_iso:
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        yb_version:
          type: string
      required:
      - data
      - has_error
      - has_warning
      - yb_version
      type: object
    MetricValue_2:
      example:
        value: 0.8008281904610115
        labels:
        - name: name
          value: value
        - name: name
          value: value
      properties:
        labels:
          items:
            $ref: '#/components/schemas/MetricLabel_2'
          type: array
        value:
          format: double
          type: number
      required:
      - labels
      - value
      type: object
    MasterInfo_2:
      description: Information about master
      example:
        port: 0
        peerRole: FOLLOWER
        privateIp: privateIp
        instanceUUID: instanceUUID
        uptimeSeconds: 6
      properties:
        instanceUUID:
          type: string
        peerRole:
          enum:
          - FOLLOWER
          - LEADER
          - LEARNER
          - NON_PARTICIPANT
          - READ_REPLICA
          - UNKNOWN_ROLE
          type: string
        port:
          format: int32
          type: integer
        privateIp:
          type: string
        uptimeSeconds:
          format: int64
          type: integer
      required:
      - instanceUUID
      - peerRole
      - port
      - privateIp
      - uptimeSeconds
      type: object
    MetricLabel_2:
      example:
        name: name
        value: value
      properties:
        name:
          type: string
        value:
          type: string
      required:
      - name
      - value
      type: object
    NodeData_2:
      example:
        node: node
        process: process
        timestamp_iso: 2022-12-12 13:07:18+00:00
        metrics_only: true
        has_warning: true
        node_name: node_name
        details:
        - details
        - details
        metrics:
        - help: help
          unit: unit
          values:
          - value: 0.8008281904610115
            labels:
            - name: name
              value: value
            - name: name
              value: value
          - value: 0.8008281904610115
            labels:
            - name: name
              value: value
            - name: name
              value: value
          name: name
        - help: help
          unit: unit
          values:
          - value: 0.8008281904610115
            labels:
            - name: name
              value: value
            - name: name
              value: value
          - value: 0.8008281904610115
            labels:
            - name: name
              value: value
            - name: name
              value: value
          name: name
        node_identifier: node_identifier
        message: message
        has_error: true
      properties:
        details:
          items:
            type: string
          type: array
        has_error:
          type: boolean
        has_warning:
          type: boolean
        message:
          type: string
        metrics:
          items:
            $ref: '#/components/schemas/Metric_2'
          type: array
        metrics_only:
          type: boolean
        node:
          type: string
        node_identifier:
          type: string
        node_name:
          type: string
        process:
          type: string
        timestamp_iso:
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
      required:
      - details
      - has_error
      - has_warning
      - message
      - metrics
      - metrics_only
      - node
      - node_identifier
      - node_name
      - process
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the YugabyteDB Aeon UI under User Profile > API Keys. Pass the key as a Bearer token in the Authorization header.
definitions:
  UniverseResourceDetails:
    properties:
      azList:
        description: Azs
        items:
          type: string
        type: array
        uniqueItems: true
      ebsPricePerHour:
        description: EBS price per hour
        format: double
        type: number
      gp3FreePiops:
        description: gp3 free piops
        format: int32
        type: integer
      gp3FreeThroughput:
        description: gp3 free throughput
        format: int32
        type: integer
      memSizeGB:
        description: Memory GB
        format: double
        type: number
      numCores:
        description: Numbers of cores
        format: double
        type: number
      numNodes:
        description: Numbers of node
        format: int32
        type: integer
      pricePerHour:
        description: Price per hour
        format: double
        type: number
      pricingKnown:
        description: Known pricing info
        type: boolean
      volumeCount:
        description: Volume count
        format: int32
        type: integer
      volumeSizeGB:
        description: Volume in GB
        format: int32
        type: integer
    type: object
  TriggerHealthCheckResult:
    description: The response type for triggering a health check. Contains the timestamp of when the health check was triggered.
    properties:
      timestamp:
        description: The ISO-8601 timestamp when the health check was triggered.
        format: date-time
        type: string
    type: object
externalDocs:
  description: YugabyteDB Aeon REST API Documentation
  url: https://docs.yugabyte.com/stable/yugabyte-cloud/managed-automation/managed-api/
