openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys PITR management API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: PITR management
paths:
  /api/v1/customers/{cUUID}/universes/{uniUUID}/clone:
    post:
      description: YbaApi Internal.
      operationId: cloneNamespace
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneNamespaceParams'
            examples:
              CloneNamespaceRequestExample:
                summary: Default cloneNamespace request
                x-microcks-default: true
                value:
                  expectedUniverseVersion: 6
                  sourceXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  nodeExporterUser: nodeExporterUser
                  encryptionAtRestConfig:
                    encryptionAtRestEnabled: true
                    opType: ENABLE
                    kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    type: CMK
                  cloneTimeInMillis: 0
                  targetKeyspaceName: targetKeyspaceName
                  ybcSoftwareVersion: ybcSoftwareVersion
                  creatingUser:
                    ldapSpecifiedRole: true
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    role: Admin
                    authTokenIssueDate: '2021-06-17T15:00:05+00:00'
                    timezone: timezone
                    oidcJwtAuthToken: oidcJwtAuthToken
                    groupMemberships:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    userType: local
                    creationDate: '2022-12-12T13:07:18+00:00'
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    email: username1@example.com
                    primary: true
                  extraDependencies:
                    installNodeExporter: true
                  platformVersion: platformVersion
                  sleepAfterTServerRestartMillis: 5
                  runOnlyPrechecks: true
                  platformUrl: platformUrl
                  pitrConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  targetXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  ybPrevSoftwareVersion: ybPrevSoftwareVersion
                  deviceInfo:
                    cloudVolumeEncryption:
                      enableVolumeEncryption: true
                      kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    diskIops: 6
                    storageClass: storageClass
                    numVolumes: 7
                    mountPoints: mountPoints
                    storageType: IO1
                    throughput: 1
                    volumeSize: 4
                  enableYbc: true
                  errorString: errorString
                  installYbc: true
                  nodeDetailsSet:
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  ybcInstalled: true
                  communicationPorts:
                    nodeExporterPort: 5
                    tserverHttpPort: 9
                    internalYsqlServerRpcPort: 0
                    ybControllerHttpPort: 2
                    redisServerHttpPort: 2
                    ybControllerrRpcPort: 4
                    tserverRpcPort: 3
                    ysqlServerHttpPort: 1
                    yqlServerRpcPort: 1
                    masterHttpPort: 6
                    otelCollectorMetricsPort: 5
                    ysqlServerRpcPort: 1
                    yqlServerHttpPort: 7
                    masterRpcPort: 1
                    redisServerRpcPort: 7
                  cmkArn: cmkArn
                  sleepAfterMasterRestartMillis: 1
                  previousTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        description: perform clone via PITR
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                CloneNamespace200Example:
                  summary: Default cloneNamespace 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Clone Namespace via PITR on a Universe
      tags:
      - PITR management
      x-codegen-request-body-name: namespaceClone
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/keyspaces/{tableType}/{keyspaceName}/pitr_config:
    post:
      operationId: createPitrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: tableType
        required: true
        schema:
          type: string
        example: DEFAULT
      - in: path
        name: keyspaceName
        required: true
        schema:
          type: string
        example: example-keyspaceName
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePitrConfigParams'
            examples:
              CreatePitrConfigRequestExample:
                summary: Default createPitrConfig request
                x-microcks-default: true
                value:
                  expectedUniverseVersion: 0
                  sourceXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  nodeExporterUser: nodeExporterUser
                  encryptionAtRestConfig:
                    encryptionAtRestEnabled: true
                    opType: ENABLE
                    kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    type: CMK
                  ybcSoftwareVersion: ybcSoftwareVersion
                  creatingUser:
                    ldapSpecifiedRole: true
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    role: Admin
                    authTokenIssueDate: '2021-06-17T15:00:05+00:00'
                    timezone: timezone
                    oidcJwtAuthToken: oidcJwtAuthToken
                    groupMemberships:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    userType: local
                    creationDate: '2022-12-12T13:07:18+00:00'
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    email: username1@example.com
                    primary: true
                  extraDependencies:
                    installNodeExporter: true
                  platformVersion: platformVersion
                  intervalInSeconds: 6
                  sleepAfterTServerRestartMillis: 5
                  runOnlyPrechecks: true
                  platformUrl: platformUrl
                  targetXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  ybPrevSoftwareVersion: ybPrevSoftwareVersion
                  deviceInfo:
                    cloudVolumeEncryption:
                      enableVolumeEncryption: true
                      kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    diskIops: 6
                    storageClass: storageClass
                    numVolumes: 7
                    mountPoints: mountPoints
                    storageType: IO1
                    throughput: 1
                    volumeSize: 4
                  enableYbc: true
                  errorString: errorString
                  retentionPeriodInSeconds: 1
                  installYbc: true
                  nodeDetailsSet:
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  ybcInstalled: true
                  name: name
                  communicationPorts:
                    nodeExporterPort: 5
                    tserverHttpPort: 9
                    internalYsqlServerRpcPort: 0
                    ybControllerHttpPort: 2
                    redisServerHttpPort: 2
                    ybControllerrRpcPort: 4
                    tserverRpcPort: 3
                    ysqlServerHttpPort: 1
                    yqlServerRpcPort: 1
                    masterHttpPort: 6
                    otelCollectorMetricsPort: 5
                    ysqlServerRpcPort: 1
                    yqlServerHttpPort: 7
                    masterRpcPort: 1
                    redisServerRpcPort: 7
                  cmkArn: cmkArn
                  sleepAfterMasterRestartMillis: 5
                  previousTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        description: post pitr config
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                CreatePitrConfig200Example:
                  summary: Default createPitrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create Pitr Config for a Keyspace in a Universe
      tags:
      - PITR management
      x-codegen-request-body-name: pitrConfig
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/pitr:
    post:
      operationId: performPitr
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreSnapshotScheduleParams'
            examples:
              PerformPitrRequestExample:
                summary: Default performPitr request
                x-microcks-default: true
                value:
                  expectedUniverseVersion: 0
                  sourceXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  nodeExporterUser: nodeExporterUser
                  encryptionAtRestConfig:
                    encryptionAtRestEnabled: true
                    opType: ENABLE
                    kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    type: CMK
                  ybcSoftwareVersion: ybcSoftwareVersion
                  creatingUser:
                    ldapSpecifiedRole: true
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    role: Admin
                    authTokenIssueDate: '2021-06-17T15:00:05+00:00'
                    timezone: timezone
                    oidcJwtAuthToken: oidcJwtAuthToken
                    groupMemberships:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    userType: local
                    creationDate: '2022-12-12T13:07:18+00:00'
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    email: username1@example.com
                    primary: true
                  extraDependencies:
                    installNodeExporter: true
                  platformVersion: platformVersion
                  sleepAfterTServerRestartMillis: 5
                  runOnlyPrechecks: true
                  platformUrl: platformUrl
                  pitrConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  restoreTimeInMillis: 6
                  targetXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  ybPrevSoftwareVersion: ybPrevSoftwareVersion
                  deviceInfo:
                    cloudVolumeEncryption:
                      enableVolumeEncryption: true
                      kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    diskIops: 6
                    storageClass: storageClass
                    numVolumes: 7
                    mountPoints: mountPoints
                    storageType: IO1
                    throughput: 1
                    volumeSize: 4
                  enableYbc: true
                  universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  errorString: errorString
                  installYbc: true
                  nodeDetailsSet:
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  ybcInstalled: true
                  communicationPorts:
                    nodeExporterPort: 5
                    tserverHttpPort: 9
                    internalYsqlServerRpcPort: 0
                    ybControllerHttpPort: 2
                    redisServerHttpPort: 2
                    ybControllerrRpcPort: 4
                    tserverRpcPort: 3
                    ysqlServerHttpPort: 1
                    yqlServerRpcPort: 1
                    masterHttpPort: 6
                    otelCollectorMetricsPort: 5
                    ysqlServerRpcPort: 1
                    yqlServerHttpPort: 7
                    masterRpcPort: 1
                    redisServerRpcPort: 7
                  cmkArn: cmkArn
                  sleepAfterMasterRestartMillis: 1
                  previousTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        description: perform PITR
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                PerformPitr200Example:
                  summary: Default performPitr 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Perform PITR on a Universe
      tags:
      - PITR management
      x-codegen-request-body-name: performPitr
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/pitr_config:
    get:
      operationId: ListOfPitrConfigs
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PitrConfig'
                type: array
              examples:
                ListOfPitrConfigs200Example:
                  summary: Default ListOfPitrConfigs 200 response
                  x-microcks-default: true
                  value:
                  - dbName: dbName
                    updateTime: 2022-12-12 13:07:18+00:00
                    createdForDr: true
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    minRecoverTimeInMillis: 1
                    scheduleInterval: 5
                    tableType: YQL_TABLE_TYPE
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    createTime: 2022-12-12 13:07:18+00:00
                    intermittentMinRecoverTimeInMillis: 0
                    maxRecoverTimeInMillis: 6
                    name: name
                    disabled: true
                    usedForXCluster: true
                    state: UNKNOWN
                    retentionPeriod: 5
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List the PITR Configs of a Universe
      tags:
      - PITR management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/pitr_config/{pUUID}:
    delete:
      operationId: deletePitrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: pUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                DeletePitrConfig200Example:
                  summary: Default deletePitrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete Pitr Config on a Universe
      tags:
      - PITR management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: 'WARNING: This is a preview API that could change.'
      operationId: updatePitrConfig
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: pUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePitrConfigParams'
            examples:
              UpdatePitrConfigRequestExample:
                summary: Default updatePitrConfig request
                x-microcks-default: true
                value:
                  expectedUniverseVersion: 0
                  sourceXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  nodeExporterUser: nodeExporterUser
                  encryptionAtRestConfig:
                    encryptionAtRestEnabled: true
                    opType: ENABLE
                    kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    type: CMK
                  ybcSoftwareVersion: ybcSoftwareVersion
                  creatingUser:
                    ldapSpecifiedRole: true
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    role: Admin
                    authTokenIssueDate: '2021-06-17T15:00:05+00:00'
                    timezone: timezone
                    oidcJwtAuthToken: oidcJwtAuthToken
                    groupMemberships:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    userType: local
                    creationDate: '2022-12-12T13:07:18+00:00'
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    email: username1@example.com
                    primary: true
                  extraDependencies:
                    installNodeExporter: true
                  platformVersion: platformVersion
                  intervalInSeconds: 6
                  sleepAfterTServerRestartMillis: 5
                  runOnlyPrechecks: true
                  platformUrl: platformUrl
                  targetXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  ybPrevSoftwareVersion: ybPrevSoftwareVersion
                  deviceInfo:
                    cloudVolumeEncryption:
                      enableVolumeEncryption: true
                      kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    diskIops: 6
                    storageClass: storageClass
                    numVolumes: 7
                    mountPoints: mountPoints
                    storageType: IO1
                    throughput: 1
                    volumeSize: 4
                  enableYbc: true
                  errorString: errorString
                  retentionPeriodInSeconds: 1
                  installYbc: true
                  nodeDetailsSet:
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  ybcInstalled: true
                  communicationPorts:
                    nodeExporterPort: 5
                    tserverHttpPort: 9
                    internalYsqlServerRpcPort: 0
                    ybControllerHttpPort: 2
                    redisServerHttpPort: 2
                    ybControllerrRpcPort: 4
                    tserverRpcPort: 3
                    ysqlServerHttpPort: 1
                    yqlServerRpcPort: 1
                    masterHttpPort: 6
                    otelCollectorMetricsPort: 5
                    ysqlServerRpcPort: 1
                    yqlServerHttpPort: 7
                    masterRpcPort: 1
                    redisServerRpcPort: 7
                  cmkArn: cmkArn
                  sleepAfterMasterRestartMillis: 5
                  previousTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        description: put pitr config
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                UpdatePitrConfig200Example:
                  summary: Default updatePitrConfig 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Update Pitr Config for a Keyspace in a Universe
      tags:
      - PITR management
      x-codegen-request-body-name: pitrConfig
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EncryptionAtRestConfig:
      description: Encryption at rest configuration
      example:
        encryptionAtRestEnabled: true
        opType: ENABLE
        kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: CMK
      properties:
        encryptionAtRestEnabled:
          description: Whether a universe is currently encrypted at rest
          type: boolean
          example: true
        kmsConfigUUID:
          description: KMS configuration UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        opType:
          description: 'Operation type: enable, disable, or rotate the universe key/encryption at rest'
          enum:
          - ENABLE
          - DISABLE
          - UNDEFINED
          type: string
          example: ENABLE
        type:
          description: Whether to generate a data key or just retrieve the CMK ARN
          enum:
          - CMK
          - DATA_KEY
          type: string
          example: CMK
      type: object
    DeviceInfo:
      description: Device information
      example:
        cloudVolumeEncryption:
          enableVolumeEncryption: true
          kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        diskIops: 6
        storageClass: storageClass
        numVolumes: 7
        mountPoints: mountPoints
        storageType: IO1
        throughput: 1
        volumeSize: 4
      properties:
        cloudVolumeEncryption:
          $ref: '#/components/schemas/CloudVolumeEncryption'
        diskIops:
          description: Desired IOPS for the volumes mounted on this instance
          format: int32
          type: integer
          example: 100
        mountPoints:
          description: Comma-separated list of mount points for the devices in each instance
          type: string
          example: example-mountPoints
        numVolumes:
          description: Number of volumes to be mounted on this instance at the default path
          format: int32
          type: integer
          example: 10
        storageClass:
          description: Name of the storage class
          type: string
          example: example-storageClass
        storageType:
          description: Storage type used for this instance
          enum:
          - IO1
          - IO2
          - GP2
          - GP3
          - Scratch
          - Persistent
          - Hyperdisk_Balanced
          - Hyperdisk_Extreme
          - StandardSSD_LRS
          - Premium_LRS
          - PremiumV2_LRS
          - UltraSSD_LRS
          - Local
          type: string
          example: IO1
        throughput:
          description: Desired throughput for the volumes mounted on this instance
          format: int32
          type: integer
          example: 100
        volumeSize:
          description: The size of each volume in each instance. Could be modified in payload for /resize_node API call
          format: int32
          type: integer
          example: 10
      type: object
    CloneNamespaceParams:
      description: Clone Namespace parameters
      example:
        expectedUniverseVersion: 6
        sourceXClusterConfigs:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        nodeExporterUser: nodeExporterUser
        encryptionAtRestConfig:
          encryptionAtRestEnabled: true
          opType: ENABLE
          kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: CMK
        cloneTimeInMillis: 0
        targetKeyspaceName: targetKeyspaceName
        ybcSoftwareVersion: ybcSoftwareVersion
        creatingUser:
          ldapSpecifiedRole: true
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          role: Admin
          authTokenIssueDate: 2021-06-17 15:00:05+00:00
          timezone: timezone
          oidcJwtAuthToken: oidcJwtAuthToken
          groupMemberships:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          userType: local
          creationDate: 2022-12-12 13:07:18+00:00
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          email: username1@example.com
          primary: true
        extraDependencies:
          installNodeExporter: true
        platformVersion: platformVersion
        sleepAfterTServerRestartMillis: 5
        runOnlyPrechecks: true
        platformUrl: platformUrl
        pitrConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        targetXClusterConfigs:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ybPrevSoftwareVersion: ybPrevSoftwareVersion
        deviceInfo:
          cloudVolumeEncryption:
            enableVolumeEncryption: true
            kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          diskIops: 6
          storageClass: storageClass
          numVolumes: 7
          mountPoints: mountPoints
          storageType: IO1
          throughput: 1
          volumeSize: 4
        enableYbc: true
        errorString: errorString
        installYbc: true
        nodeDetailsSet:
        - nodeName: nodeName
          nodeExporterPort: 3
          placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ybControllerHttpPort: 3
          dedicatedTo: MASTER
          machineImage: machineImage
          redisServerHttpPort: 2
          masterState: ToStart
          tserverRpcPort: 6
          ysqlServerHttpPort: 7
          yqlServerRpcPort: 0
          otelCollectorMetricsPort: 1
          isMaster: true
          sshUserOverride: sshUserOverride
          cloudInfo:
            mount_roots: mount_roots
            kubernetesNamespace: kubernetesNamespace
            public_ip: public_ip
            secondary_subnet_id: secondary_subnet_id
            private_dns: private_dns
            useTimeSync: true
            kubernetesPodName: kubernetesPodName
            root_volume: root_volume
            secondary_private_ip: secondary_private_ip
            private_ip: private_ip
            cloud: cloud
            lun_indexes:
            - 6
            - 6
            assignPublicIP: true
            az: az
            subnet_id: subnet_id
            public_dns: public_dns
            region: region
            instance_type: instance_type
          sshPortOverride: 6
          cronsActive: true
          state: Provisioned
          nodeIdx: 6
          masterRpcPort: 6
          redisServerRpcPort: 6
          lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
          tserverHttpPort: 5
          disksAreMountedByUUID: true
          isRedisServer: true
          ybPrebuiltAmi: true
          internalYsqlServerRpcPort: 8
          isTserver: true
          nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          isYsqlServer: true
          ybControllerRpcPort: 3
          isYqlServer: true
          azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          masterHttpPort: 9
          ysqlServerRpcPort: 6
          autoSyncMasterAddrs: true
          yqlServerHttpPort: 7
        - nodeName: nodeName
          nodeExporterPort: 3
          placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ybControllerHttpPort: 3
          dedicatedTo: MASTER
          machineImage: machineImage
          redisServerHttpPort: 2
          masterState: ToStart
          tserverRpcPort: 6
          ysqlServerHttpPort: 7
          yqlServerRpcPort: 0
          otelCollectorMetricsPort: 1
          isMaster: true
          sshUserOverride: sshUserOverride
          cloudInfo:
            mount_roots: mount_roots
            kubernetesNamespace: kubernetesNamespace
            public_ip: public_ip
            secondary_subnet_id: secondary_subnet_id
            private_dns: private_dns
            useTimeSync: true
            kubernetesPodName: kubernetesPodName
            root_volume: root_volume
            secondary_private_ip: secondary_private_ip
            private_ip: private_ip
            cloud: cloud
            lun_indexes:
            - 6
            - 6
            assignPublicIP: true
            az: az
            subnet_id: subnet_id
            public_dns: public_dns
            region: region
            instance_type: instance_type
          sshPortOverride: 6
          cronsActive: true
          state: Provisioned
          nodeIdx: 6
          masterRpcPort: 6
          redisServerRpcPort: 6
          lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
          tserverHttpPort: 5
          disksAreMountedByUUID: true
          isRedisServer: true
          ybPrebuiltAmi: true
          internalYsqlServerRpcPort: 8
          isTserver: true
          nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          isYsqlServer: true
          ybControllerRpcPort: 3
          isYqlServer: true
          azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          masterHttpPort: 9
          ysqlServerRpcPort: 6
          autoSyncMasterAddrs: true
          yqlServerHttpPort: 7
        ybcInstalled: true
        communicationPorts:
          nodeExporterPort: 5
          tserverHttpPort: 9
          internalYsqlServerRpcPort: 0
          ybControllerHttpPort: 2
          redisServerHttpPort: 2
          ybControllerrRpcPort: 4
          tserverRpcPort: 3
          ysqlServerHttpPort: 1
          yqlServerRpcPort: 1
          masterHttpPort: 6
          otelCollectorMetricsPort: 5
          ysqlServerRpcPort: 1
          yqlServerHttpPort: 7
          masterRpcPort: 1
          redisServerRpcPort: 7
        cmkArn: cmkArn
        sleepAfterMasterRestartMillis: 1
        previousTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        cloneTimeInMillis:
          description: Time in millis at which to clone the source namespace. If not specifed, it is cloned to current state.
          format: int64
          type: integer
          example: 1000
        cmkArn:
          description: Amazon Resource Name (ARN) of the CMK
          type: string
          example: example-cmkArn
        communicationPorts:
          $ref: '#/components/schemas/CommunicationPorts'
        creatingUser:
          $ref: '#/components/schemas/Users'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
        enableYbc:
          type: boolean
          example: true
        encryptionAtRestConfig:
          $ref: '#/components/schemas/EncryptionAtRestConfig'
        errorString:
          description: Error message
          type: string
          example: example-errorString
        expectedUniverseVersion:
          description: Expected universe version
          format: int32
          type: integer
          example: 100
        extraDependencies:
          $ref: '#/components/schemas/ExtraDependencies'
        installYbc:
          type: boolean
          example: true
        nodeDetailsSet:
          description: Node details
          items:
            $ref: '#/components/schemas/NodeDetails'
          type: array
          uniqueItems: true
          example:
          - nodeName: nodeName
            nodeExporterPort: 3
            placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            ybControllerHttpPort: 3
            dedicatedTo: MASTER
            machineImage: machineImage
            redisServerHttpPort: 2
            masterState: ToStart
            tserverRpcPort: 6
            ysqlServerHttpPort: 7
            yqlServerRpcPort: 0
            otelCollectorMetricsPort: 1
            isMaster: true
            sshUserOverride: sshUserOverride
            cloudInfo:
              mount_roots: mount_roots
              kubernetesNamespace: kubernetesNamespace
              public_ip: public_ip
              secondary_subnet_id: secondary_subnet_id
              private_dns: private_dns
              useTimeSync: true
              kubernetesPodName: kubernetesPodName
              root_volume: root_volume
              secondary_private_ip: secondary_private_ip
              private_ip: private_ip
              cloud: cloud
              lun_indexes:
              - 6
              - 6
              assignPublicIP: true
              az: az
              subnet_id: subnet_id
              public_dns: public_dns
              region: region
              instance_type: instance_type
            sshPortOverride: 6
            cronsActive: true
            state: Provisioned
            nodeIdx: 6
            masterRpcPort: 6
            redisServerRpcPort: 6
            lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
            tserverHttpPort: 5
            disksAreMountedByUUID: true
            isRedisServer: true
            ybPrebuiltAmi: true
            internalYsqlServerRpcPort: 8
            isTserver: true
            nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            isYsqlServer: true
            ybControllerRpcPort: 3
            isYqlServer: true
            azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            masterHttpPort: 9
            ysqlServerRpcPort: 6
            autoSyncMasterAddrs: true
            yqlServerHttpPort: 7
        nodeExporterUser:
          description: Node exporter user
          type: string
          example: '5433'
        pitrConfigUUID:
          description: PITR Config UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        platformUrl:
          type: string
          example: https://example.com
        platformVersion:
          readOnly: true
          type: string
          example: 2.20.0.0
        previousTaskUUID:
          description: Previous task UUID of a retry
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        runOnlyPrechecks:
          description: YbaApi Internal. Run only prechecks during task run
          type: boolean
          example: true
        sleepAfterMasterRestartMillis:
          format: int32
          type: integer
          example: 100
        sleepAfterTServerRestartMillis:
          format: int32
          type: integer
          example: 100
        sourceXClusterConfigs:
          description: The source universe's xcluster replication relationships
          items:
            format: uuid
            type: string
          readOnly: true
          type: array
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        targetKeyspaceName:
          description: Clone namespace name
          type: string
          example: example-targetKeyspaceName
        targetXClusterConfigs:
          description: The target universe's xcluster replication relationships
          items:
            format: uuid
            type: string
          readOnly: true
          type: array
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ybPrevSoftwareVersion:
          description: Previous software version
          type: string
          example: 2.20.0.0
        ybcInstalled:
          type: boolean
          example: true
        ybcSoftwareVersion:
          type: string
          example: 2.20.0.0
      required:
      - creatingUser
      - platformUrl
      - sleepAfterMasterRestartMillis
      - sleepAfterTServerRestartMillis
      type: object
    UpdatePitrConfigParams:
      description: Update PITR config parameters
      example:
        expectedUniverseVersion: 0
        sourceXClusterConfigs:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        nodeExporterUser: nodeExporterUser
        encryptionAtRestConfig:
          encryptionAtRestEnabled: true
          opType: ENABLE
          kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: CMK
        ybcSoftwareVersion: ybcSoftwareVersion
        creatingUser:
          ldapSpecifiedRole: true
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          role: Admin
          authTokenIssueDate: 2021-06-17 15:00:05+00:00
          timezone: timezone
          oidcJwtAuthToken: oidcJwtAuthToken
          groupMemberships:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          userType: local
          creationDate: 2022-12-12 13:07:18+00:00
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          email: username1@example.com
          primary: true
        extraDependencies:
          installNodeExporter: true
        platformVersion: platformVersion
        intervalInSeconds: 6
        sleepAfterTServerRestartMillis: 5
        runOnlyPrechecks: true
        platformUrl: platformUrl
        targetXClusterConfigs:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ybPrevSoftwareVersion: ybPrevSoftwareVersion
        deviceInfo:
          cloudVolumeEncryption:
            enableVolumeEncryption: true
            kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          diskIops: 6
          storageClass: storageClass
          numVolumes: 7
          mountPoints: mountPoints
          storageType: IO1
          throughput: 1
          volumeSize: 4
        enableYbc: true
        errorString: errorString
        retentionPeriodInSeconds: 1
        installYbc: true
        nodeDetailsSet:
        - nodeName: nodeName
          nodeExporterPort: 3
          placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ybControllerHttpPort: 3
          dedicatedTo: MASTER
          machineImage: machineImage
          redisServerHttpPort: 2
          masterState: ToStart
          tserverRpcPort: 6
          ysqlServerHttpPort: 7
          yqlServerRpcPort: 0
          otelCollectorMetricsPort: 1
          isMaster: true
          sshUserOverride: sshUserOverride
          cloudInfo:
            mount_roots: mount_roots
            kubernetesNamespace: kubernetesNamespace
            public_ip: public_ip
            secondary_subnet_id: secondary_subnet_id
            private_dns: private_dns
            useTimeSync: true
            kubernetesPodName: kubernetesPodName
            root_volume: root_volume
            secondary_private_ip: secondary_private_ip
            private_ip: private_ip
            cloud: cloud
            lun_indexes:
            - 6
            - 6
            assignPublicIP: true
            az: az
            subnet_id: subnet_id
            public_dns: public_dns
            region: region
            instance_type: instance_type
          sshPortOverride: 6
          cronsActive: true
          state: Provisioned
          nodeIdx: 6
          masterRpcPort: 6
          redisServerRpcPort: 6
          lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
          tserverHttpPort: 5
          disksAreMountedByUUID: true
          isRedisServer: true
          ybPrebuiltAmi: true
          internalYsqlServerRpcPort: 8
          isTserver: true
          nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          isYsqlServer: true
          ybControllerRpcPort: 3
          isYqlServer: true
          azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          masterHttpPort: 9
          ysqlServerRpcPort: 6
          autoSyncMasterAddrs: true
          yqlServerHttpPort: 7
        - nodeName: nodeName
          nodeExporterPort: 3
          placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ybControllerHttpPort: 3
          dedicatedTo: MASTER
          machineImage: machineImage
          redisServerHttpPort: 2
          masterState: ToStart
          tserverRpcPort: 6
          ysqlServerHttpPort: 7
          yqlServerRpcPort: 0
          otelCollectorMetricsPort: 1
          isMaster: true
          sshUserOverride: sshUserOverride
          cloudInfo:
            mount_roots: mount_roots
            kubernetesNamespace: kubernetesNamespace
            public_ip: public_ip
            secondary_subnet_id: secondary_subnet_id
            private_dns: private_dns
            useTimeSync: true
            kubernetesPodName: kubernetesPodName
            root_volume: root_volume
            secondary_private_ip: secondary_private_ip
            private_ip: private_ip
            cloud: cloud
            lun_indexes:
            - 6
            - 6
            assignPublicIP: true
            az: az
            subnet_id: subnet_id
            public_dns: public_dns
            region: region
            instance_type: instance_type
          sshPortOverride: 6
          cronsActive: true
          state: Provisioned
          nodeIdx: 6
          masterRpcPort: 6
          redisServerRpcPort: 6
          lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
          tserverHttpPort: 5
          disksAreMountedByUUID: true
          isRedisServer: true
          ybPrebuiltAmi: true
          internalYsqlServerRpcPort: 8
          isTserver: true
          nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          isYsqlServer: true
          ybControllerRpcPort: 3
          isYqlServer: true
          azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          masterHttpPort: 9
          ysqlServerRpcPort: 6
          autoSyncMasterAddrs: true
          yqlServerHttpPort: 7
        ybcInstalled: true
        communicationPorts:
          nodeExporterPort: 5
          tserverHttpPort: 9
          internalYsqlServerRpcPort: 0
          ybControllerHttpPort: 2
          redisServerHttpPort: 2
          ybControllerrRpcPort: 4
          tserverRpcPort: 3
          ysqlServerHttpPort: 1
          yqlServerRpcPort: 1
          masterHttpPort: 6
          otelCollectorMetricsPort: 5
          ysqlServerRpcPort: 1
          yqlServerHttpPort: 7
          masterRpcPort: 1
          redisServerRpcPort: 7
        cmkArn: cmkArn
        sleepAfterMasterRestartMillis: 5
        previousTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        cmkArn:
          description: Amazon Resource Name (ARN) of the CMK
          type: string
          example: example-cmkArn
        communicationPorts:
          $ref: '#/components/schemas/CommunicationPorts'
        creatingUser:
          $ref: '#/components/schemas/Users'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
        enableYbc:
          type: boolean
          example: true
        encryptionAtRestConfig:
          $ref: '#/components/schemas/EncryptionAtRestConfig'
        errorString:
          description: Error message
          type: string
          example: example-errorString
        expectedUniverseVersion:
          description: Expected universe version
          format: int32
          type: integer
          example: 100
        extraDependencies:
          $ref: '#/components/schemas/ExtraDependencies'
        installYbc:
          type: boolean
          example: true
        intervalInSeconds:
          description: Time interval between snapshots
          format: int64
          type: integer
          example: 1000
        nodeDetailsSet:
          description: Node details
          items:
            $ref: '#/components/schemas/NodeDetails'
          type: array
          uniqueItems: true
          example:
          - nodeName: nodeName
            nodeExporterPort: 3
            placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            ybControllerHttpPort: 3
            dedicatedTo: MASTER
            machineImage: machineImage
            redisServerHttpPort: 2
            masterState: ToStart
            tserverRpcPort: 6
            ysqlServerHttpPort: 7
            yqlServerRpcPort: 0
            otelCollectorMetricsPort: 1
            isMaster: true
            sshUserOverride: sshUserOverride
            cloudInfo:
              mount_roots: mount_roots
              kubernetesNamespace: kubernetesNamespace
              public_ip: public_ip
              secondary_subnet_id: secondary_subnet_id
              private_dns: private_dns
              useTimeSync: true
              kubernetesPodName: kubernetesPodName
              root_volume: root_volume
              secondary_private_ip: secondary_private_ip
              private_ip: private_ip
              cloud: cloud
              lun_indexes:
              - 6
              - 6
              assignPublicIP: true
              az: az
              subnet_id: subnet_id
              public_dns: public_dns
              region: region
              instance_type: instance_type
            sshPortOverride: 6
            cronsActive: true
            state: Provisioned
            nodeIdx: 6
            masterRpcPort: 6
            redisServerRpcPort: 6
            lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
            tserverHttpPort: 5
            disksAreMountedByUUID: true
            isRedisServer: true
            ybPrebuiltAmi: true
            internalYsqlServerRpcPort: 8
            isTserver: true
            nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            isYsqlServer: true
            ybControllerRpcPort: 3
            isYqlServer: true
            azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            masterHttpPort: 9
            ysqlServerRpcPort: 6
            autoSyncMasterAddrs: true
            yqlServerHttpPort: 7
        nodeExporterUser:
          description: Node exporter user
          type: string
          example: '5433'
        platformUrl:
          type: string
          example: https://example.com
        platformVersion:
          readOnly: true
          type: string
          example: 2.20.0.0
        previousTaskUUID:
          description: Previous task UUID of a retry
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        retentionPeriodInSeconds:
          description: Retention period of a snapshot
          format: int64
          type: integer
          example: 1000
        runOnlyPrechecks:
          description: YbaApi Internal. Run only prechecks during task run
          type: boolean
          example: true
        sleepAfterMasterRestartMillis:
          format: int32
          type: integer
          example: 100
        sleepAfterTServerRestartMillis:
          format: int32
          type: integer
          example: 100
        sourceXClusterConfigs:
          description: The source universe's xcluster replication relationships
          items:
            format: uuid
            type: string
          readOnly: true
          type: array
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        targetXClusterConfigs:
          description: The target universe's xcluster replication relationships
          items:
            format: uuid
            type: string
          readOnly: true
          type: array
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ybPrevSoftwareVersion:
          description: Previous software version
          type: string
          example: 2.20.0.0
        ybcInstalled:
          type: boolean
          example: true
        ybcSoftwareVersion:
          type: string
          example: 2.20.0.0
      required:
      - creatingUser
      - platformUrl
      - sleepAfterMasterRestartMillis
      - sleepAfterTServerRestartMillis
      type: object
    NodeDetails:
      description: Details of a cloud node
      example:
        nodeName: nodeName
        nodeExporterPort: 3
        placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ybControllerHttpPort: 3
        dedicatedTo: MASTER
        machineImage: machineImage
        redisServerHttpPort: 2
        masterState: ToStart
        tserverRpcPort: 6
        ysqlServerHttpPort: 7
        yqlServerRpcPort: 0
        otelCollectorMetricsPort: 1
        isMaster: true
        sshUserOverride: sshUserOverride
        cloudInfo:
          mount_roots: mount_roots
          kubernetesNamespace: kubernetesNamespace
          public_ip: public_ip
          secondary_subnet_id: secondary_subnet_id
          private_dns: private_dns
          useTimeSync: true
          kubernetesPodName: kubernetesPodName
          root_volume: root_volume
          secondary_private_ip: secondary_private_ip
          private_ip: private_ip
          cloud: cloud
          lun_indexes:
          - 6
          - 6
          assignPublicIP: true
          az: az
          subnet_id: subnet_id
          public_dns: public_dns
          region: region
          instance_type: instance_type
        sshPortOverride: 6
        cronsActive: true
        state: Provisioned
        nodeIdx: 6
        masterRpcPort: 6
        redisServerRpcPort: 6
        lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
        tserverHttpPort: 5
        disksAreMountedByUUID: true
        isRedisServer: true
        ybPrebuiltAmi: true
        internalYsqlServerRpcPort: 8
        isTserver: true
        nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        isYsqlServer: true
        ybControllerRpcPort: 3
        isYqlServer: true
        azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        masterHttpPort: 9
        ysqlServerRpcPort: 6
        autoSyncMasterAddrs: true
        yqlServerHttpPort: 7
      properties:
        autoSyncMasterAddrs:
          description: 'WARNING: This is a preview API that could change. Used by auto master failover'
          readOnly: true
          type: boolean
          example: true
        azUuid:
          description: The availability zone's UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        cloudInfo:
          $ref: '#/components/schemas/CloudSpecificInfo'
        cronsActive:
          description: True if cron jobs were properly configured for this node
          type: boolean
          example: true
        dedicatedTo:
          description: Used for configurations where each node can have only one process
          enum:
          - MASTER
          - TSERVER
          - CONTROLLER
          - YQLSERVER
          - YSQLSERVER
          - REDISSERVER
          - EITHER
          type: string
          example: MASTER
        disksAreMountedByUUID:
          description: Disks are mounted by uuid
          type: boolean
          example: true
        internalYsqlServerRpcPort:
          description: Internal YSQL RPC port
          format: int32
          type: integer
          example: 5433
        isMaster:
          description: True if this node is a master
          type: boolean
          example: true
        isRedisServer:
          description: True if this node is a REDIS server
          type: boolean
          example: true
        isTserver:
          description: True if this node is a Tablet server
          type: boolean
          example: true
        isYqlServer:
          description: True if this node is a YCQL server
          type: boolean
          example: true
        isYsqlServer:
          description: True if this node is a YSQL server
          type: boolean
          example: true
        lastVolumeUpdateTime:
          description: Store last volume update time
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          readOnly: true
          type: string
        machineImage:
          description: Machine image name
          type: string
          example: example-machineImage
        masterHttpPort:
          description: Master HTTP port
          format: int32
          type: integer
          example: 5433
        masterRpcPort:
          description: Master RPC port
          format: int32
          type: integer
          example: 5433
        masterState:
          description: Master state
          enum:
          - None
          - ToStart
          - Configured
          - ToStop
          example: ToStart
          type: string
        nodeExporterPort:
          description: Node exporter port
          format: int32
          type: integer
          example: 5433
        nodeIdx:
          description: Node ID
          format: int32
          type: integer
          example: 100
        nodeName:
          description: Node name
          type: string
          example: example-nodeName
        nodeUuid:
          description: Node UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        otelCollectorMetricsPort:
          description: Otel collector metrics port
          format: int32
          type: integer
          example: 5433
        placementUuid:
          description: UUID of the cluster to which this node belongs
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        redisServerHttpPort:
          description: REDIS HTTP port
          format: int32
          type: integer
          example: 5433
        redisServerRpcPort:
          description: REDIS RPC port
          format: int32
          type: integer
          example: 5433
        sshPortOverride:
          description: SSH port override for the AMI
          format: int32
          type: integer
          example: 5433
        sshUserOverride:
          description: SSH user override for the AMI
          type: string
          example: example-sshUserOverride
        state:
          description: Node state
          enum:
          - ToBeAdded
          - InstanceCreated
          - ServerSetup
          - ToJoinCluster
          - Reprovisioning
          - Provisioned
          - SoftwareInstalled
          - UpgradeMasterSoftware
          - UpgradeSoftware
          - RollbackUpgrade
          - FinalizeUpgrade
          - UpdateGFlags
          - Live
          - Stopping
          - Starting
          - Stopped
          - Unreachable
          - MetricsUnavailable
          - ToBeRemoved
          - Removing
          - Removed
          - Adding
          - BeingDecommissioned
          - Decommissioned
          - UpdateCert
          - ToggleTls
          - ConfigureDBApis
          - Resizing
          - SystemdUpgrade
          - Terminating
          - Terminated
          - Rebooting
          - HardRebooting
          - VMImageUpgrade
          - InstanceStopping
          - InstanceStopped
          example: Provisioned
          type: string
        tserverHttpPort:
          description: Tablet server HTTP port
          format: int32
          type: integer
          example: 5433
        tserverRpcPort:
          description: Tablet server RPC port
          format: int32
          type: integer
          example: 5433
        ybControllerHttpPort:
          description: Yb controller HTTP port
          format: int32
          type: integer
          example: 5433
        ybControllerRpcPort:
          description: Yb controller RPC port
          format: int32
          type: integer
          example: 5433
        ybPrebuiltAmi:
          description: True if this a custom YB AMI
          type: boolean
          example: true
        yqlServerHttpPort:
          description: YCQL HTTP port
          format: int32
          type: integer
          example: 5433
        yqlServerRpcPort:
          description: YCQL RPC port
          format: int32
          type: integer
          example: 5433
        ysqlServerHttpPort:
          description: YSQL HTTP port
          format: int32
          type: integer
          example: 5433
        ysqlServerRpcPort:
          description: YSQL RPC port
          format: int32
          type: integer
          example: 5433
      type: object
    CloudVolumeEncryption:
      description: Volume encryption settings for AWS EBS volumes
      example:
        enableVolumeEncryption: true
        kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        enableVolumeEncryption:
          description: To enable volume encryption or not
          type: boolean
          example: true
        kmsConfigUUID:
          description: KMS config UUID to be used for volume encryption
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    ExtraDependencies:
      description: Extra dependencies
      example:
        installNodeExporter: true
      properties:
        installNodeExporter:
          description: Install node exporter on nodes
          type: boolean
          example: true
      type: object
    PitrConfig:
      description: PITR config created on the universe
      example:
        dbName: dbName
        updateTime: 2022-12-12 13:07:18+00:00
        createdForDr: true
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        minRecoverTimeInMillis: 1
        scheduleInterval: 5
        tableType: YQL_TABLE_TYPE
        customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        createTime: 2022-12-12 13:07:18+00:00
        intermittentMinRecoverTimeInMillis: 0
        maxRecoverTimeInMillis: 6
        name: name
        disabled: true
        usedForXCluster: true
        state: UNKNOWN
        retentionPeriod: 5
      properties:
        createTime:
          description: Create time of the PITR config
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          readOnly: true
          type: string
        createdForDr:
          description: Created for DR
          readOnly: true
          type: boolean
          example: true
        customerUUID:
          description: Customer UUID of this config
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        dbName:
          description: DB Name
          type: string
          example: example-dbName
        disabled:
          description: Whether the PITR config is disabled
          readOnly: true
          type: boolean
          example: true
        intermittentMinRecoverTimeInMillis:
          description: Intermittent min recovery time in millis if retention period is increased
          format: int64
          type: integer
          example: 1000
        maxRecoverTimeInMillis:
          format: int64
          type: integer
          example: 10
        minRecoverTimeInMillis:
          format: int64
          type: integer
          example: 1000
        name:
          description: PITR config name
          type: string
          example: example-name
        retentionPeriod:
          description: Retention Period in seconds
          format: int64
          type: integer
          example: 1000
        scheduleInterval:
          description: Interval between snasphots in seconds
          format: int64
          type: integer
          example: 1000
        state:
          enum:
          - UNKNOWN
          - CREATING
          - COMPLETE
          - DELETING
          - DELETED
          - FAILED
          - CANCELLED
          - RESTORING
          - RESTORED
          type: string
          example: UNKNOWN
        tableType:
          description: Table Type
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
          example: YQL_TABLE_TYPE
        updateTime:
          description: Update time of the PITR con
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        usedForXCluster:
          readOnly: true
          type: boolean
          example: true
        uuid:
          description: PITR config UUID
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - maxRecoverTimeInMillis
      - minRecoverTimeInMillis
      - state
      type: object
    CreatePitrConfigParams:
      description: Create PITR config parameters
      example:
        expectedUniverseVersion: 0
        sourceXClusterConfigs:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        nodeExporterUser: nodeExporterUser
        encryptionAtRestConfig:
          encryptionAtRestEnabled: true
          opType: ENABLE
          kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: CMK
        ybcSoftwareVersion: ybcSoftwareVersion
        creatingUser:
          ldapSpecifiedRole: true
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          role: Admin
          authTokenIssueDate: 2021-06-17 15:00:05+00:00
          timezone: timezone
          oidcJwtAuthToken: oidcJwtAuthToken
          groupMemberships:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          userType: local
          creationDate: 2022-12-12 13:07:18+00:00
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          email: username1@example.com
          primary: true
        extraDependencies:
          installNodeExporter: true
        platformVersion: platformVersion
        intervalInSeconds: 6
        sleepAfterTServerRestartMillis: 5
        runOnlyPrechecks: true
        platformUrl: platformUrl
        targetXClusterConfigs:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ybPrevSoftwareVersion: ybPrevSoftwareVersion
        deviceInfo:
          cloudVolumeEncryption:
            enableVolumeEncryption: true
            kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          diskIops: 6
          storageClass: storageClass
          numVolumes: 7
          mountPoints: mountPoints
          storageType: IO1
          throughput: 1
          volumeSize: 4
        enableYbc: true
        errorString: errorString
        retentionPeriodInSeconds: 1
        installYbc: true
        nodeDetailsSet:
        - nodeName: nodeName
          nodeExporterPort: 3
          placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ybControllerHttpPort: 3
          dedicatedTo: MASTER
          machineImage: machineImage
          redisServerHttpPort: 2
          masterState: ToStart
          tserverRpcPort: 6
          ysqlServerHttpPort: 7
          yqlServerRpcPort: 0
          otelCollectorMetricsPort: 1
          isMaster: true
          sshUserOverride: sshUserOverride
          cloudInfo:
            mount_roots: mount_roots
            kubernetesNamespace: kubernetesNamespace
            public_ip: public_ip
            secondary_subnet_id: secondary_subnet_id
            private_dns: private_dns
            useTimeSync: true
            kubernetesPodName: kubernetesPodName
            root_volume: root_volume
            secondary_private_ip: secondary_private_ip
            private_ip: private_ip
            cloud: cloud
            lun_indexes:
            - 6
            - 6
            assignPublicIP: true
            az: az
            subnet_id: subnet_id
            public_dns: public_dns
            region: region
            instance_type: instance_type
          sshPortOverride: 6
          cronsActive: true
          state: Provisioned
          nodeIdx: 6
          masterRpcPort: 6
          redisServerRpcPort: 6
          lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
          tserverHttpPort: 5
          disksAreMountedByUUID: true
          isRedisServer: true
          ybPrebuiltAmi: true
          internalYsqlServerRpcPort: 8
          isTserver: true
          nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          isYsqlServer: true
          ybControllerRpcPort: 3
          isYqlServer: true
          azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          masterHttpPort: 9
          ysqlServerRpcPort: 6
          autoSyncMasterAddrs: true
          yqlServerHttpPort: 7
        - nodeName: nodeName
          nodeExporterPort: 3
          placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ybControllerHttpPort: 3
          dedicatedTo: MASTER
          machineImage: machineImage
          redisServerHttpPort: 2
          masterState: ToStart
          tserverRpcPort: 6
          ysqlServerHttpPort: 7
          yqlServerRpcPort: 0
          otelCollectorMetricsPort: 1
          isMaster: true
          sshUserOverride: sshUserOverride
          cloudInfo:
            mount_roots: mount_roots
            kubernetesNamespace: kubernetesNamespace
            public_ip: public_ip
            secondary_subnet_id: secondary_subnet_id
            private_dns: private_dns
            useTimeSync: true
            kubernetesPodName: kubernetesPodName
            root_volume: root_volume
            secondary_private_ip: secondary_private_ip
            private_ip: private_ip
            cloud: cloud
            lun_indexes:
            - 6
            - 6
            assignPublicIP: true
            az: az
            subnet_id: subnet_id
            public_dns: public_dns
            region: region
            instance_type: instance_type
          sshPortOverride: 6
          cronsActive: true
          state: Provisioned
          nodeIdx: 6
          masterRpcPort: 6
          redisServerRpcPort: 6
          lastVolumeUpdateTime: 2022-12-12 13:07:18+00:00
          tserverHttpPort: 5
          disksAreMountedByUUID: true
          isRedisServer: true
          ybPrebuiltAmi: true
          internalYsqlServerRpcPort: 8
          isTserver: true
          nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          isYsqlServer: true
          ybControllerRpcPort: 3
          isYqlServer: true
          azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          masterHttpPort: 9
          ysqlServerRpcPort: 6
          autoSyncMasterAddrs: true
          yqlServerHttpPort: 7
        ybcInstalled: true
        name: name
        communicationPorts:
          nodeExporterPort: 5
          tserverHttpPort: 9
          internalYsqlServerRpcPort: 0
          ybControllerHttpPort: 2
          redisServerHttpPort: 2
          ybControllerrRpcPort: 4
          tserverRpcPort: 3
          ysqlServerHttpPort: 1
          yqlServerRpcPort: 1
          masterHttpPort: 6
          otelCollectorMetricsPort: 5
          ysqlServerRpcPort: 1
          yqlServerHttpPort: 7
          masterRpcPort: 1
          redisServerRpcPort: 7
        cmkArn: cmkArn
        sleepAfterMasterRestartMillis: 5
        previousTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        cmkArn:
          description: Amazon Resource Name (ARN) of the CMK
          type: string
          example: example-cmkArn
        communicationPorts:
          $ref: '#/components/schemas/CommunicationPorts'
        creatingUser:
          $ref: '#/components/schemas/Users'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
        enableYbc:
          type: boolean
          example: true
        encryptionAtRestConfig:
          $ref: '#/components/schemas/EncryptionAtRestConfig'
        errorString:
          description: Error message
          type: string
          example: example-errorString
        expectedUniverseVersion:
          description: Expected universe version
          format: int32
          type: integer
          example: 100
        extraDependencies:
          $ref: '#/components/schemas/ExtraDependencies'
        installYbc:
          type: boolean
          example: true
        intervalInSeconds:
          description: Time interval between snapshots
          format: int64
          type: integer
          example: 1000
        name:
          description: PITR config name
          type: string
          example: example-name
        nodeDetailsSet:
          description: Node details
          items:
            $ref: '#/components/schemas/NodeDetails'
          type: array
          uniqueItems: true
          example:
          - nodeName: nodeName
            nodeExporterPort: 3
            placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            ybControllerHttpPort: 3
            dedicatedTo: MASTER
            machineImage: machineImage
            redisServerHttpPort: 2
            masterState: ToStart
            tserverRpcPort: 6
            ysqlServerHttpPort: 7
            yqlServerRpcPort: 0
            otelCollectorMetricsPort: 1
            isMaster: true
            sshUserOverride: sshUserOverride
            cloudInfo:
              mount_roots: mount_roots
              kubernetesNamespace: kubernetesNamespace
              public_ip: public_ip
              secondary_subnet_id: secondary_subnet_id
              private_dns: private_dns
              useTimeSync: true
              kubernetesPodName: kubernetesPodName
              root_volume: root_volume
              secondary_private_ip: secondary_private_ip
              private_ip: private_ip
              cloud: cloud
              lun_indexes:
              - 6
              - 6
              assignPublicIP: true
              az: az
              subnet_id: subnet_id
              public_dns: public_dns
              region: region
              instance_type: instance_type
            sshPortOverride: 6
            cronsActive: true
            state: Provisioned
            nodeIdx: 6
            masterRpcPort: 6
            redisServerRpcPort: 6
            lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
            tserverHttpPort: 5
            disksAreMountedByUUID: true
            isRedisServer: true
            ybPrebuiltAmi: true
            internalYsqlServerRpcPort: 8
            isTserver: true
            nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            isYsqlServer: true
            ybControllerRpcPort: 3
            isYqlServer: true
            azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            masterHttpPort: 9
            ysqlServerRpcPort: 6
            autoSyncMasterAddrs: true
            yqlServerHttpPort: 7
        nodeExporterUser:
          description: Node exporter user
          type: string
          example: '5433'
        platformUrl:
          type: string
          example: https://example.com
        platformVersion:
          readOnly: true
          type: string
          example: 2.20.0.0
        previousTaskUUID:
          description: Previous task UUID of a retry
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        retentionPeriodInSeconds:
          description: Retention period of a snapshot
          format: int64
          type: integer
          example: 1000
        runOnlyPrechecks:
          description: YbaApi Internal. Run only prechecks during task run
          type: boolean
          example: true
        sleepAfterMasterRestartMillis:
          format: int32
          type: integer
          example: 100
        sleepAfterTServerRestartMillis:
          format: int32
          type: integer
          example: 100
        sourceXClusterConfigs:
          description: The source universe's xcluster replication relationships
          items:
            format: uuid
            type: string
          readOnly: true
          type: array
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        targetXClusterConfigs:
          description: The target universe's xcluster replication relationships
          items:
            format: uuid
            type: string
          readOnly: true
          type: array
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ybPrevSoftwareVersion:
          description: Previous software version
          type: string
          example: 2.20.0.0
        ybcInstalled:
          type: boolean
          example: true
        ybcSoftwareVersion:
          type: string
          example: 2.20.0.0
      required:
      - creatingUser
      - platformUrl
      - sleepAfterMasterRestartMillis
      - sleepAfterTServerRestartMillis
      type: object
    CommunicationPorts:
      description: Communication ports
      example:
        nodeExporterPort: 5
        tserverHttpPort: 9
        internalYsqlServerRpcPort: 0
        ybControllerHttpPort: 2
        redisServerHttpPort: 2
        ybControllerrRpcPort: 4
        tserverRpcPort: 3
        ysqlServerHttpPort: 1
        yqlServerRpcPort: 1
        masterHttpPort: 6
        otelCollectorMetricsPort: 5
        ysqlServerRpcPort: 1
        yqlServerHttpPort: 7
        masterRpcPort: 1
        redisServerRpcPort: 7
      properties:
        internalYsqlServerRpcPort:
          description: Internal YSQL RPC port
          format: int32
          type: integer
          example: 5433
        masterHttpPort:
          description: Master table HTTP port
          format: int32
          type: integer
          example: 5433
        masterRpcPort:
          description: Master table RCP port
          format: int32
          type: integer
          example: 5433
        nodeExporterPort:
          description: Node exporter port
          format: int32
          type: integer
          example: 5433
        otelCollectorMetricsPort:
          description: Otel Collector metrics port
          format: int32
          type: integer
          example: 5433
        redisServerHttpPort:
          description: Redis HTTP port
          format: int32
          type: integer
          example: 5433
        redisServerRpcPort:
          description: Redis RPC port
          format: int32
          type: integer
          example: 5433
        tserverHttpPort:
          description: Tablet server HTTP port
          format: int32
          type: integer
          example: 5433
        tserverRpcPort:
          description: Tablet server RPC port
          format: int32
          type: integer
          example: 5433
        ybControllerHttpPort:
          description: Yb controller HTTP port
          format: int32
          type: integer
          example: 5433
        ybControllerrRpcPort:
          description: Yb controller RPC port
          format: int32
          type: integer
          example: 5433
        yqlServerHttpPort:
          description: YQL HTTP port
          format: int32
          type: integer
          example: 5433
        yqlServerRpcPort:
          description: YQL RPC port
          format: int32
          type: integer
          example: 5433
        ysqlServerHttpPort:
          description: YSQL HTTP port
          format: int32
          type: integer
          example: 5433
        ysqlServerRpcPort:
[...]
