openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Ybc Management API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: Ybc Management
paths:
  /api/v1/customers/{cUUID}/universes/{uniUUID}/ybc/disable:
    put:
      description: YbaApi Internal.
      operationId: disableYbc
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                DisableYbc200Example:
                  summary: Default disableYbc 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Disable YBC on the Universe Nodes
      tags:
      - Ybc Management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/ybc/install:
    put:
      description: YbaApi Internal.
      operationId: installYbc
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: ybcVersion
        schema:
          type: string
        example: 2.20.0.0
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                InstallYbc200Example:
                  summary: Default installYbc 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Install YBC on the Universe Nodes
      tags:
      - Ybc Management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/ybc/upgrade:
    put:
      description: YbaApi Internal.
      operationId: upgradeYbc
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: ybcVersion
        schema:
          type: string
        example: 2.20.0.0
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                UpgradeYbc200Example:
                  summary: Default upgradeYbc 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Upgrade YBC on the Universe Nodes
      tags:
      - Ybc Management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/ybc/upgrade/gflags:
    put:
      description: YbaApi Internal.
      operationId: upgradeYbcGflags
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                UpgradeYbcGflags200Example:
                  summary: Default upgradeYbcGflags 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Upgrade YBC Gflags on the Universe Nodes
      tags:
      - Ybc Management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/ybc_throttle_params_async:
    post:
      operationId: setThrottleParams
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/YbcThrottleParameters'
            examples:
              SetThrottleParamsRequestExample:
                summary: Default setThrottleParams request
                x-microcks-default: true
                value:
                  diskWriteBytesPerSecond: 6
                  maxConcurrentDownloads: 1
                  maxConcurrentUploads: 5
                  perDownloadNumObjects: 5
                  diskReadBytesPerSecond: 0
                  perUploadNumObjects: 2
                  resetDefaults: true
        description: Parameters for YB-Controller throttling
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                SetThrottleParams200Example:
                  summary: Default setThrottleParams 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Set Throttle Params in YB-Controller( Async )
      tags:
      - Ybc Management
      x-codegen-request-body-name: throttleParams
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    YbcThrottleParameters:
      description: YB-Controller throttle parameters
      example:
        diskWriteBytesPerSecond: 6
        maxConcurrentDownloads: 1
        maxConcurrentUploads: 5
        perDownloadNumObjects: 5
        diskReadBytesPerSecond: 0
        perUploadNumObjects: 2
        resetDefaults: true
      properties:
        diskReadBytesPerSecond:
          description: 'WARNING: This is a preview API that could change. Disk read bytes per second to throttle disk usage during backups'
          format: int64
          type: integer
          example: 1000
        diskWriteBytesPerSecond:
          description: 'WARNING: This is a preview API that could change. Disk write bytes per second to throttle disk usage during restore'
          format: int64
          type: integer
          example: 1000
        maxConcurrentDownloads:
          description: Max concurrent downloads per node
          format: int64
          type: integer
          example: 10
        maxConcurrentUploads:
          description: Max concurrent uploads per node
          format: int64
          type: integer
          example: 10
        perDownloadNumObjects:
          description: Max objects per download per node
          format: int64
          type: integer
          example: 10
        perUploadNumObjects:
          description: Max objects per upload per node
          format: int64
          type: integer
          example: 10
        resetDefaults:
          description: Unset Throttle parameters in YB-Controller
          type: boolean
          example: true
      type: object
    YBPTask:
      example:
        taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        resourceUUID:
          description: UUID of the resource being modified by the task
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        taskUUID:
          description: Task UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    YBPSuccess:
      example:
        success: true
        message: message
      properties:
        message:
          description: API response message.
          readOnly: true
          type: string
          example: Example message
        success:
          description: API operation status. A value of true indicates the operation was successful.
          readOnly: true
          type: boolean
          example: true
      type: object
    YbcThrottleParameters_2:
      description: YB-Controller throttle parameters
      example:
        diskWriteBytesPerSecond: 6
        maxConcurrentDownloads: 1
        maxConcurrentUploads: 5
        perDownloadNumObjects: 5
        diskReadBytesPerSecond: 0
        perUploadNumObjects: 2
        resetDefaults: true
      properties:
        diskReadBytesPerSecond:
          description: 'WARNING: This is a preview API that could change. Disk read bytes per second to throttle disk usage during backups'
          format: int64
          type: integer
        diskWriteBytesPerSecond:
          description: 'WARNING: This is a preview API that could change. Disk write bytes per second to throttle disk usage during restore'
          format: int64
          type: integer
        maxConcurrentDownloads:
          description: Max concurrent downloads per node
          format: int64
          type: integer
        maxConcurrentUploads:
          description: Max concurrent uploads per node
          format: int64
          type: integer
        perDownloadNumObjects:
          description: Max objects per download per node
          format: int64
          type: integer
        perUploadNumObjects:
          description: Max objects per upload per node
          format: int64
          type: integer
        resetDefaults:
          description: Unset Throttle parameters in YB-Controller
          type: boolean
      type: object
    YBPTask_2:
      example:
        taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        resourceUUID:
          description: UUID of the resource being modified by the task
          format: uuid
          readOnly: true
          type: string
        taskUUID:
          description: Task UUID
          format: uuid
          readOnly: true
          type: string
      type: object
    YBPSuccess_2:
      example:
        success: true
        message: message
      properties:
        message:
          description: API response message.
          readOnly: true
          type: string
        success:
          description: API operation status. A value of true indicates the operation was successful.
          readOnly: true
          type: boolean
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the YugabyteDB Aeon UI under User Profile > API Keys. Pass the key as a Bearer token in the Authorization header.
externalDocs:
  description: YugabyteDB Aeon REST API Documentation
  url: https://docs.yugabyte.com/stable/yugabyte-cloud/managed-automation/managed-api/
