openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Cloud providers API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: Cloud providers
paths:
  /api/v1/customers/{cUUID}/providers:
    get:
      operationId: getListOfProviders
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: name
        schema:
          default: 'null'
          type: string
        example: 'null'
      - in: query
        name: providerCode
        schema:
          default: 'null'
          type: string
        example: 'null'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Provider'
                type: array
              examples:
                GetListOfProviders200Example:
                  summary: Default getListOfProviders 200 response
                  x-microcks-default: true
                  value:
                  - sshPort: 5
                    hostVpcId: hostVpcId
                    code: code
                    destVpcId: destVpcId
                    regions:
                    - securityGroupId: securityGroupId
                      code: us-west-2
                      ybImage: TODO
                      latitude: 37.22
                      name: US West (Oregon)
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                          gcp:
                            instanceTemplate: instanceTemplate
                            ybImage: ybImage
                          aws:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            arch: x86_64
                          azu:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            azuNetworkRGOverride: azuNetworkRGOverride
                            azuRGOverride: azuRGOverride
                      vnetName: vnetName
                      zones:
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      longitude: -120.01
                    - securityGroupId: securityGroupId
                      code: us-west-2
                      ybImage: TODO
                      latitude: 37.22
                      name: US West (Oregon)
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                          gcp:
                            instanceTemplate: instanceTemplate
                            ybImage: ybImage
                          aws:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            arch: x86_64
                          azu:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            azuNetworkRGOverride: azuNetworkRGOverride
                            azuRGOverride: azuRGOverride
                      vnetName: vnetName
                      zones:
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      longitude: -120.01
                    usabilityState: READY
                    active: true
                    prevUsabilityState: READY
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    version: 2
                    hostVpcRegion: hostVpcRegion
                    sshPrivateKeyContent: sshPrivateKeyContent
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    updateSource: USER
                    allAccessKeys:
                    - idKey:
                        keyCode: keyCode
                        providerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      creationDate: 2022-12-12 13:07:18+00:00
                      keyInfo:
                        sshPort: 6
                        nodeExporterPort: 0
                        installNodeExporter: true
                        skipProvisioning: true
                        nodeExporterUser: nodeExporterUser
                        provisionInstanceScript: provisionInstanceScript
                        passwordlessSudoAccess: true
                        publicKey: publicKey
                        vaultFile: vaultFile
                        sshPrivateKeyContent: sshPrivateKeyContent
                        privateKey: privateKey
                        setUpChrony: true
                        vaultPasswordFile: vaultPasswordFile
                        ntpServers:
                        - ntpServers
                        - ntpServers
                        skipKeyValidateAndUpload: true
                        sshUser: sshUser
                        deleteRemote: true
                        showSetUpChrony: true
                        airGapInstall: true
                        keyPairName: keyPairName
                        managementState: YBAManaged
                      expirationDate: 2022-12-12 13:07:18+00:00
                    - idKey:
                        keyCode: keyCode
                        providerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      creationDate: 2022-12-12 13:07:18+00:00
                      keyInfo:
                        sshPort: 6
                        nodeExporterPort: 0
                        installNodeExporter: true
                        skipProvisioning: true
                        nodeExporterUser: nodeExporterUser
                        provisionInstanceScript: provisionInstanceScript
                        passwordlessSudoAccess: true
                        publicKey: publicKey
                        vaultFile: vaultFile
                        sshPrivateKeyContent: sshPrivateKeyContent
                        privateKey: privateKey
                        setUpChrony: true
                        vaultPasswordFile: vaultPasswordFile
                        ntpServers:
                        - ntpServers
                        - ntpServers
                        skipKeyValidateAndUpload: true
                        sshUser: sshUser
                        deleteRemote: true
                        showSetUpChrony: true
                        airGapInstall: true
                        keyPairName: keyPairName
                        managementState: YBAManaged
                      expirationDate: 2022-12-12 13:07:18+00:00
                    name: name
                    sshUser: sshUser
                    imageBundles:
                    - metadata:
                        type: YBA_ACTIVE
                        version: version
                      useAsDefault: true
                      name: name
                      active: true
                      details:
                        sshPort: 5
                        regions:
                          key:
                            sshUserOverride: sshUserOverride
                            ybImage: ybImage
                            sshPortOverride: 1
                        useIMDSv2: true
                        globalYbImage: globalYbImage
                        sshUser: sshUser
                        arch: x86_64
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - metadata:
                        type: YBA_ACTIVE
                        version: version
                      useAsDefault: true
                      name: name
                      active: true
                      details:
                        sshPort: 5
                        regions:
                          key:
                            sshUserOverride: sshUserOverride
                            ybImage: ybImage
                            sshPortOverride: 1
                        useIMDSv2: true
                        globalYbImage: globalYbImage
                        sshUser: sshUser
                        arch: x86_64
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    details:
                      sshPort: 6
                      enableNodeAgent: true
                      nodeExporterPort: 0
                      installNodeExporter: true
                      skipProvisioning: true
                      nodeExporterUser: nodeExporterUser
                      provisionInstanceScript: provisionInstanceScript
                      passwordlessSudoAccess: true
                      setUpChrony: true
                      ntpServers:
                      - ntpServers
                      - ntpServers
                      cloudInfo:
                        kubernetes:
                          kubernetesImagePullSecretName: kubernetesImagePullSecretName
                          kubernetesPullSecretContent: kubernetesPullSecretContent
                          isKubernetesOperatorControlled: true
                          kubernetesOperatorControlled: true
                          kubeConfig: kubeConfig
                          kubernetesPullSecret: kubernetesPullSecret
                          kubeConfigName: kubeConfigName
                          kubernetesProvider: kubernetesProvider
                          kubeConfigContent: kubeConfigContent
                          kubernetesPullSecretName: kubernetesPullSecretName
                          kubernetesImageRegistry: kubernetesImageRegistry
                          kubernetesStorageClass: kubernetesStorageClass
                          kubernetesServiceAccount: kubernetesServiceAccount
                        gcp:
                          useHostVPC: true
                          hostVpcId: hostVpcId
                          destVpcId: destVpcId
                          gceProject: gceProject
                          gceApplicationCredentials: gceApplicationCredentials
                          gceApplicationCredentialsPath: gceApplicationCredentialsPath
                          useHostCredentials: true
                          vpcType: EXISTING
                          sharedVPCProject: sharedVPCProject
                          ybFirewallTags: ybFirewallTags
                        onprem:
                          ybHomeDir: ybHomeDir
                          useClockbound: true
                        aws:
                          awsAccessKeySecret: awsAccessKeySecret
                          hostVpcId: hostVpcId
                          useIMDSv2: true
                          awsAccessKeyID: awsAccessKeyID
                          awsHostedZoneId: awsHostedZoneId
                          vpcType: EXISTING
                          awsHostedZoneName: awsHostedZoneName
                          hostVpcRegion: hostVpcRegion
                        azu:
                          azuRG: azuRG
                          azuClientSecret: azuClientSecret
                          azuNetworkRG: azuNetworkRG
                          azuNetworkSubscriptionId: azuNetworkSubscriptionId
                          azuSubscriptionId: azuSubscriptionId
                          azuTenantId: azuTenantId
                          vpcType: EXISTING
                          azuHostedZoneId: azuHostedZoneId
                          azuClientId: azuClientId
                        local:
                          hostedZoneId: hostedZoneId
                          yugabyteBinDir: yugabyteBinDir
                          dataHomeDir: dataHomeDir
                          envVars:
                            key: envVars
                          ybcBinDir: ybcBinDir
                      sshUser: sshUser
                      showSetUpChrony: true
                      airGapInstall: true
                    config:
                      key: config
                    airGapInstall: true
                    keyPairName: keyPairName
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List Cloud Providers
      tags:
      - Cloud providers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createProviders
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: validate
        schema:
          default: true
          type: boolean
        example: true
      - in: query
        name: ignoreValidationErrors
        schema:
          default: false
          type: boolean
        example: false
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider'
            examples:
              CreateProvidersRequestExample:
                summary: Default createProviders request
                x-microcks-default: true
                value:
                  sshPort: 5
                  hostVpcId: hostVpcId
                  code: code
                  destVpcId: destVpcId
                  regions:
                  - securityGroupId: securityGroupId
                    code: us-west-2
                    ybImage: TODO
                    latitude: 37.22
                    name: US West (Oregon)
                    active: true
                    details:
                      cloudInfo:
                        kubernetes:
                          kubeNamespace: kubeNamespace
                          kubernetesImagePullSecretName: kubernetesImagePullSecretName
                          kubernetesPullSecretContent: kubernetesPullSecretContent
                          certManagerIssuer: certManagerIssuer
                          isKubernetesOperatorControlled: true
                          kubernetesOperatorControlled: true
                          kubeConfig: kubeConfig
                          kubeDomain: kubeDomain
                          overrides: overrides
                          certManagerIssuerName: certManagerIssuerName
                          kubernetesPullSecret: kubernetesPullSecret
                          kubeConfigName: kubeConfigName
                          certManagerIssuerKind: certManagerIssuerKind
                          kubePodAddressTemplate: kubePodAddressTemplate
                          kubernetesProvider: kubernetesProvider
                          kubeConfigContent: kubeConfigContent
                          kubernetesPullSecretName: kubernetesPullSecretName
                          certManagerIssuerGroup: certManagerIssuerGroup
                          kubernetesImageRegistry: kubernetesImageRegistry
                          certManagerClusterIssuer: certManagerClusterIssuer
                          kubernetesStorageClass: kubernetesStorageClass
                          kubernetesServiceAccount: kubernetesServiceAccount
                        gcp:
                          instanceTemplate: instanceTemplate
                          ybImage: ybImage
                        aws:
                          securityGroupId: securityGroupId
                          vnet: vnet
                          ybImage: ybImage
                          arch: x86_64
                        azu:
                          securityGroupId: securityGroupId
                          vnet: vnet
                          ybImage: ybImage
                          azuNetworkRGOverride: azuNetworkRGOverride
                          azuRGOverride: azuRGOverride
                    vnetName: vnetName
                    zones:
                    - subnet: subnet id
                      code: us-west1-a
                      name: us-west1-a
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                      kubeconfigPath: kubeconfigPath
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      secondarySubnet: secondary subnet id
                    - subnet: subnet id
                      code: us-west1-a
                      name: us-west1-a
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                      kubeconfigPath: kubeconfigPath
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      secondarySubnet: secondary subnet id
                    config:
                      key: config
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    longitude: -120.01
                  - securityGroupId: securityGroupId
                    code: us-west-2
                    ybImage: TODO
                    latitude: 37.22
                    name: US West (Oregon)
                    active: true
                    details:
                      cloudInfo:
                        kubernetes:
                          kubeNamespace: kubeNamespace
                          kubernetesImagePullSecretName: kubernetesImagePullSecretName
                          kubernetesPullSecretContent: kubernetesPullSecretContent
                          certManagerIssuer: certManagerIssuer
                          isKubernetesOperatorControlled: true
                          kubernetesOperatorControlled: true
                          kubeConfig: kubeConfig
                          kubeDomain: kubeDomain
                          overrides: overrides
                          certManagerIssuerName: certManagerIssuerName
                          kubernetesPullSecret: kubernetesPullSecret
                          kubeConfigName: kubeConfigName
                          certManagerIssuerKind: certManagerIssuerKind
                          kubePodAddressTemplate: kubePodAddressTemplate
                          kubernetesProvider: kubernetesProvider
                          kubeConfigContent: kubeConfigContent
                          kubernetesPullSecretName: kubernetesPullSecretName
                          certManagerIssuerGroup: certManagerIssuerGroup
                          kubernetesImageRegistry: kubernetesImageRegistry
                          certManagerClusterIssuer: certManagerClusterIssuer
                          kubernetesStorageClass: kubernetesStorageClass
                          kubernetesServiceAccount: kubernetesServiceAccount
                        gcp:
                          instanceTemplate: instanceTemplate
                          ybImage: ybImage
                        aws:
                          securityGroupId: securityGroupId
                          vnet: vnet
                          ybImage: ybImage
                          arch: x86_64
                        azu:
                          securityGroupId: securityGroupId
                          vnet: vnet
                          ybImage: ybImage
                          azuNetworkRGOverride: azuNetworkRGOverride
                          azuRGOverride: azuRGOverride
                    vnetName: vnetName
                    zones:
                    - subnet: subnet id
                      code: us-west1-a
                      name: us-west1-a
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                      kubeconfigPath: kubeconfigPath
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      secondarySubnet: secondary subnet id
                    - subnet: subnet id
                      code: us-west1-a
                      name: us-west1-a
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                      kubeconfigPath: kubeconfigPath
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      secondarySubnet: secondary subnet id
                    config:
                      key: config
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    longitude: -120.01
                  usabilityState: READY
                  active: true
                  prevUsabilityState: READY
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  version: 2
                  hostVpcRegion: hostVpcRegion
                  sshPrivateKeyContent: sshPrivateKeyContent
                  customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  updateSource: USER
                  allAccessKeys:
                  - idKey:
                      keyCode: keyCode
                      providerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    creationDate: '2022-12-12T13:07:18+00:00'
                    keyInfo:
                      sshPort: 6
                      nodeExporterPort: 0
                      installNodeExporter: true
                      skipProvisioning: true
                      nodeExporterUser: nodeExporterUser
                      provisionInstanceScript: provisionInstanceScript
                      passwordlessSudoAccess: true
                      publicKey: publicKey
                      vaultFile: vaultFile
                      sshPrivateKeyContent: sshPrivateKeyContent
                      privateKey: privateKey
                      setUpChrony: true
                      vaultPasswordFile: vaultPasswordFile
                      ntpServers:
                      - ntpServers
                      - ntpServers
                      skipKeyValidateAndUpload: true
                      sshUser: sshUser
                      deleteRemote: true
                      showSetUpChrony: true
                      airGapInstall: true
                      keyPairName: keyPairName
                      managementState: YBAManaged
                    expirationDate: '2022-12-12T13:07:18+00:00'
                  - idKey:
                      keyCode: keyCode
                      providerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    creationDate: '2022-12-12T13:07:18+00:00'
                    keyInfo:
                      sshPort: 6
                      nodeExporterPort: 0
                      installNodeExporter: true
                      skipProvisioning: true
                      nodeExporterUser: nodeExporterUser
                      provisionInstanceScript: provisionInstanceScript
                      passwordlessSudoAccess: true
                      publicKey: publicKey
                      vaultFile: vaultFile
                      sshPrivateKeyContent: sshPrivateKeyContent
                      privateKey: privateKey
                      setUpChrony: true
                      vaultPasswordFile: vaultPasswordFile
                      ntpServers:
                      - ntpServers
                      - ntpServers
                      skipKeyValidateAndUpload: true
                      sshUser: sshUser
                      deleteRemote: true
                      showSetUpChrony: true
                      airGapInstall: true
                      keyPairName: keyPairName
                      managementState: YBAManaged
                    expirationDate: '2022-12-12T13:07:18+00:00'
                  name: name
                  sshUser: sshUser
                  imageBundles:
                  - metadata:
                      type: YBA_ACTIVE
                      version: version
                    useAsDefault: true
                    name: name
                    active: true
                    details:
                      sshPort: 5
                      regions:
                        key:
                          sshUserOverride: sshUserOverride
                          ybImage: ybImage
                          sshPortOverride: 1
                      useIMDSv2: true
                      globalYbImage: globalYbImage
                      sshUser: sshUser
                      arch: x86_64
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - metadata:
                      type: YBA_ACTIVE
                      version: version
                    useAsDefault: true
                    name: name
                    active: true
                    details:
                      sshPort: 5
                      regions:
                        key:
                          sshUserOverride: sshUserOverride
                          ybImage: ybImage
                          sshPortOverride: 1
                      useIMDSv2: true
                      globalYbImage: globalYbImage
                      sshUser: sshUser
                      arch: x86_64
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  details:
                    sshPort: 6
                    enableNodeAgent: true
                    nodeExporterPort: 0
                    installNodeExporter: true
                    skipProvisioning: true
                    nodeExporterUser: nodeExporterUser
                    provisionInstanceScript: provisionInstanceScript
                    passwordlessSudoAccess: true
                    setUpChrony: true
                    ntpServers:
                    - ntpServers
                    - ntpServers
                    cloudInfo:
                      kubernetes:
                        kubernetesImagePullSecretName: kubernetesImagePullSecretName
                        kubernetesPullSecretContent: kubernetesPullSecretContent
                        isKubernetesOperatorControlled: true
                        kubernetesOperatorControlled: true
                        kubeConfig: kubeConfig
                        kubernetesPullSecret: kubernetesPullSecret
                        kubeConfigName: kubeConfigName
                        kubernetesProvider: kubernetesProvider
                        kubeConfigContent: kubeConfigContent
                        kubernetesPullSecretName: kubernetesPullSecretName
                        kubernetesImageRegistry: kubernetesImageRegistry
                        kubernetesStorageClass: kubernetesStorageClass
                        kubernetesServiceAccount: kubernetesServiceAccount
                      gcp:
                        useHostVPC: true
                        hostVpcId: hostVpcId
                        destVpcId: destVpcId
                        gceProject: gceProject
                        gceApplicationCredentials: gceApplicationCredentials
                        gceApplicationCredentialsPath: gceApplicationCredentialsPath
                        useHostCredentials: true
                        vpcType: EXISTING
                        sharedVPCProject: sharedVPCProject
                        ybFirewallTags: ybFirewallTags
                      onprem:
                        ybHomeDir: ybHomeDir
                        useClockbound: true
                      aws:
                        awsAccessKeySecret: awsAccessKeySecret
                        hostVpcId: hostVpcId
                        useIMDSv2: true
                        awsAccessKeyID: awsAccessKeyID
                        awsHostedZoneId: awsHostedZoneId
                        vpcType: EXISTING
                        awsHostedZoneName: awsHostedZoneName
                        hostVpcRegion: hostVpcRegion
                      azu:
                        azuRG: azuRG
                        azuClientSecret: azuClientSecret
                        azuNetworkRG: azuNetworkRG
                        azuNetworkSubscriptionId: azuNetworkSubscriptionId
                        azuSubscriptionId: azuSubscriptionId
                        azuTenantId: azuTenantId
                        vpcType: EXISTING
                        azuHostedZoneId: azuHostedZoneId
                        azuClientId: azuClientId
                      local:
                        hostedZoneId: hostedZoneId
                        yugabyteBinDir: yugabyteBinDir
                        dataHomeDir: dataHomeDir
                        envVars:
                          key: envVars
                        ybcBinDir: ybcBinDir
                    sshUser: sshUser
                    showSetUpChrony: true
                    airGapInstall: true
                  config:
                    key: config
                  airGapInstall: true
                  keyPairName: keyPairName
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                CreateProviders200Example:
                  summary: Default createProviders 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create a Provider
      tags:
      - Cloud providers
      x-codegen-request-body-name: CreateProviderRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/providers/region_metadata/{code}:
    get:
      operationId: getRegionMetadata
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: code
        required: true
        schema:
          type: string
        example: OK
      - in: query
        name: subType
        schema:
          default: 'null'
          type: string
        example: 'null'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionMetadata'
              examples:
                GetRegionMetadata200Example:
                  summary: Default getRegionMetadata 200 response
                  x-microcks-default: true
                  value:
                    regionMetadata:
                      key:
                        latitude: 0.8008281904610115
                        name: name
                        availabilityZones:
                        - availabilityZones
                        - availabilityZones
                        longitude: 6.027456183070403
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Retrieves the Region Metadata for the Cloud Providers
      tags:
      - Cloud providers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/providers/{pUUID}:
    delete:
      operationId: delete
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: pUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                Delete200Example:
                  summary: Default delete 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete a Cloud Provider
      tags:
      - Cloud providers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: getProvider
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: pUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
              examples:
                GetProvider200Example:
                  summary: Default getProvider 200 response
                  x-microcks-default: true
                  value:
                    sshPort: 5
                    hostVpcId: hostVpcId
                    code: code
                    destVpcId: destVpcId
                    regions:
                    - securityGroupId: securityGroupId
                      code: us-west-2
                      ybImage: TODO
                      latitude: 37.22
                      name: US West (Oregon)
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                          gcp:
                            instanceTemplate: instanceTemplate
                            ybImage: ybImage
                          aws:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            arch: x86_64
                          azu:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            azuNetworkRGOverride: azuNetworkRGOverride
                            azuRGOverride: azuRGOverride
                      vnetName: vnetName
                      zones:
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      longitude: -120.01
                    - securityGroupId: securityGroupId
                      code: us-west-2
                      ybImage: TODO
                      latitude: 37.22
                      name: US West (Oregon)
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                          gcp:
                            instanceTemplate: instanceTemplate
                            ybImage: ybImage
                          aws:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            arch: x86_64
                          azu:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            azuNetworkRGOverride: azuNetworkRGOverride
                            azuRGOverride: azuRGOverride
                      vnetName: vnetName
                      zones:
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      longitude: -120.01
                    usabilityState: READY
                    active: true
                    prevUsabilityState: READY
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    version: 2
                    hostVpcRegion: hostVpcRegion
                    sshPrivateKeyContent: sshPrivateKeyContent
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    updateSource: USER
                    allAccessKeys:
                    - idKey:
                        keyCode: keyCode
                        providerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      creationDate: 2022-12-12 13:07:18+00:00
                      keyInfo:
                        sshPort: 6
                        nodeExporterPort: 0
                        installNodeExporter: true
                        skipProvisioning: true
                        nodeExporterUser: nodeExporterUser
                        provisionInstanceScript: provisionInstanceScript
                        passwordlessSudoAccess: true
                        publicKey: publicKey
                        vaultFile: vaultFile
                        sshPrivateKeyContent: sshPrivateKeyContent
                        privateKey: privateKey
                        setUpChrony: true
                        vaultPasswordFile: vaultPasswordFile
                        ntpServers:
                        - ntpServers
                        - ntpServers
                        skipKeyValidateAndUpload: true
                        sshUser: sshUser
                        deleteRemote: true
                        showSetUpChrony: true
                        airGapInstall: true
                        keyPairName: keyPairName
                        managementState: YBAManaged
                      expirationDate: 2022-12-12 13:07:18+00:00
                    - idKey:
                        keyCode: keyCode
                        providerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      creationDate: 2022-12-12 13:07:18+00:00
                      keyInfo:
                        sshPort: 6
                        nodeExporterPort: 0
                        installNodeExporter: true
                        skipProvisioning: true
                        nodeExporterUser: nodeExporterUser
                        provisionInstanceScript: provisionInstanceScript
                        passwordlessSudoAccess: true
                        publicKey: publicKey
                        vaultFile: vaultFile
                        sshPrivateKeyContent: sshPrivateKeyContent
                        privateKey: privateKey
                        setUpChrony: true
                        vaultPasswordFile: vaultPasswordFile
                        ntpServers:
                        - ntpServers
                        - ntpServers
                        skipKeyValidateAndUpload: true
                        sshUser: sshUser
                        deleteRemote: true
                        showSetUpChrony: true
                        airGapInstall: true
                        keyPairName: keyPairName
                        managementState: YBAManaged
                      expirationDate: 2022-12-12 13:07:18+00:00
                    name: name
                    sshUser: sshUser
                    imageBundles:
                    - metadata:
                        type: YBA_ACTIVE
                        version: version
                      useAsDefault: true
                      name: name
                      active: true
                      details:
                        sshPort: 5
                        regions:
                          key:
                            sshUserOverride: sshUserOverride
                            ybImage: ybImage
                            sshPortOverride: 1
                        useIMDSv2: true
                        globalYbImage: globalYbImage
                        sshUser: sshUser
                        arch: x86_64
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - metadata:
                        type: YBA_ACTIVE
                        version: version
                      useAsDefault: true
                      name: name
                      active: true
                      details:
                        sshPort: 5
                        regions:
                          key:
                            sshUserOverride: sshUserOverride
                            ybImage: ybImage
                            sshPortOverride: 1
                        useIMDSv2: true
                        globalYbImage: globalYbImage
                        sshUser: sshUser
                        arch: x86_64
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    details:
                      sshPort: 6
                      enableNodeAgent: true
                      nodeExporterPort: 0
                      installNodeExporter: true
                      skipProvisioning: true
                      nodeExporterUser: nodeExporterUser
                      provisionInstanceScript: provisionInstanceScript
                      passwordlessSudoAccess: true
                      setUpChrony: true
                      ntpServers:
                      - ntpServers
                      - ntpServers
                      cloudInfo:
                        kubernetes:
                          kubernetesImagePullSecretName: kubernetesImagePullSecretName
                          kubernetesPullSecretContent: kubernetesPullSecretContent
                          isKubernetesOperatorControlled: true
                          kubernetesOperatorControlled: true
                          kubeConfig: kubeConfig
                          kubernetesPullSecret: kubernetesPullSecret
                          kubeConfigName: kubeConfigName
                          kubernetesProvider: kubernetesProvider
                          kubeConfigContent: kubeConfigContent
                          kubernetesPullSecretName: kubernetesPullSecretName
                          kubernetesImageRegistry: kubernetesImageRegistry
                          kubernetesStorageClass: kubernetesStorageClass
                          kubernetesServiceAccount: kubernetesServiceAccount
                        gcp:
                          useHostVPC: true
                          hostVpcId: hostVpcId
                          destVpcId: destVpcId
                          gceProject: gceProject
                          gceApplicationCredentials: gceApplicationCredentials
                          gceApplicationCredentialsPath: gceApplicationCredentialsPath
                          useHostCredentials: true
                          vpcType: EXISTING
                          sharedVPCProject: sharedVPCProject
                          ybFirewallTags: ybFirewallTags
                        onprem:
                          ybHomeDir: ybHomeDir
                          useClockbound: true
                        aws:
                          awsAccessKeySecret: awsAccessKeySecret
                          hostVpcId: hostVpcId
                          useIMDSv2: true
                          awsAccessKeyID: awsAccessKeyID
                          awsHostedZoneId: awsHostedZoneId
                          vpcType: EXISTING
                          awsHostedZoneName: awsHostedZoneName
                          hostVpcRegion: hostVpcRegion
                        azu:
                          azuRG: azuRG
                          azuClientSecret: azuClientSecret
                          azuNetworkRG: azuNetworkRG
                          azuNetworkSubscriptionId: azuNetworkSubscriptionId
                          azuSubscriptionId: azuSubscriptionId
                          azuTenantId: azuTenantId
                          vpcType: EXISTING
                          azuHostedZoneId: azuHostedZoneId
                          azuClientId: azuClientId
                        local:
                          hostedZoneId: hostedZoneId
                          yugabyteBinDir: yugabyteBinDir
                          dataHomeDir: dataHomeDir
                          envVars:
                            key: envVars
                          ybcBinDir: ybcBinDir
                      sshUser: sshUser
                      showSetUpChrony: true
                      airGapInstall: true
                    config:
                      key: config
                    airGapInstall: true
                    keyPairName: keyPairName
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get a Cloud Provider
      tags:
      - Cloud providers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/providers/{pUUID}/access_key_rotation:
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: accessKeyRotation
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: pUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                AccessKeyRotation200Example:
                  summary: Default accessKeyRotation 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Rotate Access Key for a Provider
      tags:
      - Cloud providers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/providers/{pUUID}/access_key_rotation/schedule:
    get:
      description: 'WARNING: This is a preview API that could change.'
      operationId: listSchedules
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: pUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Schedule'
                type: array
              examples:
                ListSchedules200Example:
                  summary: Default listSchedules 200 response
                  x-microcks-default: true
                  value:
                  - scheduleName: scheduleName
                    ownerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    nextScheduleTaskTime: 2022-12-12 13:07:18+00:00
                    kubernetesOperatorControlled: true
                    incrementBacklogStatus: true
                    frequency: 6
                    cronExpression: cronExpression
                    frequencyTimeUnit: NANOSECONDS
                    taskType: CloudBootstrap
                    nextIncrementScheduleTaskTime: 2022-12-12 13:07:18+00:00
                    scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    useLocalTimezone: true
                    runningState: true
                    userEmail: userEmail
                    backlogStatus: true
                    failureCount: 0
                    status: Deleting
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List All Schedules for a Provider's Access Key Rotation
      tags:
      - Cloud providers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: 'WARNING: This is a preview API that could change.'
      operationId: scheduledAccessKeyRotation
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: pUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
              examples:
                ScheduledAccessKeyRotation200Example:
                  summary: Default scheduledAccessKeyRotation 200 response
                  x-microcks-default: true
                  value:
                    scheduleName: scheduleName
                    ownerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    nextScheduleTaskTime: 2022-12-12 13:07:18+00:00
                    kubernetesOperatorControlled: true
                    incrementBacklogStatus: true
                    frequency: 6
                    cronExpression: cronExpression
                    frequencyTimeUnit: NANOSECONDS
                    taskType: CloudBootstrap
                    nextIncrementScheduleTaskTime: 2022-12-12 13:07:18+00:00
                    scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    useLocalTimezone: true
                    runningState: true
                    userEmail: userEmail
                    backlogStatus: true
                    failureCount: 0
                    status: Deleting
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Rotate Access Key for a Provider - Scheduled
      tags:
      - Cloud providers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/providers/{pUUID}/access_key_rotation/schedule/{sUUID}:
    put:
      description: 'WARNING: This is a preview API that could change.'
      operationId: editAccessKeyRotationSchedule
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: pUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: sUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditAccessKeyRotationScheduleParams'
            examples:
              EditAccessKeyRotationScheduleRequestExample:
                summary: Default editAccessKeyRotationSchedule request
                x-microcks-default: true
                value:
                  schedulingFrequencyDays: 0
                  status: Deleting
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
              examples:
                EditAccessKeyRotationSchedule200Example:
                  summary: Default editAccessKeyRotationSchedule 200 response
                  x-microcks-default: true
                  value:
                    scheduleName: scheduleName
                    ownerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    nextScheduleTaskTime: 2022-12-12 13:07:18+00:00
                    kubernetesOperatorControlled: true
                    incrementBacklogStatus: true
                    frequency: 6
                    cronExpression: cronExpression
                    frequencyTimeUnit: NANOSECONDS
                    taskType: CloudBootstrap
                    nextIncrementScheduleTaskTime: 2022-12-12 13:07:18+00:00
                    scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    useLocalTimezone: true
                    runningState: true
                    userEmail: userEmail
                    backlogStatus: true
                    failureCount: 0
                    status: Deleting
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Edit a Access Key Rotation Schedule
      tags:
      - Cloud providers
      x-codegen-request-body-name: body
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/providers/{pUUID}/edit:
    put:
      operationId: editProvider
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: pUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: validate
        schema:
          default: true
          type: boolean
        example: true
      - in: query
        name: ignoreValidationErrors
        schema:
          default: false
          type: boolean
        example: false
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider'
            examples:
              EditProviderRequestExample:
                summary: Default editProvider request
                x-microcks-default: true
                value:
                  sshPort: 5
                  hostVpcId: hostVpcId
                  code: code
                  destVpcId: destVpcId
                  regions:
                  - securityGroupId: securityGroupId
                    code: us-west-2
                    ybImage: TODO
                    latitude: 37.22
                    name: US West (Oregon)
                    active: true
                    details:
                      cloudInfo:
                        kubernetes:
                          kubeNamespace: kubeNamespace
                          kubernetesImagePullSecretName: kubernetesImagePullSecretName
                          kubernetesPullSecretContent: kubernetesPullSecretContent
                          certManagerIssuer: certManagerIssuer
                          isKubernetesOperatorControlled: true
                          kubernetesOperatorControlled: true
                          kubeConfig: kubeConfig
                          kubeDomain: kubeDomain
                          overrides: overrides
                          certManagerIssuerName: certManagerIssuerName
                          kubernetesPullSecret: kubernetesPullSecret
                          kubeConfigName: kubeConfigName
                          certManagerIssuerKind: certManagerIssuerKind
                          kubePodAddressTemplate: kubePodAddressTemplate
                          kubernetesProvider: kubernetesProvider
                          kubeConfigContent: kubeConfigContent
                          kubernetesPullSecretName: kubernetesPullSecretName
                          certManagerIssuerGroup: certManagerIssuerGroup
                          kubernetesImageRegistry: kubernetesImageRegistry
                          certManagerClusterIssuer: certManagerClusterIssuer
                          kubernetesStorageClass: kubernetesStorageClass
                          kubernetesServiceAccount: kubernetesServiceAccount
                        gcp:
                          instanceTemplate: instanceTemplate
                          ybImage: ybImage
                        aws:
                          securityGroupId: securityGroupId
                          vnet: vnet
                          ybImage: ybImage
                          arch: x86_64
                        azu:
                          securityGroupId: securityGroupId
                          vnet: vnet
                          ybImage: ybImage
                          azuNetworkRGOverride: azuNetworkRGOverride
                          azuRGOverride: azuRGOverride
                    vnetName: vnetName
                    zones:
                    - subnet: subnet id
                      code: us-west1-a
                      name: us-west1-a
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                      kubeconfigPath: kubeconfigPath
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      secondarySubnet: secondary subnet id
                    - subnet: subnet id
                      code: us-west1-a
                      name: us-west1-a
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                      kubeconfigPath: kubeconfigPath
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      secondarySubnet: secondary subnet id
                    config:
                      key: config
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    longitude: -120.01
                  - securityGroupId: securityGroupId
                    code: us-west-2
                    ybImage: TODO
                    latitude: 37.22
                    name: US West (Oregon)
                    active: true
                    details:
                      cloudInfo:
                        kubernetes:
                          kubeNamespace: kubeNamespace
                          kubernetesImagePullSecretName: kubernetesImagePullSecretName
                          kubernetesPullSecretContent: kubernetesPullSecretContent
                          certManagerIssuer: certManagerIssuer
                          isKubernetesOperatorControlled: true
                          kubernetesOperatorControlled: true
                          kubeConfig: kubeConfig
                          kubeDomain: kubeDomain
                          overrides: overrides
                          certManagerIssuerName: certManagerIssuerName
                          kubernetesPullSecret: kubernetesPullSecret
                          kubeConfigName: kubeConfigName
                          certManagerIssuerKind: certManagerIssuerKind
                          kubePodAddressTemplate: kubePodAddressTemplate
                          kubernetesProvider: kubernetesProvider
                          kubeConfigContent: kubeConfigContent
                          kubernetesPullSecretName: kubernetesPullSecretName
                          certManagerIssuerGroup: certManagerIssuerGroup
                          kubernetesImageRegistry: kubernetesImageRegistry
                          certManagerClusterIssuer: certManagerClusterIssuer
                          kubernetesStorageClass: kubernetesStorageClass
                          kubernetesServiceAccount: kubernetesServiceAccount
                        gcp:
                          instanceTemplate: instanceTemplate
                          ybImage: ybImage
                        aws:
                          securityGroupId: securityGroupId
                          vnet: vnet
                          ybImage: ybImage
                          arch: x86_64
                        azu:
                          securityGroupId: securityGroupId
                          vnet: vnet
                          ybImage: ybImage
                          azuNetworkRGOverride: azuNetworkRGOverride
                          azuRGOverride: azuRGOverride
                    vnetName: vnetName
                    zones:
                    - subnet: subnet id
                      code: us-west1-a
                      name: us-west1-a
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                      kubeconfigPath: kubeconfigPath
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      secondarySubnet: secondary subnet id
                    - subnet: subnet id
                      code: us-west1-a
                      name: us-west1-a
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                      kubeconfigPath: kubeconfigPath
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      secondarySubnet: secondary subnet id
                    config:
                      key: config
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    longitude: -120.01
                  usabilityState: READY
                  active: true
                  prevUsabilityState: READY
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  version: 2
                  hostVpcRegion: hostVpcRegion
                  sshPrivateKeyContent: sshPrivateKeyContent
                  customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  updateSource: USER
                  allAccessKeys:
                  - idKey:
                      keyCode: keyCode
                      providerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    creationDate: '2022-12-12T13:07:18+00:00'
                    keyInfo:
                      sshPort: 6
                      nodeExporterPort: 0
                      installNodeExporter: true
                      skipProvisioning: true
                      nodeExporterUser: nodeExporterUser
                      provisionInstanceScript: provisionInstanceScript
                      passwordlessSudoAccess: true
                      publicKey: publicKey
                      vaultFile: vaultFile
                      sshPrivateKeyContent: sshPrivateKeyContent
                      privateKey: privateKey
                      setUpChrony: true
                      vaultPasswordFile: vaultPasswordFile
                      ntpServers:
                      - ntpServers
[...]
