openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys UniverseClusterMutations API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: UniverseClusterMutations
paths:
  /api/v1/customers/{cUUID}/universes/clusters:
    post:
      description: This will configure and create universe with (optionally) multiple clusters. Just fill in the userIntent for PRIMARY and (optionally) an ASYNC cluster
      operationId: createAllClusters
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniverseConfigureTaskParams'
            examples:
              CreateAllClustersRequestExample:
                summary: Default createAllClusters request
                x-microcks-default: true
                value:
                  additionalServicesStateData:
                    earlyoomConfig:
                      availMemoryKillPercent: 5
                      reportInterval: 9
                      preferPattern: preferPattern
                      availMemoryKillKb: 5
                      availMemoryTermKb: 2
                      availMemoryTermPercent: 7
                    earlyoomEnabled: true
                  expectedUniverseVersion: 0
                  universeDetached: true
                  sourceXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  nodeExporterUser: nodeExporterUser
                  placementModificationTaskUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  rootCA: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  nodesResizeAvailable: true
                  softwareUpgradeState: Ready
                  updatingTaskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  allowInsecure: true
                  sleepAfterTServerRestartMillis: 5
                  clusterOperation: CREATE
                  universePaused: true
                  updateSucceeded: true
                  installNodeAgent: true
                  prevYBSoftwareConfig:
                    allTserversUpgradedToYsqlMajorVersion: true
                    autoFlagConfigVersion: 3
                    canRollbackCatalogUpgrade: true
                    targetUpgradeSoftwareVersion: targetUpgradeSoftwareVersion
                    softwareVersion: softwareVersion
                  useNewHelmNamingStyle: true
                  otelCollectorEnabled: true
                  updateInProgress: true
                  autoRollbackPerformed: true
                  targetXClusterConfigs:
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  deviceInfo:
                    cloudVolumeEncryption:
                      enableVolumeEncryption: true
                      kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    diskIops: 6
                    storageClass: storageClass
                    numVolumes: 7
                    mountPoints: mountPoints
                    storageType: IO1
                    throughput: 1
                    volumeSize: 4
                  enableYbc: true
                  updatingTask: CloudBootstrap
                  nodeDetailsSet:
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  - nodeName: nodeName
                    nodeExporterPort: 3
                    placementUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    ybControllerHttpPort: 3
                    dedicatedTo: MASTER
                    machineImage: machineImage
                    redisServerHttpPort: 2
                    masterState: ToStart
                    tserverRpcPort: 6
                    ysqlServerHttpPort: 7
                    yqlServerRpcPort: 0
                    otelCollectorMetricsPort: 1
                    isMaster: true
                    sshUserOverride: sshUserOverride
                    cloudInfo:
                      mount_roots: mount_roots
                      kubernetesNamespace: kubernetesNamespace
                      public_ip: public_ip
                      secondary_subnet_id: secondary_subnet_id
                      private_dns: private_dns
                      useTimeSync: true
                      kubernetesPodName: kubernetesPodName
                      root_volume: root_volume
                      secondary_private_ip: secondary_private_ip
                      private_ip: private_ip
                      cloud: cloud
                      lun_indexes:
                      - 6
                      - 6
                      assignPublicIP: true
                      az: az
                      subnet_id: subnet_id
                      public_dns: public_dns
                      region: region
                      instance_type: instance_type
                    sshPortOverride: 6
                    cronsActive: true
                    state: Provisioned
                    nodeIdx: 6
                    masterRpcPort: 6
                    redisServerRpcPort: 6
                    lastVolumeUpdateTime: '2022-12-12T13:07:18+00:00'
                    tserverHttpPort: 5
                    disksAreMountedByUUID: true
                    isRedisServer: true
                    ybPrebuiltAmi: true
                    internalYsqlServerRpcPort: 8
                    isTserver: true
                    nodeUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isYsqlServer: true
                    ybControllerRpcPort: 3
                    isYqlServer: true
                    azUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    masterHttpPort: 9
                    ysqlServerRpcPort: 6
                    autoSyncMasterAddrs: true
                    yqlServerHttpPort: 7
                  remotePackagePath: remotePackagePath
                  ybcInstalled: true
                  communicationPorts:
                    nodeExporterPort: 5
                    tserverHttpPort: 9
                    internalYsqlServerRpcPort: 0
                    ybControllerHttpPort: 2
                    redisServerHttpPort: 2
                    ybControllerrRpcPort: 4
                    tserverRpcPort: 3
                    ysqlServerHttpPort: 1
                    yqlServerRpcPort: 1
                    masterHttpPort: 6
                    otelCollectorMetricsPort: 5
                    ysqlServerRpcPort: 1
                    yqlServerHttpPort: 7
                    masterRpcPort: 1
                    redisServerRpcPort: 7
                  rootAndClientRootCASame: true
                  sleepAfterMasterRestartMillis: 1
                  resetAZConfig: true
                  userAZSelected: true
                  fipsEnabled: true
                  encryptionAtRestConfig:
                    encryptionAtRestEnabled: true
                    opType: ENABLE
                    kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    type: CMK
                  updateOptions:
                  - UPDATE
                  - UPDATE
                  nodePrefix: nodePrefix
                  allowGeoPartitioning: true
                  itestS3PackagePath: itestS3PackagePath
                  capability: READ_ONLY
                  regionsChanged: true
                  ybcSoftwareVersion: ybcSoftwareVersion
                  creatingUser:
                    ldapSpecifiedRole: true
                    customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    role: Admin
                    authTokenIssueDate: '2021-06-17T15:00:05+00:00'
                    timezone: timezone
                    oidcJwtAuthToken: oidcJwtAuthToken
                    groupMemberships:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    userType: local
                    creationDate: '2022-12-12T13:07:18+00:00'
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    email: username1@example.com
                    primary: true
                  extraDependencies:
                    installNodeExporter: true
                  sshUserOverride: sshUserOverride
                  platformVersion: platformVersion
                  clusters:
                  - partitions:
                    - replicationFactor: 1
                      defaultPartition: true
                      name: name
                      placement:
                        cloudList:
                        - code: code
                          regionList:
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - code: code
                          regionList:
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - replicationFactor: 1
                      defaultPartition: true
                      name: name
                      placement:
                        cloudList:
                        - code: code
                          regionList:
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - code: code
                          regionList:
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    clusterType: PRIMARY
                    placementInfo:
                      cloudList:
                      - code: code
                        regionList:
                        - code: code
                          azList:
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          name: name
                          lbFQDN: lbFQDN
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - code: code
                          azList:
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          name: name
                          lbFQDN: lbFQDN
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - code: code
                        regionList:
                        - code: code
                          azList:
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          name: name
                          lbFQDN: lbFQDN
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - code: code
                          azList:
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          name: name
                          lbFQDN: lbFQDN
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    regions:
                    - securityGroupId: securityGroupId
                      code: us-west-2
                      ybImage: TODO
                      latitude: 37.22
                      name: US West (Oregon)
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                          gcp:
                            instanceTemplate: instanceTemplate
                            ybImage: ybImage
                          aws:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            arch: x86_64
                          azu:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            azuNetworkRGOverride: azuNetworkRGOverride
                            azuRGOverride: azuRGOverride
                      vnetName: vnetName
                      zones:
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      longitude: -120.01
                    - securityGroupId: securityGroupId
                      code: us-west-2
                      ybImage: TODO
                      latitude: 37.22
                      name: US West (Oregon)
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                          gcp:
                            instanceTemplate: instanceTemplate
                            ybImage: ybImage
                          aws:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            arch: x86_64
                          azu:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            azuNetworkRGOverride: azuNetworkRGOverride
                            azuRGOverride: azuRGOverride
                      vnetName: vnetName
                      zones:
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      longitude: -120.01
                    userIntent:
                      replicationFactor: 8
                      azOverrides:
                        key: azOverrides
                      masterK8SNodeResourceSpec:
                        memoryGib: 1.1730742509559433
                        cpuCoreCount: 7.457744773683766
                      ysqlPassword: ysqlPassword
                      auditLogConfig:
                        universeLogsExporterConfig:
                        - additionalTags:
                            key: additionalTags
                          exporterUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - additionalTags:
                            key: additionalTags
                          exporterUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        ysqlAuditConfig:
                          logRows: true
                          logClient: true
                          logLevel: DEBUG1
                          classes:
                          - READ
                          - READ
                          logStatementOnce: true
                          logRelation: true
                          logStatement: true
                          logCatalog: true
                          logParameter: true
                          enabled: true
                          logParameterMaxSize: 1
                        ycqlAuditConfig:
                          includedKeyspaces:
                          - includedKeyspaces
                          - includedKeyspaces
                          excludedUsers:
                          - excludedUsers
                          - excludedUsers
                          logLevel: INFO
                          includedCategories:
                          - QUERY
                          - QUERY
                          includedUsers:
                          - includedUsers
                          - includedUsers
                          excludedKeyspaces:
                          - excludedKeyspaces
                          - excludedKeyspaces
                          enabled: true
                          excludedCategories:
                          - QUERY
                          - QUERY
                        exportActive: true
                      enableYSQLAuth: true
                      tserverK8SNodeResourceSpec:
                        memoryGib: 1.1730742509559433
                        cpuCoreCount: 7.457744773683766
                      queryLogConfig:
                        ysqlQueryLogConfig:
                          logDuration: true
                          logErrorVerbosity: VERBOSE
                          logLinePrefix: logLinePrefix
                          logMinDurationStatement: 6
                          logMinErrorStatement: ERROR
                          logStatement: ALL
                          logDisconnections: true
                          enabled: true
                          logConnections: true
                          debugPrintPlan: true
                        universeLogsExporterConfig:
                        - additionalTags:
                            key: additionalTags
                          sendBatchSize: 9
                          sendBatchTimeoutSeconds: 9
                          memoryLimitMib: 2048
                          exporterUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          memoryLimitCheckIntervalSeconds: 10
                          sendBatchMaxSize: 5
                        - additionalTags:
                            key: additionalTags
                          sendBatchSize: 9
                          sendBatchTimeoutSeconds: 9
                          memoryLimitMib: 2048
                          exporterUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          memoryLimitCheckIntervalSeconds: 10
                          sendBatchMaxSize: 5
                        exportActive: true
                      cgroupSize: 1
                      universeName: universeName
                      ybcFlags:
                        key: ybcFlags
                      proxyConfig:
                        httpProxy: http://10.9.131.7:3128
                        httpsProxy: http://10.9.131.7:3128
                        noProxyList: '["10.150.0.26",".amazonaws.com"]'
                      enableConnectionPooling: true
                      useTimeSync: true
                      useHostname: true
                      universeOverrides: universeOverrides
                      kubernetesOperatorVersion: 6
                      ybSoftwareVersion: ybSoftwareVersion
                      deviceInfo:
                        cloudVolumeEncryption:
                          enableVolumeEncryption: true
                          kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        diskIops: 6
                        storageClass: storageClass
                        numVolumes: 7
                        mountPoints: mountPoints
                        storageType: IO1
                        throughput: 1
                        volumeSize: 4
                      masterDeviceInfo:
                        cloudVolumeEncryption:
                          enableVolumeEncryption: true
                          kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        diskIops: 6
                        storageClass: storageClass
                        numVolumes: 7
                        mountPoints: mountPoints
                        storageType: IO1
                        throughput: 1
                        volumeSize: 4
                      numNodes: 4
                      assignPublicIP: true
                      enableClientToNodeEncrypt: true
                      awsArnString: awsArnString
                      enableExposingService: NONE
                      masterGFlags:
                        key: masterGFlags
                      metricsExportConfig:
                        scrapeIntervalSeconds: 30
                        universeMetricsExporterConfig:
                        - additionalTags:
                            key: additionalTags
                          sendBatchSize: 100
                          sendBatchTimeoutSeconds: 10
                          memoryLimitMib: 2048
                          exporterUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          memoryLimitCheckIntervalSeconds: 10
                          metricsPrefix: ybdb.
                          sendBatchMaxSize: 1000
                        - additionalTags:
                            key: additionalTags
                          sendBatchSize: 100
                          sendBatchTimeoutSeconds: 10
                          memoryLimitMib: 2048
                          exporterUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          memoryLimitCheckIntervalSeconds: 10
                          metricsPrefix: ybdb.
                          sendBatchMaxSize: 1000
                        collectionLevel: NORMAL
                        scrapeConfigTargets: '["MASTER_EXPORT", "TSERVER_EXPORT", "YSQL_EXPORT", "CQL_EXPORT", "NODE_EXPORT", "NODE_AGENT_EXPORT", "OTEL_EXPORT"]'
                        scrapeTimeoutSeconds: 20
                      useSystemd: true
                      enableNodeToNodeEncrypt: true
                      preferredRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      spotPrice: 9.018348186070783
                      enableYCQLAuth: true
                      useYbdbInbuiltYbc: true
                      instanceTags:
                        key: instanceTags
                      specificGFlags:
                        inheritFromPrimary: true
                        perProcessFlags:
                          value:
                            key:
                              key: value
                        gflagGroups: '["ENHANCED_POSTGRES_COMPATIBILITY"]'
                        perAZ:
                          key:
                            value:
                              key:
                                key: value
                      useClockbound: true
                      providerType: unknown
                      tserverGFlags:
                        key: tserverGFlags
                      useSpotInstance: true
                      enableYEDIS: true
                      enableVolumeEncryption: true
                      provider: provider
                      accessKeyCode: accessKeyCode
                      imageBundleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      enableLB: true
                      enableIPV6: true
                      dedicatedNodes: true
                      userIntentOverrides:
                        azOverrides:
                          key:
                            proxyConfig:
                              httpProxy: http://10.9.131.7:3128
                              httpsProxy: http://10.9.131.7:3128
                              noProxyList: '["10.150.0.26",".amazonaws.com"]'
                            instanceType: instanceType
                            cgroupSize: 6
                            deviceInfo:
                              cloudVolumeEncryption:
                                enableVolumeEncryption: true
                                kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              diskIops: 6
                              storageClass: storageClass
                              numVolumes: 7
                              mountPoints: mountPoints
                              storageType: IO1
                              throughput: 1
                              volumeSize: 4
                            perProcess:
                              key:
                                instanceType: instanceType
                                deviceInfo:
                                  cloudVolumeEncryption:
                                    enableVolumeEncryption: true
                                    kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                                  diskIops: 6
                                  storageClass: storageClass
                                  numVolumes: 7
                                  mountPoints: mountPoints
                                  storageType: IO1
                                  throughput: 1
                                  volumeSize: 4
                        perProcess:
                          key:
                            instanceType: instanceType
                            deviceInfo:
                              cloudVolumeEncryption:
                                enableVolumeEncryption: true
                                kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              diskIops: 6
                              storageClass: storageClass
                              numVolumes: 7
                              mountPoints: mountPoints
                              storageType: IO1
                              throughput: 1
                              volumeSize: 4
                      assignStaticPublicIP: true
                      enableYSQL: true
                      regionList:
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      instanceType: instanceType
                      masterInstanceType: masterInstanceType
                      enableYCQL: true
                      ycqlPassword: ycqlPassword
                    index: 3
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - partitions:
                    - replicationFactor: 1
                      defaultPartition: true
                      name: name
                      placement:
                        cloudList:
                        - code: code
                          regionList:
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - code: code
                          regionList:
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - replicationFactor: 1
                      defaultPartition: true
                      name: name
                      placement:
                        cloudList:
                        - code: code
                          regionList:
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - code: code
                          regionList:
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    clusterType: PRIMARY
                    placementInfo:
                      cloudList:
                      - code: code
                        regionList:
                        - code: code
                          azList:
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          name: name
                          lbFQDN: lbFQDN
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - code: code
                          azList:
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          name: name
                          lbFQDN: lbFQDN
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - code: code
                        regionList:
                        - code: code
                          azList:
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          name: name
                          lbFQDN: lbFQDN
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - code: code
                          azList:
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          - replicationFactor: 7
                            subnet: subnet
                            lbName: lbName
                            numNodesInAZ: 4
                            name: name
                            isAffinitized: true
                            leaderPreference: 2
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                            secondarySubnet: secondarySubnet
                          name: name
                          lbFQDN: lbFQDN
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    regions:
                    - securityGroupId: securityGroupId
                      code: us-west-2
                      ybImage: TODO
                      latitude: 37.22
                      name: US West (Oregon)
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                          gcp:
                            instanceTemplate: instanceTemplate
                            ybImage: ybImage
                          aws:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            arch: x86_64
                          azu:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            azuNetworkRGOverride: azuNetworkRGOverride
                            azuRGOverride: azuRGOverride
                      vnetName: vnetName
                      zones:
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      longitude: -120.01
                    - securityGroupId: securityGroupId
                      code: us-west-2
                      ybImage: TODO
                      latitude: 37.22
                      name: US West (Oregon)
                      active: true
                      details:
                        cloudInfo:
                          kubernetes:
                            kubeNamespace: kubeNamespace
                            kubernetesImagePullSecretName: kubernetesImagePullSecretName
                            kubernetesPullSecretContent: kubernetesPullSecretContent
                            certManagerIssuer: certManagerIssuer
                            isKubernetesOperatorControlled: true
                            kubernetesOperatorControlled: true
                            kubeConfig: kubeConfig
                            kubeDomain: kubeDomain
                            overrides: overrides
                            certManagerIssuerName: certManagerIssuerName
                            kubernetesPullSecret: kubernetesPullSecret
                            kubeConfigName: kubeConfigName
                            certManagerIssuerKind: certManagerIssuerKind
                            kubePodAddressTemplate: kubePodAddressTemplate
                            kubernetesProvider: kubernetesProvider
                            kubeConfigContent: kubeConfigContent
                            kubernetesPullSecretName: kubernetesPullSecretName
                            certManagerIssuerGroup: certManagerIssuerGroup
                            kubernetesImageRegistry: kubernetesImageRegistry
                            certManagerClusterIssuer: certManagerClusterIssuer
                            kubernetesStorageClass: kubernetesStorageClass
                            kubernetesServiceAccount: kubernetesServiceAccount
                          gcp:
                            instanceTemplate: instanceTemplate
                            ybImage: ybImage
                          aws:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            arch: x86_64
                          azu:
                            securityGroupId: securityGroupId
                            vnet: vnet
                            ybImage: ybImage
                            azuNetworkRGOverride: azuNetworkRGOverride
                            azuRGOverride: azuRGOverride
                      vnetName: vnetName
                      zones:
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      - subnet: subnet id
                        code: us-west1-a
                        name: us-west1-a
                        active: true
                        details:
                          cloudInfo:
                            kubernetes:
                              kubeNamespace: kubeNamespace
                              kubernetesImagePullSecretName: kubernetesImagePullSecretName
                              kubernetesPullSecretContent: kubernetesPullSecretContent
                              certManagerIssuer: certManagerIssuer
                              isKubernetesOperatorControlled: true
                              kubernetesOperatorControlled: true
                              kubeConfig: kubeConfig
                              kubeDomain: kubeDomain
                              overrides: overrides
                              certManagerIssuerName: certManagerIssuerName
                              kubernetesPullSecret: kubernetesPullSecret
                              kubeConfigName: kubeConfigName
                              certManagerIssuerKind: certManagerIssuerKind
                              kubePodAddressTemplate: kubePodAddressTemplate
                              kubernetesProvider: kubernetesProvider
                              kubeConfigContent: kubeConfigContent
                              kubernetesPullSecretName: kubernetesPullSecretName
                              certManagerIssuerGroup: certManagerIssuerGroup
                              kubernetesImageRegistry: kubernetesImageRegistry
                              certManagerClusterIssuer: certManagerClusterIssuer
                              kubernetesStorageClass: kubernetesStorageClass
                              kubernetesServiceAccount: kubernetesServiceAccount
                        kubeconfigPath: kubeconfigPath
                        config:
                          key: config
                        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        secondarySubnet: secondary subnet id
                      config:
                        key: config
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      longitude: -120.01
                    userIntent:
                      replicationFactor: 8
                      azOverrides:
                        key: azOverrides
                      masterK8SNodeResourceSpec:
                        memoryGib: 1.1730742509559433
                        cpuCoreCount: 7.457744773683766
                      ysqlPassword: ysqlPassword
                      auditLogConfig:
                        universeLogsExporterConfig:
                        - additionalTags:
                            key: additionalTags
                          exporterUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - additionalTags:
                            key: additionalTags
                          exporterUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        ysqlAuditConfig:
                          logRows: true
                          logClient: true
                          logLevel: DEBUG1
                          classes:
                          - READ
                          - READ
                          logStatementOnce: true
                          logRelation: true
                          logStatement: true
                          logCatalog: true
                          logParameter: true
                          enabled: true
                          logParameterMaxSize: 1
                        ycqlAuditConfig:
                          includedKeyspaces:
                          - includedKeyspaces
                          - includedKeyspaces
                          excludedUsers:
                          - excludedUsers
                          - excludedUsers
                          logLevel: INFO
                          includedCategories:
                          - QUERY
                          - QUERY
                          includedUsers:
                          - includedUsers
                          - includedUsers
                          excludedKeyspaces:
                          - excludedKeyspaces
                          - excludedKeyspaces
                          enabled: true
                          excludedCategories:
                          - QUERY
                          - QUERY
                        exportActive: true
                      enableYSQLAuth: true
                      tserverK8SNodeResourceSpec:
                        memoryGib: 1.1730742509559433
                        cpuCoreCount: 7.457744773683766
                      queryLogConfig:
                        ysqlQueryLogConfig:
                          logDuration: true
                          logErrorVerbosity: VERBOSE
                          logLinePrefix: logLinePrefix
                          logMinDurationStatement: 6
                          logMinErrorStatement: ERROR
                          logStatement: ALL
                          logDisconnections: true
                          enabled: true
                          logConnections: true
                          debugPrintPlan: true
                        universeLogsExporterConfig:
                        - additionalTags:
                            key: additionalTags
                          sendBatchSize: 9
                          sendBatchTimeoutSeconds: 9
                          memoryLimitMib: 2048
                          exporterUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          memoryLimitCheckIntervalSeconds: 10
                          sendBatchMaxSize: 5
                        - additionalTags:
                            key: additionalTags
                          sendBatchSize: 9
                          sendBatchTimeoutSeconds: 9
                          memoryLimitMib: 2048
                          exporterUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          memoryLimitCheckIntervalSeconds: 10
                          sendBatchMaxSize: 5
                        exportActive: true
                      cgroupSize: 1
                      universeName: universeName
                      ybcFlags:
                        key: ybcFlags
                      proxyConfig:
                        httpProxy: http://10.9.131.7:3128
                        httpsProxy: http://10.9.131.7:3128
                        noProxyList: '["10.150.0.26",".amazonaws.com"]'
                      enableConnectionPooling: true
                      useTimeSync: true
                      useHostname: true
                      universeOverrides: universeOverrides
                      kubernetesOperatorVersion: 6
                      ybSoftwareVersion: ybSoftwareVersion
                      deviceInfo:
                        cloudVolumeEncryption:
                          enableVolumeEncryption: true
                          kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        diskIops: 6
                        storageClass: storageClass
                        numVolumes: 7
                        mountPoints: mountPoints
                        storageType: IO1
                        throughput: 1
                        volumeSize: 4
                      masterDeviceInfo:
                        cloudVolumeEncryption:
                          enableVolumeEncryption: true
                          kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        diskIops: 6
                        storageClass: storageClass
                        numVolumes: 7
                        mountPoints: mountPoints
                        storageType: IO1
                        throughput: 1
                        volumeSize: 4
                      numNodes: 4
                      assignPublicIP: true
                      enableClientToNodeEncrypt: true
                      awsArnString: awsArnString
                      enableExposingService: NONE
                      masterGFlags:
                        key: masterGFlags
                      metricsExportConfig:
                        scrapeIntervalSeconds: 30
                        universeMetricsExporterConfig:
                        - additionalTags:
                            key: additionalTags
                          sendBatchSize: 100
                          sendBatchTimeoutSeconds: 10
                          memoryLimitMib: 2048
                          exporterUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          memoryLimitCheckIntervalSeconds: 10
                          metricsPrefix: ybdb.
                          sendBatchMaxSize: 1000
                        - additionalTags:
                            key: additionalTags
                          sendBatchSize: 100
                          sendBatchTimeoutSeconds: 10
                          memoryLimitMib: 2048
                          exporterUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          memoryLimitCheckIntervalSeconds: 10
                          metricsPrefix: ybdb.
                          sendBatchMaxSize: 1000
                        collectionLevel: NORMAL
                        scrapeConfigTargets: '["MASTER_EXPORT", "TSERVER_EXPORT", "YSQL_EXPORT", "CQL_EXPORT", "NODE_EXPORT", "NODE_AGENT_EXPORT", "OTEL_EXPORT"]'
                        scrapeTimeoutSeconds: 20
                      useSystemd: true
                      enableNodeToNodeEncrypt: true
                      preferredRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      spotPrice: 9.018348186070783
                      enableYCQLAuth: true
                      useYbdbInbuiltYbc: true
                      instanceTags:
                        key: instanceTags
                      specificGFlags:
                        inheritFromPrimary: true
                        perProcessFlags:
                          value:
                            key:
                              key: value
                        gflagGroups: '["ENHANCED_POSTGRES_COMPATIBILITY"]'
                        perAZ:
                          key:
                            value:
                              key:
                                key: value
                      useClockbound: true
                      providerType: unknown
                      tserverGFlags:
                        key: tserverGFlags
                      useSpotInstance: true
                      enableYEDIS: true
                      enableVolumeEncryption: true
                      provider: provider
                      accessKeyCode: accessKeyCode
                      imageBundleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      enableLB: true
                      enableIPV6: true
                      dedicatedNodes: true
                      userIntentOverrides:
                        azOverrides:
                          key:
                            proxyConfig:
                              httpProxy: http://10.9.131.7:3128
                              httpsProxy: http://10.9.131.7:3128
                              noProxyList: '["10.150.0.26",".amazonaws.com"]'
                            instanceType: instanceType
                            cgroupSize: 6
                            deviceInfo:
                              cloudVolumeEncryption:
                                enableVolumeEncryption: true
                                kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              diskIops: 6
                              storageClass: storageClass
                              numVolumes: 7
                              mountPoints: mountPoints
                              storageType: IO1
                              throughput: 1
                              volumeSize: 4
                            perProcess:
                              key:
                                instanceType: instanceType
                                deviceInfo:
                                  cloudVolumeEncryption:
                                    enableVolumeEncryption: true
                                    kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                                  diskIops: 6
                                  storageClass: storageClass
                                  numVolumes: 7
                                  mountPoints: mountPoints
                                  storageType: IO1
                                  throughput: 1
                                  volumeSize: 4
                        perProcess:
                          key:
                            instanceType: instanceType
                            deviceInfo:
                              cloudVolumeEncryption:
                                enableVolumeEncryption: true
                                kmsConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              diskIops: 6
                              storageClass: storageClass
                              numVolumes: 7
                              mountPoints: mountPoints
                              storageType: IO1
                              throughput: 1
                              volumeSize: 4
                      assignStaticPublicIP: true
                      enableYSQL: true
                      regionList:
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      instanceType: instanceType
                      masterInstanceType: masterInstanceType
                      enableYCQL: true
                      ycqlPassword: ycqlPassword
                    index: 3
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - partitions:
                    - replicationFactor: 1
                      defaultPartition: true
                      name: name
                      placement:
                        cloudList:
                        - code: code
                          regionList:
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          defaultRegion: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        - code: code
                          regionList:
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - code: code
                            azList:
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            - replicationFactor: 7
                              subnet: subnet
                              lbName: lbName
                              numNodesInAZ: 4
                              name: name
                              isAffinitized: true
                              leaderPreference: 2
                              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                              secondarySubnet: secondarySubnet
                            name: name
                            lbFQDN: lbFQDN
                            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
[...]
