openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys New Release management API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: New Release management
paths:
  /api/v1/customers/{cUUID}/ybdb_release:
    get:
      description: 'WARNING: This is a preview API that could change: list ybdb releases'
      operationId: listNewReleases
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: deployment_type
        schema:
          default: 'null'
          type: string
        example: 'null'
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ResponseRelease'
                type: array
              examples:
                ListNewReleases200Example:
                  summary: Default listNewReleases 200 response
                  x-microcks-default: true
                  value:
                  - release_notes: release_notes
                    release_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    universes:
                    - name: name
                      creation_date: 2024-07-28 01:02:03+00:00
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - name: name
                      creation_date: 2024-07-28 01:02:03+00:00
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    release_type: release_type
                    release_date_msecs: 0
                    state: state
                    version: version
                    release_tag: release_tag
                    yb_type: yb_type
                    artifacts:
                    - package_url: package_url
                      sha256: sha256
                      package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      platform: LINUX
                      architecture: x86_64
                    - package_url: package_url
                      sha256: sha256
                      package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      platform: LINUX
                      architecture: x86_64
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List Releases
      tags:
      - New Release management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: 'WARNING: This is a preview API that could change: create a ybdb release'
      operationId: createNewRelease
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRelease'
            examples:
              CreateNewReleaseRequestExample:
                summary: Default createNewRelease request
                x-microcks-default: true
                value:
                  release_notes: release_notes
                  release_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  release_type: release_type
                  release_date_msecs: 0
                  version: version
                  release_tag: release_tag
                  yb_type: yb_type
                  artifacts:
                  - package_url: package_url
                    sha256: sha256
                    package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    platform: LINUX
                    architecture: x86_64
                  - package_url: package_url
                    sha256: sha256
                    package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    platform: LINUX
                    architecture: x86_64
        description: Release data to be created
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPCreateSuccess'
              examples:
                CreateNewRelease200Example:
                  summary: Default createNewRelease 200 response
                  x-microcks-default: true
                  value:
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Create a Release
      tags:
      - New Release management
      x-codegen-request-body-name: Release
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/ybdb_release/{rUUID}:
    delete:
      description: 'WARNING: This is a preview API that could change: delete a ybdb release'
      operationId: deleteNewRelease
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: rUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                DeleteNewRelease200Example:
                  summary: Default deleteNewRelease 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete a Release
      tags:
      - New Release management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: 'WARNING: This is a preview API that could change: get a specific ybdb release'
      operationId: getNewRelease
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: rUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRelease'
              examples:
                GetNewRelease200Example:
                  summary: Default getNewRelease 200 response
                  x-microcks-default: true
                  value:
                    release_notes: release_notes
                    release_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    universes:
                    - name: name
                      creation_date: 2024-07-28 01:02:03+00:00
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - name: name
                      creation_date: 2024-07-28 01:02:03+00:00
                      uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    release_type: release_type
                    release_date_msecs: 0
                    state: state
                    version: version
                    release_tag: release_tag
                    yb_type: yb_type
                    artifacts:
                    - package_url: package_url
                      sha256: sha256
                      package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      platform: LINUX
                      architecture: x86_64
                    - package_url: package_url
                      sha256: sha256
                      package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      platform: LINUX
                      architecture: x86_64
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get a Release
      tags:
      - New Release management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: 'WARNING: This is a preview API that could change: update or edit a ybdb release'
      operationId: updateNewRelease
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: rUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRelease'
            examples:
              UpdateNewReleaseRequestExample:
                summary: Default updateNewRelease request
                x-microcks-default: true
                value:
                  release_notes: release_notes
                  release_date: 0
                  state: state
                  release_tag: release_tag
                  artifacts:
                  - package_url: package_url
                    sha256: sha256
                    package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    platform: LINUX
                    architecture: x86_64
                  - package_url: package_url
                    sha256: sha256
                    package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    platform: LINUX
                    architecture: x86_64
        description: Release data to be updated
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                UpdateNewRelease200Example:
                  summary: Default updateNewRelease 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Update a Release
      tags:
      - New Release management
      x-codegen-request-body-name: Release
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UpdateRelease:
      description: Release metadata required to create a new release
      example:
        release_notes: release_notes
        release_date: 0
        state: state
        release_tag: release_tag
        artifacts:
        - package_url: package_url
          sha256: sha256
          package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          platform: LINUX
          architecture: x86_64
        - package_url: package_url
          sha256: sha256
          package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          platform: LINUX
          architecture: x86_64
      properties:
        artifacts:
          items:
            $ref: '#/components/schemas/Artifact'
          type: array
          example:
          - package_url: package_url
            sha256: sha256
            package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            platform: LINUX
            architecture: x86_64
        release_date:
          format: int64
          type: integer
          example: 1000
        release_notes:
          type: string
          example: example-release_notes
        release_tag:
          type: string
          example: example-tag
        state:
          type: string
          example: ACTIVE
      required:
      - artifacts
      - release_date
      - release_notes
      - release_tag
      - state
      type: object
    ResponseRelease:
      example:
        release_notes: release_notes
        release_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        universes:
        - name: name
          creation_date: 2024-07-28 01:02:03+00:00
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - name: name
          creation_date: 2024-07-28 01:02:03+00:00
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        release_type: release_type
        release_date_msecs: 0
        state: state
        version: version
        release_tag: release_tag
        yb_type: yb_type
        artifacts:
        - package_url: package_url
          sha256: sha256
          package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          platform: LINUX
          architecture: x86_64
        - package_url: package_url
          sha256: sha256
          package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          platform: LINUX
          architecture: x86_64
      properties:
        artifacts:
          items:
            $ref: '#/components/schemas/Artifact'
          type: array
          example:
          - package_url: package_url
            sha256: sha256
            package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            platform: LINUX
            architecture: x86_64
        release_date_msecs:
          format: int64
          type: integer
          example: 1000
        release_notes:
          type: string
          example: example-release_notes
        release_tag:
          type: string
          example: example-tag
        release_type:
          type: string
          example: DEFAULT
        release_uuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state:
          type: string
          example: ACTIVE
        universes:
          items:
            $ref: '#/components/schemas/Universe'
          type: array
          example:
          - name: name
            creation_date: '2024-07-28T01:02:03+00:00'
            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        version:
          type: string
          example: 2.20.0.0
        yb_type:
          type: string
          example: DEFAULT
      required:
      - artifacts
      - release_date_msecs
      - release_notes
      - release_tag
      - release_type
      - release_uuid
      - state
      - universes
      - version
      - yb_type
      type: object
    Universe:
      example:
        name: name
        creation_date: 2024-07-28 01:02:03+00:00
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        creation_date:
          description: Universe creation date
          example: 2024-07-28 01:02:03+00:00
          format: date-time
          type: string
        name:
          type: string
          example: example-name
        uuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - name
      - uuid
      type: object
    CreateRelease:
      description: Release metadata required to create a new release
      example:
        release_notes: release_notes
        release_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        release_type: release_type
        release_date_msecs: 0
        version: version
        release_tag: release_tag
        yb_type: yb_type
        artifacts:
        - package_url: package_url
          sha256: sha256
          package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          platform: LINUX
          architecture: x86_64
        - package_url: package_url
          sha256: sha256
          package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          platform: LINUX
          architecture: x86_64
      properties:
        artifacts:
          items:
            $ref: '#/components/schemas/Artifact'
          type: array
          example:
          - package_url: package_url
            sha256: sha256
            package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            platform: LINUX
            architecture: x86_64
        release_date_msecs:
          format: int64
          type: integer
          example: 1000
        release_notes:
          type: string
          example: example-release_notes
        release_tag:
          type: string
          example: example-tag
        release_type:
          type: string
          example: DEFAULT
        release_uuid:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        version:
          type: string
          example: 2.20.0.0
        yb_type:
          type: string
          example: DEFAULT
      required:
      - artifacts
      - release_date_msecs
      - release_notes
      - release_tag
      - release_type
      - release_uuid
      - version
      - yb_type
      type: object
    YBPSuccess:
      example:
        success: true
        message: message
      properties:
        message:
          description: API response message.
          readOnly: true
          type: string
          example: Example message
        success:
          description: API operation status. A value of true indicates the operation was successful.
          readOnly: true
          type: boolean
          example: true
      type: object
    YBPCreateSuccess:
      example:
        resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        resourceUUID:
          description: UUID of the successfully created resource
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    Artifact:
      example:
        package_url: package_url
        sha256: sha256
        package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        platform: LINUX
        architecture: x86_64
      properties:
        architecture:
          enum:
          - x86_64
          - aarch64
          type: string
          example: x86_64
        package_file_id:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        package_url:
          type: string
          example: https://example.com
        platform:
          enum:
          - LINUX
          - KUBERNETES
          type: string
          example: LINUX
        sha256:
          type: string
          example: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      required:
      - architecture
      - package_file_id
      - package_url
      - platform
      - sha256
      type: object
    UpdateRelease_2:
      description: Release metadata required to create a new release
      example:
        release_notes: release_notes
        release_date: 0
        state: state
        release_tag: release_tag
        artifacts:
        - package_url: package_url
          sha256: sha256
          package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          platform: LINUX
          architecture: x86_64
        - package_url: package_url
          sha256: sha256
          package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          platform: LINUX
          architecture: x86_64
      properties:
        artifacts:
          items:
            $ref: '#/components/schemas/Artifact_2'
          type: array
        release_date:
          format: int64
          type: integer
        release_notes:
          type: string
        release_tag:
          type: string
        state:
          type: string
      required:
      - artifacts
      - release_date
      - release_notes
      - release_tag
      - state
      type: object
    ResponseRelease_2:
      example:
        release_notes: release_notes
        release_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        universes:
        - name: name
          creation_date: 2024-07-28 01:02:03+00:00
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - name: name
          creation_date: 2024-07-28 01:02:03+00:00
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        release_type: release_type
        release_date_msecs: 0
        state: state
        version: version
        release_tag: release_tag
        yb_type: yb_type
        artifacts:
        - package_url: package_url
          sha256: sha256
          package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          platform: LINUX
          architecture: x86_64
        - package_url: package_url
          sha256: sha256
          package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          platform: LINUX
          architecture: x86_64
      properties:
        artifacts:
          items:
            $ref: '#/components/schemas/Artifact_2'
          type: array
        release_date_msecs:
          format: int64
          type: integer
        release_notes:
          type: string
        release_tag:
          type: string
        release_type:
          type: string
        release_uuid:
          format: uuid
          type: string
        state:
          type: string
        universes:
          items:
            $ref: '#/components/schemas/Universe_2'
          type: array
        version:
          type: string
        yb_type:
          type: string
      required:
      - artifacts
      - release_date_msecs
      - release_notes
      - release_tag
      - release_type
      - release_uuid
      - state
      - universes
      - version
      - yb_type
      type: object
    Universe_2:
      example:
        name: name
        creation_date: 2024-07-28 01:02:03+00:00
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        creation_date:
          description: Universe creation date
          example: 2024-07-28 01:02:03+00:00
          format: date-time
          type: string
        name:
          type: string
        uuid:
          format: uuid
          type: string
      required:
      - name
      - uuid
      type: object
    CreateRelease_2:
      description: Release metadata required to create a new release
      example:
        release_notes: release_notes
        release_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        release_type: release_type
        release_date_msecs: 0
        version: version
        release_tag: release_tag
        yb_type: yb_type
        artifacts:
        - package_url: package_url
          sha256: sha256
          package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          platform: LINUX
          architecture: x86_64
        - package_url: package_url
          sha256: sha256
          package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          platform: LINUX
          architecture: x86_64
      properties:
        artifacts:
          items:
            $ref: '#/components/schemas/Artifact_2'
          type: array
        release_date_msecs:
          format: int64
          type: integer
        release_notes:
          type: string
        release_tag:
          type: string
        release_type:
          type: string
        release_uuid:
          format: uuid
          type: string
        version:
          type: string
        yb_type:
          type: string
      required:
      - artifacts
      - release_date_msecs
      - release_notes
      - release_tag
      - release_type
      - release_uuid
      - version
      - yb_type
      type: object
    YBPSuccess_2:
      example:
        success: true
        message: message
      properties:
        message:
          description: API response message.
          readOnly: true
          type: string
        success:
          description: API operation status. A value of true indicates the operation was successful.
          readOnly: true
          type: boolean
      type: object
    YBPCreateSuccess_2:
      example:
        resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        resourceUUID:
          description: UUID of the successfully created resource
          format: uuid
          readOnly: true
          type: string
      type: object
    Artifact_2:
      example:
        package_url: package_url
        sha256: sha256
        package_file_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        platform: LINUX
        architecture: x86_64
      properties:
        architecture:
          enum:
          - x86_64
          - aarch64
          type: string
        package_file_id:
          format: uuid
          type: string
        package_url:
          type: string
        platform:
          enum:
          - LINUX
          - KUBERNETES
          type: string
        sha256:
          type: string
      required:
      - architecture
      - package_file_id
      - package_url
      - platform
      - sha256
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the YugabyteDB Aeon UI under User Profile > API Keys. Pass the key as a Bearer token in the Authorization header.
externalDocs:
  description: YugabyteDB Aeon REST API Documentation
  url: https://docs.yugabyte.com/stable/yugabyte-cloud/managed-automation/managed-api/
