openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys YBA Instance API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- description: YBA Instance operations
  name: YBA Instance
paths:
  /yba-info:
    get:
      description: Get YBA Instance info
      operationId: GetYBAInstanceInfo
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBAInfo'
              examples:
                GetYBAInstanceInfo200Example:
                  summary: Default GetYBAInstanceInfo 200 response
                  x-microcks-default: true
                  value:
                    fips_enabled: true
          description: YBA Info
          x-yba-api-visibility: internal
        '400':
          description: Client Error
        '500':
          description: Server Error
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get YBAInstance Info
      tags:
      - YBA Instance
      x-yba-api-audit:
        noAudit: true
      x-yba-api-authz:
        noAuthz: true
      x-yba-api-since: 2025.2.0.0
      x-yba-api-visibility: internal
      x-accepts:
      - application/json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    YBAInfo:
      description: Describes YBA instance info
      example:
        fips_enabled: true
      properties:
        fips_enabled:
          description: Whether YBA instance is FIPS compliant
          readOnly: true
          type: boolean
          example: true
      required:
      - fips_enabled
      title: YBAInfo
      type: object
      x-yba-api-visibility: internal
    YBAInfo_2:
      description: Describes YBA instance info
      example:
        fips_enabled: true
      properties:
        fips_enabled:
          description: Whether YBA instance is FIPS compliant
          readOnly: true
          type: boolean
      required:
      - fips_enabled
      title: YBAInfo
      type: object
      x-yba-api-visibility: internal
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the YugabyteDB Aeon UI under User Profile > API Keys. Pass the key as a Bearer token in the Authorization header.
externalDocs:
  description: YugabyteDB Aeon REST API Documentation
  url: https://docs.yugabyte.com/stable/yugabyte-cloud/managed-automation/managed-api/
