openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys Schedule management API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: Schedule management
paths:
  /api/v1/customers/{cUUID}/schedules:
    get:
      deprecated: true
      description: <b style="color:#ff0000">Deprecated since YBA version 2.20.0.0.</b></p> Use 'List schedules V2' instead.
      operationId: listSchedules
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Schedule'
                type: array
              examples:
                ListSchedules200Example:
                  summary: Default listSchedules 200 response
                  x-microcks-default: true
                  value:
                  - scheduleName: scheduleName
                    ownerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    nextScheduleTaskTime: 2022-12-12 13:07:18+00:00
                    kubernetesOperatorControlled: true
                    incrementBacklogStatus: true
                    frequency: 6
                    cronExpression: cronExpression
                    frequencyTimeUnit: NANOSECONDS
                    taskType: CloudBootstrap
                    nextIncrementScheduleTaskTime: 2022-12-12 13:07:18+00:00
                    scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    useLocalTimezone: true
                    runningState: true
                    userEmail: userEmail
                    backlogStatus: true
                    failureCount: 0
                    status: Deleting
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List Schedules - Deprecated
      tags:
      - Schedule management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/schedules/page:
    post:
      operationId: listSchedulesV2
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulePagedApiQuery'
            examples:
              ListSchedulesV2RequestExample:
                summary: Default listSchedulesV2 request
                x-microcks-default: true
                value:
                  filter:
                    taskTypes:
                    - CloudBootstrap
                    - CloudBootstrap
                    universeUUIDList:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    status:
                    - Deleting
                    - Deleting
                  offset: 6
                  needTotalCount: true
                  limit: 0
                  sortBy: taskType
                  direction: ASC
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchedulePagedApiResponse'
              examples:
                ListSchedulesV2200Example:
                  summary: Default listSchedulesV2 200 response
                  x-microcks-default: true
                  value:
                    entities:
                    - scheduleName: scheduleName
                      tableByTableBackup: true
                      nextExpectedTask: 2022-12-12 13:07:18+00:00
                      incrementBacklogStatus: true
                      frequency: 5
                      cronExpression: cronExpression
                      frequencyTimeUnit: NANOSECONDS
                      prevCompletedTask: 2022-12-12 13:07:18+00:00
                      taskType: CloudBootstrap
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      incrementalBackupFrequencyTimeUnit: NANOSECONDS
                      scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      useLocalTimezone: true
                      runningState: true
                      incrementalBackupFrequency: 5
                      backlogStatus: true
                      backupInfo:
                        storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        useRoles: true
                        expiryTimeUnit: NANOSECONDS
                        timeBeforeDelete: 6
                        keyspaceList:
                        - backupPointInTimeRestoreWindow:
                            timestampRetentionWindowEndMillis: 0
                            timestampRetentionWindowStartMillis: 6
                          backupSizeInBytes: 1
                          keyspace: keyspace
                          tableUUIDList:
                          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          tablesList:
                          - tablesList
                          - tablesList
                          perRegionLocations:
                          - LOCATION: LOCATION
                            HOST_BASE: HOST_BASE
                            REGION: REGION
                          - LOCATION: LOCATION
                            HOST_BASE: HOST_BASE
                            REGION: REGION
                          allTables: true
                          defaultLocation: defaultLocation
                        - backupPointInTimeRestoreWindow:
                            timestampRetentionWindowEndMillis: 0
                            timestampRetentionWindowStartMillis: 6
                          backupSizeInBytes: 1
                          keyspace: keyspace
                          tableUUIDList:
                          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          tablesList:
                          - tablesList
                          - tablesList
                          perRegionLocations:
                          - LOCATION: LOCATION
                            HOST_BASE: HOST_BASE
                            REGION: REGION
                          - LOCATION: LOCATION
                            HOST_BASE: HOST_BASE
                            REGION: REGION
                          allTables: true
                          defaultLocation: defaultLocation
                        parallelism: 0
                        pointInTimeRestoreEnabled: true
                        useTablespaces: true
                        fullBackup: true
                        backupType: YQL_TABLE_TYPE
                      failureCount: 1
                      status: Deleting
                    - scheduleName: scheduleName
                      tableByTableBackup: true
                      nextExpectedTask: 2022-12-12 13:07:18+00:00
                      incrementBacklogStatus: true
                      frequency: 5
                      cronExpression: cronExpression
                      frequencyTimeUnit: NANOSECONDS
                      prevCompletedTask: 2022-12-12 13:07:18+00:00
                      taskType: CloudBootstrap
                      customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      incrementalBackupFrequencyTimeUnit: NANOSECONDS
                      scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      useLocalTimezone: true
                      runningState: true
                      incrementalBackupFrequency: 5
                      backlogStatus: true
                      backupInfo:
                        storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                        useRoles: true
                        expiryTimeUnit: NANOSECONDS
                        timeBeforeDelete: 6
                        keyspaceList:
                        - backupPointInTimeRestoreWindow:
                            timestampRetentionWindowEndMillis: 0
                            timestampRetentionWindowStartMillis: 6
                          backupSizeInBytes: 1
                          keyspace: keyspace
                          tableUUIDList:
                          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          tablesList:
                          - tablesList
                          - tablesList
                          perRegionLocations:
                          - LOCATION: LOCATION
                            HOST_BASE: HOST_BASE
                            REGION: REGION
                          - LOCATION: LOCATION
                            HOST_BASE: HOST_BASE
                            REGION: REGION
                          allTables: true
                          defaultLocation: defaultLocation
                        - backupPointInTimeRestoreWindow:
                            timestampRetentionWindowEndMillis: 0
                            timestampRetentionWindowStartMillis: 6
                          backupSizeInBytes: 1
                          keyspace: keyspace
                          tableUUIDList:
                          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                          tablesList:
                          - tablesList
                          - tablesList
                          perRegionLocations:
                          - LOCATION: LOCATION
                            HOST_BASE: HOST_BASE
                            REGION: REGION
                          - LOCATION: LOCATION
                            HOST_BASE: HOST_BASE
                            REGION: REGION
                          allTables: true
                          defaultLocation: defaultLocation
                        parallelism: 0
                        pointInTimeRestoreEnabled: true
                        useTablespaces: true
                        fullBackup: true
                        backupType: YQL_TABLE_TYPE
                      failureCount: 1
                      status: Deleting
                    hasPrev: true
                    hasNext: true
                    totalCount: 2
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere List Schedules V2
      tags:
      - Schedule management
      x-codegen-request-body-name: PageScheduleRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/schedules/{sUUID}:
    delete:
      deprecated: true
      description: <b style="color:#ff0000">Deprecated since YBA version 2.20.0.0.</b></p>Use 'Delete a schedule V2' instead.
      operationId: deleteSchedule
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: sUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                DeleteSchedule200Example:
                  summary: Default deleteSchedule 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete a Schedule - Deprecated
      tags:
      - Schedule management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: getSchedule
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: sUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
              examples:
                GetSchedule200Example:
                  summary: Default getSchedule 200 response
                  x-microcks-default: true
                  value:
                    scheduleName: scheduleName
                    ownerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    nextScheduleTaskTime: 2022-12-12 13:07:18+00:00
                    kubernetesOperatorControlled: true
                    incrementBacklogStatus: true
                    frequency: 6
                    cronExpression: cronExpression
                    frequencyTimeUnit: NANOSECONDS
                    taskType: CloudBootstrap
                    nextIncrementScheduleTaskTime: 2022-12-12 13:07:18+00:00
                    scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    useLocalTimezone: true
                    runningState: true
                    userEmail: userEmail
                    backlogStatus: true
                    failureCount: 0
                    status: Deleting
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Get Schedule
      tags:
      - Schedule management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      deprecated: true
      description: <b style="color:#ff0000">Deprecated since YBA version 2024.2.0.0.</b></p>Use 'Edit a backup schedule async' instead.
      operationId: editBackupScheduleV2
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: sUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditBackupScheduleParams'
            examples:
              EditBackupScheduleV2RequestExample:
                summary: Default editBackupScheduleV2 request
                x-microcks-default: true
                value:
                  cronExpression: cronExpression
                  frequencyTimeUnit: NANOSECONDS
                  incrementalBackupFrequencyTimeUnit: NANOSECONDS
                  timeBeforeDelete: 1
                  incrementalBackupFrequency: 6
                  runImmediateBackupOnResume: true
                  frequency: 0
                  status: Deleting
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
              examples:
                EditBackupScheduleV2200Example:
                  summary: Default editBackupScheduleV2 200 response
                  x-microcks-default: true
                  value:
                    scheduleName: scheduleName
                    ownerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    nextScheduleTaskTime: 2022-12-12 13:07:18+00:00
                    kubernetesOperatorControlled: true
                    incrementBacklogStatus: true
                    frequency: 6
                    cronExpression: cronExpression
                    frequencyTimeUnit: NANOSECONDS
                    taskType: CloudBootstrap
                    nextIncrementScheduleTaskTime: 2022-12-12 13:07:18+00:00
                    scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    useLocalTimezone: true
                    runningState: true
                    userEmail: userEmail
                    backlogStatus: true
                    failureCount: 0
                    status: Deleting
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Edit a Backup Schedule V2 - Deprecated
      tags:
      - Schedule management
      x-codegen-request-body-name: body
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/schedules/{sUUID}/delete:
    delete:
      deprecated: true
      description: <b style="color:#ff0000">Deprecated since YBA version 2024.2.0.0.</b></p>Use 'Delete a backup schedule async' instead.
      operationId: deleteScheduleV2
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: sUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                DeleteScheduleV2200Example:
                  summary: Default deleteScheduleV2 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete a Schedule V2 - Deprecated
      tags:
      - Schedule management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/schedules/{sUUID}/delete_backup_schedule_async:
    delete:
      description: 'WARNING: This is a preview API that could change. Delete a backup schedule async.'
      operationId: deleteBackupScheduleAsync
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: sUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                DeleteBackupScheduleAsync200Example:
                  summary: Default deleteBackupScheduleAsync 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Delete a Backup Schedule Async
      tags:
      - Schedule management
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/schedules/{sUUID}/edit_backup_schedule_async:
    put:
      description: 'WARNING: This is a preview API that could change. Edit a backup schedule async.'
      operationId: editBackupScheduleAsync
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: sUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupScheduleEditParams'
            examples:
              EditBackupScheduleAsyncRequestExample:
                summary: Default editBackupScheduleAsync request
                x-microcks-default: true
                value:
                  cronExpression: cronExpression
                  frequencyTimeUnit: NANOSECONDS
                  incrementalBackupFrequencyTimeUnit: NANOSECONDS
                  timeBeforeDelete: 1
                  schedulingFrequency: 6
                  incrementalBackupFrequency: 0
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPTask'
              examples:
                EditBackupScheduleAsync200Example:
                  summary: Default editBackupScheduleAsync 200 response
                  x-microcks-default: true
                  value:
                    taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Edit a Backup Schedule Async
      tags:
      - Schedule management
      x-codegen-request-body-name: body
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/customers/{cUUID}/universes/{uniUUID}/schedules/{sUUID}/pause_resume:
    put:
      description: 'WARNING: This is a preview API that could change. Toggle a backup schedule. Only allowed to toggle backup schedule state between Active and Stopped.'
      operationId: toggleBackupSchedule
      parameters:
      - in: path
        name: cUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: uniUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: path
        name: sUUID
        required: true
        schema:
          format: uuid
          type: string
        example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupScheduleToggleParams'
            examples:
              ToggleBackupScheduleRequestExample:
                summary: Default toggleBackupSchedule request
                x-microcks-default: true
                value:
                  runImmediateBackupOnResume: true
                  status: Deleting
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YBPSuccess'
              examples:
                ToggleBackupSchedule200Example:
                  summary: Default toggleBackupSchedule 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    message: message
          description: successful operation
      security:
      - apiKeyAuth: []
      summary: YugabyteDB Anywhere Toggle a Backup Schedule
      tags:
      - Schedule management
      x-codegen-request-body-name: body
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SchedulePagedApiQuery:
      example:
        filter:
          taskTypes:
          - CloudBootstrap
          - CloudBootstrap
          universeUUIDList:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status:
          - Deleting
          - Deleting
        offset: 6
        needTotalCount: true
        limit: 0
        sortBy: taskType
        direction: ASC
      properties:
        direction:
          enum:
          - ASC
          - DESC
          type: string
          example: ASC
        filter:
          $ref: '#/components/schemas/ScheduleApiFilter'
        limit:
          format: int32
          type: integer
          example: 10
        needTotalCount:
          type: boolean
          example: true
        offset:
          format: int32
          type: integer
          example: 100
        sortBy:
          enum:
          - taskType
          - scheduleUUID
          - scheduleName
          type: string
          example: taskType
      required:
      - direction
      - filter
      - limit
      - needTotalCount
      - offset
      - sortBy
      type: object
    RegionLocations:
      example:
        LOCATION: LOCATION
        HOST_BASE: HOST_BASE
        REGION: REGION
      properties:
        HOST_BASE:
          type: string
          example: yugabyte.example.com
        LOCATION:
          type: string
          example: example-LOCATION
        REGION:
          type: string
          example: us-east-1
      required:
      - HOST_BASE
      - LOCATION
      - REGION
      type: object
    BackupInfo:
      example:
        storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        useRoles: true
        expiryTimeUnit: NANOSECONDS
        timeBeforeDelete: 6
        keyspaceList:
        - backupPointInTimeRestoreWindow:
            timestampRetentionWindowEndMillis: 0
            timestampRetentionWindowStartMillis: 6
          backupSizeInBytes: 1
          keyspace: keyspace
          tableUUIDList:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          tablesList:
          - tablesList
          - tablesList
          perRegionLocations:
          - LOCATION: LOCATION
            HOST_BASE: HOST_BASE
            REGION: REGION
          - LOCATION: LOCATION
            HOST_BASE: HOST_BASE
            REGION: REGION
          allTables: true
          defaultLocation: defaultLocation
        - backupPointInTimeRestoreWindow:
            timestampRetentionWindowEndMillis: 0
            timestampRetentionWindowStartMillis: 6
          backupSizeInBytes: 1
          keyspace: keyspace
          tableUUIDList:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          tablesList:
          - tablesList
          - tablesList
          perRegionLocations:
          - LOCATION: LOCATION
            HOST_BASE: HOST_BASE
            REGION: REGION
          - LOCATION: LOCATION
            HOST_BASE: HOST_BASE
            REGION: REGION
          allTables: true
          defaultLocation: defaultLocation
        parallelism: 0
        pointInTimeRestoreEnabled: true
        useTablespaces: true
        fullBackup: true
        backupType: YQL_TABLE_TYPE
      properties:
        backupType:
          enum:
          - YQL_TABLE_TYPE
          - REDIS_TABLE_TYPE
          - PGSQL_TABLE_TYPE
          - TRANSACTION_STATUS_TABLE_TYPE
          type: string
          example: YQL_TABLE_TYPE
        expiryTimeUnit:
          enum:
          - NANOSECONDS
          - MICROSECONDS
          - MILLISECONDS
          - SECONDS
          - MINUTES
          - HOURS
          - DAYS
          - MONTHS
          - YEARS
          type: string
          example: NANOSECONDS
        fullBackup:
          type: boolean
          example: true
        keyspaceList:
          items:
            $ref: '#/components/schemas/KeyspaceTablesList'
          type: array
          example:
          - backupPointInTimeRestoreWindow:
              timestampRetentionWindowEndMillis: 0
              timestampRetentionWindowStartMillis: 6
            backupSizeInBytes: 1
            keyspace: keyspace
            tableUUIDList:
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tablesList:
            - tablesList
            - tablesList
            perRegionLocations:
            - LOCATION: LOCATION
              HOST_BASE: HOST_BASE
              REGION: REGION
            - LOCATION: LOCATION
              HOST_BASE: HOST_BASE
              REGION: REGION
            allTables: true
            defaultLocation: defaultLocation
        parallelism:
          format: int64
          type: integer
          example: 1000
        pointInTimeRestoreEnabled:
          type: boolean
          example: true
        storageConfigUUID:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        timeBeforeDelete:
          format: int64
          type: integer
          example: 1000
        universeUUID:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        useRoles:
          type: boolean
          example: true
        useTablespaces:
          type: boolean
          example: true
      required:
      - backupType
      - expiryTimeUnit
      - fullBackup
      - keyspaceList
      - parallelism
      - pointInTimeRestoreEnabled
      - storageConfigUUID
      - timeBeforeDelete
      - universeUUID
      - useRoles
      - useTablespaces
      type: object
    EditBackupScheduleParams:
      description: Info to edit the schedule params for backups
      example:
        cronExpression: cronExpression
        frequencyTimeUnit: NANOSECONDS
        incrementalBackupFrequencyTimeUnit: NANOSECONDS
        timeBeforeDelete: 1
        incrementalBackupFrequency: 6
        runImmediateBackupOnResume: true
        frequency: 0
        status: Deleting
      properties:
        cronExpression:
          description: Cron expression for scheduling
          type: string
          example: example-cronExpression
        frequency:
          description: Frequency of the schedule
          format: int64
          type: integer
          example: 1000
        frequencyTimeUnit:
          description: Time Unit for frequency
          enum:
          - NANOSECONDS
          - MICROSECONDS
          - MILLISECONDS
          - SECONDS
          - MINUTES
          - HOURS
          - DAYS
          - MONTHS
          - YEARS
          type: string
          example: NANOSECONDS
        incrementalBackupFrequency:
          description: Frequency of incremental backup schedule
          format: int64
          type: integer
          example: 1000
        incrementalBackupFrequencyTimeUnit:
          description: TimeUnit for incremental Backup Schedule frequency
          enum:
          - NANOSECONDS
          - MICROSECONDS
          - MILLISECONDS
          - SECONDS
          - MINUTES
          - HOURS
          - DAYS
          - MONTHS
          - YEARS
          type: string
          example: NANOSECONDS
        runImmediateBackupOnResume:
          description: Run a full or incremental backup if the schedule is expired when resuming a stopped schedule
          type: boolean
          example: true
        status:
          description: State of the schedule
          enum:
          - Deleting
          - Error
          - Active
          - Creating
          - Paused
          - Stopped
          - Editing
          type: string
          example: Deleting
        timeBeforeDelete:
          description: Time before deleting the backup from storage, in milliseconds
          format: int64
          type: integer
          example: 1000
      type: object
    BackupScheduleToggleParams:
      example:
        runImmediateBackupOnResume: true
        status: Deleting
      properties:
        runImmediateBackupOnResume:
          description: Run a full or incremental backup if required when resuming a stopped schedule. When false (default), the full backup will instead run at its normally scheduled time.
          type: boolean
          example: true
        status:
          description: State of the schedule
          enum:
          - Deleting
          - Error
          - Active
          - Creating
          - Paused
          - Stopped
          - Editing
          type: string
          example: Deleting
      required:
      - status
      type: object
    SchedulePagedApiResponse:
      example:
        entities:
        - scheduleName: scheduleName
          tableByTableBackup: true
          nextExpectedTask: 2022-12-12 13:07:18+00:00
          incrementBacklogStatus: true
          frequency: 5
          cronExpression: cronExpression
          frequencyTimeUnit: NANOSECONDS
          prevCompletedTask: 2022-12-12 13:07:18+00:00
          taskType: CloudBootstrap
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          incrementalBackupFrequencyTimeUnit: NANOSECONDS
          scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          useLocalTimezone: true
          runningState: true
          incrementalBackupFrequency: 5
          backlogStatus: true
          backupInfo:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            useRoles: true
            expiryTimeUnit: NANOSECONDS
            timeBeforeDelete: 6
            keyspaceList:
            - backupPointInTimeRestoreWindow:
                timestampRetentionWindowEndMillis: 0
                timestampRetentionWindowStartMillis: 6
              backupSizeInBytes: 1
              keyspace: keyspace
              tableUUIDList:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              tablesList:
              - tablesList
              - tablesList
              perRegionLocations:
              - LOCATION: LOCATION
                HOST_BASE: HOST_BASE
                REGION: REGION
              - LOCATION: LOCATION
                HOST_BASE: HOST_BASE
                REGION: REGION
              allTables: true
              defaultLocation: defaultLocation
            - backupPointInTimeRestoreWindow:
                timestampRetentionWindowEndMillis: 0
                timestampRetentionWindowStartMillis: 6
              backupSizeInBytes: 1
              keyspace: keyspace
              tableUUIDList:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              tablesList:
              - tablesList
              - tablesList
              perRegionLocations:
              - LOCATION: LOCATION
                HOST_BASE: HOST_BASE
                REGION: REGION
              - LOCATION: LOCATION
                HOST_BASE: HOST_BASE
                REGION: REGION
              allTables: true
              defaultLocation: defaultLocation
            parallelism: 0
            pointInTimeRestoreEnabled: true
            useTablespaces: true
            fullBackup: true
            backupType: YQL_TABLE_TYPE
          failureCount: 1
          status: Deleting
        - scheduleName: scheduleName
          tableByTableBackup: true
          nextExpectedTask: 2022-12-12 13:07:18+00:00
          incrementBacklogStatus: true
          frequency: 5
          cronExpression: cronExpression
          frequencyTimeUnit: NANOSECONDS
          prevCompletedTask: 2022-12-12 13:07:18+00:00
          taskType: CloudBootstrap
          customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          incrementalBackupFrequencyTimeUnit: NANOSECONDS
          scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          useLocalTimezone: true
          runningState: true
          incrementalBackupFrequency: 5
          backlogStatus: true
          backupInfo:
            storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            useRoles: true
            expiryTimeUnit: NANOSECONDS
            timeBeforeDelete: 6
            keyspaceList:
            - backupPointInTimeRestoreWindow:
                timestampRetentionWindowEndMillis: 0
                timestampRetentionWindowStartMillis: 6
              backupSizeInBytes: 1
              keyspace: keyspace
              tableUUIDList:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              tablesList:
              - tablesList
              - tablesList
              perRegionLocations:
              - LOCATION: LOCATION
                HOST_BASE: HOST_BASE
                REGION: REGION
              - LOCATION: LOCATION
                HOST_BASE: HOST_BASE
                REGION: REGION
              allTables: true
              defaultLocation: defaultLocation
            - backupPointInTimeRestoreWindow:
                timestampRetentionWindowEndMillis: 0
                timestampRetentionWindowStartMillis: 6
              backupSizeInBytes: 1
              keyspace: keyspace
              tableUUIDList:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              tablesList:
              - tablesList
              - tablesList
              perRegionLocations:
              - LOCATION: LOCATION
                HOST_BASE: HOST_BASE
                REGION: REGION
              - LOCATION: LOCATION
                HOST_BASE: HOST_BASE
                REGION: REGION
              allTables: true
              defaultLocation: defaultLocation
            parallelism: 0
            pointInTimeRestoreEnabled: true
            useTablespaces: true
            fullBackup: true
            backupType: YQL_TABLE_TYPE
          failureCount: 1
          status: Deleting
        hasPrev: true
        hasNext: true
        totalCount: 2
      properties:
        entities:
          items:
            $ref: '#/components/schemas/ScheduleResp'
          type: array
          example:
          - scheduleName: scheduleName
            tableByTableBackup: true
            nextExpectedTask: '2022-12-12T13:07:18+00:00'
            incrementBacklogStatus: true
            frequency: 5
            cronExpression: cronExpression
            frequencyTimeUnit: NANOSECONDS
            prevCompletedTask: '2022-12-12T13:07:18+00:00'
            taskType: CloudBootstrap
            customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            incrementalBackupFrequencyTimeUnit: NANOSECONDS
            scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            useLocalTimezone: true
            runningState: true
            incrementalBackupFrequency: 5
            backlogStatus: true
            backupInfo:
              storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              useRoles: true
              expiryTimeUnit: NANOSECONDS
              timeBeforeDelete: 6
              keyspaceList:
              - backupPointInTimeRestoreWindow:
                  timestampRetentionWindowEndMillis: 0
                  timestampRetentionWindowStartMillis: 6
                backupSizeInBytes: 1
                keyspace: keyspace
                tableUUIDList:
                - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                tablesList:
                - tablesList
                - tablesList
                perRegionLocations:
                - LOCATION: LOCATION
                  HOST_BASE: HOST_BASE
                  REGION: REGION
                - LOCATION: LOCATION
                  HOST_BASE: HOST_BASE
                  REGION: REGION
                allTables: true
                defaultLocation: defaultLocation
              - backupPointInTimeRestoreWindow:
                  timestampRetentionWindowEndMillis: 0
                  timestampRetentionWindowStartMillis: 6
                backupSizeInBytes: 1
                keyspace: keyspace
                tableUUIDList:
                - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                tablesList:
                - tablesList
                - tablesList
                perRegionLocations:
                - LOCATION: LOCATION
                  HOST_BASE: HOST_BASE
                  REGION: REGION
                - LOCATION: LOCATION
                  HOST_BASE: HOST_BASE
                  REGION: REGION
                allTables: true
                defaultLocation: defaultLocation
              parallelism: 0
              pointInTimeRestoreEnabled: true
              useTablespaces: true
              fullBackup: true
              backupType: YQL_TABLE_TYPE
            failureCount: 1
            status: Deleting
        hasNext:
          type: boolean
          example: true
        hasPrev:
          type: boolean
          example: true
        totalCount:
          format: int32
          type: integer
          example: 10
      required:
      - entities
      - hasNext
      - hasPrev
      - totalCount
      type: object
    BackupPointInTimeRestoreWindow:
      example:
        timestampRetentionWindowEndMillis: 0
        timestampRetentionWindowStartMillis: 6
      properties:
        timestampRetentionWindowEndMillis:
          format: int64
          type: integer
          example: 1000
        timestampRetentionWindowStartMillis:
          format: int64
          type: integer
          example: 1000
      required:
      - timestampRetentionWindowEndMillis
      - timestampRetentionWindowStartMillis
      type: object
    ScheduleApiFilter:
      example:
        taskTypes:
        - CloudBootstrap
        - CloudBootstrap
        universeUUIDList:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status:
        - Deleting
        - Deleting
      properties:
        status:
          items:
            enum:
            - Deleting
            - Error
            - Active
            - Creating
            - Paused
            - Stopped
            - Editing
            type: string
          type: array
          uniqueItems: true
          example:
          - Deleting
        taskTypes:
          items:
            enum:
            - CloudBootstrap
            - CloudCleanup
            - CreateCassandraTable
            - CreateUniverse
            - ReadOnlyClusterCreate
            - ReadOnlyKubernetesClusterDelete
            - ReadOnlyClusterDelete
            - CreateKubernetesUniverse
            - ReadOnlyKubernetesClusterCreate
            - DestroyUniverse
            - PauseUniverse
            - ResumeUniverse
            - PauseKubernetesUniverse
            - ResumeKubernetesUniverse
            - DestroyKubernetesUniverse
            - DeleteTable
            - BackupUniverse
            - RestoreBackup
            - MultiTableBackup
            - CreateBackup
            - ConfigureDBApis
            - ConfigureDBApisKubernetes
            - CreatePitrConfig
            - UpdatePitrConfig
            - DeletePitrConfig
            - RestoreSnapshotSchedule
            - EditUniverse
            - EditKubernetesUniverse
            - ExternalScript
            - ImportIntoTable
            - RunApiTriggeredHooks
            - AddOnClusterCreate
            - AddOnClusterDelete
            - UpgradeUniverse
            - UpdateLoadBalancerConfig
            - RestartUniverse
            - RestartUniverseKubernetesUpgrade
            - SoftwareUpgrade
            - SoftwareKubernetesUpgrade
            - KubernetesOverridesUpgrade
            - GFlagsUpgrade
            - GFlagsKubernetesUpgrade
            - CertsRotate
            - CertsRotateKubernetesUpgrade
            - TlsToggle
            - VMImageUpgrade
            - SystemdUpgrade
            - RebootUniverse
            - UpgradeKubernetesUniverse
            - DeleteNodeFromUniverse
            - StopNodeInUniverse
            - StartNodeInUniverse
            - AddNodeToUniverse
            - RemoveNodeFromUniverse
            - RebootNodeInUniverse
            - ReleaseInstanceFromUniverse
            - RotateAccessKey
            - SetUniverseKey
            - CreateAndRotateAccessKey
            - CreateKMSConfig
            - EditKMSConfig
            - DeleteKMSConfig
            - UpdateDiskSize
            - UpdateKubernetesDiskSize
            - StartMasterOnNode
            - DeleteXClusterConfig
            - SyncXClusterConfig
            - CreateSupportBundle
            - CreateXClusterConfig
            - EditXClusterConfig
            - RestartXClusterConfig
            - RestartDrConfig
            - SyncDrConfig
            - SetDatabasesDrConfig
            - SetTablesDrConfig
            - CreateDrConfig
            - DeleteDrConfig
            - FailoverDrConfig
            - SwitchoverDrConfig
            - SwitchoverDrConfigRollback
            - EditDrConfig
            - EditDrConfigParams
            - PauseXClusterUniverses
            - ResumeXClusterUniverses
            - ReinstallNodeAgent
            - ProvisionUniverseNodes
            - DeleteCustomerConfig
            - DeleteCustomerStorageConfig
            - ResizeNode
            - CreateTableSpacesInUniverse
            - ThirdpartySoftwareUpgrade
            - ModifyAuditLoggingConfig
            - ModifyKubernetesAuditLoggingConfig
            - ModifyQueryLoggingConfig
            - ModifyMetricsExportConfig
            - InstallYbcSoftware
            - UpgradeUniverseYbc
            - UpgradeYbcGFlags
            - UpgradeKubernetesYbcGFlags
            - UpdateYbcThrottleFlags
            - UpdateK8sYbcThrottleFlags
            - DisableYbc
            - AddGFlagMetadata
            - CloudProviderDelete
            - CreateBackupSchedule
            - CreateBackupScheduleKubernetes
            - DeleteBackupSchedule
            - DeleteBackupScheduleKubernetes
            - EditBackupSchedule
            - EditBackupScheduleKubernetes
            - CloudProviderEdit
            - SoftwareUpgradeYB
            - SoftwareKubernetesUpgradeYB
            - FinalizeUpgrade
            - FinalizeKubernetesUpgrade
            - RollbackUpgrade
            - RollbackKubernetesUpgrade
            - LdapUniverseSync
            - ReprovisionNode
            - ReplaceNodeInUniverse
            - UpdateProxyConfig
            - RecommissionNodeInstance
            - DecommissionNodeInstance
            - MasterFailover
            - SyncMasterAddresses
            - CreateContinuousBackup
            - CreateYbaBackup
            - RestoreYbaBackup
            - RestoreContinuousBackup
            - EnableNodeAgentInUniverse
            - DecommissionNode
            - CloneNamespace
            - TlsToggleKubernetes
            - UpdateOOMServiceState
            - SendUserNotification
            - ImportUniverse
            - MigrateUniverse
            - KubernetesToggleImmutableYbc
            - OperatorImportUniverse
            - KubernetesCheckVolumeExpansion
            - KubernetesPostExpansionCheckVolume
            - NodeCertReloadTask
            - UpdateUniverseConfig
            - CreateRootVolumes
            - ReplaceRootVolume
            - ChangeInstanceType
            - PersistResizeNode
            - PersistSystemdUpgrade
            - PersistUseClockbound
            - UpdateNodeDetails
            - AddAuthorizedKey
            - AnsibleClusterServerCtl
            - AnsibleConfigureServers
            - AnsibleDestroyServer
            - PauseServer
            - ResumeServer
            - AnsibleSetupServer
            - AnsibleCreateServer
            - PrecheckNodeDetached
            - AnsibleUpdateNodeInfo
            - BulkImport
            - ChangeMasterConfig
            - ChangeAdminPassword
            - DropTable
            - CreateTable
            - DeleteNode
            - DeleteBackup
            - DeleteBackupYb
            - UpdateNodeProcess
            - DeleteTableFromUniverse
            - DeleteTablesFromUniverse
            - DeleteKeyspace
            - LoadBalancerStateChange
            - ModifyBlackList
            - CheckUnderReplicatedTablets
            - CheckFollowerLag
            - CheckNodeSafeToDelete
            - ManipulateDnsRecordTask
            - RemoveUniverseEntry
            - SetFlagInMemory
            - SetNodeState
            - SwamperTargetsFileUpdate
            - UniverseUpdateSucceeded
            - RegisterUniverseWithPaCollector
            - UnregisterUniverseFromPaCollector
            - UpdateAndPersistGFlags
            - UpdateAndPersistKubernetesOverrides
            - HandleKubernetesNamespacedServices
            - UpdatePlacementInfo
            - UpdateSoftwareVersion
            - UpdateUniverseYbcDetails
            - YBCBackupSucceeded
            - UpdateUniverseYbcGflagsDetails
            - SetYbcThrottleParamsInMemory
            - VerifyNodeSSHAccess
            - WaitForDataMove
            - WaitForLeaderBlacklistCompletion
            - WaitForFollowerLag
            - WaitForLoadBalance
            - WaitForMasterLeader
            - WaitForServer
            - WaitForYbcServer
            - WaitForTServerHeartBeats
            - DeleteClusterFromUniverse
            - InstanceActions
            - WaitForServerReady
            - WaitForClockSync
            - WaitForDuration
            - RunExternalScript
            - RemoveAuthorizedKey
            - UpdateUniverseAccessKey
            - ManageLoadBalancerGroup
            - BootstrapProducer
            - CheckBootstrapRequired
            - DeleteBootstrapIds
            - XClusterNetworkConnectivityCheck
            - DeleteReplication
            - DeleteXClusterConfigEntry
            - DeleteXClusterTableConfigEntry
            - DeleteDrConfigEntry
            - WaitForReplicationDrain
            - ResetXClusterConfigEntry
            - SetReplicationPaused
            - ChangeXClusterRole
            - SetDrStates
            - UpdateDrConfigParams
            - XClusterAddNamespaceToOutboundReplicationGroup
            - AddNamespaceToXClusterReplication
            - XClusterRemoveNamespaceFromTargetUniverse
            - XClusterRemoveNamespaceFromOutboundReplication
            - SetRestoreTime
            - XClusterConfigSetup
            - XClusterConfigSetStatus
            - XClusterConfigSetStatusForTables
            - XClusterConfigSetStatusForNamespaces
            - XClusterConfigModifyTables
            - XClusterConfigRename
            - XClusterConfigSync
            - XClusterConfigUpdateMasterAddresses
            - XClusterInfoPersist
            - ReplicateNamespaces
            - CheckXUniverseAutoFlags
            - PromoteSecondaryConfigToMainConfig
            - DeleteRemnantStreams
            - CreateOutboundReplicationGroup
            - XClusterDbReplicationSetup
            - DeleteReplicationOnSource
            - DeleteXClusterBackupRestoreEntries
            - AddExistingPitrToXClusterConfig
            - DrConfigWebhookCall
            - SetRestoreState
            - CloudAccessKeyCleanup
            - CloudAccessKeySetup
            - CloudInitializer
            - CloudProviderCleanup
            - CloudRegionCleanup
            - CloudRegionSetup
            - CloudSetup
            - BackupTable
            - BackupTableYb
            - BackupTableYbc
            - BackupUniverseKeys
            - RestoreBackupYb
            - RestoreBackupYbc
            - RestoreUniverseKeys
            - RestoreUniverseKeysYb
            - RestoreUniverseKeysYbc
            - SetBackupHiddenState
            - SetRestoreHiddenState
            - RestorePreflightValidate
            - BackupPreflightValidate
            - WaitForLeadersOnPreferredOnly
            - EnableEncryptionAtRest
            - DisableEncryptionAtRest
            - DestroyEncryptionAtRest
            - KubernetesCommandExecutor
            - KubernetesWaitForPod
            - KubernetesCheckNumPod
            - PodDisruptionBudgetPolicy
            - SetActiveUniverseKeys
            - WaitForEncryptionKeyInMemory
            - UnivSetCertificate
            - CreateAlertDefinitions
            - ManageAlertDefinitions
            - ManageCatalogUpgradeSuperUser
            - UpdatePitrConfigIntermittentMinRecoverTime
            - MarkSourceMetric
            - UniverseSetTlsParams
            - UniverseUpdateRootCert
            - ResetUniverseVersion
            - DeleteCertificate
            - SetNodeStatus
            - CheckMasterLeader
            - CheckMasters
            - CheckTServers
            - WaitForTServerHBs
            - CreatePrometheusSwamperConfig
            - PreflightNodeCheck
            - RunYsqlUpgrade
            - PromoteAutoFlags
            - UpdateSoftwareUpdatePrevConfig
            - RollbackAutoFlags
            - StoreAutoFlagConfigVersion
            - CheckUpgrade
            - CheckCertificateConfig
            - CheckMemory
            - CheckLocale
            - CheckShellConnectivity
            - CheckGlibc
            - CheckOpentelemetryOperator
            - PGUpgradeTServerCheck
            - CleanUpPGUpgradeDataDir
            - RunYsqlMajorVersionCatalogUpgrade
            - RollbackYsqlMajorVersionCatalogUpgrade
            - FinalizeYsqlMajorCatalogUpgrade
            - ValidateGFlags
            - CheckSoftwareVersion
            - UpdateMountedDisks
            - TransferXClusterCerts
            - CreateTableSpaces
            - ManageOtelCollector
            - UpdateAndPersistAuditLoggingConfig
            - UpdateAndPersistQueryLoggingConfig
            - UpdateAndPersistMetricsExportConfig
            - MarkUniverseForHealthScriptReUpload
            - RebootServer
            - HardRebootServer
            - RunHooks
            - UpdateUniverseTags
            - UpgradeYbc
            - InstallYbcSoftwareOnK8s
            - InstanceExistCheck
            - DeleteRootVolumes
            - InstallingThirdPartySoftware
            - InstallNodeAgent
            - WaitForNodeAgent
            - CloudImageBundleSetup
            - UpdateClusterUserIntent
            - UpdateClusterAPIDetails
            - UpdateUniverseState
            - UpdateUniverseCommunicationPorts
            - UpdateUniverseIntent
            - UpdateConsistencyCheck
            - FreezeUniverse
            - QueryLdapServer
            - DbLdapSync
            - CheckForClusterServers
            - CheckLeaderlessTablets
            - CheckNodesAreSafeToTakeDown
            - ValidateNodeDiskSize
            - CheckNodeReachable
            - CheckDbNodePortConnectivity
            - SupportBundleComponentDownload
            - WaitStartingFromTime
            - RemoveNodeAgent
            - UpdateUniverseFields
            - RunNodeCommand
            - MasterLeaderStepdown
            - SetupYNP
            - YNPProvisioning
            - ConfigureOOMServiceOnNode
            - CheckSshConnection
            - FetchServerConf
            - DoCapacityReservation
            - DeleteCapacityReservation
            - DisablePitrConfig
            - EnablePitrConfig
            - UpdateAndPersistKubernetesImmutableYbc
            - TablespaceValidationOnRemove
            - CheckServiceLiveness
            - CheckNodeCommandExecution
            - CheckNodeDataDirDiskSpace
            - OperatorImportResource
            - UpdateParentTaskParams
            type: string
          type: array
          uniqueItems: true
          example:
          - CloudBootstrap
        universeUUIDList:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      required:
      - status
      - taskTypes
      - universeUUIDList
      type: object
    ScheduleResp:
      example:
        scheduleName: scheduleName
        tableByTableBackup: true
        nextExpectedTask: 2022-12-12 13:07:18+00:00
        incrementBacklogStatus: true
        frequency: 5
        cronExpression: cronExpression
        frequencyTimeUnit: NANOSECONDS
        prevCompletedTask: 2022-12-12 13:07:18+00:00
        taskType: CloudBootstrap
        customerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        incrementalBackupFrequencyTimeUnit: NANOSECONDS
        scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        useLocalTimezone: true
        runningState: true
        incrementalBackupFrequency: 5
        backlogStatus: true
        backupInfo:
          storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          useRoles: true
          expiryTimeUnit: NANOSECONDS
          timeBeforeDelete: 6
          keyspaceList:
          - backupPointInTimeRestoreWindow:
              timestampRetentionWindowEndMillis: 0
              timestampRetentionWindowStartMillis: 6
            backupSizeInBytes: 1
            keyspace: keyspace
            tableUUIDList:
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tablesList:
            - tablesList
            - tablesList
            perRegionLocations:
            - LOCATION: LOCATION
              HOST_BASE: HOST_BASE
              REGION: REGION
            - LOCATION: LOCATION
              HOST_BASE: HOST_BASE
              REGION: REGION
            allTables: true
            defaultLocation: defaultLocation
          - backupPointInTimeRestoreWindow:
              timestampRetentionWindowEndMillis: 0
              timestampRetentionWindowStartMillis: 6
            backupSizeInBytes: 1
            keyspace: keyspace
            tableUUIDList:
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tablesList:
            - tablesList
            - tablesList
            perRegionLocations:
            - LOCATION: LOCATION
              HOST_BASE: HOST_BASE
              REGION: REGION
            - LOCATION: LOCATION
              HOST_BASE: HOST_BASE
              REGION: REGION
            allTables: true
            defaultLocation: defaultLocation
          parallelism: 0
          pointInTimeRestoreEnabled: true
          useTablespaces: true
          fullBackup: true
          backupType: YQL_TABLE_TYPE
        failureCount: 1
        status: Deleting
      properties:
        backlogStatus:
          type: boolean
          example: true
        backupInfo:
          $ref: '#/components/schemas/BackupInfo'
        cronExpression:
          type: string
          example: example-cronExpression
        customerUUID:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        failureCount:
          format: int32
          type: integer
          example: 10
        frequency:
          format: int64
          type: integer
          example: 1000
        frequencyTimeUnit:
          enum:
          - NANOSECONDS
          - MICROSECONDS
          - MILLISECONDS
          - SECONDS
          - MINUTES
          - HOURS
          - DAYS
          - MONTHS
          - YEARS
          type: string
          example: NANOSECONDS
        incrementBacklogStatus:
          type: boolean
          example: true
        incrementalBackupFrequency:
          format: int64
          type: integer
          example: 1000
        incrementalBackupFrequencyTimeUnit:
          enum:
          - NANOSECONDS
          - MICROSECONDS
          - MILLISECONDS
          - SECONDS
          - MINUTES
          - HOURS
          - DAYS
          - MONTHS
          - YEARS
          type: string
          example: NANOSECONDS
        nextExpectedTask:
          description: Next expected task time
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        prevCompletedTask:
          description: Previous completed task time
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          type: string
        runningState:
          type: boolean
          example: true
        scheduleName:
          type: string
          example: example-scheduleName
        scheduleUUID:
          format: uuid
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status:
          enum:
          - Deleting
          - Error
          - Active
          - Creating
          - Paused
          - Stopped
          - Editing
          type: string
          example: Deleting
        tableByTableBackup:
          type: boolean
          example: true
        taskType:
          enum:
          - CloudBootstrap
          - CloudCleanup
          - CreateCassandraTable
          - CreateUniverse
          - ReadOnlyClusterCreate
          - ReadOnlyKubernetesClusterDelete
          - ReadOnlyClusterDelete
          - CreateKubernetesUniverse
          - ReadOnlyKubernetesClusterCreate
          - DestroyUniverse
          - PauseUniverse
          - ResumeUniverse
          - PauseKubernetesUniverse
          - ResumeKubernetesUniverse
          - DestroyKubernetesUniverse
          - DeleteTable
          - BackupUniverse
          - RestoreBackup
          - MultiTableBackup
          - CreateBackup
          - ConfigureDBApis
          - ConfigureDBApisKubernetes
          - CreatePitrConfig
          - UpdatePitrConfig
          - DeletePitrConfig
          - RestoreSnapshotSchedule
          - EditUniverse
          - EditKubernetesUniverse
          - ExternalScript
          - ImportIntoTable
          - RunApiTriggeredHooks
          - AddOnClusterCreate
          - AddOnClusterDelete
          - UpgradeUniverse
          - UpdateLoadBalancerConfig
          - RestartUniverse
          - RestartUniverseKubernetesUpgrade
          - SoftwareUpgrade
          - SoftwareKubernetesUpgrade
          - KubernetesOverridesUpgrade
          - GFlagsUpgrade
          - GFlagsKubernetesUpgrade
          - CertsRotate
          - CertsRotateKubernetesUpgrade
          - TlsToggle
          - VMImageUpgrade
          - SystemdUpgrade
          - RebootUniverse
          - UpgradeKubernetesUniverse
          - DeleteNodeFromUniverse
          - StopNodeInUniverse
          - StartNodeInUniverse
          - AddNodeToUniverse
          - RemoveNodeFromUniverse
          - RebootNodeInUniverse
          - ReleaseInstanceFromUniverse
          - RotateAccessKey
          - SetUniverseKey
          - CreateAndRotateAccessKey
          - CreateKMSConfig
          - EditKMSConfig
          - DeleteKMSConfig
          - UpdateDiskSize
          - UpdateKubernetesDiskSize
          - StartMasterOnNode
          - DeleteXClusterConfig
          - SyncXClusterConfig
          - CreateSupportBundle
          - CreateXClusterConfig
          - EditXClusterConfig
          - RestartXClusterConfig
          - RestartDrConfig
          - SyncDrConfig
          - SetDatabasesDrConfig
          - SetTablesDrConfig
          - CreateDrConfig
          - DeleteDrConfig
          - FailoverDrConfig
          - SwitchoverDrConfig
          - SwitchoverDrConfigRollback
          - EditDrConfig
          - EditDrConfigParams
          - PauseXClusterUniverses
          - ResumeXClusterUniverses
          - ReinstallNodeAgent
          - ProvisionUniverseNodes
          - DeleteCustomerConfig
          - DeleteCustomerStorageConfig
          - ResizeNode
          - CreateTableSpacesInUniverse
          - ThirdpartySoftwareUpgrade
          - ModifyAuditLoggingConfig
          - ModifyKubernetesAuditLoggingConfig
          - ModifyQueryLoggingConfig
          - ModifyMetricsExportConfig
          - InstallYbcSoftware
          - UpgradeUniverseYbc
          - UpgradeYbcGFlags
          - UpgradeKubernetesYbcGFlags
          - UpdateYbcThrottleFlags
          - UpdateK8sYbcThrottleFlags
          - DisableYbc
          - AddGFlagMetadata
          - CloudProviderDelete
          - CreateBackupSchedule
          - CreateBackupScheduleKubernetes
          - DeleteBackupSchedule
          - DeleteBackupScheduleKubernetes
          - EditBackupSchedule
          - EditBackupScheduleKubernetes
          - CloudProviderEdit
          - SoftwareUpgradeYB
          - SoftwareKubernetesUpgradeYB
          - FinalizeUpgrade
          - FinalizeKubernetesUpgrade
          - RollbackUpgrade
          - RollbackKubernetesUpgrade
          - LdapUniverseSync
          - ReprovisionNode
          - ReplaceNodeInUniverse
          - UpdateProxyConfig
          - RecommissionNodeInstance
          - DecommissionNodeInstance
          - MasterFailover
          - SyncMasterAddresses
          - CreateContinuousBackup
          - CreateYbaBackup
          - RestoreYbaBackup
          - RestoreContinuousBackup
          - EnableNodeAgentInUniverse
          - DecommissionNode
          - CloneNamespace
          - TlsToggleKubernetes
          - UpdateOOMServiceState
          - SendUserNotification
          - ImportUniverse
          - MigrateUniverse
          - KubernetesToggleImmutableYbc
          - OperatorImportUniverse
          - KubernetesCheckVolumeExpansion
          - KubernetesPostExpansionCheckVolume
          - NodeCertReloadTask
          - UpdateUniverseConfig
          - CreateRootVolumes
          - ReplaceRootVolume
          - ChangeInstanceType
          - PersistResizeNode
          - PersistSystemdUpgrade
          - PersistUseClockbound
          - UpdateNodeDetails
          - AddAuthorizedKey
          - AnsibleClusterServerCtl
          - AnsibleConfigureServers
          - AnsibleDestroyServer
          - PauseServer
          - ResumeServer
          - AnsibleSetupServer
          - AnsibleCreateServer
          - PrecheckNodeDetached
          - AnsibleUpdateNodeInfo
          - BulkImport
          - ChangeMasterConfig
          - ChangeAdminPassword
          - DropTable
          - CreateTable
          - DeleteNode
          - DeleteBackup
          - DeleteBackupYb
          - UpdateNodeProcess
          - DeleteTableFromUniverse
          - DeleteTablesFromUniverse
          - DeleteKeyspace
          - LoadBalancerStateChange
          - ModifyBlackList
          - CheckUnderReplicatedTablets
          - CheckFollowerLag
          - CheckNodeSafeToDelete
          - ManipulateDnsRecordTask
          - RemoveUniverseEntry
          - SetFlagInMemory
          - SetNodeState
          - SwamperTargetsFileUpdate
          - UniverseUpdateSucceeded
          - RegisterUniverseWithPaCollector
          - UnregisterUniverseFromPaCollector
          - UpdateAndPersistGFlags
          - UpdateAndPersistKubernetesOverrides
          - HandleKubernetesNamespacedServices
          - UpdatePlacementInfo
          - UpdateSoftwareVersion
          - UpdateUniverseYbcDetails
          - YBCBackupSucceeded
          - UpdateUniverseYbcGflagsDetails
          - SetYbcThrottleParamsInMemory
          - VerifyNodeSSHAccess
          - WaitForDataMove
          - WaitForLeaderBlacklistCompletion
          - WaitForFollowerLag
          - WaitForLoadBalance
          - WaitForMasterLeader
          - WaitForServer
          - WaitForYbcServer
          - WaitForTServerHeartBeats
          - DeleteClusterFromUniverse
          - InstanceActions
          - WaitForServerReady
          - WaitForClockSync
          - WaitForDuration
          - RunExternalScript
          - RemoveAuthorizedKey
          - UpdateUniverseAccessKey
          - ManageLoadBalancerGroup
          - BootstrapProducer
          - CheckBootstrapRequired
          - DeleteBootstrapIds
          - XClusterNetworkConnectivityCheck
          - DeleteReplication
          - DeleteXClusterConfigEntry
          - DeleteXClusterTableConfigEntry
          - DeleteDrConfigEntry
          - WaitForReplicationDrain
          - ResetXClusterConfigEntry
          - SetReplicationPaused
          - ChangeXClusterRole
          - SetDrStates
          - UpdateDrConfigParams
          - XClusterAddNamespaceToOutboundReplicationGroup
          - AddNamespaceToXClusterReplication
          - XClusterRemoveNamespaceFromTargetUniverse
          - XClusterRemoveNamespaceFromOutboundReplication
          - SetRestoreTime
          - XClusterConfigSetup
          - XClusterConfigSetStatus
          - XClusterConfigSetStatusForTables
          - XClusterConfigSetStatusForNamespaces
          - XClusterConfigModifyTables
          - XClusterConfigRename
          - XClusterConfigSync
          - XClusterConfigUpdateMasterAddresses
          - XClusterInfoPersist
          - ReplicateNamespaces
          - CheckXUniverseAutoFlags
          - PromoteSecondaryConfigToMainConfig
          - DeleteRemnantStreams
          - CreateOutboundReplicationGroup
          - XClusterDbReplicationSetup
          - DeleteReplicationOnSource
          - DeleteXClusterBackupRestoreEntries
          - AddExistingPitrToXClusterConfig
          - DrConfigWebhookCall
          - SetRestoreState
          - CloudAccessKeyCleanup
          - CloudAccessKeySetup
          - CloudInitializer
          - CloudProviderCleanup
          - CloudRegionCleanup
          - CloudRegionSetup
          - CloudSetup
          - BackupTable
          - BackupTableYb
          - BackupTableYbc
          - BackupUniverseKeys
          - RestoreBackupYb
          - RestoreBackupYbc
          - RestoreUniverseKeys
          - RestoreUniverseKeysYb
          - RestoreUniverseKeysYbc
          - SetBackupHiddenState
          - SetRestoreHiddenState
          - RestorePreflightValidate
          - BackupPreflightValidate
          - WaitForLeadersOnPreferredOnly
          - EnableEncryptionAtRest
          - DisableEncryptionAtRest
          - DestroyEncryptionAtRest
          - KubernetesCommandExecutor
          - KubernetesWaitForPod
          - KubernetesCheckNumPod
          - PodDisruptionBudgetPolicy
          - SetActiveUniverseKeys
          - WaitForEncryptionKeyInMemory
          - UnivSetCertificate
          - CreateAlertDefinitions
          - ManageAlertDefinitions
          - ManageCatalogUpgradeSuperUser
          - UpdatePitrConfigIntermittentMinRecoverTime
          - MarkSourceMetric
          - UniverseSetTlsParams
          - UniverseUpdateRootCert
          - ResetUniverseVersion
          - DeleteCertificate
          - SetNodeStatus
          - CheckMasterLeader
          - CheckMasters
          - CheckTServers
          - WaitForTServerHBs
          - CreatePrometheusSwamperConfig
          - PreflightNodeCheck
          - RunYsqlUpgrade
          - PromoteAutoFlags
          - UpdateSoftwareUpdatePrevConfig
          - RollbackAutoFlags
          - StoreAutoFlagConfigVersion
          - CheckUpgrade
          - CheckCertificateConfig
          - CheckMemory
          - CheckLocale
          - CheckShellConnectivity
          - CheckGlibc
          - CheckOpentelemetryOperator
          - PGUpgradeTServerCheck
          - CleanUpPGUpgradeDataDir
          - RunYsqlMajorVersionCatalogUpgrade
          - RollbackYsqlMajorVersionCatalogUpgrade
          - FinalizeYsqlMajorCatalogUpgrade
          - ValidateGFlags
          - CheckSoftwareVersion
          - UpdateMountedDisks
          - TransferXClusterCerts
          - CreateTableSpaces
          - ManageOtelCollector
          - UpdateAndPersistAuditLoggingConfig
          - UpdateAndPersistQueryLoggingConfig
          - UpdateAndPersistMetricsExportConfig
          - MarkUniverseForHealthScriptReUpload
          - RebootServer
          - HardRebootServer
          - RunHooks
          - UpdateUniverseTags
          - UpgradeYbc
          - InstallYbcSoftwareOnK8s
          - InstanceExistCheck
          - DeleteRootVolumes
          - InstallingThirdPartySoftware
          - InstallNodeAgent
          - WaitForNodeAgent
          - CloudImageBundleSetup
          - UpdateClusterUserIntent
          - UpdateClusterAPIDetails
          - UpdateUniverseState
          - UpdateUniverseCommunicationPorts
          - UpdateUniverseIntent
          - UpdateConsistencyCheck
          - FreezeUniverse
          - QueryLdapServer
          - DbLdapSync
          - CheckForClusterServers
          - CheckLeaderlessTablets
          - CheckNodesAreSafeToTakeDown
          - ValidateNodeDiskSize
          - CheckNodeReachable
          - CheckDbNodePortConnectivity
          - SupportBundleComponentDownload
          - WaitStartingFromTime
          - RemoveNodeAgent
          - UpdateUniverseFields
          - RunNodeCommand
          - MasterLeaderStepdown
          - SetupYNP
          - YNPProvisioning
          - ConfigureOOMServiceOnNode
          - CheckSshConnection
          - FetchServerConf
          - DoCapacityReservation
          - DeleteCapacityReservation
          - DisablePitrConfig
          - EnablePitrConfig
          - UpdateAndPersistKubernetesImmutableYbc
          - TablespaceValidationOnRemove
          - CheckServiceLiveness
          - CheckNodeCommandExecution
          - CheckNodeDataDirDiskSpace
          - OperatorImportResource
          - UpdateParentTaskParams
          type: string
          example: CloudBootstrap
        useLocalTimezone:
          type: boolean
          example: true
      required:
      - backlogStatus
      - backupInfo
      - cronExpression
      - customerUUID
      - failureCount
      - frequency
      - frequencyTimeUnit
      - incrementBacklogStatus
      - incrementalBackupFrequency
      - incrementalBackupFrequencyTimeUnit
      - runningState
      - scheduleName
      - scheduleUUID
      - status
      - tableByTableBackup
      - taskType
      - useLocalTimezone
      type: object
    YBPSuccess:
      example:
        success: true
        message: message
      properties:
        message:
          description: API response message.
          readOnly: true
          type: string
          example: Example message
        success:
          description: API operation status. A value of true indicates the operation was successful.
          readOnly: true
          type: boolean
          example: true
      type: object
    KeyspaceTablesList:
      example:
        backupPointInTimeRestoreWindow:
          timestampRetentionWindowEndMillis: 0
          timestampRetentionWindowStartMillis: 6
        backupSizeInBytes: 1
        keyspace: keyspace
        tableUUIDList:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tablesList:
        - tablesList
        - tablesList
        perRegionLocations:
        - LOCATION: LOCATION
          HOST_BASE: HOST_BASE
          REGION: REGION
        - LOCATION: LOCATION
          HOST_BASE: HOST_BASE
          REGION: REGION
        allTables: true
        defaultLocation: defaultLocation
      properties:
        allTables:
          type: boolean
          example: true
        backupPointInTimeRestoreWindow:
          $ref: '#/components/schemas/BackupPointInTimeRestoreWindow'
        backupSizeInBytes:
          format: int64
          type: integer
          example: 10
        defaultLocation:
          type: string
          example: example-defaultLocation
        keyspace:
          type: string
          example: example-key
        perRegionLocations:
          items:
            $ref: '#/components/schemas/RegionLocations'
          type: array
          example:
          - LOCATION: LOCATION
            HOST_BASE: HOST_BASE
            REGION: REGION
        tableUUIDList:
          items:
            format: uuid
            type: string
          type: array
          example:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tablesList:
          items:
            type: string
          type: array
          example:
          - example-tablesList
      required:
      - allTables
      - backupPointInTimeRestoreWindow
      - backupSizeInBytes
      - defaultLocation
      - keyspace
      - perRegionLocations
      - tableUUIDList
      - tablesList
      type: object
    BackupScheduleEditParams:
      example:
        cronExpression: cronExpression
        frequencyTimeUnit: NANOSECONDS
        incrementalBackupFrequencyTimeUnit: NANOSECONDS
        timeBeforeDelete: 1
        schedulingFrequency: 6
        incrementalBackupFrequency: 0
      properties:
        cronExpression:
          description: Cron expression for scheduling
          type: string
          example: example-cronExpression
        frequencyTimeUnit:
          description: Time Unit for frequency
          enum:
          - NANOSECONDS
          - MICROSECONDS
          - MILLISECONDS
          - SECONDS
          - MINUTES
          - HOURS
          - DAYS
          - MONTHS
          - YEARS
          type: string
          example: NANOSECONDS
        incrementalBackupFrequency:
          description: Frequency of incremental backup schedule
          format: int64
          type: integer
          example: 1000
        incrementalBackupFrequencyTimeUnit:
          description: TimeUnit for incremental Backup Schedule frequency
          enum:
          - NANOSECONDS
          - MICROSECONDS
          - MILLISECONDS
          - SECONDS
          - MINUTES
          - HOURS
          - DAYS
          - MONTHS
          - YEARS
          type: string
          example: NANOSECONDS
        schedulingFrequency:
          description: Frequency of the schedule
          format: int64
          type: integer
          example: 1000
        timeBeforeDelete:
          description: Time before deleting the backup from storage, in milliseconds
          format: int64
          type: integer
          example: 1000
      type: object
    YBPTask:
      example:
        taskUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        resourceUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        resourceUUID:
          description: UUID of the resource being modified by the task
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        taskUUID:
          description: Task UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      type: object
    Schedule:
      description: Backup schedule
      example:
        scheduleName: scheduleName
        ownerUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        nextScheduleTaskTime: 2022-12-12 13:07:18+00:00
        kubernetesOperatorControlled: true
        incrementBacklogStatus: true
        frequency: 6
        cronExpression: cronExpression
        frequencyTimeUnit: NANOSECONDS
        taskType: CloudBootstrap
        nextIncrementScheduleTaskTime: 2022-12-12 13:07:18+00:00
        scheduleUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        useLocalTimezone: true
        runningState: true
        userEmail: userEmail
        backlogStatus: true
        failureCount: 0
        status: Deleting
      properties:
        backlogStatus:
          description: Backlog status of schedule arose due to conflicts
          readOnly: true
          type: boolean
          example: true
        cronExpression:
          description: Cron expression for the schedule
          type: string
          example: example-cronExpression
        failureCount:
          description: Number of failed backup attempts
          format: int32
          readOnly: true
          type: integer
          example: 10
        frequency:
          description: Frequency of the schedule, in milli seconds
          format: int64
          type: integer
          example: 1000
        frequencyTimeUnit:
          description: Time unit of frequency
          enum:
          - NANOSECONDS
          - MICROSECONDS
          - MILLISECONDS
          - SECONDS
          - MINUTES
          - HOURS
          - DAYS
          - MONTHS
          - YEARS
          type: string
          example: NANOSECONDS
        incrementBacklogStatus:
          description: Backlog status of schedule of incremental backups arose due to conflicts
          readOnly: true
          type: boolean
          example: true
        kubernetesOperatorControlled:
          type: boolean
          example: true
        nextIncrementScheduleTaskTime:
          description: Time on which schedule is expected to run for incremental backups
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          readOnly: true
          type: string
        nextScheduleTaskTime:
          description: Time on which schedule is expected to run
          example: 2022-12-12 13:07:18+00:00
          format: date-time
          readOnly: true
          type: string
        ownerUUID:
          description: Owner UUID for the schedule
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        runningState:
          description: Running state of the schedule
          type: boolean
          example: true
        scheduleName:
          description: Name of the schedule
          readOnly: true
          type: string
          example: example-scheduleName
        scheduleUUID:
          description: Schedule UUID
          format: uuid
          readOnly: true
          type: string
          example: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status:
          description: Status of the task. Possible values are _Active_, _Paused_, or _Stopped_.
          enum:
          - Deleting
          - Error
          - Active
          - Creating
          - Paused
          - Stopped
          - Editing
          readOnly: true
          type: string
          example: Deleting
        taskType:
          description: Type of task to be scheduled.
          enum:
          - CloudBootstrap
          - CloudCleanup
          - CreateCassandraTable
          - CreateUniverse
          - ReadOnlyClusterCreate
          - ReadOnlyKubernetesClusterDelete
          - ReadOnlyClusterDelete
          - CreateKubernetesUniverse
          - ReadOnlyKubernetesClusterCreate
          - DestroyUniverse
          - PauseUniverse
          - ResumeUniverse
          - PauseKubernetesUniverse
          - ResumeKubernetesUniverse
          - DestroyKubernetesUniverse
          - DeleteTable
          - BackupUniverse
          - RestoreBackup
          - MultiTableBackup
          - CreateBackup
          - ConfigureDBApis
          - ConfigureDBApisKubernetes
          - CreatePitrConfig
          - UpdatePitrConfig
          - DeletePitrConfig
          - RestoreSnapshotSchedule
          - EditUniverse
          - EditKubernetesUniverse
          - ExternalScript
          - ImportIntoTable
          - RunApiTriggeredHooks
          - AddOnClusterCreate
          - AddOnClusterDelete
          - UpgradeUniverse
          - UpdateLoadBalancerConfig
          - RestartUniverse
          - RestartUniverseKubernetesUpgrade
          - SoftwareUpgrade
          - SoftwareKubernetesUpgrade
          - KubernetesOverridesUpgrade
          - GFlagsUpgrade
          - GFlagsKubernetesUpgrade
          - CertsRotate
          - CertsRotateKubernetesUpgrade
          - TlsToggle
          - VMImageUpgrade
          - SystemdUpgrade
          - RebootUniverse
          - UpgradeKubernetesUniverse
          - DeleteNodeFromUniverse
          - StopNodeInUniverse
          - StartNodeInUniverse
          - AddNodeToUniverse
          - RemoveNodeFromUniverse
          - RebootNodeInUniverse
          - ReleaseInstanceFromUniverse
          - RotateAccessKey
          - SetUniverseKey
          - CreateAndRotateAccessKey
          - CreateKMSConfig
          - EditKMSConfig
          - DeleteKMSConfig
          - UpdateDiskSize
          - UpdateKubernetesDiskSize
          - StartMasterOnNode
          - DeleteXClusterConfig
          - SyncXClusterConfig
          - CreateSupportBundle
          - CreateXClusterConfig
          - EditXClusterConfig
          - RestartXClusterConfig
          - RestartDrConfig
          - SyncDrConfig
          - SetDatabasesDrConfig
          - SetTablesDrConfig
          - CreateDrConfig
          - DeleteDrConfig
          - FailoverDrConfig
          - SwitchoverDrConfig
          - SwitchoverDrConfigRollback
          - EditDrConfig
          - EditDrConfigParams
          - PauseXClusterUniverses
          - ResumeXClusterUniverses
          - ReinstallNodeAgent
          - ProvisionUniverseNodes
          - DeleteCustomerConfig
          - DeleteCustomerStorageConfig
          - ResizeNode
          - CreateTableSpacesInUniverse
          - ThirdpartySoftwareUpgrade
          - ModifyAuditLoggingConfig
          - ModifyKubernetesAuditLoggingConfig
          - ModifyQueryLoggingConfig
          - ModifyMetricsExportConfig
          - InstallYbcSoftware
          - UpgradeUniverseYbc
          - UpgradeYbcGFlags
          - UpgradeKubernetesYbcGFlags
          - UpdateYbcThrottleFlags
          - UpdateK8sYbcThrottleFlags
          - DisableYbc
          - AddGFlagMetadata
          - CloudProviderDelete
          - CreateBackupSchedule
          - CreateBackupScheduleKubernetes
          - DeleteBackupSchedule
          - DeleteBackupScheduleKubernetes
          - EditBackupSchedule
          - EditBackupScheduleKubernetes
          - CloudProviderEdit
          - SoftwareUpgradeYB
          - SoftwareKubernetesUpgradeYB
          - FinalizeUpgrade
          - FinalizeKubernetesUpgrade
          - RollbackUpgrade
          - RollbackKubernetesUpgrade
          - LdapUniverseSync
          - ReprovisionNode
          - ReplaceNodeInUniverse
          - UpdateProxyConfig
          - RecommissionNodeInstance
          - DecommissionNodeInstance
          - MasterFailover
          - SyncMasterAddresses
          - CreateContinuousBackup
          - CreateYbaBackup
          - RestoreYbaBackup
          - RestoreContinuousBackup
          - EnableNodeAgentInUniverse
          - DecommissionNode
          - CloneNamespace
          - TlsToggleKubernetes
          - UpdateOOMServiceState
          - SendUserNotification
          - ImportUniverse
          - MigrateUniverse
          - KubernetesToggleImmutableYbc
          - OperatorImportUniverse
          - KubernetesCheckVolumeExpansion
          - KubernetesPostExpansionCheckVolume
          - NodeCertReloadTask
          - UpdateUniverseConfig
          - CreateRootVolumes
          - ReplaceRootVolume
          - ChangeInstanceType
          - PersistResizeNode
          - PersistSystemdUpgrade
          - PersistUseClockbound
          - UpdateNodeDetails
          - AddAuthorizedKey
          - AnsibleClusterServerCtl
          - AnsibleConfigureServers
          - AnsibleDestroyServer
          - PauseServer
          - ResumeServer
          - AnsibleSetupServer
          - AnsibleCreateServer
          - PrecheckNodeDetached
          - AnsibleUpdateNodeInfo
          - BulkImport
          - ChangeMasterConfig
          - ChangeAdminPassword
          - DropTable
          - CreateTable
          - DeleteNode
          - DeleteBackup
          - DeleteBackupYb
          - UpdateNodeProcess
          - DeleteTableFromUniverse
          - DeleteTablesFromUniverse
          - DeleteKeyspace
          - LoadBalancerStateChange
          - ModifyBlackList
          - CheckUnderReplicatedTablets
          - CheckFollowerLag
          - CheckNodeSafeToDelete
          - ManipulateDnsRecordTask
          - RemoveUniverseEntry
          - SetFlagInMemory
          - SetNodeState
          - SwamperTargetsFileUpdate
          - UniverseUpdateSucceeded
          - RegisterUniverseWithPaCollector
          - UnregisterUniverseFromPaCollector
          - UpdateAndPersistGFlags
          - UpdateAndPersistKubernetesOverrides
          - HandleKubernetesNamespacedServices
          - UpdatePlacementInfo
          - UpdateSoftwareVersion
          - UpdateUniverseYbcDetails
          - YBCBackupSucceeded
          - UpdateUniverseYbcGflagsDetails
          - SetYbcThrottleParamsInMemory
          - VerifyNodeSSHAccess
          - WaitForDataMove
          - WaitForLeaderBlacklistCompletion
          - WaitForFollowerLag
          - WaitForLoadBalance
          - WaitForMasterLeader
          - WaitForServer
          - WaitForYbcServer
          - WaitForTServerHeartBeats
          - DeleteClusterFromUniverse
          - InstanceActions
          - WaitForServerReady
          - WaitForClockSync
          - WaitForDuration
          - RunExternalScript
          - RemoveAuthorizedKey
          - UpdateUniverseAccessKey
          - ManageLoadBalancerGroup
          - BootstrapProducer
          - CheckBootstrapRequired
          - DeleteBootstrapIds
          - XClusterNetworkConnectivityCheck
          - DeleteReplication
          - DeleteXClusterConfigEntry
          - DeleteXClusterTableConfigEntry
          - DeleteDrConfigEntry
          - WaitForReplicationDrain
          - ResetXClusterConfigEntry
          - SetReplicationPaused
          - ChangeXClusterRole
          - SetDrStates
          - UpdateDrConfigParams
          - XClusterAddNamespaceToOutboundReplicationGroup
          - AddNamespaceToXClusterReplication
          - XClusterRemoveNamespaceFromTargetUniverse
          - XClusterRemoveNamespaceFromOutboundReplication
          - SetRestoreTime
          - XClusterConfigSetup
          - XClusterConfigSetStatus
          - XClusterConfigSetStatusForTables
          - XClusterConfigSetStatusForNamespaces
          - XClusterConfigModifyTables
          - XClusterConfigRename
          - XClusterConfigSync
          - XClusterConfigUpdateMasterAddresses
          - XClusterInfoPersist
          - ReplicateNamespaces
          - CheckXUniverseAutoFlags
          - PromoteSecondaryConfigToMainConfig
          - DeleteRemnantStreams
          - CreateOutboundReplicationGroup
          - XClusterDbReplicationSetup
          - DeleteReplicationOnSource
          - DeleteXClusterBackupRestoreEntries
          - AddExistingPitrToXClusterConfig
          - DrConfigWebhookCall
          - SetRestoreState
          - CloudAccessKeyCleanup
          - CloudAccessKeySetup
          - CloudInitializer
          - CloudProviderCleanup
          - CloudRegionCleanup
          - CloudRegionSetup
          - CloudSetup
          - BackupTable
          - BackupTableYb
          - BackupTableYbc
          - BackupUniverseKeys
          - RestoreBackupYb
          - RestoreBackupYbc
          - RestoreUniverseKeys
          - RestoreUniverseKeysYb
          - RestoreUniverseKeysYbc
          - SetBackupHiddenState
          - SetRestoreHiddenState
          - RestorePreflightValidate
          - BackupPreflightValidate
          - WaitForLeadersOnPreferredOnly
          - EnableEncryptionAtRest
          - DisableEncryptionAtRest
          - DestroyEncryptionAtRest
          - KubernetesCommandExecutor
          - KubernetesWaitForPod
          - KubernetesCheckNumPod
          - PodDisruptionBudgetPolicy
          - SetActiveUniverseKeys
          - WaitForEncryptionKeyInMemory
          - UnivSetCertificate
          - CreateAlertDefinitions
          - ManageAlertDefinitions
          - ManageCatalogUpgradeSuperUser
          - UpdatePitrConfigIntermittentMinRecoverTime
          - MarkSourceMetric
          - UniverseSetTlsParams
          - UniverseUpdateRootCert
          - ResetUniverseVersion
          - DeleteCertificate
          - SetNodeStatus
          - CheckMasterLeader
          - CheckMasters
          - CheckTServers
          - WaitForTServerHBs
          - CreatePrometheusSwamperConfig
          - PreflightNodeCheck
          - RunYsqlUpgrade
          - PromoteAutoFlags
          - UpdateSoftwareUpdatePrevConfig
          - RollbackAutoFlags
          - StoreAutoFlagConfigVersion
          - CheckUpgrade
          - CheckCertificateConfig
          - CheckMemory
          - CheckLocale
          - CheckShellConnectivity
          - CheckGlibc
          - CheckOpentelemetryOperator
          - PGUpgradeTServerCheck
          - CleanUpPGUpgradeDataDir
          - RunYsqlMajorVersionCatalogUpgrade
          - RollbackYsqlMajorVersionCatalogUpgrade
          - FinalizeYsqlMajorCatalogUpgrade
          - ValidateGFlags
          - CheckSoftwareVersion
          - UpdateMountedDisks
          - TransferXClusterCerts
          - CreateTableSpaces
          - ManageOtelCollector
          - UpdateAndPersistAuditLoggingConfig
          - UpdateAndPersistQueryLoggingConfig
          - UpdateAndPersistMetricsExportConfig
          - MarkUniverseForHealthScriptReUpload
          - RebootServer
          - HardRebootServer
          - RunHooks
          - UpdateUniverseTags
          - UpgradeYbc
          - InstallYbcSoftwareOnK8s
          - InstanceExistCheck
          - DeleteRootVolumes
          - InstallingThirdPartySoftware
          - InstallNodeAgent
          - WaitForNodeAgent
          - CloudImageBundleSetup
          - UpdateClusterUserIntent
          - UpdateClusterAPIDetails
          - UpdateUniverseState
          - UpdateUniverseCommunicationPorts
          - UpdateUniverseIntent
          - UpdateConsistencyCheck
          - FreezeUniverse
          - QueryLdapServer
          - DbLdapSync
          - CheckForClusterServers
          - CheckLeaderlessTablets
          - CheckNodesAreSafeToTakeDown
          - ValidateNodeDiskSize
          - CheckNodeReachable
          - CheckDbNodePortConnectivity
          - SupportBundleComponentDownload
          - WaitStartingFromTime
          - RemoveNodeAgent
          - UpdateUniverseFields
          - RunNodeCommand
          - MasterLeaderStepdown
          - SetupYNP
          - YNPProvisioning
          - ConfigureOOMServiceOnNode
          - CheckSshConnection
          - FetchServerConf
          - DoCapacityReservation
          - DeleteCapacityReservation
          - DisablePitrConfig
          - EnablePitrConfig
          - UpdateAndPersistKubernetesImmutableYbc
          - TablespaceValidationOnRemove
          - CheckServiceLiveness
          - CheckNodeCommandExecution
          - CheckNodeDataDirDiskSpace
          - OperatorImportResource
          - UpdateParentTaskParams
          type: string
          example: CloudBootstrap
        useLocalTimezone:
          description: Whether to use local timezone with cron expression for the schedule
          type: boolean
          example: true
        userEmail:
          description: User who created the schedule policy
          readOnly: true
          type: string
          example: admin@example.com
      required:
      - kubernetesOperatorControlled
      type: object
    SchedulePagedApiQuery_2:
      example:
        filter:
          taskTypes:
          - CloudBootstrap
          - CloudBootstrap
          universeUUIDList:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status:
          - Deleting
          - Deleting
        offset: 6
        needTotalCount: true
        limit: 0
        sortBy: taskType
        direction: ASC
      properties:
        direction:
          enum:
          - ASC
          - DESC
          type: string
        filter:
          $ref: '#/components/schemas/ScheduleApiFilter_2'
        limit:
          format: int32
          type: integer
        needTotalCount:
          type: boolean
        offset:
          format: int32
          type: integer
        sortBy:
          enum:
          - taskType
          - scheduleUUID
          - scheduleName
          type: string
      required:
      - direction
      - filter
      - limit
      - needTotalCount
      - offset
      - sortBy
      type: object
    RegionLocations_2:
      example:
        LOCATION: LOCATION
        HOST_BASE: HOST_BASE
        REGION: REGION
      properties:
        HOST_BASE:
          type: string
        LOCATION:
          type: string
        REGION:
          type: string
      required:
      - HOST_BASE
      - LOCATION
      - REGION
      type: object
    BackupInfo_2:
      example:
        storageConfigUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        universeUUID: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        useRoles: true
        expiryTimeUnit: NANOSECONDS
        timeBeforeDelete: 6
        keyspaceList:
        - backupPointInTimeRestoreWindow:
            timestampRetentionWindowEndMillis: 0
            timestampRetentionWindowStartMillis: 6
          backupSizeInBytes: 1
          keyspace: keyspace
          tableUUIDList:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          tablesList:
          - tablesList
          - tablesList
          perRegionLocations:
          - LOCATION: LOCATION
            HOST_BASE: HOST_BASE
            REGION: REGION
          - LOCATION: LOCATION
            HOST_BASE: HOST_BASE
            REGION: REGION
          allTables: true
          defaultLocation: defaultLocation
        - backupPointInTimeRestoreWindow:
            timestampRetentionWindowEndMillis: 0
            timestampRetentionWindowStartMillis: 6
          backupSizeInBytes: 1
          keyspace: keyspace
          tableUUIDList:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
[...]
