openapi: 3.1.0
info:
  title: YugabyteDB Aeon REST Access Keys PackagesController API
  description: The YugabyteDB Aeon REST API provides programmatic access to YugabyteDB's fully managed cloud database service. Developers and operators can use it to deploy and manage database clusters, configure read replicas, schedule and execute on-demand backups and restores, manage IP allow lists, and set up monitoring and alerts. Authentication is performed using API keys passed as bearer tokens in the Authorization header. All paths are scoped to an account and project, which can be obtained from the YugabyteDB Aeon UI profile page.
  version: v1
  contact:
    name: Yugabyte Support
    url: https://support.yugabyte.com
  termsOfService: https://www.yugabyte.com/yugabytedb-managed-service-terms/
  x-generated-from: documentation
  x-source-url: https://api-docs.yugabyte.com/docs/managed-apis/
  x-last-validated: '2026-05-03'
servers:
- url: https://cloud.yugabyte.com/api/public/v1
  description: YugabyteDB Aeon Production Server
security:
- bearerAuth: []
tags:
- name: PackagesController
paths:
  /api/v1/fetch_package:
    post:
      description: YbaApi Internal.
      operationId: fetchPackage
      parameters:
      - in: query
        name: request
        schema: {}
        example: example-request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackagesRequestParams'
            examples:
              FetchPackageRequestExample:
                summary: Default fetchPackage request
                x-microcks-default: true
                value:
                  archiveType: archiveType
                  architectureType: AARCH64
                  osType: CENTOS
                  packageName: packageName
                  buildNumber: buildNumber
        description: Package to be imported
        required: true
      responses:
        '200':
          content:
            application/gzip:
              schema:
                type: string
              examples:
                FetchPackage200Example:
                  summary: Default fetchPackage 200 response
                  x-microcks-default: true
                  value: string
          description: successful operation
      summary: YugabyteDB Anywhere Fetch a Package
      tags:
      - PackagesController
      x-codegen-request-body-name: Package
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PackagesRequestParams:
      description: Packages request parameters
      example:
        archiveType: archiveType
        architectureType: AARCH64
        osType: CENTOS
        packageName: packageName
        buildNumber: buildNumber
      properties:
        architectureType:
          description: Architecture Type
          enum:
          - AARCH64
          - X86_64
          type: string
          example: AARCH64
        archiveType:
          description: Archive Type
          type: string
          example: DEFAULT
        buildNumber:
          description: Build number
          type: string
          example: example-buildNumber
        osType:
          description: OS Type
          enum:
          - CENTOS
          - ALMALINUX
          - DARWIN
          - LINUX
          - EL8
          type: string
          example: CENTOS
        packageName:
          description: Package name
          type: string
          example: example-packageName
      required:
      - buildNumber
      type: object
    PackagesRequestParams_2:
      description: Packages request parameters
      example:
        archiveType: archiveType
        architectureType: AARCH64
        osType: CENTOS
        packageName: packageName
        buildNumber: buildNumber
      properties:
        architectureType:
          description: Architecture Type
          enum:
          - AARCH64
          - X86_64
          type: string
        archiveType:
          description: Archive Type
          type: string
        buildNumber:
          description: Build number
          type: string
        osType:
          description: OS Type
          enum:
          - CENTOS
          - ALMALINUX
          - DARWIN
          - LINUX
          - EL8
          type: string
        packageName:
          description: Package name
          type: string
      required:
      - buildNumber
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the YugabyteDB Aeon UI under User Profile > API Keys. Pass the key as a Bearer token in the Authorization header.
externalDocs:
  description: YugabyteDB Aeon REST API Documentation
  url: https://docs.yugabyte.com/stable/yugabyte-cloud/managed-automation/managed-api/
